<div class="feature_picture">
	<img src="../assets/images/cookies-policy.jpg" alt="" />
</div>

<div class="site-wrapper">
	<div class="inner-pages">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h3>Privacy Policy</h3>
                <p>Welcome to Radiology Check and our website at www.radiologycheck.com. At Radiology Check, we take the protection of your data very seriously. In the following, we explain what information we collect when you use our website and services, and how it is used.</p>

                <blockquote>
                    <b><em>The Basics</em></b><br>
                    <i>What law applies?</i>
                    <p>Our use of your personal data is subject to both the Swiss Federal Data Protection Act ("revDSG") and the EU General Data Protection Regulation ("GDPR"), and of course we process your personal data accordingly.</p>

                    <p>The SwissPrivacy.Law association has published a comparison table between the revDSG and the GDPR, which can be found <a href="https://swissprivacy.law/" target="_blank">here</a>.</p>
                </blockquote>

                <blockquote>
                    <b><em>What is personal data?</em></b><br>
                    <p>Personal data is any information about personal or factual circumstances that relate to a person. This may include name, date of birth, email address, postal address or telephone number, but also online identifiers such as IP addresses or device IDs.</p>
                </blockquote>

                <blockquote>
                    <b><i>What is Special Category Data?</i></b>
                    <p>Special category data is Personal Data that needs more protection because it is sensitive. This includes Personal Data revealing racial or ethnic origin, political opinions, religious or philosophical beliefs, trade union membership, genetic data, biometric data. As well as, data concerning health, a person’s sex life; and a person’s sexual orientation. In order to lawfully process Special Category Data, it is necessary to consent to the processing.</p>
                </blockquote>

                <blockquote>
                    <b><i>What is processing?</i></b>
                    <p>"Processing" is any operation or set of operations that is performed on personal data, whether or not it is done automatically. The term is broad and covers virtually any handling of data.</p>
                </blockquote>

                <blockquote>
                    <b><i>Who is responsible for data processing?</i></b>
                    <p>The responsible party within the meaning of the revDSG and the GDPR is radiologycheck.com GmbH of Riedbachstrasse 78H, 3027 Bern, Switzerland (“Radiology Check”, “we”, “us”, or “our”).</p>

                    <p>If you have any questions or wish to exercise your rights, please contact us at info@radiologycheck.com or write to us at the above address.</p>
                </blockquote>

                <blockquote>
                    <b><i>What are the legal bases for processing?</i></b>
                    <p>According to the revDSG and the GDPR, we should have at least one of the following legal bases to process your personal data:</p>

                    <ul>
                        <li>
                            <b>To fulfill contractual obligations</b><br>
                            <i>(The purposes of the data processing are primarily based on the service we provide).</i>
                        </li>
                        <!-- list -->

                        <li>
                            <b>In connection with our legitimate interests.</b><br>
                            <i>Where necessary, we process your data beyond the actual performance of the contract to protect legitimate interests of us or third parties. <b>Examples include:</b></i>

                            <ol type="O">
                                <li>
                                    Ensuring IT security and IT operations,
                                </li>
                                <!-- list item -->

                                <li>
                                    Corporate governance measures and further development of our services,
                                </li>
                                <!-- list item -->

                                <li>
                                    defense against claims by third parties and
                                </li>
                                <!-- list item -->

                                <li>
                                    Enforcement of our own claims.
                                </li>
                                <!-- list item -->
                            </ol>
                        </li>
                        <!-- list -->

                        <li>
                            <b>Based on your consent</b><br>
                            <i>(If you have given us your consent to process personal data for specific purposes).</i>
                        </li>
                        <!-- list -->

                        <li>
                            <b>To comply with legal obligations.</b><br>
                            <i>(Processing to comply with our legal obligations.)</i>
                        </li>
                        <!-- list -->
                    </ul>
                </blockquote>

                <blockquote>
                    <b><i>Am I obliged to provide data?</i></b>
                    <p>In the context of our business relationship, you are only obliged to provide personal data that is required for the establishment, implementation and termination of a business relationship or that we are legally obliged to collect. Without this data, we usually have to refuse to conclude a contract or can no longer fulfill an existing contract and may have to terminate it.</p>

                    <p>If you have any questions or wish to exercise your rights, please contact us at info@radiologycheck.com or write to us at the above address.</p>
                </blockquote>

                <blockquote>
                    <b>Data that we collect automatically</b><br>
                    <i>Log data</i><br>
                    <p>Each time you visit our website, our system automatically collects the following data from the visiting device and stores it in a so-called log file: (i) name of the file accessed, (ii) date and time of the visit, (iii) amount of data transferred, (iv) notification of successful retrieval, type of browser and version used, (v) IP address (identification of the user's device), (vi) operating system of the visiting device, (vii) Internet service provider of the visiting device, (viii) website from which you access our website, and (ix) which pages of our website you access. The legal basis for this processing is our legitimate interest.</p>
                </blockquote>

                <blockquote>
                    <b><i>Hosting </i></b><br>
                    <p>The hosting services used by us for the purpose of operating our website is <a href="https://www.hosttech.ch/datenschutz/" target="_blank">hosttech GmbH</a>. In doing so hosttech, processes inventory data, contact data, content data, usage data, meta data and communication data of customers, interested parties and visitors of our website and services, on the basis of our legitimate interests in an efficient and secure provision of the website and services in conjunction with the provision of contractual services and the conclusion of the contract for our services, including but not limited to our services).</p>
                </blockquote>

                <blockquote>
                    <b><i>Content Management System </i></b><br>
                    <p>We use the Content Management System (CMS) of WordPress by <a href="https://automattic.com/privacy/" target="_blank"> Automattic Inc</a> to publish and maintain the created and edited content and texts on our website. This means that all content and texts submitted to us is transferred to WordPress. This represents a legitimate interest.</p>
                </blockquote>

                <blockquote>
                    <b><i>Content Delivery Network </i></b><br>
                    <p>We also use the Content Delivery Network (CDN) of WordPress by <a href="https://automattic.com/privacy/" target="_blank">Automattic Inc</a>. to distribute our online content. Our CDN is a network of regionally distributed servers operated by our technical service providers that are interconnected via the Internet. When you visit our website, your device's browser transmits information to these service providers, which is collected in corresponding server log files. The server log files are usually anonymized and then transmitted without personal reference. The server log files include in particular (i) information on the browser and operating system used, (ii) the previously visited pages (so-called referral URL), (iii) the IP address of the device used, (iv) the name of the Internet provider, and (v) the date, time of all page views including the amount of data transferred. The legal basis for the processing is our legitimate interest.</p>
                </blockquote>

                <blockquote>
                    <b><i>Cookies</i></b><br>
                    <p>We use so-called cookies on our website. Cookies are pieces of information that are transmitted from our web server or third-party web servers to your web browser and stored there for later retrieval. Cookies may be small files or other types of information storage. <b>There are different types of cookies:</b></p>

                    <p>(i) Essential Cookies. Essential cookies are cookies to provide a correct and user-friendly website; and (ii) Non-essential Cookies. Non-essential Cookies are any cookies that do not fall within the definition of essential cookies, such as cookies used to analyze your behavior on a website (“analytical” cookies) or cookies used to display advertisements to you (“advertising” cookies).</p>

                    <p>As set out in the revDSG and the EU`s Privacy and Electronic Communications Directive (“PECD”), we need to obtain consent for the use of Non-essential Cookies. For further information on the cookies we use, please refer to our Cookie Policy. The legal basis for processing is our legitimate interest and your consent.</p>
                </blockquote>

                <blockquote>
                    <b><i>Cookie consent</i></b><br>
                    <p>Our website uses a cookie consent tool to obtain your consent to the storage of cookies and to document this consent. When you enter our website, the following Personal Data is transferred to us: (a) Your consent(s) or revocation of your consent(s); (b) Your IP address; (c) Information about your browser; (d) Information about your device; (d) Time of your visit to our website. The basis for processing is our legitimate interest and your consent.</p>
                </blockquote>

                <blockquote>
                    <b><i>Links to other websites</i></b><br>
                    <p>Please note that if you use a link from our website to a third-party website, that third-party may also set new cookies that are not covered by this policy. In such cases, we recommend that you read the cookie policy on the third-party website itself.</p>
                </blockquote>

                <blockquote>
                    <b><i>Third-party services and content</i></b>
                    <p>We use content or service offers of third-party providers on the basis of our legitimate interests in order to integrate their content and services ("services").</p>

                    <p>This always requires that the third-party providers of this content are aware of the IP address of the user, as without the IP address they would not be able to send the content to their browser. The IP address is therefore necessary for the display of this content.</p>

                    <p>The following provides an overview of third-party providers and their content, together with links to their privacy policies, which contain further information on the processing of data and so-called opt-out measures, if any,</p>

                    <ul>
                        <li>
                            Analytics: Google Analytics by <a href="https://policies.google.com/privacy?hl=en-US" target="_blank"> Google LLC,</a><br></li>

                                <li>Tag Management: Google Tag Manager and Google Site Tag by <a href="https://policies.google.com/privacy?hl=en-US" target="_blank">Google LLC,</a></li>

                                <li>Remarketing and Advertising; by Google Ads by <a href="https://policies.google.com/privacy?hl=en-US" target="_blank">Google LLC,</a>
                                
                                    <p>If you do not wish to participate in our advertising personalisation or retargeting/tracking you can object to behavioral advertising at the following websites: <a href="https://www.youronlinechoices.com/" target="_blank">Your Online Choices,</a> <a href="https://youradchoices.ca/" target="_blank">Digital Advertising Alliance of Canada,</a> <a href="https://optout.networkadvertising.org/?c=1" target="_blank"> Network Advertising Initiative</a> or <a href="https://youradchoices.com/" target="_blank">AdChoices.</a></p>
                                
                            
                        </li>
                        <!-- list -->
                        </ul>
                    </blockquote>

                    <blockquote>       
                        <b>Data we collect directly</b><br>
                        <i>Contact </i><br>

                        <p>The processing of personal data depends on the nature of your contact. In addition to your name and email address, IP address or phone number, we usually collect the context of your message, which may also contain certain personal data. The personal data collected when you contact us is used to process your request, and the legal basis is your consent.</p>

                        <p>We also offer to contact us via the messaging services of <a href="https://www.whatsapp.com/legal" target="_blank">WhatsApp</a>. If you contact us via WhatsApp we store and use the mobile phone number, you use and - if provided - your first and last name in accordance with the provision of a contractual or pre-contractual measure to process and respond to your request.</p>

                        <p>We are present on social media (currently <a href="https://help.instagram.com/519522125107875/?helpref=uf_share" target="_blank">Instagram,</a> <a href="https://m.facebook.com/privacy/policy/version/20220104/" target="_blank">Facebook</a>, <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">LinkedIn</a>, <a href="https://www.reddit.com/policies/privacy-policy" target="_blank">Reddit</a> and <a href="https://policy.medium.com/medium-privacy-policy-f03bf92035c9" target="_blank">Medium)</a>. If you contact or connect with us via social media platforms, we and the relevant social media platform are jointly responsible for the processing of your data and enter into a so-called joint controller agreement. The legal basis is our legitimate interest, your consent or, in some cases, the initiation of a contract.</p>
                </blockquote>

                <blockquote>       
                    <b>Please note:</b><br>
                    <p>As a rule, we do not require special categories of personal data to contact you. We ask you not to provide us with such information from the outset. If such information is relevant for contacting you, we process it together with your other data. Your data will not be used by us for automated decision-making or profiling, nor will it be passed on to third parties. Your data will be processed by us or on our behalf.</p>
                </blockquote>

                <blockquote>       
                    <b>Onboarding </b><br>
                    <p>We process your first name, last name, e-mail address, and the data related to your contract with us data to handle the contractual relationship between you and us. We also require you verify your email account and send you a verification code per email.  The data provided will be used for the purposes of creating and using the account and providing and/or using our services.  In the context of the use of our registration and the use of your account, the legal basis for the data processing is the fulfillment of our contractual obligations and, in individual cases, the fulfillment of our legal obligations as well as consent.</p>
                </blockquote>

                <blockquote>       
                    <b>Profile </b><br>
                    <p>As a registered user, you have the opportunity to create a user profile with just a few clicks and details. Of course, you can change the information at any time via the settings in your profile. The legal basis for the processing of your Personal Data is the establishment and implementation of the user contract for the use of the service.</p>
                </blockquote>

                <blockquote>       
                    <b>When you use our services </b><br>
                    <p>We process various data in the context of the provision of our services, issuing a second opinion and for the initiation and execution of the contractual relationship existing between you and us.</p>

                    <p>If you have contracted us to provide a service, we process your data (if provided: Name, contact details (email address and telephone number), address, and all information required in the context of the performance of the services including health data in accordance with the revDSG and GDPR, exclusively for the purpose of processing and handling the contractual relationship.</p>

                    <p>Some of the Personal Data you provide may be considered “special” or “sensitive”. This includes Personal Data concerning for example your health, racial or ethnic origins, sexual orientation, and religious beliefs. By choosing to provide this data, you consent to our processing of that data.</p>

                    <p>You have choices about the Personal Data you provide and how you share it. You don’t have to provide Personal Data or Special Category Data; however, information about you helps you to get more from our Services. It’s your choice whether to include Personal Data or Special Category Data and to make that information available to us. Please do not share information that you would not want to be available.  The legal basis for the processing of your Special Category Data is the establishment and implementation of the user contract for the use of the service as well as your consent.  You may withdraw your consent and request us to stop using and/or disclosing your personal and Special Category Data by submitting your request to us.</p>

                    <p>Our employees will also have access to data that you knowingly share with us for technical support or to import data into our services. We communicate our privacy and security guidelines to our employees and enforce privacy safeguards strictly.</p>
                </blockquote>

                <blockquote>       
                    <b>Data management and customer support </b><br>
                    <p>For optimal datamanagement and customer support, we store the data related to your contract with us in our customer relationship management system InOne Health provided by Swisscom Health  <a href="https://www.swisscom.ch/de/business/footer/datenschutz.html" target="_blank"> (Swisscom (Schweiz) AG)</a>. This data processing is based on our legitimate interest in providing our customer service.</p>
                </blockquote>

                <blockquote>       
                    <b>Administration, financial accounting, office organization, contact management.</b><br>
                    <p>We process data in the context of administrative tasks and the organization of our business and compliance with legal obligations, such as archiving. In this context, we process the same data that we process in the provision of our contractual services. The processing bases are our legal obligations and our legitimate interest.</p>
                </blockquote>

                <blockquote>       
                    <b>Payment Data</b><br>
                    <p>If you make a purchase your payment will be processed via our payment service provider. Payment data will solely be processed through our payment service provider and we have no access to any Payment Data you may submit. The legal basis for the provision of a payment system is the establishment and implementation of the contract.</p>
                </blockquote>

                <blockquote>       
                    <b>Marketing </b><br>
                    <p>If you have given us your separate consent to process your data for marketing and promotional purposes, we are entitled to contact you for these purposes through the communication channels for which you have given your consent.</p>

                    <p>You may give us your consent in a variety of ways, such as by checking a box on a form asking for permission to send you marketing information, or sometimes your consent is implied from your interactions or contractual relationship with us. In cases where your consent is implied, it is based on the assumption that you could reasonably expect to receive a marketing communication based on your interactions or contractual relationship with us.</p>

                    <p>Direct marketing is typically by email, but may include other less traditional or new channels. These forms of contact are managed by us or by our contracted service providers. Any direct addressed marketing sent or conducted by us or on our behalf will provide you with the opportunity to opt out.</p>
                </blockquote>

                <blockquote>       
                    <b>General Principles </b><br>
                    <i>Who receives my information?</i><br>
                    <p>Within Radiology Check, those who have access to your information are those who need it to fulfill our contractual and legal obligations.</p>

                    <p>Processors used by us may also receive data for these purposes. These are companies in the areas of IT services, telecommunications, and sales and marketing. If we use processors to provide our services, we take appropriate legal precautions and corresponding technical and organizational measures to ensure the protection of personal data in accordance with the relevant legal provisions.</p>

                    <p>Data is only passed on to third parties within the framework of the legal provisions. We only pass on user data to third parties if this is necessary, for example, for contractual purposes or due to legitimate interests in the economic and effective operation of our company, or if you have consented to the transfer of data.</p>
                </blockquote>

                <blockquote>       
                    <b>How long will my data be stored?</b><br>
                    <p>To the extent necessary, we process and store your personal data for the duration of our business relationship, which includes, for example, the initiation and execution of a contract.</p>

                    <p>In addition, we are subject to various retention and documentation obligations, which result, among other things, from the statutory minimum retention periods and other retention periods prescribed in this sense, e.g. retention periods under tax or commercial law. Depending on the document and the legal regulation, the periods specified there for storage and documentation are five to ten years in accordance with the Swiss Code of Obligations.</p>
                </blockquote>

                <blockquote>       
                    <b>How do we secure your data?</b><br>
                    <p>Our website uses SSL or TLS encryption to ensure the security of data processing and to protect the transmission of content or contact requests that you send to us. In addition, we have taken numerous security measures ("technical and organizational measures"), such as encryption or access only when necessary, to ensure the most complete protection of personal data processed through this website.</p>

                    <p>Nevertheless, Internet-based data transmissions can always have security vulnerabilities, so that absolute protection cannot be guaranteed. And databases or records containing personal data may be breached inadvertently or by unlawful intrusion. If we learn of a data breach, we will notify all affected individuals whose personal data may have been compromised as soon as possible after the breach is discovered.</p>
                </blockquote>

                <blockquote>       
                    <b>Is data transferred to a third country?</b><br>
                    <p>We process data in the course of operating our website. We do not normally transfer personal data to countries outside of Switzerland and the EEA. However, if we do, we ensure that the processing of your personal data is governed by processing contracts that include standard contractual clauses to ensure a high level of data protection.</p>
                </blockquote>

                <blockquote>       
                    <b>Special category data</b><br>
                    <p>We do not process special category data unless it is necessary for the use of our services and explicit consent has been given.</p>
                </blockquote>

                <blockquote>       
                    <b>Minors</b><br>
                    <p>We do not request personal data from minors and children and do not knowingly collect such data or share it with third parties.</p>
                </blockquote>

                <blockquote>       
                    <b>Automated Decision Making</b><br>
                    <p>Automated decision making is the process of making a decision by automated means without human involvement. Automated decision making does not occur.</p>
                </blockquote>

                <blockquote>       
                    <b>DO NOT SELL</b><br>
                    <p>We do not sell your personal information.</p>
                </blockquote>

                <blockquote>       
                    <b>Your rights and privileges</b><br>
                    <i>Rights to protect your data</i><br>
                    <p>Under the revDSG and the GDPR, you may exercise the following rights:</p>

                    <ul>
                        <li>Right to information</li>
                        <li>Right to rectification</li>
                        <li>Right to deletion</li>
                        <li>Right to data portability</li>
                        <li>Right to object</li>
                        <li>Right to withdraw consent</li>
                        <li>Right to lodge a complaint with a supervisory authority</li>
                        <li>Right not to be subject to a decision based solely on automated processing.</li>
                    </ul>

                    <p>If you have any questions about the type of personal data we hold about you, or if you wish to exercise any of your rights, please contact us.</p>
                </blockquote>

                <blockquote>       
                    <b>Updating your data</b><br>
                    <p>If you believe that the data we hold about you is inaccurate or that we are no longer entitled to use it and you wish to request that it be rectified or erased, or object to its processing, please contact us.</p>
                </blockquote>

                <blockquote>       
                    <b>Withdrawal of your consent</b><br>
                    <p>You may withdraw any consent you have given at any time by contacting us. The legality of the data processing carried out until the withdrawal remains unaffected by the withdrawal.</p>
                </blockquote>

                <blockquote>       
                    <b>Request for information</b><br>
                    <p>If you would like to make a request for information about your data, you can inform us in writing. We will respond to requests for information and correction as quickly as possible. If we are unable to respond to your request within thirty (30) days, we will tell you why and when we will be able to respond to your request. If we are unable to provide you with the personal information you have requested or to make a correction, we will tell you why.</p>
                </blockquote>

                <blockquote>       
                    <b>Complaint to a supervisory authority</b><br>
                    <p>You have the right to lodge a complaint about our processing of personal data with a supervisory authority responsible for data protection. The competent supervisory authority in relation to our services is the Swiss Federal Data Protection and Information Commissioner (DPIC), Feldeggweg 1, CH-3003 Bern, Switzerland <a href="http://www.edoeb.admin.ch" target="_blank"> www.edoeb.admin.ch</a>. However, we would appreciate the opportunity to address your concerns before you contact the DPIC.</p>
                </blockquote>

                <blockquote>       
                    <b>Changes</b><br>
                    <p>We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
                </blockquote>

                <blockquote>       
                    <b>Contact us</b><br>
                    <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us using the details provided above.</p>
                </blockquote>

                <blockquote>       
                    <b>Effective Date</b><br>
                    <p>Friday, 26 May, 2023</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
</div>