<div class="site_wrapper">
	<div class="registration-page">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h1>radiology registration</h1>
				</div>
			</div>

			<div class="forms-layout">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<figure><img src="../../../../assets/images/dr-ali-rehman.png" class="img-fluid" alt="" />
						</figure>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<h4 class="mb-4">Let's protect yourself..</h4>
						<div class="register-form">

							<form name="form" #registerData="ngForm"
								(ngSubmit)="registerData.form.valid && insertRegisterData()" novalidate
								[appPasswordPattern]="['password', 'confirmPassword']">

								<div class="row">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<label>patient's full name</label>
										<input type="text" placeholder="First Name" class="form-control" name="name"
											required [(ngModel)]="registerObj.name" #name="ngModel"
											[ngClass]="{ 'is-invalid': registerData.submitted && name.errors }" />

										<div *ngIf="registerData.submitted && name.errors" class="invalid-feedback">
											Patient's name is required !
										</div>
									</div>

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<label>patient's contact number <small>Notifications for appointment and
												reminders will be sent to this number.</small></label>
										<input type="tel" name="phone_number" placeholder="Contact Number"
											class="form-control" maxlength="12" pattern="^((\\+91-?)|0)?[0-9]{10}$"
											required [(ngModel)]="registerObj.phone" #phone_number="ngModel" [ngClass]="{ 'is-invalid': registerData.submitted && phone_number.errors }">

										<div *ngIf="registerData.submitted && phone_number.errors" class="invalid-feedback">
											<div *ngIf="phone_number.errors?.['required']">Contact
												Number is required </div>
											<div *ngIf="phone_number.errors?.['pattern']">This is not
												a valid Contact Number</div>
										</div>
									</div>

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<label>patient's email address</label>
										<input type="email" name="email" placeholder="E-mail ID" class="form-control"
											pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="registerObj.email" required
											#email="ngModel" [ngClass]="{ 'is-invalid': registerData.submitted && email.errors }">
										<div *ngIf="registerData.submitted && email.errors" class="invalid-feedback">
											<div *ngIf="email.errors?.['required']">Email is
												required </div>
											<div *ngIf="email.errors?.['pattern']">This is not a valid
												Email </div>
										</div>

									</div>

									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<label>select issue</label>
										<select class="form-control" name="radiology_type" required [(ngModel)]="registerObj.radiology_type"
											#radiology_type="ngModel" [ngClass]="{ 'is-invalid': registerData.submitted && radiology_type.errors }">
											<option value="">--Select Option--</option>
											<option value="Abdominal Radiology">Abdominal Radiology</option>
											<option value="Prostate MRI">Prostate MRI</option>
											<option value="Breast Radiology">Breast Radiology</option>
											<option value="Women Imaging">Women Imaging</option>
											<option value="Musculoskeletal Radiology">Musculoskeletal Radiology</option>
											<option value="Pediatric Sports Injuries">Pediatric Sports Injuries</option>
											<option value="Pediatric Radiology">Pediatric Radiology</option>
											<option value="Neuroradiology">Neuroradiology</option>
											<option value="Oncological Radiology">Oncological Radiology</option>
										</select>
										<div *ngIf="registerData.submitted && radiology_type.errors" class="invalid-feedback">
											This is required !!
										</div>
									</div>

									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<label>how to know about us</label>
										<select class="form-control" name="contact_type" [(ngModel)]="registerObj.contact_type" required #contact_type="ngModel" [ngClass]="{ 'is-invalid': registerData.submitted && contact_type.errors }">
											<option value="">--Select Option--</option>
											<option value="Telephone">Telephone</option>
											<option value="E-mail">E-mail</option>
											<option value="Skype/Zoom Call">Skype/Zoom Call</option>
										</select>
										<div *ngIf="registerData.submitted && contact_type.errors" class="invalid-feedback">
											This is required !!
										</div>
									</div>

									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<input type="password" name="password" placeholder="Password"
											class="form-control" [(ngModel)]="registerObj.password" required
											minlength="8" maxlength="20" #password="ngModel"
											[ngClass]="{ 'is-invalid': registerData.submitted && password.errors }" />

										<div *ngIf="registerData.submitted && password.errors" class="invalid-feedback">
											<div *ngIf="password.errors['required']">Password is required</div>
											<div *ngIf="password.errors['minlength']">
												Password must be at least 8 characters
											</div>
											<div *ngIf="password.errors['maxlength']">
												Password must not exceed 20 characters
											</div>
										</div>

									</div>

									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<input type="password" name="confirmPassword" placeholder="Re-type Password"
											class="form-control" required ngModel #confirmPassword="ngModel"
											[ngClass]="{ 'is-invalid': registerData.submitted && confirmPassword.errors }" />

										<div *ngIf="registerData.submitted && confirmPassword.errors"
											class="invalid-feedback">
											<div *ngIf="confirmPassword.errors['required']">
												Confirm Password is required
											</div>
											<div *ngIf="confirmPassword.errors['matching']">
												Confirm Password does not match
											</div>
										</div>

									</div>

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<input type="submit" value="Create Account" class="form-control">
									</div>

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<p class="form-info">Already have an account? <a routerLink="/login">Log in</a>
										</p>
									</div>
								</div><!--row-->
							</form>
						</div>
					</div>
				</div><!--row-->
			</div><!--forms layout-->
		</div>
	</div><!--registration and login page-->





	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
						<ol class="d-flex">
							<li>
								<strong>Book your Appointment</strong>
								<p>It is a long established fact that a reader will be distracted by the readable
									content of a page when looking at its layout.</p>
							</li>

							<li>
								<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a>
								</aside>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->


</div><!--site wrapper-->