<div class="site_wrapper">
	<div class="registration-page">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h1>radiology registration</h1>
				</div>
			</div>
			
			<div class="forms-layout">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<figure><img src="../../../../assets/images/dr-ali-rehman.png" class="img-fluid" alt="" /></figure>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<h4 class="mb-4">Let's protect yourself..</h4>
						<div class="register-form">
							<form>
								<div class="row">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<label>patient's full name</label>
										<input type="text" placeholder="First Name" class="form-control" required="required">
									</div>
									
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<label>patient's contact number <small>Notifications for appointment and reminders will be sent to this number.</small></label>
										<input type="tel" placeholder="Contact Number" class="form-control" required="required" maxlength="12">
									</div>

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<label>patient's email address</label>
										<input type="email" placeholder="E-mail ID" class="form-control" required="required">
									</div>
									
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<label>select issue</label>
										<select class="form-control" required="required">
											<option value="">--Select Option--</option>
											<option value="Abdominal Radiology">Abdominal Radiology</option>
											<option value="Prostate MRI">Prostate MRI</option>
											<option value="Breast Radiology">Breast Radiology</option>
											<option value="Women Imaging">Women Imaging</option>
											<option value="Musculoskeletal Radiology">Musculoskeletal Radiology</option>
											<option value="Pediatric Sports Injuries">Pediatric Sports Injuries</option>
											<option value="Pediatric Radiology">Pediatric Radiology</option>
											<option value="Neuroradiology">Neuroradiology</option>
											<option value="Oncological Radiology">Oncological Radiology</option>
										</select>
									</div>

									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<label>how to know about us</label>
										<select class="form-control"  required="required">
											<option value="">--Select Option--</option>
											<option value="Telephone">Telephone</option>
											<option value="E-mail">E-mail</option>
											<option value="Skype/Zoom Call">Skype/Zoom Call</option>
										</select>
									</div>
									
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<input type="password" placeholder="Password" class="form-control" required="required">
									</div>

									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<input type="password" placeholder="Re-type Password" class="form-control" required="required">
									</div>

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<input type="submit" value="Create Account" class="form-control">
									</div>

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<p class="form-info">Already have an account? <a routerLink="/login">Log in</a></p>
									</div>
								</div><!--row-->
							</form>
						</div>
					</div>
				</div><!--row-->
			</div><!--forms layout-->
		</div>
	</div><!--registration and login page-->
	
	
	
				
	
	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
						</li>
						
						<li>
							<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->
	
	
</div><!--site wrapper-->