
<head>
	<title>{{ pageTitle }}</title>
	<meta name="description" content=`{{description}}`>
	<meta name="keywords" content=`{{keyword}}`>
  </head>

  <div class="site_wrapper">
	<app-top-banner [pageTitle]="PricingPageTitle"></app-top-banner>
	<div class="inner-pages p-t-100">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2 class="heading_strip">{{"pricingHeading" | translate}}</h2>
				</div>
                <div class="col-md-4">
                    <div class="pricing-plan-single-wrapper">
                        <div class="pricing-plan-top-content">
                            <div class="pricing-plan-tag-wrapper">
                                <div class="pricing-plan-tag">{{"Essential" | translate}}</div>
                            </div>
                            <div class="price-wrapper">
                                <h4 class="price-text">$&nbsp;199.00&nbsp;USD</h4>
                            </div>
                            <div class="price-description">{{"Plan conditions are subject to change without notice customers will be informed if changes occur." | translate}} </div>
                            <a routerLink="/GetSecondOpinion" class="primary-button">{{"Book Now" | translate}}</a>
                        </div>
                        <div class="features-price-list-wrapper">
                            <h5 class="features-price-title">{{"Features" | translate}}</h5>
                            <div class="features-list-wrapper">
                                <div class="features-list-single-wrap">
                                    <ul>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Report (24 Hours)" | translate}}</li>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Report explanation by the doctor (Chat)" | translate}}</li>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Support consultations for the case (1 Day)" | translate}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-plan-single-wrapper">
                        <div class="pricing-plan-top-content">
                            <div class="pricing-plan-tag-wrapper">
                                <div class="pricing-plan-tag">{{"Standard" | translate}}</div>
                            </div>
                            <div class="price-wrapper">
                                <h4 class="price-text">$&nbsp;299.00&nbsp;</h4>
                            </div>
                            <div class="price-description">{{"Plan conditions are subject to change without notice customers will be informed if changes occur." | translate}} </div>
                            <a routerLink="/GetSecondOpinion" class="primary-button">{{"Book Now" | translate}}</a>
                        </div>
                        <div class="features-price-list-wrapper">
                            <h5 class="features-price-title">{{"Features" | translate}}</h5>
                            <div class="features-list-wrapper">
                                <div class="features-list-single-wrap">
                                    <ul>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Report (24 Hours)" | translate}}</li>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Report explanation by the doctor (Zoom Video)" | translate}}</li>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Support consultations for the case (1 Year)" | translate}}</li>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Online access to your Radiology images and reports for 1 year" | translate}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-plan-single-wrapper">
                        <div class="pricing-plan-top-content">
                            <div class="pricing-plan-tag-wrapper">
                                <div class="pricing-plan-tag">{{"Premium" | translate}}</div>
                            </div>
                            <div class="price-wrapper">
                                <h4 class="price-text">$&nbsp;499.00&nbsp;</h4>
                            </div>
                            <div class="price-description">{{"Plan conditions are subject to change without notice customers will be informed if changes occur." | translate}} </div>
                            <a routerLink="/GetSecondOpinion" class="primary-button">{{"Book Now" | translate}}</a>
                        </div>
                        <div class="features-price-list-wrapper">
                            <h5 class="features-price-title">{{"Features" | translate}}</h5>
                            <div class="features-list-wrapper">
                                <div class="features-list-single-wrap">
                                    <ul>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Report (6 Hours)" | translate}}</li>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Report explanation by the doctor (Zoom Video)" | translate}}</li>
                                        <li><i class="fa-solid fa-circle-check"></i>  {{"Support consultations for the case (1 Year)" | translate}}</li>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Online access to your Radiology images and reports for 1 year" | translate}}</li>
                                        <li><i class="fa-solid fa-circle-check"></i> {{"Our radiologist will provide a 1-to-1 consultation with your doctor" | translate}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div><!--registration and login page-->
</div><!--site wrapper-->
<!--<div class="home_section_f">-->
<!--    <div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-md-11 mx-auto">-->
<!--				<div class="position-relative">-->
<!--					<div class="subscribe-letter">-->
<!--						<form>-->
<!--							<input type="email" placeholder="{{'enterEmail' | translate}}" required>-->
<!--							<input type="submit" value="{{'subscribe' | translate}}">-->
<!--						</form>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
