<div class="site_wrapper">
    <app-top-banner></app-top-banner>
	<div class="inner-pages p-t-100">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2 class="heading_strip">Where clarity meets healthcare, decoding every detail for your peace of mind.</h2>

				</div>
                <div class="col-md-4">
                    <div class="pricing-plan-single-wrapper">
                        <div class="pricing-plan-top-content">
                            <div class="pricing-plan-tag-wrapper">
                                <div class="pricing-plan-tag">Essential</div>
                            </div>
                            <div class="price-wrapper">
                                <h4 class="price-text">$&nbsp;199.00&nbsp;USD</h4>
                            </div>
                            <div class="price-description">Plan conditions are subject to change without notice customers will be informed if changes occur. </div>
                            <a href="#" class="primary-button">Book Now</a>
                        </div>
                        <div class="features-price-list-wrapper">
                            <h5 class="features-price-title">Features</h5>
                            <div class="features-list-wrapper">
                                <div class="features-list-single-wrap">
                                    <ul>
                                        <li><i class="fa-solid fa-circle-check"></i> Report (24 Hours)</li>
                                        <li><i class="fa-solid fa-circle-check"></i> Report explanation by the doctor (Chat)</li>
                                        <li><i class="fa-solid fa-circle-check"></i> Support consultations for the case (1 Day)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-plan-single-wrapper">
                        <div class="pricing-plan-top-content">
                            <div class="pricing-plan-tag-wrapper">
                                <div class="pricing-plan-tag">Standard</div>
                            </div>
                            <div class="price-wrapper">
                                <h4 class="price-text">$&nbsp;299.00&nbsp;</h4>
                            </div>
                            <div class="price-description">Plan conditions are subject to change without notice customers will be informed if changes occur. </div>
                            <a href="#" class="primary-button">Book Now</a>
                        </div>
                        <div class="features-price-list-wrapper">
                            <h5 class="features-price-title">Features</h5>
                            <div class="features-list-wrapper">
                                <div class="features-list-single-wrap">
                                    <ul>
                                        <li><i class="fa-solid fa-circle-check"></i> Report (6 Hours)</li>
                                        <li><i class="fa-solid fa-circle-check"></i> Report explanation by the doctor (Zoom Video)</li>
                                        <li><i class="fa-solid fa-circle-check"></i> Support consultations for the case (1 Year)</li>
                                        <li><i class="fa-solid fa-circle-check"></i> Online access to your Radiology images and reports for 1 year</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-plan-single-wrapper">
                        <div class="pricing-plan-top-content">
                            <div class="pricing-plan-tag-wrapper">
                                <div class="pricing-plan-tag">Premium</div>
                            </div>
                            <div class="price-wrapper">
                                <h4 class="price-text">$&nbsp;499.00&nbsp;</h4>
                            </div>
                            <div class="price-description">Plan conditions are subject to change without notice customers will be informed if changes occur. </div>
                            <a href="#" class="primary-button">Book Now</a>
                        </div>
                        <div class="features-price-list-wrapper">
                            <h5 class="features-price-title">Features</h5>
                            <div class="features-list-wrapper">
                                <div class="features-list-single-wrap">
                                    <ul>
                                        <li><i class="fa-solid fa-circle-check"></i> Report (6 Hours)</li>
                                        <li><i class="fa-solid fa-circle-check"></i> Report explanation by the doctor (Zoom Video)</li>
                                        <li><i class="fa-solid fa-circle-check"></i> Support consultations for the case (1 Year)</li>
                                        <li><i class="fa-solid fa-circle-check"></i> Online access to your Radiology images and reports for 1 year</li>
                                        <li><i class="fa-solid fa-circle-check"></i> Our radiologist will provide a 1-to-1 consultation with your doctor</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div><!--registration and login page-->
</div><!--site wrapper-->
<div class="home_section_f">
    <div class="container">
        <div class="row">
            <div class="position-relative">
                <div class="subscribe-letter">
                    <form>
                        <input type="email" placeholder="Enter your email here" required>
                        <input type="submit" value="Subscribe Our Newsletter">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>