<div class="site_wrapper">
    <div class="site-banner">
        <figure>
            <img src="/assets/images/home-new-banner.jpg" alt="" />
        <div class="banner-caption">
            <h1>Second Opinion <br />Makes a <span>Difference</span></h1>
            <p>Why settle for one opinion when you can have the best? Get personalized care from our expert team and
            simplify your medical journey with us.</p>
            <aside>
            <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i
                class="fa-regular fa-arrow-right"></i></a>
            </aside>
        </div>
        </figure>
    </div>
    <!--site banner-->

	<div class="pricing-section">
		<div class="container">
            
			<div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center list-inline">
					<h3>Choose Your Best Package</h3>
                    <p>More than 35 000 radiology reports concluded.</p>
				</div><!--col/12-->
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="heading">Essential</h3>
                            <span class="price-value">
                                <span class="currency">$</span>  199.00
                                <span class="month">/YR</span>
                            </span>
                        </div>
                        
                        <div class="pricing-content">
                            <ul>
                                <li><h4>Features</h4></li>
                                <li>Report (24 Hours)</li>
                                <li>Report explanation by the doctor (Chat)</li>
                                <li>Support consultations for the case (1 Day)</li>
                            </ul>
                            
                        </div>
                        <a href="#" class="read">Book Now</a>
                    </div>
				</div><!-- end col-xl-4 -->

                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="heading">Standard</h3>
                            <span class="price-value">
                                <span class="currency">$</span> 299.00
                                <span class="month">/Yr</span>
                            </span>
                        </div>
                        
                        <div class="pricing-content">
                            <ul>
                                <li><h4>Features</h4></li>
                                <li>Report (6 Hours)</li>
                                <li>Report explanation by the doctor (Zoom Video)</li>
                                <li>Support consultations for the case (1 Year)</li>
                                <li>Online access to your Radiology images and reports for 1 year</li>
                            </ul>
                            
                        </div>
                        <a href="#" class="read">Book Now</a>
                    </div>
				</div><!-- end col-xl-4 -->

                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="heading">Premium</h3>
                            <span class="price-value">
                                <span class="currency">$</span> 499.00
                                <span class="month">/Yr</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li><h4>Features</h4></li>
                                <li>Report (6 Hours)</li>
                                <li>Report explanation by the doctor (Zoom Video)</li>
                                <li>Support consultations for the case (1 Year)</li>
                                <li>Online access to your Radiology images and reports for 1 year</li>
                                <li>Our radiologist will provide a 1-to-1 consultation with your doctor</li>
                            </ul>
                            
                        </div>
                        <a href="#" class="read">Book Now</a>
                    </div>
				</div><!-- end col-xl-4 -->
			</div>
		</div>
	</div><!--quality members-->


	<div class="section-f">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
						<ol class="d-flex">
							<li>
								<strong>{{"Get a second opinion" | translate}}</strong>
								<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum
									nostrud exerci tation </p>
							</li>

							<li>
								<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i
											class="fa-regular fa-arrow-right"></i></a></aside>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section f-->

	<div class="news-and-events">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Recent News and Events</h3>
				</div><!--col/12-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture1.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture2.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture3.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<aside class="text-center mt-5"><a href="#" class="get_more_events">view more <i
								class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/12-->
			</div>
		</div>
	</div><!--news and events-->
</div><!--site wrapper-->