<div class="feature_picture">
	<img src="../assets/images/neuroradiology-bannewr.jpg" alt="" />
</div>
<div class="site-wrapper">
	<div class="inner-page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="heading_strip">{{"Header Radiology" | translate}}</h2>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/abdominalRadiology"><img src="../assets/images/ar-img.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/abdominalRadiology"><h3>{{"Header Abdominal Radiology" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/prostateRadiology"><img src="../assets/images/prostate-radiology.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/prostateRadiology"><h3>{{"Header Prostate Radiology" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/interventionalRadiologyGuidance"><img src="../assets/images//Interventioanl-radiology.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/interventionalRadiologyGuidance"><h3>{{"Header Interventional Radiology" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/womensImaging"><img src="../assets/images/woman-radiology.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/womensImaging"><h3>{{"Header Women’s Imaging" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/pediatricRadiology"><img src="../assets/images/Pediatric-Radiology-banner.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/pediatricRadiology"><h3>{{"Header Pediatric Radiology" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/musculoskeletalRadiology"><img src="../assets/images/MSK-and-sports-injuires.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/musculoskeletalRadiology"><h3>{{"Header Musculoskeletal Radiology" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/oncologicalRadiology"><img src="../assets/images/Oncological-Radiology.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/oncologicalRadiology"><h3>{{"Header Oncological Radiology" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/pediatricSportsInjuries"><img src="../assets/images/Pediatric-sports-injuries.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/pediatricSportsInjuries"><h3>{{"Header Pediatric Sports Injury" | translate}}</h3></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- inner page content -->
</div>

<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="position-relative">
				<div class="subscribe-letter">
					<form>
						<input type="email" placeholder="{{'enterEmail' | translate}}" required>
						<input type="submit" value="{{'subscribe' | translate}}">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>