
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



body {
    color: #73778c;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0px;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
}


@font-face {
  font-family: 'Fa solid 900';
  src: url('src/assets/fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('src/assets/fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa 400';
  src: url('src/assets/fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa v4compatibility';
  src: url('src/assets/fonts/fa-v4compatibility.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('src/assets/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('src/assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

div{display: block;}

h1 {
    color: #252f4b;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Gilroy, sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 82px;
}

h2 {
    color: #252f4b;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Gilroy, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

h3 {
    color: #252f4b;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Gilroy, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}

h4 {
    color: #252f4b;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Gilroy, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

h5 {
    color: #252f4b;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Gilroy, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}


.container {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
} 

 
.primary-button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(#427337, #427337);
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    transition: all .45s cubic-bezier(.25, .46, .45, .94);
}
.primary-button:hover {
    background-image: linear-gradient(#000, #000), linear-gradient(340deg, #2b4aee, #556ff6);
}


@media screen and (max-width: 991px){
.w-nav-overlay {
    height: 100vh!important;
}
.primary-button-navbar.desktop {
    display: none;
}
.menu-dropdown-wrapper-2 {
    margin-bottom: 20px;
    display: block;
}
.dropdown-wrapper {
    margin-bottom: 20px;
    margin-right: 0;
}
.hamburger-menu-bar.bottom {
    background-color: #264478;
}

.hamburger-menu-bar.top {
    background-color: #427337;
}

.primary-button-navbar.mobile {
    display: block;
}
 
.w-nav[data-collapse="medium"] .w-nav-menu {
    display: none;
}
.w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
}
.hamburger-menu-bar {
    width: 40px;
    height: 3px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 0;
    padding-right: 0;
}

.w-nav-menu {
    position: relative;
    float: right;
}

.nav-menu-wrapper {
    margin-left: 140px;
    font-size: 14px;
} 

.nav-link {
    margin-bottom: 20px;
    margin-right: 0;
}
.dropdown-column-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transform: none;
}
.dropdown-grid {
    grid-row-gap: 30px;
}
.nav-menu-wrapper {
    text-align: left;
    background-color: #f2f4ff;
    margin-left: 0;
    padding: 40px 20px;
    float: left;
    width: 100%;
}

.dropdown-grid {
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
}
.dropdown-column-wrapper.w--open {
    height: 600px;
    overflow: auto;
}
.dropdown-column-wrapper.w--open {
    width: 100%;
}
.footer-menu-title-wrapper {
    margin-bottom: 25px;
}
.footer-menu-text-link {
    margin-bottom: 20px;
}

.footer-bottom-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-top-content {
    grid-row-gap: 40px;
    flex-direction: column;
    padding-bottom: 60px;
}
.footer-menu-grid {
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.banner-section {
    padding-top: 160px;
    padding-bottom: 140px;
}
.banner-heading {
    max-width: 730px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 62px;
}
.banner-paragraph-text {
    max-width: 550px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.banner-primary-button-wrapper {
    justify-content: center;
}

.banner-hero-image-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
}

.banner-hero-image-single {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.banner-hero-image-shape-wrapper {
    width: 100%;
    text-align: center;
    right: 0%;
}
.banner-hero-image-shape {
    margin-left: auto;
    margin-right: auto;
}

.banner-counter-up-wrapper {
    flex-direction: column;
}

.single-build-counter-wrap.ml-170 {
    width: 100%;
    margin-left: 0;
}

.single-build-counter-wrap {
    width: 100%;
    justify-content: center;
}
.banner-text-wrapper {
    width: 100%;
    text-align: center;
}

.banner-wrapper {
    grid-row-gap: 40px;
    flex-direction: column;
    align-items: flex-start;
}

.primary-button {
    border-radius: 15px;
    padding: 14px 30px;
}
.services-wrapper {
    border-radius: 20px;
    padding: 40px 30px;
}

.services-single-wrapper {
    grid-row-gap: 40px;
    flex-direction: column;
}

.services-left-content, .services-left-content.center, .services-left-content.left {
    width: 100%;
}
.services-link-block {
    height: auto;
    padding-bottom: 20px;
}

.services-top-content {
    grid-column-gap: 10px;
    margin-bottom: 15px;
}

.services-image-wrap {
    width: 60px;
    height: 60px;
}
.services-right-content {
    width: 100%;
}
.services-heading {
    margin-bottom: 10px;
}

.services-paragraph-text {
    margin-bottom: 30px;
}
.features-section-title {
    font-size: 40px;
    line-height: 50px;
}
.features-grid {
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.features-single-wrapper {
    padding: 40px 25px;
}

.features-image-wrapper {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.features-title {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 38px;
}
.features-section-tag {
    padding-top: 12px;
    padding-bottom: 12px;
}
.process-work-title {
    margin-bottom: 15px;
    font-size: 42px;
    line-height: 52px;
}

.process-work-title {
    margin-bottom: 15px;
    font-size: 42px;
    line-height: 52px;
}

.process-work-wrapper {
    grid-row-gap: 40px;
    flex-direction: column;
}
.process-work-single-two {
    margin-left: auto;
    margin-right: auto;
}
.process-work-right-content {
    grid-row-gap: 40px;
    flex-direction: column-reverse;
}
.about-image, .about-us-right-content {
    width: 100%;
}

.about-us-left-content {
    width: 100%;
    margin-left: 0;
}


.about-tag {
    margin-bottom: 20px;
}

.about-title {
    font-size: 34px;
    line-height: 44px;
}

.about-section {
    padding-top: 100px;
    padding-bottom: 400px;
}

.testimonial-section {
    margin-top: -280px;
}
.testimonial-container {
    margin-left: auto;
}

.testimonial-title {
    font-size: 40px;
    line-height: 50px;
}

.testimonial-slide {
    margin-right: 20px;
}

.testimonial-single-wrap {
    padding: 35px 30px;
}

.testimonial-hero-wrap {
    grid-column-gap: 20px;
    margin-bottom: 25px;
}

.testimonial-image {
    width: 100px;
}

.testimonial-name {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 34px;
}
.about-us-wrapper {
    grid-row-gap: 70px;
    flex-direction: column;
}
.slider-arrow.left {
    width: 80px;
    height: 80px;
    top: -50%;
    left: 70%;
}
.slider-arrow.right {
    width: 80px;
    height: 80px;
    top: -50%;
    left: 84%;
}
.slider-arrow-image {
    width: 15px;
}

.faq-section-title {
    font-size: 42px;
}
.faq-singel-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.faq-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.faq-title-wrapper {
    grid-column-gap: 20px;
}
.paragraph.for-faq {
    padding-bottom: 20px;
}
.blog-section {
    padding-bottom: 100px;
}
.features-section-tag {
    padding-top: 12px;
    padding-bottom: 12px;
}
.blog-text-wrapper {
    padding-right: 30px;
}
.blog-title {
    max-width: 100%;
    font-size: 30px;
    line-height: 40px;
}
.blog-text-wrapper {
    padding-right: 30px;
}
.blog-slider-arrow.left {
    width: 70px;
    height: 70px;
    top: -20%;
    right: 12%;
}

.blog-slider-arrow.right {
    width: 70px;
    height: 70px;
    top: -20%;
}

.cta-single-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
 .cta-title {
    font-size: 40px;
    line-height: 50px;
}
.cta-form-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.cta-form-single-wrapper {
    grid-column-gap: 20px;
    margin-bottom: 15px;
}

.cta-form-input {
    height: 55px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.cta-form-single-wrapper {
    grid-column-gap: 20px;
    margin-bottom: 15px;
}
.cta-form-single-wrapper.mb50 {
    margin-bottom: 40px;
}

}


@media screen and (max-width:767px){
    .cta-form-single {
        margin-bottom: 20px;
    }
    .blog-slider-arrow.right {
        width: 60px;
        height: 60px;
        top: -13%;
        bottom: auto;
        left: 17%;
        right: auto;
    }
    .faq-number {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        font-size: 17px;
    }

    .faq-title {
        font-size: 15px;
        line-height: 25px;
    }

    .faq-header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
        .footer-menu-wrapper {
        width: 100%;
    }
    .footer-menu-text-link {
        margin-bottom: 15px;
    }
    .dropdown-column-single-wrapper {
        padding: 25px;
    }
    .footer-section {
        padding-top: 378px;
    }
    .footer-menu-grid {
        grid-template-columns: 1fr 1.75fr;
        grid-template-areas: ".";
    }

    .banner-section {
        padding-top: 150px;
        padding-bottom: 120px;
    }
    .banner-heading {
        max-width: 448px;
        margin-bottom: 10px;
        font-size: 35px;
        line-height: 45px;
    }
    .banner-paragraph-text {
        max-width: 445px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 26px;
    }
    .single-build-counter-wrap {
        height: 120px;
    }
    .banner-wrapper {
        grid-row-gap: 30px;
    }
    .primary-button {
        border-radius: 12px;
        padding: 14px 30px;
        font-size: 16px;
    }

    .services-wrapper {
        border-radius: 15px;
        padding: 25px;
    }

    .services-left-content.center, .services-left-content.left {
        width: 100%;
    }
    .services-heading {
        font-size: 30px;
        line-height: 40px;
    }
    .services-paragraph-text {
        margin-bottom: 25px;
        font-size: 15px;
        line-height: 25px;
    }
    .features-section-title {
        font-size: 33px;
        line-height: 43px;
    }
    .features-grid {
        grid-template-columns: 1fr;
    }
    .features-single-wrapper {
        padding: 30px 20px;
    }
    .features-paragraph-text {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .features-section-tag {
        padding: 10px 20px;
        font-size: 15px;
    }
    .process-work-title {
        margin-bottom: 10px;
        font-size: 38px;
        line-height: 48px;
    }
    .process-work-title {
        margin-bottom: 10px;
        font-size: 38px;
        line-height: 48px;
    }
    .process-work-wrapper {
        max-width: 100%;
        grid-row-gap: 30px;
    }
    .process-work-left-wrapper {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .work-chart-main {
        padding-bottom: 30px;
        padding-left: 30px;
    }
    .process-work-single {
        width: 100%;
        border-radius: 10px;
        padding: 25px 20px;
    }
    .process-work-heading {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 36px;
    }
    .work-chart-number.one {
        top: -3%;
        bottom: auto;
        right: auto;
    }
    .work-chart-main-two {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .process-work-single-two {
        width: 120px;
        height: 120px;
    }
    .process-work-image-one.one, .process-work-image-one.two, .process-work-image-one.three, .process-work-image-one.four, .process-work-image-two.one, .process-work-image-two.two, .process-work-image-two.three, .process-work-image-two.four {
        width: 50px;
    }
    .work-chart-main.three {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .process-work-single {
        width: 100%;
        border-radius: 10px;
        padding: 25px 20px;
    }
    .process-work-heading {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 36px;
    }
    .work-chart-main-two.four {
        padding-top: 40px;
    }
    .process-work-single {
        width: 100%;
        border-radius: 10px;
        padding: 25px 20px;
    }
    .process-work-heading {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 36px;
    }
    .process-work-single {
        width: 100%;
        border-radius: 10px;
        padding: 25px 20px;
    }
    .process-work-heading {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 36px;
    }
    .process-work-right-content {
        width: 100%;
        grid-row-gap: 25px;
    }
    .about-title {
        font-size: 30px;
        line-height: 40px;
    }
    .about-section {
        padding-top: 80px;
        padding-bottom: 550px;
    }
    .testimonial-section {
        margin-top: -450px;
    }
    .testimonial-title-wrapper {
        margin-bottom: 98px;
    }
    .testimonial-title {
        font-size: 28px;
        line-height: 38px;
    }
    .testimonial-single-wrap {
        border-radius: 15px;
        padding: 30px 25px;
    }
    .testimonial-hero-wrap {
        margin-bottom: 20px;
    }
    .testimonial-image {
        width: 80px;
    }
    .testimonial-text-block {
        margin-bottom: 10px;
    }
    .testimonial-reviw-wrap {
        grid-column-gap: 8px;
    }
    .slider-arrow.left {
        width: 60px;
        height: 60px;
        top: -20%;
        bottom: auto;
        left: 1%;
        right: auto;
    }
    .slider-arrow.right {
        width: 60px;
        height: 60px;
        top: -20%;
        bottom: auto;
        left: 17%;
        right: auto;
    }

    .faq-section-title {
        font-size: 32px;
        line-height: 42px;
    }
    .faq-singel-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .paragraph.for-faq {
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 24px;
    }
    .blog-section {
        padding-bottom: 80px;
    }
    .blog-section-title-wrapper {
        margin-bottom: 112px;
    }
    .features-section-tag {
        padding: 10px 20px;
        font-size: 15px;
    }
    .blog-section-title {
        font-size: 30px;
        line-height: 40px;
    }
    .blog-text-wrapper {
        max-width: 100%;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .blog-title {
        font-size: 23px;
        line-height: 33px;
    }
    .blog-paragraph-text {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 25px;
    }
    .blog-text-wrapper {
        max-width: 100%;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .blog-slider-arrow.left {
        width: 60px;
        height: 60px;
        top: -13%;
        bottom: auto;
        left: 0%;
        right: auto;
    }
    .container {
        margin-bottom: 0;
    }

    .cta-wrapper {
        border-radius: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .cta-title-wrapper {
        margin-bottom: 30px;
    }

    .cta-title {
        font-size: 30px;
        line-height: 40px;
    }

    .cta-form-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
     .cta-form-single-wrapper {
        flex-direction: column;
        margin-bottom: 0;
    }
    .cta-form-single {
        margin-bottom: 20px;
    }

    .cta-form-single-wrapper {
        flex-direction: column;
        margin-bottom: 0;
    }
    .cta-form-single-wrapper.mb50 {
        flex-direction: column;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 479px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-info-text {
        font-size: 15px;
        line-height: 25px;
    }

    .footer-menu-grid {
        grid-row-gap: 30px;
        grid-template-columns: 1.75fr;
    }

    .banner-section {
        padding-top: 140px;
        padding-bottom: 110px;
    }

    .banner-heading {
        max-width: 300px;
        font-size: 23px;
        line-height: 33px;
    }

    .banner-paragraph-text {
        max-width: 300px;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }
    .banner-primary-button-wrapper {
        grid-column-gap: 20px;
    }
    .banner-hero-image-wrapper {
        padding-top: 40px;
    }

    .primary-button {
        padding: 10px 25px;
        font-size: 15px;
        line-height: 25px;
    }
    .banner-button-text-link {
        font-size: 15px;
    }
    .services-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services-left-content {
        clear: none;
        grid-auto-flow: row;
    }

    .services-link-block {
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .services-image-wrap {
        width: 55px;
        height: 55px;
    }
    .mobile {
        font-size: 24px;
    }

    .services-title, .services-heading {
        font-size: 19px;
        line-height: 29px;
    }
    .services-paragraph-text {
        font-size: 14px;
        line-height: 24px;
    }
    .features-section-title {
        font-size: 25px;
        line-height: 35px;
    }

    .features-single-wrapper {
        border-radius: 15px;
        padding: 25px 15px;
    }

    .features-image {
        width: 40px;
    }

    .features-image-wrapper {
        width: 70px;
        height: 70px;
        margin-bottom: 15px;
    }

    .features-title {
        font-size: 24px;
        line-height: 34px;
    }

    .features-paragraph-text {
        font-size: 15px;
        line-height: 25px;
    }
    .features-section-tag {
        border-radius: 15px;
        margin-bottom: 10px;
        padding: 10px 20px;
        font-size: 14px;
    }
    .process-work-title {
        margin-bottom: 7px;
        font-size: 30px;
        line-height: 40px;
    }
    .process-work-title {
        margin-bottom: 7px;
        font-size: 30px;
        line-height: 40px;
    }
    .process-work-paragraph {
        font-size: 15px;
        line-height: 25px;
    }

    .process-work-left-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .work-chart-main {
        padding-bottom: 25px;
    }
    .process-work-single {
        padding: 20px 15px;
    }
    .work-chart-number.one {
        left: -9%;
    }
    .work-chart-main-two {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .process-work-single-two {
        width: 100px;
        height: 100px;
    }
    .process-work-image-one.one, .process-work-image-one.two, .process-work-image-one.three, .process-work-image-one.four, .process-work-image-two.one, .process-work-image-two.two, .process-work-image-two.three, .process-work-image-two.four {
        width: 40px;
    }
    .work-chart-number.two {
        right: -8%;
    }

    .work-chart-main.three {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .process-work-single {
        padding: 20px 15px;
    }
    .process-work-heading {
        font-size: 20px;
        line-height: 30px;
    }
    .work-chart-number.three {
        left: -9%;
    }
    .work-chart-main-two.four {
        padding-top: 30px;
    }
    .process-work-single {
        padding: 20px 15px;
    }
    .process-work-heading {
        font-size: 20px;
        line-height: 30px;
    }
    .process-work-single {
        padding: 20px 15px;
    }
    .process-work-heading {
        font-size: 20px;
        line-height: 30px;
    }
    .process-work-single-two {
        width: 100px;
        height: 100px;
    }
    .process-work-right-content {
        grid-row-gap: 20px;
    }
    .about-tag {
        padding: 7px 20px;
    }
    .about-title {
        font-size: 24px;
        line-height: 34px;
    }
    .about-section {
        padding-bottom: 535px;
    }

    .testimonial-section {
        margin-top: -462px;
    }
    .features-section-tag.testimonial-tag {
        margin-bottom: 15px;
    }
    .features-section-tag {
        border-radius: 15px;
        margin-bottom: 10px;
        padding: 10px 20px;
        font-size: 14px;
    }
    .testimonial-title {
        font-size: 24px;
        line-height: 34px;
    }

    .testimonial-single-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .testimonial-image {
        width: 70px;
    }
    .testimonial-name {
        margin-bottom: 2px;
        font-size: 20px;
        line-height: 30px;
    }
    .testimonial-text-block {
        margin-bottom: 5px;
    }
    .testimonial-reviw-wrap {
        grid-column-gap: 5px;
    }
    .slider-arrow.left {
        width: 50px;
        height: 50px;
        top: -18%;
    }
    .slider-arrow.right {
        width: 50px;
        height: 50px;
        top: -18%;
        left: 25%;
    }
    .slider-arrow-image {
        width: 10px;
    }

    .faq-section-title {
        font-size: 26px;
        line-height: 36px;
    }
    .faq-singel-wrapper {
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .faq-arrow-icon {
        font-size: 18px;
    }
    .paragraph.for-faq {
        font-size: 13px;
        line-height: 23px;
    }
    .blog-section {
        padding-bottom: 60px;
    }
    .features-section-tag {
        border-radius: 15px;
        margin-bottom: 10px;
        padding: 10px 20px;
        font-size: 14px;
    }
    .blog-text-wrapper {
        margin-top: -364px;
    }
    .blog-date-wrapper {
        margin-top: -18px;
        padding-left: 15px;
        padding-right: 15px;
        left: 5px;
    }

    .blog-title {
        font-size: 20px;
        line-height: 30px;
    }
    .blog-paragraph-text {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 24px;
    }
    .blog-link-block {
        font-size: 16px;
    }
    .blog-text-wrapper {
        margin-top: -364px;
    }

    .blog-slider-arrow.left {
        width: 50px;
        height: 50px;
        font-size: 20px;
        top: -14%;
    }
    .blog-slider-arrow.right {
        width: 50px;
        height: 50px;
        font-size: 20px;
        top: -14%;
        left: 21%;
    }

    .cta-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .cta-tag {
        padding: 8px 20px;
        font-size: 14px;
        line-height: 24px;
    }
    .cta-form-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .cta-form-input {
        height: 50px;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }
    .cta-submit-button {
        padding: 15px 30px;
        font-size: 16px;
        line-height: 20px;
    }
   
}



/* header-section */
.w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}
.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
    position: relative;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.w-dropdown-list {
    position: absolute;
    background: #dddddd;
    display: none;
    min-width: 100%;
}

.w-nav-menu {
    position: relative;
    float: right;
}
.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.nav-link {
    color: #73778c;
    margin-right: 20px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.navbar-wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.navbar-left-content {
    align-items: center;
    display: flex;
}
.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
} 
.w-dropdown {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    z-index: 900;
}
.navbar-right-content, .navbar-contact-wrapper {
    align-items: center;
    display: flex;
}
.navbar-button-wrapper {
    align-items: center;
    margin-left: 20px;
    display: flex;
}
.primary-button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(#427337, #427337);
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    transition: all .45s cubic-bezier(.25, .46, .45, .94);
}
.primary-button:hover {
    background-image: linear-gradient(#000, #000), linear-gradient(340deg, #2b4aee, #556ff6);
}

.dropdown-list {
    width: 200px;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 20px rgba(6, 21, 96, .1);
}
.dropdown-link.mb0 {
    margin-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.dropdown-link {
    color: #73778c;
    text-align: left;
    margin-bottom: 15px;
    padding: 0;
    text-decoration: none;
}
.w-dropdown-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    padding-right: 40px;
}

.dropdown-toggle-page {
    color: #73778c;
    align-items: center;
    padding: 0;
    font-size: 18px;
    display: flex;
}
.dropdown-toggle {
    color: #73778c;
    align-items: center;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    display: flex;
} 
.dropdown-column-wrapper {
    width: 730px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    transform: translate(-50%);
    box-shadow: 1px 1px 20px rgba(6, 21, 96, .1);
}



.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.primary-button-navbar.mobile {
    display: none;
}


.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.dropdown-wrapper {
    margin-right: 20px;
}
 

.dropdown-title-wrapper {
    margin-bottom: 30px;
}

.menu-dropdown-wrapper-2 {
    margin-right: 20px;
}

.dropdown-toggle-arrow {
    margin-left: 8px;
}

.dropdown-arrow {
    margin-left: 4px;
}

.nav-menu-wrapper {
    margin-left: 140px;
    font-size: 14px;
}

.navbar {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    box-shadow: 0 1px 80px rgba(45, 40, 40, .1);
}


.w-dropdown-list.w--open {
    display: block;
}

.dropdown-column-single-wrapper {
    padding: 40px;
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.dropdown-grid {
    grid-column-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: column;
}
 
.dropdown-menu-wrapper.mt60 {
    margin-top: 0;
}
.dropdown-title {
    color: #252f4b;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px;
}

 

.cms-nav-badge {
    color: #0029ff;
    border: 1px solid #0029ff;
    border-radius: 25px;
    padding: 2px 10px;
    font-size: 13px;
    line-height: 24px;
}

.dropdown-menu-text-arrow {
    width: 15px;
    height: 1px;
    background-color: #0027ff;
}

.cms-tag {
    align-items: center;
    display: flex;
}

.dropdown-menu-text-link-wrapper:hover {
    color: #3c59f2;
}


.dropdown-column-wrapper.w--open {
    width: 780px;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.dropdown-menu-text-link-wrapper {
    grid-column-gap: 5px;
    color: #73778c;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: all .4s cubic-bezier(.25, .46, .45, .94);
    display: flex;
}


.primary-button-navbar.mobile {
    display: none;
}


.w-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}
[data-nav-menu-open] {
    display: block !important;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #C8C8C8;
    text-align: center;
    overflow: visible;
    min-width: 200px;
}
.w--nav-link-open {
    display: block;
    position: relative;
}


.w-nav-overlay [data-nav-menu-open]{
    top: 0;
}
