<header>
	<div class="site-header">
		<div class="container">
			<div class="secondry-navbar">
				<ul class="d-flex">
					<!-- <li><a routerLink="/register"><i class="fa-thin fa-user"></i> Register</a></li> -->
					<li><a routerLink="/login"><i class="fa-thin fa-right-to-bracket"></i> Login</a></li>
					<li appClickOutside (clickOutside)="clickedOutside()">
						<!-- <select class="form-control language-selecter position-relative" #selectedLang (change)="switchLang(selectedLang.value)">
						<option *ngFor="let language of languageList" [value]="language.languageCode"
						[selected]="language.language === translate.currentLang" >
						  {{ language.language.toUpperCase() }}
						</option>
					  	</select> -->
						<button type="button" class="select-language-btn" (click)="showHideDropdown()"><i class="flag-icon flag-icon-{{selectedCountryCode}}"></i> {{selectedLanguage}}</button>

						<div class="select-language-section" *ngIf="showHide">
							<ul>
								<ng-container *ngFor="let language of languageList">
								<li class="mx-0" (click)="switchLang(language)">
									<i class="flag-icon flag-icon-{{language.countryCode}}"></i> 
									{{ language.language.toUpperCase() }}
								</li>
							</ng-container>
							</ul>
						</div>
					</li>
				</ul>
			</div><!--secondry navbar-->
			
			<div class="primary-navbar">
				<nav class="navbar navbar-expand-lg navbar-dark primary-color bg-white">
					<a class="navbar-brand" href="#"><figure><img src="assets/images/logo2.png" alt="" /></figure></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siteNav">
							<span class="navbar-toggler-icon"></span>
						</button>

                  <div class="collapse navbar-collapse" id="siteNav">
                      <ul class="navbar-nav mr-auto">
						  <li class="nav-item active">
						  <a class="nav-link" href="#">Home</a>
						  </li>
							
						  <li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
						  aria-haspopup="true" aria-expanded="false">Radiology</a>
						  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
							  <a class="dropdown-item" routerLink="/abdominalRadiology">Abdominal Radiology</a>
							  <a class="dropdown-item" routerLink="/prostateRadiology">Prostate Radiology</a>
							  <a class="dropdown-item" routerLink="/interventionalRadiologyGuidance">Interventional Radiology Guidance</a>
							  <a class="dropdown-item" routerLink="/womensImaging">Women's Imaging</a>
							  <a class="dropdown-item" routerLink="/musculoskeletalRadiology">Musculoskeletal Radiology with Sports injuries</a>
							  <a class="dropdown-item" routerLink="/pediatricSportsInjuries">Pediatric Sports Injuries</a>
							  <a class="dropdown-item" routerLink="/pediatricRadiology">Pediatric Radiology</a>
							  <a class="dropdown-item" routerLink="/oncologicalRadiology">Oncological Radiology</a>
						  </div>
						  </li>
						  
						  <span class="ddl-item">
						  <li><a class="nav-link" routerLink="/neuroradiology">Neuroradiology</a></li>

						  <li class="nav-item dropdown">
						  <button class="nav-link dropdown-toggle ddl-menu" id="navbarDropdownMenuLink" data-toggle="dropdown"
						  aria-haspopup="true" aria-expanded="false"></button>

						  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
							  <a class="dropdown-item" routerLink="/brainTumors">Differential Diagnosis of Intracranial Masses and Brain Tumors</a>
							  <a class="dropdown-item" routerLink="/backPain">Back Pain and Radiculopathy</a>
							  <a class="dropdown-item" routerLink="/spinalTrauma">Spinal Trauma and Injuries</a>
							  <a class="dropdown-item" routerLink="/brainAndSpine">Demyelinating Diseases of the CNS (Brain and Spine)</a>
							  <a class="dropdown-item" routerLink="/dementiaAlzheimer">Dementia, Alzheimer &amp; Other Neurodegenerative Disorders</a>
							  <a class="dropdown-item" routerLink="/evaluationOfTinnitus">Evaluation of Tinnitus and Hearing Loss in the Adult</a>
							  <a class="dropdown-item" routerLink="/metabolicDisorders">Toxic and Metabolic Disorders of the brain.</a>
							  <a class="dropdown-item" routerLink="/epilepsyOrSeizures">Imaging the Patient with Epilepsy or Seizures</a>
							  <a class="dropdown-item" routerLink="/cranialNerveDisorders">Imaging Evaluation of Patients with Cranial Nerve Disorders</a>
							  <a class="dropdown-item" routerLink="/hypophysis">Diseases of the Sella and Parasellar Region  (Hypophysis)</a>
							  <a class="dropdown-item" routerLink="/hydrocephalusAndCSF">Hydrocephalus and CSF Disorders (incl. Intracranial Hyper- and Hypotension)</a>
							  <a class="dropdown-item" routerLink="/strokeAndItsMimics">Stroke and Its Mimics: Differential diagnosis</a>
							  <a class="dropdown-item" routerLink="/childWithAcuteNeurological">Child with Acute Neurological Emergency</a>
							  <a class="dropdown-item" routerLink="/headTrauma">Head Trauma</a>
						  </div>
						  </li>
						</span>
						  
						  <li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
						  aria-haspopup="true" aria-expanded="false">Resources</a>
						  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
							  <a class="dropdown-item" routerLink="about">About</a>
							  <a class="dropdown-item" routerLink="ourTeam">Our Team</a>
							  <a class="dropdown-item" routerLink="proBono">Pro Bono</a>
							  <a class="dropdown-item" routerLink="primaryReads">Primary reads</a>
							  <a class="dropdown-item" routerLink="comparisonStudies">Comparison studies</a>
							  <a class="dropdown-item" routerLink="faq">FAQ</a>
							  <!-- <a class="dropdown-item" routerLink="guidanceRadiologyTraining">Guidance of radiology training</a> -->
							  <a class="dropdown-item" routerLink="contact">Contact</a>
							  <a class="dropdown-item" routerLink="blog">Blog</a>
							  <a class="dropdown-item" routerLink="testimonial">Testimonial</a>
						  </div>
						  </li>
						  
						  <!-- <li class="nav-item">
						  <a class="nav-link" routerLink="/register">Register/Login</a>
						  </li> -->

						  <li class="nav-item">
						  <a class="nav-link register-my-account" routerLink="/GetSecondOpinion">Get a second opinion</a>
						  </li>
                      </ul>
                  </div>
                  <!-- Collapsible content -->

                </nav>
                <!--/.Navbar-->
			</div><!--primary navbar-->
		</div>
	</div><!--site header-->
</header><!--site header-->
