<div class="om-section">              
    <div class="row">
        <div class="col-md-8">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div>Revenue</div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="search-wrapper">
                <div class="input-holder">
                    <input type="text" class="search-input" placeholder="Type to search">
                    <button class="search-icon"><span></span></button>
                </div>
                <button class="close"></button>
            </div>
            <div class="d-inline-block dropdown">
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">Date Range</button>
                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">2022-2023</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">2021-2022</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">2020-2023</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">2022-2023</a>
                        </li>
                    </ul>
                </div>
            </div>                             
        </div>
    </div>

    <div class="row revenue_total">
        <div class="col-md-3 border-right">
            <div class="widget-content-left">
                <p>Revenue Today</p>
                <h3>$5,398.00</h3>                                    
            </div>
        </div>
        <div class="col-md-3 border-right">
            <div class="widget-content-left">
                <p>Revenue This Week</p>
                <h3>$25,529.00</h3>                                    
            </div>
        </div>
        <div class="col-md-3 border-right">
            <div class="widget-content-left ">
                <p>Revenue This Month</p>
                <h3>$185,128.00</h3>                                    
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-content-left">
                <p>Total Revenue</p>
                <h3>$12,643,120.00</h3>                                    
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Client Name</th>
                            <th>Order Placed</th>
                            <th>Payment Method</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> #585236</td>
                            <td>Theresa Webb</td>
                            <td>15 May 2020, 9:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 8861</td>
                            <td>$601.12</td>
                        </tr>
                        <tr>
                            <td> #935715</td>
                            <td>Arlena McCoy</td>
                            <td>28 June 2020, 3:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$901.00</td>
                        </tr>
                        <tr>
                            <td> #473214</td>
                            <td>Leo Smith</td>
                            <td>5 July 2021, 1:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$865.00</td>
                        </tr>
                        <tr>
                            <td> #585236</td>
                            <td>Theresa Webb</td>
                            <td>15 May 2020, 9:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 8861</td>
                            <td>$601.12</td>
                        </tr>
                        <tr>
                            <td> #935715</td>
                            <td>Arlena McCoy</td>
                            <td>28 June 2020, 3:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$901.00</td>
                        </tr>
                        <tr>
                            <td> #473214</td>
                            <td>Leo Smith</td>
                            <td>5 July 2021, 1:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$865.00</td>
                        </tr>
                        <tr>
                            <td> #585236</td>
                            <td>Theresa Webb</td>
                            <td>15 May 2020, 9:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 8861</td>
                            <td>$601.12</td>
                        </tr>
                        <tr>
                            <td> #935715</td>
                            <td>Arlena McCoy</td>
                            <td>28 June 2020, 3:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$901.00</td>
                        </tr>
                        <tr>
                            <td> #473214</td>
                            <td>Leo Smith</td>
                            <td>5 July 2021, 1:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$865.00</td>
                        </tr>
                        <tr>
                            <td> #585236</td>
                            <td>Theresa Webb</td>
                            <td>15 May 2020, 9:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 8861</td>
                            <td>$601.12</td>
                        </tr>
                        <tr>
                            <td> #935715</td>
                            <td>Arlena McCoy</td>
                            <td>28 June 2020, 3:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$901.00</td>
                        </tr>
                        <tr>
                            <td> #473214</td>
                            <td>Leo Smith</td>
                            <td>5 July 2021, 1:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$865.00</td>
                        </tr>
                        <tr>
                            <td> #585236</td>
                            <td>Theresa Webb</td>
                            <td>15 May 2020, 9:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 8861</td>
                            <td>$601.12</td>
                        </tr>
                        <tr>
                            <td> #935715</td>
                            <td>Arlena McCoy</td>
                            <td>28 June 2020, 3:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$901.00</td>
                        </tr>
                        <tr>
                            <td> #473214</td>
                            <td>Leo Smith</td>
                            <td>5 July 2021, 1:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$865.00</td>
                        </tr>
                        <tr>
                            <td> #585236</td>
                            <td>Theresa Webb</td>
                            <td>15 May 2020, 9:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 8861</td>
                            <td>$601.12</td>
                        </tr>
                        <tr>
                            <td> #935715</td>
                            <td>Arlena McCoy</td>
                            <td>28 June 2020, 3:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$901.00</td>
                        </tr>
                        <tr>
                            <td> #473214</td>
                            <td>Leo Smith</td>
                            <td>5 July 2021, 1:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$865.00</td>
                        </tr>
                        <tr>
                            <td> #585236</td>
                            <td>Theresa Webb</td>
                            <td>15 May 2020, 9:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 8861</td>
                            <td>$601.12</td>
                        </tr>
                        <tr>
                            <td> #935715</td>
                            <td>Arlena McCoy</td>
                            <td>28 June 2020, 3:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$901.00</td>
                        </tr>
                        <tr>
                            <td> #473214</td>
                            <td>Leo Smith</td>
                            <td>5 July 2021, 1:00 pm</td>
                            <td><img src="../../../../assets/images/mastercard-icon.png" alt="" width="25px" /> **** **** **** 2359</td>
                            <td>$865.00</td>
                        </tr>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 