<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-Dementia-Alzheimer-Other-Neurodegenerative-Disorders-1530211733.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Dementia, Alzheimer & Other Neurodegenerative Disorders" | translate}}</h1>
				<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <h3>{{"Dementia, Alzheimer & Other Neurodegenerative Disorders" | translate}}</h3>
					<img src="../assets/images/stock-photo-Dementia-Alzheimer-Other-Neurodegenerative-Disorders-1530211733.jpg" alt="" class="inner-page-right-picture" />
                    
                    <p>{{"Dementia, Alzheimer & Other Neurodegenerative Disorders_p1" | translate}}</p>

                    <p><b>{{"Neuroimaging" | translate}}</b> – {{"Dementia, Alzheimer & Other Neurodegenerative Disorders_p2" | translate}}</p>

                    <p>{{"Dementia, Alzheimer & Other Neurodegenerative Disorders_p3" | translate}}</p>

                    <h4>{{"Preferred Modality" | translate}}</h4>
                    <p><b>{{"Cerebral atroph" | translate}}y</b> – {{"Dementia, Alzheimer & Other Neurodegenerative Disorders_p4" | translate}}</p>
                </div>
			</div>
		</div>
	</div><!--inner pages-->
	<app-bottom-of-pages></app-bottom-of-pages>
</div><!--site wrapper-->