<div class="feature_picture">
	<img src="../assets/images/cookies-policy.jpg" alt="" />
</div>

<div class="site-wrapper">
	<div class="inner-pages">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h3>cookie policy</h3>
                <p>Welcome to Radiology Check and our website at www.radiologycheck.com. This Cookie Policy explains how we, radiologycheck.com GmbH of Riedbachstrasse 78H, 3027 Bern, Switzerland (“Radiology Check”, “we”, “us”, or “our”), use cookies and similar technologies and how you can refuse and disable/delete them.</p>

                <p>Please read this policy together with our Privacy Policy and direct any questions you may have to us using info@radiologycheck.com.</p>

                <blockquote>
                    <b><em>Why do we have a Cookie Policy?</em></b>
                    <p>This Cookie Policy sits in line with the Swiss Federal Data Protection Act (“revDSG”) and the EU's Privacy and Electronic Communications Directive (“PECD”). In accordance with them, we need to obtain your consent when using certain types of cookies namely Functional, Performance, Analytical and Advertising Cookies.</p>
                </blockquote>

                <blockquote>
                    <b><em>What are cookies?</em></b>
                    <p>A cookie is a small file that is stored on the hard drive of your computer, smartphone, or other device. With the help of this file, it is possible to recognise your device/IP address and to reuse information about pages you have already visited or to record functions you have used.</p>

                    <p>We use both our own and third-party cookies. Third-party cookies are used by external partners, such as partners who provide content for our websites, suppliers who are responsible for the various features of the website, or programs we use for our analytics and marketing. Through these third-party cookies, these external partners may collect data, such as your IP address and information about your browsing behavior.</p>
                </blockquote>

                <blockquote>
                    <b><em>What are cookies used for?</em></b>
                    <p>We use cookies to track you and your behavior on our website, social media platforms, and third-party websites so that we can provide you with a better user experience on our website and remember the choices you make when using it.</p>

                    <p>We also use cookies to continually improve the content and functionality on our websites for you. In addition, we use cookies to tailor our marketing to your interests and to compile statistics on the use of our websites.</p>

                    <b>Overall, cookies can be divided into the following five categories:</b>
                    <ul>
                        <li>
                            <em>Essential cookies</em>
                            <p>These are essential to allow you to browse our website and use its features, such as accessing secure areas of the website, providing requested services, and storing your cookie settings.</p>
                        </li>
                        <!-- list item -->

                        <li>
                            <em>Functional cookies</em>
                            <p>These cookies are used to store preferences set by users such as account name, language, and location.</p>
                        </li>
                        <!-- list item -->

                        <li>
                            <em>Performance cookies</em>
                            <p>These cookies collect information about how you use a website, such as which pages you have visited, and which links you have clicked on. None of this information can be used to identify you. All data is aggregated and therefore anonymised. Their sole purpose is to improve our website's functionality.</p>
                        </li>
                        <!-- list item -->

                        <li>
                            <em>Analytical cookies</em>
                            <p>We, as well as third-party vendors acting on our behalf, may use first-party cookies, third-party cookies, or other third-party identifiers to collect anonymous analytics and statistics about our website and how our visitors use them in order to help us improve our website. Our web servers' storage logs may collect domain names, Internet Protocol addresses, web browser types, and certain data from visitors to the Sites.</p>
                        </li>
                        <!-- list item -->

                        <li>
                            <em>Advertising Cookies</em>
                            <p>Advertising Cookies are used to deliver customized advertising to the user. This can be very convenient, but also very irritating.</p>

                            <p>Below you can find the Cookies we use listed in accordance with their Name, Description, Lifespan, and Type. Please keep in mind that this list may be updated from time to time.</p>
                        </li>
                        <!-- list item -->
                    </ul>

                    <ul>
                        <li>
                            <em>_ga</em>
                            <ol type="-">
                                <li>
                                    <em>Google Analytics sets this cookie to calculate visitor, session and campaign data and track site usage for the site's analytics report. The cookie stores information anonymously and assigns a randomly generated number to recognise unique visitors.</em>

                                    <em>1 year 1 month 4 days</em>

                                    <em>Analytics</em>
                                </li>
                                <!-- inner list item -->
                            </ol>
                        </li>
                        <!-- list item -->

                        <li>
                            <em>_gid</em>
                            <ol type="-">
                                <li>
                                    <em>Google Analytics sets this cookie to store information on how visitors use a website while also creating an analytics report of the website's performance. Some of the collected data includes the number of visitors, their source, and the pages they visit anonymously.</em>

                                    <em>1 day</em>

                                    <em>Analytics</em>
                                </li>
                                <!-- inner list item -->
                            </ol>
                        </li>
                        <!-- list item -->

                        <li>
                            <em>_gat_gtag_UA_*</em>
                            <ol type="-">
                                <li>
                                    <em>Google Analytics sets this cookie to store a unique user ID.</em>

                                    <em>1 minute</em>

                                    <em>Analytics</em>
                                </li>
                                <!-- inner list item -->
                            </ol>
                        </li>
                        <!-- list item -->

                        <li>
                            <em>_ga_*</em>
                            <ol type="-">
                                <li>
                                    <em>Google Analytics sets this cookie to store and count page views.</em>

                                    <em>1 year 1 month 4 days</em>

                                    <em>Analytics</em>
                                </li>
                                <!-- inner list item -->
                            </ol>
                        </li>
                        <!-- list item -->
                    </ul>
                </blockquote>

                <blockquote>
                    <b><em>Google Analytics</em></b>
                    <p>As you can see above, we use Google Analytics provided by Google LLC. The information generated by the cookies about your use of our website is transmitted to and stored by Google in the United States.The cookies set by Google Analytics collect: (i) 3 bytes of the IP address of your devices IP address (anonymized IP address), (ii) that you have visited our website, (iii) the website from which you reached our website (referrer), (iv) the subpages of our website you have accessed, (v) the time spent on ourwebsite, and (vi) the frequency with which you access our website. You can disable tracking by Google Analytics with future effect by downloading and installing the Google Analytics Opt-out Browser Add-on for your current web browser following this link <a href="http://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">www.tools.google.com</a></p>
                </blockquote>

                <blockquote>
                    <b><em>Cookie Consent</em></b>
                    <p>When you first visit our website, you will be asked to give your consent to cookies being stored on your device. You can accept all cookies or adjust your cookie settings to store only some of the above categories of cookies on your device. You can also refuse all cookies, except for essential cookies, which are cookies that are required for the proper functioning of the website.</p>

                    <p>You should be aware that if you disable/reject certain cookies, we will not be able to provide you with the best possible user experience on our website, as there may be services and features that you will not be able to use if cookies are required for us to remember the choices you have made.</p>

                    <p>You can revoke your consent or change your cookie settings at any time.</p>
                </blockquote>

                <blockquote>
                    <b><em>How can I delete or block cookies?</em></b>
                    <p>Since cookies are not stored on our system, but locally on your computer/phone/tablet, we cannot retrieve or delete cookies. However, you can delete existing cookies and disable the use of cookies in general using the following instructions Google Chrome, Mozilla Firefox, Microsoft Edge, Opera, Safari.</p>
                </blockquote>

                <blockquote>
                    <b><em>Links to other websites</em></b>
                    <p>Please note that when you use a link from our website to a third-party website, such third-party websites may also set new cookies that are not subject to this policy. In such cases, we recommend that you refer to the cookie policy on the relevant third-party website itself.</p>
                </blockquote>

                <blockquote>
                    <b><em>Changes</em></b>
                    <p>We may update this Cookie Policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
                </blockquote>

                <blockquote>
                    <b><em>Contact us</em></b>
                    <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us using the details provided above.</p>
                </blockquote>

                <blockquote>
                    <b><em>Effective Date</em></b>
                    <p>Friday, 26 May, 2023</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
</div>