<div class="feature_picture">
	<img src="../assets/images/cookies-policy.jpg" alt="" />
</div>

<div class="site-wrapper">
	<div class="inner-pages">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h3>Imprint</h3>
                <p>The following information applies in accordance with UWG Article 3(1s) and Art. 3(1) and (2) Directive 2000/31/EC, and also to any social media presences and other web presences.</p>

                <blockquote>
                    <b><em>Operator and Contact</em></b>
                    <p>radiologycheck.com GmbH <br>
                        Dr Ali Rahman<br>
                        Riedbachstrasse 78H, <br>
                        3027 Bern<br>
                        Switzerland<br><br>

                        E-mail: info@radiologycheck.com<br>
                        Phone: +41 (0) 786058499
                    </p>
                </blockquote>

                <blockquote>
                    <b><em>Disclaimer</em></b><br>
                    <i>Content of the online offer</i>
                    <p>radiologycheck.com GmbH reserves the right not to be responsible for the topicality, correctness, completeness, or quality of the information provided. Liability claims against radiologycheck.com GmbH regarding damage caused by the use of any information provided, including any kind of information which is incomplete or incorrect, will therefore be rejected, unless it can be proven that radiologycheck.com GmbH acted intentionally or with gross negligence. All offers are subject to change and non-binding. radiologycheck.com GmbH expressly reserves the right to change, supplement or delete parts of the pages or the entire offer without prior notice, or to temporarily or permanently cease publication.</p>
                </blockquote>

                <blockquote>
                    <b><i>References and links</i></b>
                    <p>radiologycheck.com GmbH hereby expressly declares that at the time the links were created, no illegal content was discernible on the linked pages. radiologycheck.com GmbH has no influence on the current and future design, content or authorship of the linked pages. Therefore, radiologycheck.com GmbH hereby expressly dissociates itself from all contents of all linked/connected pages that were changed after the link was set. This statement applies to all links and references set within the own internet offer as well as to external entries. For illegal, incorrect or incomplete contents and especially for damages resulting from the use or non-use of such information, only the provider of the linked page is liable, not the one who has linked to the respective publication.</p>
                </blockquote>

                <blockquote>
                    <b><i>Legal validity of this disclaimer</i></b>
                    <p>This disclaimer is to be regarded as part of the internet publication which you were referred from. If sections or individual terms of this statement are not legal or correct, the content or validity of the other parts remain uninfluenced by this fact.</p>
                </blockquote>

                <blockquote>
                    <b><i>Copyright and labeling rights</i></b>
                    <p>The following applies to the website design, text, all graphics, and photos, each selection or layout thereof: Copyright © 2023 radiologycheck.com GmbH. Copying or reproduction of all or part of this website is not permitted. Any other use of the materials or information available on this website - including reproduction, redistribution, modification, and publication is prohibited unless agreed to in writing by radiologycheck.com GmbH in advance.</p>
                </blockquote>

                <blockquote>
                    <b><i>Objection to Marketing Emails</i></b>
                    <p>As part of our legal obligations, we are required to publish our contact details. These are sometimes used by third parties to send unsolicited advertising and information. We hereby object to any sending of advertising material of any kind that is not expressly authorized by us. Furthermore, we expressly reserve the right to take legal action in the event of the unsolicited sending of advertising information.</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
</div>