
.inner-page-sidebar ul li {
    list-style-type: none;
    line-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.inner-page-sidebar ul li a {
    color: #5e5e5e;
    font-weight: 600;
}

.sidebar-second-opinion-cta img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}

.sidebar-second-opinion-cta .position-absolute {
    top: 0;
    padding: 30px;
    left: 0;
}

.sidebar-second-opinion-cta .position-absolute h5 {
    color: #264478;
    font-family: 'WalsheimBold';
    font-size: 18px;
}

.sidebar-second-opinion-cta .position-absolute h5 span {
    color: #427337;
}

.position-absolute button[type="button"] {
    background-color: #427337;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'WalsheimRegular';
    letter-spacing: 1px;
    border-radius: 50px;
    margin-top: 15px;
}

/*------ 13-06-2023 -------*/
.sidebar-accordion > .card.main-card {
margin:0 0 25px;
}
.sidebar-accordion > .card.main-card > .card-header {
	background: #427337;
}
.sidebar-accordion > .card.main-card .card-header a {
    color:#fff;

}
.sidebar-accordion > .card.main-card .card-body .card-header a {
    color:#000;
}
.sidebar-accordion > .card.main-card .card-body .card-body .card-header a {
    font-size: medium;
}
.sidebar-accordion .mb-0 > a {
    display: block;
    position: relative;
}
.sidebar-accordion .mb-0 > a:after {
    content: "\f078"; /* fa-chevron-down */
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
}
.sidebar-accordion .mb-0 > a[aria-expanded="true"]:after {
    content: "\f077"; /* fa-chevron-up */
}
.card.main-card .card .card {
	margin: 8px 0 0 10px;
	background: #fff;
	border: 0;
}
.card.main-card .card .card .card-header {
	background: transparent;
	padding: 0;
	margin: 0;
}
.sidebar-accordion[_ngcontent-jas-c6] .mb-0[_ngcontent-jas-c6] > a[_ngcontent-jas-c6]::after {
    top:0;
}
@media (max-width: 1023px) {
    .sidebar-second-opinion-cta .position-absolute {
        padding: 15px;
    }
}

/*1023*/

@media (min-width: 1024px) and (max-width: 1199px) {
}

/*1199*/

@media (max-width: 767px) {

    .sidebar-second-opinion-cta .position-absolute {
        padding: 50px 30px;
        height: 100%;
    }

    .sidebar-second-opinion-cta .position-absolute h5 {
        font-size: 28px;
    }

}

/*767*/