<div class="inner-page-sidebar">
    <ul>
        <li><a routerLink="/abdominalRadiology">{{"Abdominal Radiology" | translate}}</a></li>
        <li><a routerLink="/prostateRadiology">{{"Prostate Radiology" | translate}}</a></li>
        <li><a routerLink="/interventionalRadiologyGuidance">{{"Interventional Radiology Guidance" | translate}}</a></li>
        <li><a routerLink="/womensImaging">{{"Women's Imaging" | translate}}</a></li>
        <li><a routerLink="/musculoskeletalRadiology">{{"Musculoskeletal Radiology with Sports injuries" | translate}}</a></li>
        <li><a routerLink="/pediatricSportsInjuries">{{"Pediatric Sports Injuries" | translate}}</a></li>
        <li><a routerLink="/pediatricRadiology">{{"Pediatric Radiology" | translate}}</a></li>
        <li><a routerLink="/oncologicalRadiology">{{"Oncological Radiology" | translate}}</a></li>
    </ul>

    <div class="sidebar-second-opinion-cta position-relative mt-5">
        <img src="assets/images/sidebar-second-opinion.jpg" alt="" />
        <div class="position-absolute">
            <!-- <h5>Do you want an <span>Abdominal Radiology</span> Second Opinion?</h5> -->
            <h5>{{ textFromParent | translate}}</h5>
            <button class="btn" routerLink="/contact" type="button">contact us</button>
        </div>
    </div>
</div>

