<!--<div class="inner-page-sidebar">
    <ul>
        <li><a routerLink="/abdominalRadiology">{{"Abdominal Radiology" | translate}}</a></li>
        <li><a routerLink="/prostateRadiology">{{"Prostate Radiology" | translate}}</a></li>
        <li><a routerLink="/interventionalRadiologyGuidance">{{"Interventional Radiology Guidance" | translate}}</a></li>
        <li><a routerLink="/womensImaging">{{"Women's Imaging" | translate}}</a></li>
        <li><a routerLink="/musculoskeletalRadiology">{{"Musculoskeletal Radiology with Sports injuries" | translate}}</a></li>
        <li><a routerLink="/pediatricSportsInjuries">{{"Pediatric Sports Injuries" | translate}}</a></li>
        <li><a routerLink="/pediatricRadiology">{{"Pediatric Radiology" | translate}}</a></li>
        <li><a routerLink="/oncologicalRadiology">{{"Oncological Radiology" | translate}}</a></li>
    </ul>

    <div class="sidebar-second-opinion-cta position-relative mt-5">
        <img src="assets/images/sidebar-second-opinion.jpg" alt="" />
        <div class="position-absolute">
            <h5>Do you want an <span>Abdominal Radiology</span> Second Opinion?</h5>
            <h5>{{ textFromParent | translate}}</h5>
            <button class="btn" routerLink="/contact" type="button">contact us</button>
        </div>
    </div>
</div> -->
<!-- partial:index.partial.html -->
<div id="accordion" class="sidebar-accordion">
    <div class="card main-card">
      <div class="card-header" id="heading-1">
        <h5 class="mb-0">
          <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
            <img src="../../../assets/images/brain-icon.jpg" alt="" /> Brain
          </a>
        </h5>
      </div>
      <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
        <div class="card-body">
  
          <div id="accordion-1">
            <div class="card">
              <div class="card-header" id="heading-1-1">
                <h5 class="mb-0">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                    Diagnosis
                  </a>
                </h5>
              </div>
              <div id="collapse-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-1">
                <div class="card-body">
                    <div id="accordion-1-1">
                      <div class="card">
                        <div class="card-header" id="heading-1-1-1">
                          <h5 class="mb-0">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1-1" aria-expanded="false" aria-controls="collapse-1-1-1">
                              Infectious, Inflammatory, and Demyelinating Disease
                            </a>
                          </h5>
                        </div>
                        <div id="collapse-1-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-1">
                          <div class="">
                            <div id="accordion-1-1-1">
                              <div class="card">
                                <div class="card-header" id="heading-1-1-1-1">
                                  <h5 class="">Acquired Infections</h5>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading-1-1-1-1">
                                  <h5 class="">Inflammatory and Demyelinating Disease</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-2">
                          <h5 class="">Tumor</h5>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-3">
                          <h5 class="">Stroke</h5>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-4">
                          <h5 class="">Trauma</h5>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-5">
                          <h5 class="">Vascular Malformations</h5>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>      
        
        </div>
      </div>
    </div>
    <div class="card main-card">
      <div class="card-header" id="heading-2">
        <h5 class="mb-0">
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
            <img src="../../../assets/images/spin-icon.jpg" alt="" /> Spine
          </a>
        </h5>
      </div>
      <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
        <div class="card-body">
          <div id="accordion-1">
            <div class="card">
              <div class="card-header" id="heading-1-2">
                <h5 class="mb-0">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                    Diagnosis
                  </a>
                </h5>
              </div>
              <div id="collapse-1-2" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-2">
                <div class="card-body">
                    <div id="accordion-1-1">
                      <div class="card">
                        <div class="card-header" id="heading-1-1-2">
                          <h5 class="">Congenital and Genetic Disorders</h5>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-3">
                          <h5 class="">Degenerative Diseases and Arthritides</h5>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-4">
                          <h5 class="">Infection and Inflammatory Disorders</h5>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-5">
                          <h5 class="">Tumors, Cysts, and Other Masses</h5>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-6">
                          <h5 class="">Peripheral Nerve and Plexus</h5>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-7">
                          <h5 class="">Spine Postprocedural Imaging</h5>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="heading-1-1-8">
                          <h5 class="">Trauma</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-second-opinion-cta position-relative mt-5">
      <img src="assets/images/sidebar-second-opinion.jpg" alt="" />
      <div class="position-absolute">
          <h5>Do you want an <span>{{ textFromParent | translate}}</span> Second Opinion?</h5>
          <!-- <h5>{{ textFromParent | translate}}</h5> -->
          <button class="btn" routerLink="/contact" type="button">contact us</button>
      </div>
  </div>
  </div>
  <!-- partial -->