<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <h3 class="d-block text-capitalize">patient's feedback</h3><hr>
    <div class="manage-profile-nav">
        <ol>
            <li>
                <span class="short-by-filter">Show Result</span>
                <span class="short-by-select">
                    <select>
                        <option value="">01</option>
                        <option selected value="">02</option>
                        <option value="">03</option>
                        <option value="">04</option>
                        <option  value="">05</option>
                    </select>
                </span>
            </li>
            <!-- list item -->

            <li>
                <span class="short-by-filter">Search</span>
                <span class="short-by-select">
                    <form>
                        <input type="search" placeholder="Search by Username OR Patient ID">
                    </form>
                </span>
            </li>
            <!-- list item -->

            <li>
                <span class="short-by-filter">Short by</span>
                <span class="short-by-select">
                    <select>
                        <option value="">-- Select --</option>
                        <option value="">A to Z</option>
                        <option value="">Z to A</option>
                    </select>
                </span>
            </li>
            <!-- list item -->
        </ol>
    </div>
    <!-- manage profile navbar -->

    <div class="manage-profile-tabledata">
        <table class="table table-responsive table-bordered table-hover">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Patient</th>
                    <th>Contact</th>
                    <th>Rating</th>
                    <th>Message</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>01</td>
                    <td>Shane watson</td>
                    <td>9999XXXX00</td>
                    <td>5 stars</td>
                    <td><p><b class="d-block">Hello Dr. Ali</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p></td>
                    <td>
                        <select>
                            <option value="">--Select--</option>
                            <option selected value="">Approved</option>
                            <option value="">Dispproved</option>
                        </select>
                    </td>
                    <td>
                        <textarea>Thanks for the reply, Shane😀</textarea>
                        <a href="javascript:;" title="Send" type="submit" class="edit-btn">
                            <i class="fa-regular fa-paper-plane"></i></a>
                        <a href="javascript:;" title="Erase" class="erase-btn">
                            <i class="fa-regular fa-trash-xmark"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>02</td>
                    <td>Mike carlson</td>
                    <td>9987XXXX55</td>
                    <td>3.5 stars</td>
                    <td><p><b class="d-block">Hello Dr. Ali</b> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p></td>
                    <td>
                        <select>
                            <option value="">--Select--</option>
                            <option selected value="">Approved</option>
                            <option value="">Dispproved</option>
                        </select>
                    </td>
                    <td>
                        <textarea>Thanks for the reply, Mike😀</textarea>
                        <a href="javascript:;" title="Send" type="submit" class="edit-btn">
                            <i class="fa-regular fa-paper-plane"></i></a>
                        <a href="javascript:;" title="Erase" class="erase-btn">
                            <i class="fa-regular fa-trash-xmark"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>03</td>
                    <td>William</td>
                    <td>8799XXXX19</td>
                    <td>4.5 stars</td>
                    <td><p><b class="d-block">Hello Dr. Ali</b> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p></td>
                    <td>
                        <select>
                            <option value="">--Select--</option>
                            <option value="">Approved</option>
                            <option selected value="">Dispproved</option>
                        </select>
                    </td>
                    <td>
                        <textarea>We will check the issue and take the action accordingly, William. Thanks for your reply.</textarea>
                        <a href="javascript:;" title="Send" type="submit" class="edit-btn">
                            <i class="fa-regular fa-paper-plane"></i></a>
                        <a href="javascript:;" title="Erase" class="erase-btn">
                            <i class="fa-regular fa-trash-xmark"></i></a>
                    </td>
                </tr>
            </tbody>
            <!-- tbody -->

            <tfoot class="bg-white">
                <tr>
                    <td colspan="7">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">First</a></li>
                            <li class="page-item active"><a class="page-link text-white" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">Last</a></li>
                          </ul>
                    </td>
                </tr>
            </tfoot>
            <!-- tfooter -->
        </table>
    </div>
    <!-- manage profile tabledata -->
</div>
<!-- manage profile wrapper -->