<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <h3 class="d-block text-capitalize">patient's feedback</h3>
    <hr>
    <div class="manage-profile-nav">
        <ol>
            <li>
                <span class="short-by-filter">Show Result</span>
                <span class="short-by-select">
                    <select>
                        <option value="">01</option>
                        <option selected value="">02</option>
                        <option value="">03</option>
                        <option value="">04</option>
                        <option value="">05</option>
                    </select>
                </span>
            </li>
            <!-- list item -->

            <li>
                <span class="short-by-filter">Search</span>
                <span class="short-by-select">
                    <form>
                        <input type="search" name="search" [(ngModel)]="searchText"
                            placeholder="Username OR Patient ID">
                    </form>
                </span>
            </li>
            <!-- list item -->

            <li>
                <span class="short-by-filter">Short by</span>
                <span class="short-by-select">
                    <select [(ngModel)]="sortDir" (change)="onSortClick()">
                        <option value="0">-- Select --</option>
                        <option value="1">A to Z</option>
                        <option value="-1">Z to A</option>
                    </select>
                </span>
            </li>
            <!-- list item -->
        </ol>
    </div>
    <!-- manage profile navbar -->

    <div class="manage-profile-tabledata">
        <table class="table table-responsive table-bordered table-hover"
            *ngIf="(userFeedbackList | filter: searchText).length > 0; else noResults">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Patient</th>
                    <th>Contact</th>
                    <th>Rating</th>
                    <th>Message</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr
                    *ngFor="let user of userFeedbackList |filter: searchText |paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                    <td *ngIf="i < 9">0{{i+1}}</td>
                    <td *ngIf="i >= 9">{{i+1}}</td>
                    <td>{{ user.first_name }} {{ user.last_name}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.rating }} stars</td>
                    <td>
                        <p>{{ user.feedback }}</p>
                    </td>
                    <td>
                        <select>
                            <option value="">--Select--</option>
                            <option selected value="">Approved</option>
                            <option value="">Dispproved</option>
                        </select>
                    </td>
                    <td>
                        <textarea>Thanks for the reply, Shane😀</textarea>
                        <a href="javascript:;" title="Send" type="submit" class="edit-btn">
                            <i class="fa-regular fa-paper-plane"></i></a>
                        <a href="javascript:;" title="Erase" class="erase-btn">
                            <i class="fa-regular fa-trash-xmark"></i></a>
                    </td>
                </tr>

            </tbody>
            <!-- tbody -->

            <tfoot class="bg-white">
                <tr>
                    <td colspan="7">
                        <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
                    </td>
                </tr>
            </tfoot>
            <!-- tfooter -->
        </table>
        <ng-template #noResults>
            <p>No results found for "{{searchText}}".</p>
        </ng-template>
    </div>
    <!-- manage profile tabledata -->
</div>
<!-- manage profile wrapper -->