.manage-profile-nav {width: 100%;height: auto;display: inline-block;position: relative; margin-bottom: 20px;}
.manage-profile-nav ol {display: flex;justify-content: space-between;}
.manage-profile-nav ol li {list-style-type: none;}
.manage-profile-nav ol li:first-child {width: 16%;display: flex;justify-content: space-between;align-items: center;}
.manage-profile-nav ol li:nth-child(2) {width: 40%;display: flex;justify-content: space-between;align-items: center;}
.manage-profile-nav ol li:nth-child(2) input[type="search"]{min-width: 320px;font-size: 14px;border: 1px solid rgba(0,0,0,.2);padding-inline: 8px;height: 40px;color: #000000; outline: none;}
.manage-profile-nav ol li:last-child {width: 22%;display: flex;justify-content: space-between;align-items: center;}
.manage-profile-nav ol li select {outline: none;border: 1px solid rgba(0,0,0,.2);padding: 8px 5px;
font-size: 14px;}
/* admin table navbar */
.manage-profile-tabledata table thead,
.manage-profile-tabledata table tbody,
.manage-profile-tabledata table tfoot ul.pagination li a {font-size: 14px;}
.manage-profile-tabledata table thead {background-color: #1f4474;}
.manage-profile-tabledata table thead tr th {font-weight: 500; color: #ffffff}
.manage-profile-tabledata table tbody tr td {background-color: #ffffff;}
.manage-profile-tabledata table tbody tr td:last-child a.edit-btn {background-color: #3a5795;color: #ffffff;font-size: 10px;width: 20px;height: 20px;display: inline-block;line-height: 20px;
text-align: center;border-radius: 100px;margin-inline: 3px;}

.manage-profile-tabledata table tbody tr td:last-child a.erase-btn {background-color: #cb4040;
color: #ffffff;font-size: 10px;width: 20px;height: 20px;display: inline-block;line-height: 20px;
text-align: center;border-radius: 100px;margin-inline: 3px;}