<div class="site_wrapper">
	<app-top-banner [pageTitle]="OurTeamPageTitle"></app-top-banner>

	<div class="inner-pages our-team">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2 class="heading_strip mt-5">{{"meetRadiologists" | translate }} </h2>
				</div><!--col/12-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-lg-4 mt-3">
					<div class="flip-box2">
						<div class="flip-box2-inner">
							<div class="flip-box2-front">
								<figure ><img src="../../../../assets/images/dr-ali-rehman-2.png" alt="" class="w-100"></figure>
								<h5> Dr. Ali Rahman</h5><strong>{{"CEO" | translate }}  <br/>{{"CEODes" |translate}}
									 </strong> 
							</div>
							<div class="flip-box2-back">
								<h4>Dr. Ali Rahman</h4>
								<p>{{"aboutDoctor" |translate}}
									<dd><a href="DrAli" class="flip-box-but mt-5">{{"Read more" | translate}} </a></dd>
								</p>
								<div class="social-media d-flex list-inline justify-content-center">
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
								</div>
							</div>
						</div>
					</div>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-lg-4 mt-3">
					<div class="flip-box2">
						<div class="flip-box2-inner">
							<div class="flip-box2-front">
								<figure><img src="../../../../assets/images/Dr-med-Sonke-Bartling.jpg" alt="" class="w-100"></figure>
								<h5>Dr. Sönke Bartling</h5>
								<strong>{{"Associate Professor" | translate}} <br/>{{"Senior Specialist Oncology and Interventional Radiology" | translate}}</strong>
							</div>
							<div class="flip-box2-back"><h4>Dr. Sönke Bartling</h4>
								<p>{{"about123" | translate}}
									<dd><a href="MemberSonke" class="flip-box-but mt-5">{{"Read more" | translate}}  </a></dd>
								</p>
								<div class="social-media d-flex list-inline justify-content-center">
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
								</div>
							</div>
						</div>
					</div>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-lg-4 mt-3">
					
				</div><!--col/4-->

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3 class="heading_strip mt-5">{{"meetTeam" |translate}}</h3>
				</div><!--col/12-->

				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/jamie-petterson-new.jpg" alt="" class="w-100"></figure>
								<h5>Jamie Petterson</h5>
								<strong>{{"Sales" |translate}} &amp; {{"Marketing Specialist" | translate}}</strong>
							</div>
							<div class="flip-box-back">
								<h4>Jamie Petterson</h4>
								<p>{{"p1" |translate}}</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/stepan-vana.jpg" alt="" class="w-100"></figure>
								<h5>Stepan Vana</h5><strong>{{"Sales" |translate}} &amp; {{"Marketing Specialist" | translate}}</strong>
							</div>
							<div class="flip-box-back"><h4>Stepan Vana</h4>
								<p>{{"p1" | translate}}</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/marina-beslin.jpg" alt="" class="w-100"></figure>
								<h5>Marina Beslin</h5>
								<strong>{{"designation3" |translate}}</strong>
							</div>
							<div class="flip-box-back">
								<h4>Marina Beslin</h4>
								<p>{{"designation31" | translate}} &amp; {{"designation32" |translate}} &amp; {{"designation33" | translate}}</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/Andreas-G-Masuch.jpg" alt="" class="w-100"></figure>
								<h5>Andreas G. Masuch</h5>
								<strong>{{"Project" |translate}}  &amp; {{"designation4" | translate}} </strong>
							</div>
							<div class="flip-box-back">
								<h4>Andreas G. Masuch</h4>
								<p>{{"designation41" |translate}}</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/Dima-Melnik.jpg" alt="" class="w-100"></figure>
								<h5>Dima Melnik</h5>
								<strong>{{"Marketing" | translate}} &amp; {{"Price Strategist" | translate}}</strong>
							</div>
							<div class="flip-box-back"><h4>Dima Melnik</h4>
								<p>{{ "designation51" | translate }}</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/Sohail-Aslam.jpg" alt="" class="w-100"></figure>
								<h5>Sohail Aslam</h5>
								<strong>{{"designation6" | translate}}</strong>
							</div>
							<div class="flip-box-back"><h4>Sohail Aslam</h4>
								<p>{{"designation61" | translate}} &amp; {{"designation61" | translate }} </p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/Muh-Sodikin.jpg" alt="" class="w-100"></figure>
								<h5>Muh Sodikin</h5>
								<strong>{{"designation7" | translate}} </strong>
							</div>
							<div class="flip-box-back">
								<h4>Muh Sodikin</h4>
								<p>{{"designation71" | translate}}</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/thomas-mock.jpg" alt="" class="w-100"></figure>
								<h5>Dr. Thomas Mock</h5>
								<strong>{{"designation8" | translate}} <br/></strong>
							</div>
							<div class="flip-box-back">
								<h4>Dr. Thomas Mock</h4>
								<p>{{"designation81" | translate}} </p>
							</div>
						</div>
					</div>
				</div><!--col/3-->		
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/abdul-rehman.jpg" alt="" class="w-100"></figure>
								<h5>Mr Abdul Rehman</h5>
								<strong>{{"designation9" | translate}}</strong>
							</div>
							<div class="flip-box-back">
								<h4>Mr Abdul Rehman</h4>
								<p>{{"designation91" | translate}} </p>
							</div>
						</div>
					</div>
				</div><!--col/3-->			
			</div>
		</div>
	</div><!--our team-->
</div><!--site wrapper-->
<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="col-md-11 mx-auto">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="{{'enterEmail' | translate}}" required>
							<input type="submit" value="{{'subscribe' | translate}}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>