<div class="site_wrapper">
	<app-top-banner></app-top-banner>

	<div class="inner-pages our-team">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2 class="heading_strip mt-5">Meet some of our highly qualified Specialist Radiologists</h2>
				</div><!--col/12-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<div class="flip-box2">
						<div class="flip-box2-inner">
							<div class="flip-box2-front">
								<figure ><img src="../../../../assets/images/dr-ali-rehman-2.png" alt="" class="w-100"></figure>
								<h4>Dr. Ali Rahman</h4><strong>CEO <br/>Senior Specialist Neuro- and Bodyradiologist</strong>
							</div>
							<div class="flip-box2-back">
								<h4>Dr. Ali Rahman</h4>
								<p>Dr Ali Rahman was born in London and holds dual citizenship in Germany and Switzerland. He received his Swiss citizenship in 2022...
									<dd><a href="DrAli" class="flip-box-but mt-5">Read more </a></dd>
								</p>
								<div class="social-media d-flex list-inline justify-content-center">
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
								</div>
							</div>
						</div>
					</div>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<div class="flip-box2">
						<div class="flip-box2-inner">
							<div class="flip-box2-front">
								<figure><img src="../../../../assets/images/Dr-med-Sonke-Bartling.jpg" alt="" class="w-100"></figure>
								<h4>Dr. Sönke Bartling</h4>
								<strong>Associate Professor <br/>Senior Specialist Oncology and Interventional Radiology</strong>
							</div>
							<div class="flip-box2-back"><h4>Dr. Sönke Bartling</h4>
								<p>We are thrilled to welcome Dr. med. Sönke Bartling to our team as a Senior Consultant in Interventional Radiology...
									<dd><a href="MemberSonke" class="flip-box-but mt-5">Read more </a></dd>
								</p>
								<div class="social-media d-flex list-inline justify-content-center">
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
									<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
								</div>
							</div>
						</div>
					</div>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					
				</div><!--col/4-->

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3 class="heading_strip mt-5">Meet Our Support Team</h3>
				</div><!--col/12-->

				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/jamie-petterson-new.jpg" alt="" class="w-100"></figure>
								<h4>Jamie Petterson</h4>
								<strong>Sales &amp; Marketing Specialist</strong>
							</div>
							<div class="flip-box-back">
								<h4>Jamie Petterson</h4>
								<p>After working for and with household names such as KPMG, FedEx and the Expedia Group, Radiology Check picked my interest and excitement as the combination of quality, passion and depth of skill was evident. To be part of such a journey from the beginning is both a privilege and an honor.
								</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/stepan-vana.jpg" alt="" class="w-100"></figure>
								<h4>Stepan Vana</h4><strong>Sales &amp; Marketing Specialist</strong>
							</div>
							<div class="flip-box-back"><h4>Stepan Vana</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
								</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/marina-beslin.jpg" alt="" class="w-100"></figure>
								<h4>Marina Beslin</h4>
								<strong>Sports Players Support Specialist(UK)</strong>
							</div>
							<div class="flip-box-back">
								<h4>Marina Beslin</h4>
								<p>Sports Players Support Specialist / P&amp;R / for UK Sports Clubs &amp; Premiere League</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/Andreas-G-Masuch.jpg" alt="" class="w-100"></figure>
								<h4>Andreas G. Masuch</h4>
								<strong>Project &amp; Business Strategic Manager</strong>
							</div>
							<div class="flip-box-back">
								<h4>Andreas G. Masuch</h4>
								<p>Lives in Uppsala, Sweden. Independent consultant since 2019 with over 20+ years of experience in the Business Development field and have successfully delivered Bus/IT projects for over 15 years.</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/Dima-Melnik.jpg" alt="" class="w-100"></figure>
								<h4>Dima Melnik</h4>
								<strong>Marketing &amp; Price Strategist</strong>
							</div>
							<div class="flip-box-back"><h4>Dima Melnik</h4>
								<p>Dima rocking the world of sales price strategies! He have consistently shown his expertise and creativity in crafting winning strategies.</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/Sohail-Aslam.jpg" alt="" class="w-100"></figure>
								<h4>Sohail Aslam</h4>
								<strong>Head of Engineering @ System Plus, San Francisco, USA</strong>
							</div>
							<div class="flip-box-back"><h4>Sohail Aslam</h4>
								<p>Expert in Design, Development and Scaling of Web &amp; Mobile Applications. A hustler with a passion in entrepreneurship and innovation.</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
					<div class="flip-box">
						<div class="flip-box-inner">
							<div class="flip-box-front">
								<figure><img src="../../../../assets/images/Muh-Sodikin.jpg" alt="" class="w-100"></figure>
								<h4>Muh Sodikin</h4>
								<strong>Graphic Designer </strong>
							</div>
							<div class="flip-box-back">
								<h4>Muh Sodikin</h4>
								<p>With a strong background in design, I learned to combine my skills in creating creative works with a strong entrepreneurial spirit. Over the years, I have worked with a wide variety of clients and projects, gaining an in-depth understanding of the latest design trends and market needs.</p>
							</div>
						</div>
					</div>
				</div><!--col/3-->

				
			</div>
		</div>
	</div><!--our team-->
</div><!--site wrapper-->
<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="position-relative">
				<div class="subscribe-letter">
					<form>
						<input type="email" placeholder="Enter your email here" required>
						<input type="submit" value="Subscribe Our Newsletter">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>