<div class="site_wrapper">
	<div class="site-feature-banner">
		<figure><img src="../../../../assets/images/our-team-banner.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Our Team <small>Radiology, Neuroradiology Specialist</small></h1>
				<aside><a routerLink="/contact" type="button">contact us <i class="fa-regular fa-arrow-right"></i></a>
				</aside>
			</div>
		</figure>
	</div><!--site banner-->


	<div class="our-team">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Our Teams</h3>
				</div><!--col/12-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/our-team-img01.jpg" alt="" class="w-100" />
					</figure>
					<h4>Dr. Fillmore</h4>
					<strong>Radiology</strong>
					<div class="social-media d-flex list-inline justify-content-center">

						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
					</div>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page
						when looking at its layout. The point of using Lorem Ipsum</p>

				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/our-team-img02.jpg" alt="" class="w-100" />
					</figure>
					<h4>Dr. Ken Hurt</h4>
					<strong>Neuroradiology</strong>
					<div class="social-media d-flex list-inline justify-content-center">

						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
					</div>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page
						when looking at its layout. The point of using Lorem Ipsum</p>

				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/our-team-img03.jpg" alt="" class="w-100" />
					</figure>
					<h4>Dr. Yankum</h4>
					<strong>Oncological Radiology</strong>
					<div class="social-media d-flex list-inline justify-content-center">

						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
					</div>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page
						when looking at its layout. The point of using Lorem Ipsum</p>

				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/our-team-img04.jpg" alt="" class="w-100" />
					</figure>
					<h4>Dr. Smiley</h4>
					<strong>Oncological Radiology</strong>
					<div class="social-media d-flex list-inline justify-content-center">

						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
					</div>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page
						when looking at its layout. The point of using Lorem Ipsum</p>

				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/our-team-img05.jpg" alt="" class="w-100" />
					</figure>
					<h4>Dr. Toothman</h4>
					<strong>Oncological Radiology</strong>
					<div class="social-media d-flex list-inline justify-content-center">

						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
					</div>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page
						when looking at its layout. The point of using Lorem Ipsum</p>

				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/our-team-img01.jpg" alt="" class="w-100" />
					</figure>
					<h4>Dr. Nippel</h4>
					<strong>Oncological Radiology</strong>
					<div class="social-media d-flex list-inline justify-content-center">

						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
					</div>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page
						when looking at its layout. The point of using Lorem Ipsum</p>

				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/our-team-img03.jpg" alt="" class="w-100" />
					</figure>
					<h4>Dr. Seymour Landa</h4>
					<strong>Oncological Radiology</strong>
					<div class="social-media d-flex list-inline justify-content-center">

						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
					</div>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page
						when looking at its layout. The point of using Lorem Ipsum</p>

				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/our-team-img02.jpg" alt="" class="w-100" />
					</figure>
					<h4>Dr. Neupane</h4>
					<strong>Oncological Radiology</strong>
					<div class="social-media d-flex list-inline justify-content-center">
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
					</div>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page
						when looking at its layout. The point of using Lorem Ipsum</p>

				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/our-team-img05.jpg" alt="" class="w-100" />
					</figure>
					<h4>Dr. Luke Whitesell</h4>
					<strong>Oncological Radiology</strong>
					<div class="social-media d-flex list-inline justify-content-center">
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
						<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
					</div>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page
						when looking at its layout. The point of using Lorem Ipsum</p>

				</div><!--col/4-->
			</div>
		</div>
	</div><!--our team-->

	<div class="home_section_f">
		<div class="container">
			<div class="row">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="Enter your email here" required>
							<input type="submit" value="Subscribe Our Newsletter">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!--site wrapper-->