<div class="site_wrapper">
	<div class="page-thanks">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="text-center">
						<span><i class="fa-thin fa-circle-check"></i></span>
						<h2 class="display-1">Thank You</h2>
						<h3 class="mb-3">we're glad to join you, you're important to us. <br>we'll check your details and connect with you as soon as possible.</h3>
						<aside><a href="javascript:;" (click)="backToHome()">back to home</a></aside>
					</div>
				</div>
			</div>
		</div>
	</div><!--registration and login page-->
	
	
	
				
	
	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
						</li>
						
						<li>
							<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->
	
	
</div><!--site wrapper-->