<div class="feature_picture">
	<img src="../assets/images/stock-photo-Intracranial-Masses-and-Brain-Tumours-370940642.jpg" alt="" />
</div>
<div class="site-wrapper">
	<div class="inner-page-content">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
					<div class="inner-page-sidebar">
						<ul>
							<li><a routerLink="/brainTumors">Differential Diagnosis of Intracranial Masses and Brain
									Tumors</a></li>
							<li><a routerLink="/backPain">Back Pain and Radiculopathy</a></li>
							<li><a routerLink="/spinalTrauma">Spinal Trauma and Injuries</a></li>
							<li><a routerLink="/brainAndSpine">Demyelinating Diseases of the CNS (Brain and Spine)</a>
							</li>
							<li><a routerLink="/dementiaAlzheimer">Dementia, Alzheimer &amp; Other Neurodegenerative
									Disorders</a></li>
							<li><a routerLink="/evaluationOfTinnitus">Evaluation of Tinnitus and Hearing Loss in the
									Adult</a></li>
							<li><a routerLink="/metabolicDisorders">Toxic and Metabolic Disorders of the brain</a></li>
							<li><a routerLink="/epilepsyOrSeizures">Imaging the Patient with Epilepsy or Seizures</a>
							</li>
							<li><a routerLink="/cranialNerveDisorders">Imaging Evaluation of Patients with Cranial Nerve
									Disorders</a></li>
							<li><a routerLink="/hypophysis">Diseases of the Sella and Parasellar Region (Hypophysis)</a>
							</li>
							<li><a routerLink="/hydrocephalusAndCSF">Hydrocephalus and CSF Disorders (incl. Intracranial
									Hyper- and Hypotension)</a></li>
							<li><a routerLink="/strokeAndItsMimics">Stroke and Its Mimics: Differential diagnosis</a>
							</li>
							<li><a routerLink="/childWithAcuteNeurological">Child with Acute Neurological Emergency</a>
							</li>
							<li><a routerLink="/headTrauma">Head Trauma</a></li>

						</ul>

						<div class="sidebar-second-opinion-cta position-relative mt-5">
							<img src="assets/images/sidebar-second-opinion.jpg" alt="" />
							<div class="position-absolute">
								<!-- <h5>Do you want an <span>Abdominal Radiology</span> Second Opinion?</h5> -->
								<h5>{{"Banner - Differential Diagnosis of Intracranial Masses and Brain Tumours" |
									translate}}</h5>
								<button class="btn" routerLink="/contact" type="button">contact us</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
					<h4>{{"introduction" | translate}}</h4>
					<p>{{"introduction_P1"| translate}}</p>

					<p>{{"introduction_P2"| translate}}</p>

					<h4>{{"neuroimaging features"| translate}}</h4>

					<dd>{{"neuroimaging features_dd1"| translate}}</dd>

					<dd>{{"neuroimaging features_dd2"| translate}}</dd>

					<h4>{{"differential diagnosis"| translate}}</h4>

					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<img src="../assets/images/stock-photo-Intracranial-Masses-and-Brain-Tumours-370940642.jpg"
								alt="" class="img-fluid border-radius-15" />
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<p>{{"differential diagnosis_p"| translate}}</p>

							<ol>
								<li><span class="plus-icon"></span>{{"Ischemic infarct"| translate}}</li>
								<li><span class="plus-icon"></span>{{"Haemorrhage"| translate}}</li>
								<li><span class="plus-icon"></span>{{"Venous infarct"| translate}}</li>
								<li><span class="plus-icon"></span>{{"Vascular malformation"| translate}}</li>
								<li><span class="plus-icon"></span>{{"Abscess"| translate}}</li>
								<li><span class="plus-icon"></span>{{"Inflammatory disorders"| translate}}</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- inner page content -->
</div>

<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="position-relative">
				<div class="subscribe-letter">
					<form>
						<input type="email" placeholder="Enter your email here" required>
						<input type="submit" value="Subscribe Our Newsletter">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>