<div class="site_wrapper">
	<div class="login-page">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h1>update your password</h1>
				</div>
			</div>

			<div class="forms-layout">
				<div class="row align-items-center">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<figure><img src="../../../../assets/images/dr-ali-rehman.png" class="img-fluid" alt="" />
						</figure>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<h4 class="mb-4">Make your new password below-</h4>

						<div class="login-form">
							<form name="form" #updateForm="ngForm"
							(ngSubmit)="updateForm.form.valid && updatePassword()" novalidate
							[appPasswordPattern]="['password', 'confirmPassword']">
								<div class="row">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<input type="password" placeholder="New assword" class="form-control" name="password" [(ngModel)]="updatePasswordObj.password" required
										minlength="8" maxlength="20" #password="ngModel"
										[ngClass]="{ 'is-invalid': updateForm.submitted && password.errors }" />

										<div *ngIf="updateForm.submitted && password.errors" class="invalid-feedback">
											<div *ngIf="password.errors['required']">Password is required</div>
											<div *ngIf="password.errors['minlength']">
												Password must be at least 8 characters
											</div>
											<div *ngIf="password.errors['maxlength']">
												Password must not exceed 20 characters
											</div>
										</div>
                                    </div>
									

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<input type="password" placeholder="Re-type new password" class="form-control" name="confirmPassword" required [(ngModel)]="updatePasswordObj.password_confirmation" #confirmPassword="ngModel"
										[ngClass]="{ 'is-invalid': updateForm.submitted && confirmPassword.errors }"/>

										<div *ngIf="updateForm.submitted && confirmPassword.errors"
											class="invalid-feedback">
											<div *ngIf="confirmPassword.errors['required']">
												Confirm Password is required
											</div>
											<div *ngIf="confirmPassword.errors['matching']">
												Confirm Password does not match
											</div>
										</div>

                                    </div>

									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<input type="submit" value="Update Password" class="form-control">
									</div>
                                </div><!--row-->
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div><!--registration and login page-->





	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
						<ol class="d-flex">
							<li>
								<strong>Book your Appointment</strong>
								<p>It is a long established fact that a reader will be distracted by the readable
									content of a page when looking at its layout.</p>
							</li>

							<li>
								<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a>
								</aside>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->


</div><!--site wrapper-->