<div class="site_wrapper">
	<div class="site-banner">
		<figure>
		  <img src="/assets/images/home-new-banner.jpg" alt="" />
		  <div class="banner-caption">
			<h1>Second Opinion <br />Makes a <span>Difference</span></h1>
			<p>Why settle for one opinion when you can have the best? Get personalized care from our expert team and
			  simplify your medical journey with us.</p>
			<aside>
			  <a routerLink="/GetSecondOpinion" class="primary-button w-button">{{"Get a second opinion" | translate}} </a>
			</aside>
		  </div>
		</figure>
	</div>
	  <!--site banner-->

	<div class="inner-pages p-t-100">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3 class="heading_strip">Pro Bono</h3>

					<p>{{"proBonoP1" | translate}}</p>

					<p>{{"proBonoP2" | translate}}</p>

					<p>{{"proBonoP3" | translate}}</p>

					<p>{{"proBonoP4" | translate}}</p>

					<p>{{"proBonoP5_1" | translate}}<a
							href="https://www.radiologycheck.com">radiologycheck.com</a>{{"proBonoP5_2" | translate}}
					</p>
				</div>
			</div>
		</div>
	</div><!--registration and login page-->



	<div class="home_section_f">
		<div class="container">
			<div class="row">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="Enter your email here" required>
							<input type="submit" value="Subscribe Our Newsletter">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!--site wrapper-->