
<head>
	<title>{{ pageTitle }}</title>
	<meta name="description" content=`{{description}}`>
	<meta name="keywords" content=`{{keyword}}`>
  </head>

  <div class="site_wrapper">
	<app-top-banner [pageTitle]="ProBonoPageTitle"></app-top-banner>

	<div class="inner-pages p-t-100">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2 class="heading_strip">{{"Pro Bono" | translate}}</h2>

					<p>{{"proBonoP1" | translate}}</p>

					<p>{{"proBonoP2" | translate}}</p>

					<p>{{"proBonoP3" | translate}}</p>

					<p>{{"proBonoP4" | translate}}</p>

					<p>{{"proBonoP5_1" | translate}}<a
							href="mailto:info@radiologycheck.com">info@radiologycheck.com</a>{{"proBonoP5_2" | translate}}
					</p>
				</div>
			</div>
		</div>
	</div><!--registration and login page-->
</div><!--site wrapper-->
<!--<div class="home_section_f">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-md-11 mx-auto">-->
<!--				<div class="position-relative">-->
<!--					<div class="subscribe-letter">-->
<!--						<form>-->
<!--							<input type="email" placeholder="{{'enterEmail' | translate}}" required>-->
<!--							<input type="submit" value="{{'subscribe' | translate}}">-->
<!--						</form>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
