<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../../../../assets/images/stock-photo-1968439885.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Pro bono </h1>
				<aside><a routerLink="/bookAppointment">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>pro bono</h3>
					
					<p>{{"proBonoP1" | translate}}</p>
					
					<p>{{"proBonoP2" | translate}}</p>
					
					<p>{{"proBonoP3" | translate}}</p>
					
					<p>{{"proBonoP4" | translate}}</p>
					
					<p>{{"proBonoP5_1" | translate}}<a href="https://www.radiologycheck.com">radiologycheck.com</a>{{"proBonoP5_2" | translate}}</p>
				</div>
			</div>
		</div>
	</div><!--registration and login page-->
	
	
	
				
	
	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
						</li>
						
						<li>
							<aside><a routerLink="/bookAppointment">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->
	
	
</div><!--site wrapper-->