<div class="feature_picture">
	<img src="../assets/images/stock-photo-paediatric-radiology-1402587161.jpg" alt="" />
</div>
<div class="site-wrapper">
	<div class="inner-page-content">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
					<app-radiology-sidebar [textFromParent]="doYouWantSecondOpinionTextForEachComponent"></app-radiology-sidebar>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
					<h4>{{"Why should you opt for a Paediatric Radiology Second Opinion?" | translate}}</h4>
					<p>{{"Why should you opt for a Paediatric Radiology Second Opinion?_p1" | translate}}</p>

					<p>{{"Why should you opt for a Paediatric Radiology Second Opinion?_p2" | translate}}</p>

					<p>{{"Why should you opt for a Paediatric Radiology Second Opinion?_p3" | translate}}</p>

					<p>{{"Why should you opt for a Paediatric Radiology Second Opinion?_p4" | translate}}</p>

					<h4>{{"Radiologycheck.com second opinion encompasses all the elements of a paediatric radiology
						scan, including:" | translate}}</h4>

					<ol class="d-flex">
						<li><span class="plus-icon"></span>{{"MRI" | translate}}</li>
						<li><span class="plus-icon"></span>{{"CT Scan"| translate}}</li>
						<li><span class="plus-icon"></span>{{"X-Ray"| translate}}</li>
						<li><span class="plus-icon"></span>{{"Ultrasound"| translate}}</li>
					</ol>


					<h4>{{"Why is it necessary to go for a Second Opinion?" | translate}}</h4>

					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<img src="../assets/images/stock-photo-paediatric-radiology1-2220956291.jpg" alt=""
								class="img-fluid border-radius-15" />
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<p>{{"Why is it necessary to go for a Second Opinion?_p" | translate}}</p>

							<strong>{{"How a second opinion can benefit you:" | translate}}</strong>
							<ol>
								<li><span class="plus-icon"></span>{{"It confirms the accuracy of your diagnosis" |
									translate}}</li>
								<li><span class="plus-icon"></span>{{"You get a better understanding of your condition"
									| translate}}</li>
								<li><span class="plus-icon"></span>{{"You have the option of choosing the best way
									forward" | translate}}</li>
								<li><span class="plus-icon"></span>{{"You get peace of mind" | translate}}</li>
								<li><span class="plus-icon"></span>{{"You can make a confident decision" | translate}}
								</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<strong>{{"Our experts give second opinions for all paediatric Radiology scans, including:" |
							translate}}</strong>

						<ol class="d-flex">
							<li><span class="plus-icon"></span>{{"Airway Imaging"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Chest Imaging"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Cardiac Scans"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Gastrointestinal Scans"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Genito-urinary Tests"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Musculoskeletal Imaging"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Brain and Spine Scans"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Head and Neck Imaging"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Paediatric Neuroradiology"| translate}}</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- inner page content -->
</div>

<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="position-relative">
				<div class="subscribe-letter">
					<form>
						<input type="email" placeholder="Enter your email here" required>
						<input type="submit" value="Subscribe Our Newsletter">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>