<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-paediatric-radiology-1402587161.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Banner - Get a second opinion on Paediatric Radiology" | translate}}<small>{{"Instructions - Get a second opinion on Paediatric Radiology" | translate}}</small></h1>
				<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<p>{{"P bellow Banner - Get a second opinion on Paediatric Radiology" | translate}}</p>
					
					<strong>{{"Rely on us for an error-free second opinion" | translate}}</strong>
					
					<h4>{{"Do you want a Paediatric Radiology Second Opinion?" | translate}} <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}</a></h4>
					
					<h3>{{"Why should you opt for a Paediatric Radiology Second Opinion?" | translate}}</h3>

					<img src="../assets/images/stock-photo-paediatric-radiology-1402587161.jpg" alt="" class="inner-page-right-picture" />

					<p>{{"Why should you opt for a Paediatric Radiology Second Opinion?_p1" | translate}}</p>
					
					<p>{{"Why should you opt for a Paediatric Radiology Second Opinion?_p2" | translate}}</p>
					
					<p>{{"Why should you opt for a Paediatric Radiology Second Opinion?_p3" | translate}}</p>
					
					<p>{{"Why should you opt for a Paediatric Radiology Second Opinion?_p4" | translate}}</p>
					
					<h5>{{"Radiologycheck.com second opinion encompasses all the elements of a paediatric radiology scan, including:" | translate}}</h5>
					
					<ul>
						<li>{{"MRI" | translate}}</li>
						<li>{{"CT Scan"| translate}}</li>
						<li>{{"X-Ray"| translate}}</li>
						<li>{{"Ultrasound"| translate}}</li>
					</ul>
					
					<h3>{{"Why is it necessary to go for a Second Opinion?" | translate}}</h3>

					<img src="../assets/images/stock-photo-paediatric-radiology1-2220956291.jpg" alt="" class="inner-page-left-picture" />

					<p>{{"Why is it necessary to go for a Second Opinion?_p" | translate}}</p>
					
					<h5>{{"How a second opinion can benefit you:" | translate}}</h5>
					
					<ul>
						<li>{{"It confirms the accuracy of your diagnosis" | translate}}</li>
						<li>{{"You have a better understanding of your child’s injury" | translate}}</li>
						<li>{{"You have the option of choosing the best way forward" | translate}}</li>
						<li>{{"You get peace of mind" | translate}}</li>
						<li>{{"You can make a confident decision" | translate}}</li>
					</ul>
					
					<h5>{{"Our experts give second opinions for all paediatric Radiology scans, including:" | translate}}</h5>

					<ul>
						<li>{{"Airway Imaging"| translate}}</li>
						<li>{{"Chest Imaging"| translate}}</li>
						<li>{{"Cardiac Scans"| translate}}</li>
						<li>{{"Gastrointestinal Scans"| translate}}</li>
						<li>{{"Genito-urinary Tests"| translate}}</li>
						<li>{{"Musculoskeletal Imaging"| translate}}</li>
						<li>{{"Brain and Spine Scans"| translate}}</li>
						<li>{{"Head and Neck Imaging"| translate}}</li>
						<li>{{"Paediatric Neuroradiology"| translate}}</li>
					</ul>

					<h4><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}</a></h4>
				</div>
			</div>
		</div>
	</div><!--inner page-->
	
	<app-bottom-of-pages></app-bottom-of-pages>
	
	
</div><!--site wrapper-->
