<div class="container payment_section">
    <div class="row">
            <div class="stripeForm border rounded shadow">
                    <div class="mt-4 mb-5 stripe-header">
                        <h5>Subscription Plan: {{packageName}}</h5>
                        <h5>Subscription Amount: Eur {{amount}}</h5>
                    </div>
                    <div class="mt-5 mb-5">
                        <div 
                        ngxStripeCardGroup
                        [formGroup]="stripeTest"
                        [elementsOptions]="elementsOptions"
                        >
                         <input type="hidden" formControlName="amount" value={{amount}}/>   
                        <input type="text" placeholder="customer_name" formControlName="customer_name"/>
                        <input type="email" placeholder="customer_email" formControlName="customer_email"/>
                        <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
                        <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
                        <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
                        <button [disabled]='stripeTest.invalid'  type="submit" (click)="pay()">
                            PAY
                        </button>
                        </div>
                    </div>
            </div>
         
    </div>

</div>
