<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-Paediatric-Sports-Injuries-573112138.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Banner - Get a Second Opinion for Paediatric Sports Injuries" | translate}} <small>{{"Instructions - Get a Second Opinion for Paediatric Sports Injuries" | translate}}</small></h1>
				<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}<i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<p>{{"P bellow Banner - Get a Second Opinion for Paediatric Sports Injuries" | translate}}</p>
					
					<strong>{{"Rely on us for an error-free second opinion" | translate}}</strong>
					
					<h4>{{"Do you want a Paediatric Sports Injury Second Opinion on your child’s scans?" | translate}} <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}</a></h4>
					
					<h3>{{"Why should you go for a Paediatric Sports Injury Second Opinion?" | translate}}</h3>

					<img src="../assets/images/stock-photo-Paediatric-Sports-Injuries-573112138.jpg" alt="" class="inner-page-right-picture" />

					<p>{{"Why should you go for a Paediatric Sports Injury Second Opinion?_p1" | translate}}</p>
					
					<p> {{"Why should you go for a Paediatric Sports Injury Second Opinion?_p2" | translate}}</p>
					
					<p>{{"Why should you go for a Paediatric Sports Injury Second Opinion?_p3" | translate}}</p>
					
					<h5>{{"At Radiologycheck.com, our second opinion encompasses all paediatric sports injury scans including:" | translate}}</h5>
					
					<ul>
						<li>{{"MRI"| translate }}</li>
						<li>{{"CT Scan"| translate }}</li>
						<li>{{"X-Ray"| translate }}</li>
						<li>{{"Ultrasound"| translate }}</li>
					</ul>
					
					<h3>{{"Why is it necessary to go for a Second Opinion?" | translate}}</h3>

					<img src="../assets/images/stock-photo-Paediatric-Sports-Injuries1-285447305.jpg" alt="" class="inner-page-left-picture" />
					
					<p>{{"Why is it necessary to go for a Second Opinion?_p" | translate}}</p>
					
					<h5>{{"How a second opinion can benefit you:" | translate}}</h5>
					
					<ul>
						<li>{{"It confirms the accuracy of your diagnosis" | translate}}</li>
						<li>{{"You have a better understanding of your child’s injury" | translate}}</li>
						<li>{{"You have the option of choosing the best way forward" | translate}}</li>
						<li>{{"You get peace of mind" | translate}}</li>
						<li>{{"You can make a confident decision" | translate}}</li>
					</ul>
					
					<h5>{{"Our experts give second opinions for all paediatric sports injuries and conditions, including:" | translate}}</h5>

					<ul>
						<li>{{"Little League Elbow and Shoulder"| translate}}</li>
						<li>{{"Trauma: General"| translate}}</li>
						<li>{{"Trauma: Upper Extremity"| translate}}</li>
						<li>{{"Trauma: Lower Extremity"| translate}}</li>
						<li>{{"Abnormalities of Hip"| translate}}</li>
						<li>{{"Ankle Sprain"| translate}}</li>
						<li>{{"Acute Tear of the Cruciate Ligaments, Meniscal tears, and stabilizing ligaments"| translate}}</li>
						<li>{{"Muscle-Tendon InjuriesGymnast Wrist"| translate}}</li>
						<li>{{"Bone Lesions"| translate}}</li>
						<li>{{"Constitutional Disorders of Bone"| translate}}</li>
						<li>{{"Stress Fractures"| translate}}</li>
						<li>{{"Torn Rotator Cuff"| translate}}</li>
						<li>{{"Congenital Anomalies"| translate}}</li>
						<li>{{"Osteochondritis Dissecans of the Talus, Knee and Dissecans"| translate}}</li>
						<li>{{"Osgood-Schlatter Disease"| translate}}</li>
						<li>{{"Sinding-Larsen-Johansson Disease"| translate}}</li>
						<li>{{"Infection and Inflammatory Disorders"| translate}}</li>
						<li>{{"Dislocations (Glenohumeral, Elbow, Patella)"| translate}}</li>
						<li>{{"Pelvic Apophysis"| translate}}</li>
						<li>{{"Soft Tissue Masses"| translate}}</li>
					</ul>

					
						
				</div>
			</div>
		</div>
	</div><!--inner page-->
	
	<app-bottom-of-pages></app-bottom-of-pages>
	
	
</div><!--site wrapper-->