<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-Paediatric-Sports-Injuries-573112138.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Banner - Get a Second Opinion for Paediatric Sports Injuries" | translate}} <small>{{"Instructions - Get a Second Opinion for Paediatric Sports Injuries" | translate}}</small></h1>
				<aside><a routerLink="/bookAppointment">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<p>{{"P bellow Banner - Get a Second Opinion for Paediatric Sports Injuries" | translate}}</p>
					
					<strong>{{"Rely on us for an error-free second opinion" | translate}}</strong>
					
					<h4>{{"Do you want a Paediatric Sports Injury Second Opinion on your child’s scans?" | translate}} <a href="javascript:;" routerLink="/bookAppointment">{{"Click here to book an appointment now" | translate}}</a></h4>
					
					<h3>{{"Why should you go for a Paediatric Sports Injury Second Opinion?" | translate}}</h3>

					<img src="../assets/images/stock-photo-Paediatric-Sports-Injuries-573112138.jpg" alt="" class="inner-page-right-picture" />

					<p>{{"Why should you go for a Paediatric Sports Injury Second Opinion?_p1" | translate}}</p>
					
					<p> {{"Why should you go for a Paediatric Sports Injury Second Opinion?_p2" | translate}}</p>
					
					<p>{{"Why should you go for a Paediatric Sports Injury Second Opinion?_p3" | translate}}</p>
					
					<h5>{{"At Radiologycheck.com, our second opinion encompasses all paediatric sports injury scans including:" | translate}}</h5>
					
					<ul>
						<li>{{"MRI"| translate }}</li>
						<li>{{"CT Scan"| translate }}</li>
						<li>{{"X-Ray"| translate }}</li>
						<li>{{"Ultrasound"| translate }}</li>
					</ul>
					
					<h3>{{"Why is it necessary to go for a Second Opinion?" | translate}}</h3>

					<img src="../assets/images/stock-photo-Paediatric-Sports-Injuries1-285447305.jpg" alt="" class="inner-page-left-picture" />
					
					<p>{{"Why is it necessary to go for a Second Opinion?_p" | translate}}</p>
					
					<h5>{{"How a second opinion can benefit you:" | translate}}</h5>
					
					<ul>
						<li>{{"It confirms the accuracy of your diagnosis" | translate}}</li>
						<li>{{"You have a better understanding of your child’s injury" | translate}}</li>
						<li>{{"You have the option of choosing the best way forward" | translate}}</li>
						<li>{{"You get peace of mind" | translate}}</li>
						<li>{{"You can make a confident decision" | translate}}</li>
					</ul>
					
					<h5>{{"Our experts give second opinions for all paediatric sports injuries and conditions, including:" | translate}}</h5>

					<ul>
						<li>{{"Little League Elbow and Shoulder"| translate}}</li>
						<li>{{"Trauma: General"| translate}}</li>
						<li>{{"Trauma: Upper Extremity"| translate}}</li>
						<li>{{"Trauma: Lower Extremity"| translate}}</li>
						<li>{{"Abnormalities of Hip"| translate}}</li>
						<li>{{"Ankle Sprain"| translate}}</li>
						<li>{{"Acute Tear of the Cruciate Ligaments, Meniscal tears, and stabilizing ligaments"| translate}}</li>
						<li>{{"Muscle-Tendon InjuriesGymnast Wrist"| translate}}</li>
						<li>{{"Bone Lesions"| translate}}</li>
						<li>{{"Constitutional Disorders of Bone"| translate}}</li>
						<li>{{"Stress Fractures"| translate}}</li>
						<li>{{"Torn Rotator Cuff"| translate}}</li>
						<li>{{"Congenital Anomalies"| translate}}</li>
						<li>{{"Osteochondritis Dissecans of the Talus, Knee and Dissecans"| translate}}</li>
						<li>{{"Osgood-Schlatter Disease"| translate}}</li>
						<li>{{"Sinding-Larsen-Johansson Disease"| translate}}</li>
						<li>{{"Infection and Inflammatory Disorders"| translate}}</li>
						<li>{{"Dislocations (Glenohumeral, Elbow, Patella)"| translate}}</li>
						<li>{{"Pelvic Apophysis"| translate}}</li>
						<li>{{"Soft Tissue Masses"| translate}}</li>
					</ul>

					
						
				</div>
			</div>
		</div>
	</div><!--inner page-->
	
		
	<div class="section-c">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2>Why second opinion needed?</h2>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<ul>
						<li>
							<figure><img src="../../../assets/images/icon-a.png" alt="" /></figure>
							<h3>Confirm Diagnosis Before Treatment</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-b.png" alt="" /></figure>
							<h3>Conflicting Diagnosis</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-c.png" alt="" /></figure>
							<h3>Peace of Mind</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-d.png" alt="" /></figure>
							<h3>Symptoms Persist</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-e.png" alt="" /></figure>
							<h3>Given an Ambiguous Radiology Report</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-f.png" alt="" /></figure>
							<h3>Delayed Report &amp; Need Answers Fast</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
					</ul>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<aside><a routerLink="/bookAppointment">Book an Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>
			</div>
		</div>
	</div><!--section c-->
	
	<div class="section-d">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2>Get Peace Of Mind</h2>
					<dd>Get direct access to highly trained radiologists in every field of specialization in 3 simple steps.</dd>
				</div>
				
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
					<figure>
						<img src="../../../assets/images/step-01.jpg" alt="" />
						<sup>01</sup>
					</figure>
					<h3>Sign Up</h3>
					<p>Create a free DocPanel account</p>
				</div>
				
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
					<figure>
						<img src="../../../assets/images/step-02.jpg" alt="" />
						<sup>02</sup>
					</figure>
					<h3>Submit &amp; Pay</h3>
					<p>Upload your scans, reason for study, and connect to a radiologist</p>
				</div>
				
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
					<figure>
						<img src="../../../assets/images/step-03.jpg" alt="" />
						<sup>03</sup>
					</figure>
					<h3>Get Second Opinion</h3>
					<p>Receive a second opinion report &amp; talk to your doctor to discuss treatment options</p>
				</div>
			</div>
		</div>
	</div><!--section d-->
	
	<div class="feature-radiologists">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Featured Radiologists</h3>
					<p>DocPanel has over 250 specialty radiologists that you can pick from or allow us to find the best specialist for your case. Meet a few members of the DocPanel team of subspecialty radiologists:</p>
				</div><!--col/12-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/certified-icon.png" alt="" />
						<strong>VETTED</strong>
						<p>Has completed a 6-step credential verification process</p>
					</figure>
					
					
				</div><!--col/3-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/voted-icon.png" alt="" />
						<strong>CERTIFIED</strong>
						<p>Is academic-level and fellowship-trained</p>
					</figure>
					
					
				</div><!--col/3-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/reputable-icon.png" alt="" />
						<strong>REPUTABLE</strong>
						<p>Practices exclusively in the United States</p>
					</figure>
					
					
				</div><!--col/3-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/qwality-icon.png" alt="" />
						<strong>QUALITY</strong>
						<p>Provides the highest standard of diagnostic interpretation</p>
					</figure>
					
					
				</div><!--col/3-->
				
			</div>
		</div>
	</div><!--feature-radiologists-->


	<div class="our-team">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Our Teams</h3>
				</div><!--col/12-->
				
				<div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
						<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
							<span class="fa fa-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
							<span class="fa fa-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					<div class="carousel-inner" role="listbox">
						
			
						<div class="carousel-item active">
							<div class="row">
								
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img01.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Fillmore</h4>
									<strong>Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>					
									
								</div><!--col/4-->
				
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img02.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Ken Hurt</h4>
									<strong>Neuroradiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->
				
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img03.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Yankum</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								
							</div>
						</div>
						
						<div class="carousel-item">
							<div class="row">
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img04.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Smiley</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img05.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Toothman</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img01.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Nippel</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->
								
							</div>
						</div>
						
						<div class="carousel-item">
							<div class="row">
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img03.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Seymour Landa</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img02.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Neupane</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img05.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Luke Whitesell</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->
							</div>
						</div>
						
					</div>
				</div>
			</div>					

		</div>
	</div><!--our team-->
	
		
	<div class="section-i">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Testimonial</h3>
				</div>
			
				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<div class="owl-carousel owl-theme" id="testimonial-slider">
						<div class="item">
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
							<ul>
								<li><img src="../../../assets/images/testi-user.png" alt="" /></li>
								<li><h5>Mrs. Smith <small>seo</small></h5></li>
							</ul>
						</div>
						
						<div class="item">
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
							<ul>
								<li><img src="../../../assets/images/testi-user.png" alt="" /></li>
								<li><h5>Mrs. Smith <small>seo</small></h5></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div><!--section i-->
				
	
	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation </p>
						</li>
						
						<li>
							<aside><a routerLink="/bookAppointment">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->
	
	
</div><!--site wrapper-->