<div class="site_wrapper">
  <div class="site-banner">
    <figure>
      <img src="/assets/images/banner-slide.png" alt="" />
      <div class="banner-caption">
        <h1>Second Opinion <br />Makes a <span>Difference</span></h1>
        <aside>
          <a routerLink="/GetSecondOpinion"
            >Get a second opinion <i class="fa-regular fa-arrow-right"></i
          ></a>
        </aside>
      </div>
    </figure>
  </div>
  <!--site banner-->

  <div class="section-a">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-xl-11 col-lg-11 col-md-11 col-sm-12 offset-xl-1 offset-lg-1 offset-md-1"
        >
          <div class="banner-beneath-form">
            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <h4>Let's get started</h4>
              </div> 
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                <h4>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
                <aside>
                  <a routerLink="/GetSecondOpinion"
                    >{{"Get a second opinion" | translate}} <i class="fa-regular fa-arrow-right"></i
                  ></a>
                </aside>
                <!-- <form #appointmentData="ngForm" (ngSubmit)="appointmentData.form.valid && addBookAppointmentData()">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <input
                          type="text"
                          placeholder="Name"
                          required
                          class="form-control"
                          name="name"
                          [(ngModel)]="objectForBookingAppointment.name"
                          required 
                          #name='ngModel'
                          [ngClass]="{ 'is-invalid': appointmentData.submitted && name.errors }"
                        />
                        <div *ngIf="appointmentData.submitted && name.errors" class="invalid-feedback">
                          <div *ngIf="name.errors?.['required']">Name is required </div>
                        </div>

                      </div>

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <input
                          type="tel"
                          placeholder="Phone"
                          required
                          class="form-control"
                          name="appointment_number" 
                          [(ngModel)]="objectForBookingAppointment.appointment_number" 
                          #appointment_number="ngModel" 
                          pattern="^((\\+91-?)|0)?[0-9]{10}$" 
                          required 

                          [ngClass]="{ 'is-invalid': appointmentData.submitted && appointment_number.errors }"
                        />
                        <div *ngIf="appointmentData.submitted && appointment_number.errors" class="invalid-feedback">
                          <div *ngIf="appointment_number.errors?.['required']">Phone
                            Number is required </div>
                          <div *ngIf="appointment_number.errors?.['pattern']">This is not
                            a valid Phone Number</div>
                        </div>
                      </div>
                      

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <input
                          type="email"
                          placeholder="Your Email"
                          required
                          class="form-control"
                          name="appointment_email" 
                          [(ngModel)]="objectForBookingAppointment.appointment_email" 
                          #appointment_email="ngModel"  
                          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                          required
                          [ngClass]="{ 'is-invalid': appointmentData.submitted && appointment_email.errors }"
                        />
                        <div *ngIf="appointmentData.submitted && appointment_email.errors" class="invalid-feedback">
                          <div *ngIf="appointment_email.errors?.['required']">Email is
                            required </div>
                          <div *ngIf="appointment_email.errors?.['pattern']">This is not a valid
                            Email </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <select class="form-control" name="appointment_reason" [(ngModel)]="objectForBookingAppointment.appointment_reason" required #appointment_reason="ngModel" [ngClass]="{ 'is-invalid': appointmentData.submitted && appointment_reason.errors }">
                          <option value="Abdominal Radiology">Abdominal Radiology</option>
                          <option value="Prostate MRI">Prostate MRI</option>
                          <option value="Breast Radiology">Breast Radiology</option>
                          <option value="Women Imaging">Women Imaging</option>
                          <option value="Musculoskeletal Radiology">Musculoskeletal Radiology</option>
                          <option value="Pediatric Sports Injuries">Pediatric Sports Injuries</option>
                          <option value="Pediatric Radiology">Pediatric Radiology</option>
                          <option value="Neuroradiology">Neuroradiology</option>
                          <option value="Oncological Radiology">Oncological Radiology</option>
                        </select>
                        <div *ngIf="appointmentData.submitted && appointment_reason.errors" class="invalid-feedback">
                          <div *ngIf="appointment_reason.errors?.['required']">This is
                            required </div>
                         
                        </div>
                      </div>

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <input type="date" class="form-control" min="{{ today }}" [(ngModel)]="objectForBookingAppointment.appointment_date"  
                          (ngModelChange)="setAppointmentDate($event)"  name="appointment_date" #appointment_date="ngModel" required
                          [ngClass]="{ 'is-invalid': appointmentData.submitted && appointment_date.errors }" />

                          <div *ngIf="appointmentData.submitted && appointment_date.errors" class="invalid-feedback">
                            <div *ngIf="appointment_date.errors?.['required']">Date is
                              required </div>
                           
                          </div>
                      </div>

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <input type="time" class="form-control" [(ngModel)]="objectForBookingAppointment.appointment_time"  
                        (ngModelChange)="setAppointmentDate($event)"  name="appointment_time" #appointment_time="ngModel" required
                        [ngClass]="{ 'is-invalid': appointmentData.submitted && appointment_time.errors }"/>

                        <div *ngIf="appointmentData.submitted && appointment_time.errors" class="invalid-feedback">
                          <div *ngIf="appointment_time.errors?.['required']">Time is
                            required </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <select class="form-control" name="visit_type" [(ngModel)]="objectForBookingAppointment.visit_type" required #visit_type="ngModel" [ngClass]="{ 'is-invalid': appointmentData.submitted && visit_type.errors }">
                          <option value="" disabled selected>--Is it your first visit?--</option>
                          <option value="first">Yes</option>
                          <option value="old_patient">No</option>
                        </select>

                        <div *ngIf="appointmentData.submitted && visit_type.errors" class="invalid-feedback">
                          <div *ngIf="visit_type.errors?.['required']">Please select visit options </div>
                         
                        </div>
                      </div>

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <input type="submit" value="Book an Appointment" class="form-control">
                        
                      </div>
                    </div>
                  </div>
                </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--section a-->

  <div class="section-b">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <img src="/assets/images/dr-ali-rehman-2.png" class="img-fluid" alt="Dr. Ali Rehman" />
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div
            class="align-content-center justify-content-center d-flex flex-column com-height"
          >
            <h1>{{'Dr Ali Rahman' | translate}} <small>M.Sc., EBR, ESNR, ESSR</small></h1>
            <p>{{"aboutComponentP1" | translate}}

              <!-- I have commented below code to implement i18n translate here, to make this like before you can comment above line and uncomment below one -->

              <!-- Living in Berne, Switzerland (Born in London, United Kingdom)<br />
              (Holds Dual British and German Citizenships) (Received Swiss
              citizenship in 2022)<br />
              (German and Swiss Board Certified in General Radiology, MSK
              Radiology and Neuroradiology) -->
            </p>
            <aside>
              <a routerLink="/about"
                >Explore More <i class="fa-regular fa-arrow-right"></i
              ></a>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--section b-->

  <div class="section-c">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h2>Why second opinion needed?</h2>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <ul>
            <li>
              <figure><img src="/assets/images/ensure-accurate-diagnosis.svg" alt="" /></figure>
              <h3>Ensure accurate diagnosis</h3>
              <p>Before beginning any treatment, it's essential to confirm that the diagnosis is correct. Seeking a second opinion can provide peace of mind and help to ensure that you receive the right treatment.</p>
            </li>

            <li>
              <figure><img src="/assets/images/avoid-conflicting-diagnoses.svg" alt="" /></figure>
              <h3>Avoid conflicting diagnoses</h3>
              <p>If you've received conflicting diagnoses from different healthcare providers, seeking a second opinion can help you determine which diagnosis is correct and avoid unnecessary treatments or procedures.</p>
            </li>

            <li>
              <figure><img src="/assets/images/find-peace-of-mind.svg" alt="" /></figure>
              <h3>Find peace of mind</h3>
              <p>Uncertainty about your diagnosis can be stressful and anxiety-provoking. A second opinion can provide reassurance and help you feel more confident about your diagnosis and treatment plan.</p>
            </li>

            <li>
              <figure><img src="/assets/images/icon-d.png" alt="" /></figure>
              <h3>Resolve persistent symptoms</h3>
              <p>If you continue to experience symptoms even after receiving a diagnosis and treatment, a second opinion can help to identify any underlying issues that may have been missed.</p>
            </li>

            <li>
              <figure><img src="/assets/images/interpret-ambiguous-reports.svg" alt="" /></figure>
              <h3>Interpret ambiguous reports</h3>
              <p>Radiology reports can sometimes be difficult to interpret, leading to confusion and uncertainty. Seeking a second opinion can help to clarify any ambiguous findings and ensure an accurate diagnosis.</p>
            </li>

            <li>
              <figure><img src="/assets/images/receive-a-timely-diagnosis.svg" alt="" /></figure>
              <h3>Receive a timely diagnosis</h3>
              <p>If you need answers fast but are experiencing delays in receiving your radiology report, a second opinion can provide timely and expert analysis, helping you get the answers you need quickly.</p>
            </li>
          </ul>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <aside>
            <a routerLink="/GetSecondOpinion"
              >Get a second opinion <i class="fa-regular fa-arrow-right"></i
            ></a>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <!--section c-->

  <div class="section-d">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h2>Get Peace Of Mind</h2>
          <dd>
            Get direct access to highly trained radiologists in every field of
            specialization in 3 simple steps.
          </dd>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <figure>
            <img src="/assets/images/step-01.jpg" alt="" />
            <sup>01</sup>
          </figure>
          <h3>Sign Up</h3>
          <p>Create a free DocPanel account</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <figure>
            <img src="/assets/images/step-02.jpg" alt="" />
            <sup>02</sup>
          </figure>
          <h3>Submit &amp; Pay</h3>
          <p>
            Upload your scans, reason for study, and connect to a radiologist
          </p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <figure>
            <img src="/assets/images/step-03.jpg" alt="" />
            <sup>03</sup>
          </figure>
          <h3>Get Second Opinion</h3>
          <p>
            Receive a second opinion report &amp; talk to your doctor to discuss
            treatment options
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--section d-->

  <div class="section-e">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>My Portfolio</h3>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="tab-direction-movement">
            <div class="tab-name-listing">
              <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    data-toggle="pill"
                    href="#medicalSchools"
                    >Medical School</a
                  >
                </li>
                <!--list-->

                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#trainingSchools"
                    >trainings hospital</a
                  >
                </li>
                <!--list-->

                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#diplomas"
                    >Diplomas</a
                  >
                </li>
                <!--list-->

                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#member"
                    >Member of following society</a
                  >
                </li>
                <!--list-->
              </ul>
            </div>
            <!--tab name listing-->

            <div class="tab-content">
              <div id="medicalSchools" class="container tab-pane active">
                <div class="our-represantative-logos">
                  <dd>
                    <img
                      src="/assets/images/medical_school/jg-u-logo-gutenburg.svg"
                      alt=""
                    />
                  </dd>
                  <dd>
                    <img
                      src="/assets/images/medical_school/jg-u-logo.png"
                      alt=""
                    />
                  </dd>
                  <dd>
                    <img
                      src="/assets/images/medical_school/tulene-university.png"
                      alt=""
                    />
                  </dd>
                  <dd>
                    <img
                      src="/assets/images/medical_school/western-cape-logo.png"
                      alt=""
                    />
                  </dd>
                </div>
              </div>

              <div id="trainingSchools" class="container tab-pane fade">
                <div class="our-represantative-logos">
                  <dd>
                    <img
                      src="/assets/images/training_schools/insel-Logo.svg"
                      alt=""
                    />
                  </dd>
                  <dd>
                    <img
                      src="/assets/images/training_schools/ksa-logo-quer.png"
                      alt=""
                    />
                  </dd>
                  <dd>
                    <img
                      src="/assets/images/training_schools/translational.png"
                      alt=""
                    />
                  </dd>
                </div>
              </div>

              <div id="diplomas" class="container tab-pane fade">
                <div class="our-represantative-logos">
                  <dd>
                    <img src="/assets/images/diplomas/deutsche.svg" alt="" />
                  </dd>
                  <dd><img src="/assets/images/diplomas/ebr.PNG" alt="" /></dd>
                  <dd>
                    <img
                      src="/assets/images/diplomas/ESSR_Logokombi.svg"
                      alt=""
                    />
                  </dd>
                  <dd>
                    <img src="/assets/images/diplomas/logo.jpeg" alt="" />
                  </dd>
                  <dd>
                    <img src="/assets/images/diplomas/logo_fmh.png" alt="" />
                  </dd>
                  <dd>
                    <img src="/assets/images/diplomas/nr-icon.PNG" alt="" />
                  </dd>
                  <dd>
                    <img src="/assets/images/diplomas/SGR_Logo.png" alt="" />
                  </dd>
                  <dd>
                    <img
                      src="/assets/images/diplomas/SGUM_Header_Logo_Small.jpg"
                      alt=""
                    />
                  </dd>
                </div>
              </div>

              <div id="member" class="container tab-pane fade">
                <div class="our-represantative-logos">
                  <dd>
                    <img
                      src="/assets/images/following_soceity/deutsche.svg"
                      alt=""
                    />
                  </dd>
                  <dd>
                    <img
                      src="/assets/images/following_soceity/ESR_full-logo.svg"
                      alt=""
                    />
                  </dd>
                  <dd>
                    <img
                      src="/assets/images/following_soceity/logo.svg"
                      alt=""
                    />
                  </dd>
                </div>
              </div>
            </div>
            <!--tab content-->
          </div>
          <!--tab direction-->
        </div>
        <!--col/12-->
      </div>
      <!--row-->
    </div>
    <!--container-->
  </div>
  <!--section e-->

  <div class="section-f">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="position-relative">
            <ol class="d-flex">
              <li>
                <strong>Book your Appoinment</strong>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                </p>
              </li>

              <li>
                <aside>
                  <a routerLink="/GetSecondOpinion"
                    >Get a second opinion<i class="fa-regular fa-arrow-right"></i
                  ></a>
                </aside>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--section f-->

  <div class="section-g">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
          <h3>What Makes Us Different From Others</h3>
          <ul>
            <li>
              <h4>Modern Technology</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus.
              </p>
            </li>

            <li>
              <h4>Success of Treatments</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus.
              </p>
            </li>

            <li>
              <h4>Certified Doctors</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus.
              </p>
            </li>
          </ul>
          <aside>
            <a routerLink="about"
              >Explore More <i class="fa-regular fa-arrow-right"></i
            ></a>
          </aside>
        </div>

        <div class="right-picture-g-section">
          <figure>
            <img
              src="/assets/images/make-us-different.jpg"
              alt="Make us different"
              class="w-100"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
  <!--section g-->

  <div class="section-h">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>Frequently Asked Questions</h3>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
          <figure><img src="/assets/images/faq-picture.png" alt="" /></figure>
        </div>
        <!--col/half-->

        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <div class="accordion-section">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button
                      type="button"
                      class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                    >
                      <i class="fa fa-plus"></i>  What is the pro bono program and am I eligible for it?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      Our pro bono initiative includes providing a free second opinion of the radiology reports of people who are unemployed, disabled, elderly, single mothers or in any other emergency setting.
                    </p>

                    <p>
                      If you fall under any of the above-mentioned categories, you are eligible for the pro bono program. Please note that in order to get pro bono second opinion of your radiology reports, you will need to upload a certificate that proves that you fall under the above-mentioned categories.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button
                      type="button"
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                    >
                      <i class="fa fa-plus"></i> Can I speak with a specialist or a reading radiologist for general questions?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      Yes, for a small fee, you get to communicate with a subspecialist radiologist. They will provide you with consultation and explain everything related to your radiology report and diagnosis.
                    </p>

                    <p>
                      Our radiologists will further respond to your primary physician’s inquiry within 24 hours.
Please note that the nature of these consultations is only to provide you with a general idea about your scans and condition.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button
                      type="button"
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                    >
                      <i class="fa fa-plus"></i> What if I am not satisfied with your second opinion?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      We always re-analyze your scans if you are not satisfied. 
Please note that under any circumstance, we will not change our report other than relevant clinical information.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button
                      type="button"
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                    >
                      <i class="fa fa-plus"></i> Will your specialists always be able to make a diagnosis?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseFour"
                  class="collapse"
                  aria-labelledby="#headingFour"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      If the uploaded images of your radiology scan are not of good quality, then we cannot guarantee a diagnosis of your radiology scans.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <aside>
              <a href="#"
                >See more <i class="fa-regular fa-arrow-right"></i
              ></a>
            </aside>
          </div>
          <!--accordion section-->
        </div>
        <!--col/half-->
      </div>
    </div>
  </div>
  <!--section h-->

  <div class="section-i">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h3>Testimonial</h3>
        </div>
		<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
				<owl-carousel-o [options]="customOptions" id="testimonial-slider">
					<ng-container *ngFor="let slide of imgUrls">
					  <ng-template class="slide" carouselSlide [id]="slide.id">
						<div class="item">
						  <p>
							Ut wisi enim ad minim veniam, quis laore est usus legentis in
							iis qui facit eorum nostrud exerci tation ulm hedi corper
							turet suscipit lobortis nisl aliquip erat volutpat autem vel
							eum iriure dolor in hendrerit in vulputate velit esse molestie
							consequat, vel illum dolore eu.
						  </p>
						  <ul>
							<li>
							  <img
								[src]="slide.url"
								[alt]="slide.id"
								[title]="slide.id"
							  />
							</li>
							<li>
							  <h5>Mrs. Smith <small>seo</small></h5>
							</li>
						  </ul>
						</div>
					  </ng-template>
					</ng-container>
				  </owl-carousel-o>
		</div>
        

        <!-- <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<div class="owl-carousel owl-theme" id="testimonial-slider">
						<div class="item">
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
							<ul>
								<li><img src="../../../assets/images/testi-user.png" alt="" /></li>
								<li><h5>Mrs. Smith <small>seo</small></h5></li>
							</ul>
						</div>
						
						<div class="item">
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
							<ul>
								<li><img src="../../../assets/images/testi-user.png" alt="" /></li>
								<li><h5>Mrs. Smith <small>seo</small></h5></li>
							</ul>
						</div>
					</div>
				</div> -->
      </div>
    </div>
  </div>
  <!--section i-->

  <div class="section-j">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="position-relative">
            <ol class="d-flex">
              <li>
                <strong>Book your Appoinment</strong>
                <p>
                  Ut wisi enim ad minim veniam, quis laore est usus legentis in
                  iis qui facit eorum nostrud exerci tation
                </p>
              </li>

              <li>
                <aside>
                  <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i class="fa-regular fa-arrow-right"></i
                  ></a>
                </aside>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--section j-->
</div>
<!--site wrapper-->
