<div class="site-wrapper">
  <div class="site-banner">
    <figure>
      <img src="/assets/images/banner-pngslide.png" alt="" />
      <div class="banner-caption">
        <h1>Second Opinion <br />Makes a <span>Difference</span></h1>
        <p>Why settle for one opinion when you can have the best? Get personalized care from our expert team and
          simplify your medical journey with us.</p>
        <aside>
          <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i
              class="fa-regular fa-arrow-right"></i></a>
        </aside>
      </div>
    </figure>
  </div>
  <!--site banner-->

  <div class="home_section_a">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12">
          <strong>Let's get started</strong>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <aside>
            <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i
                class="fa-regular fa-arrow-right"></i></a>
          </aside>

        </div>
      </div>
    </div>
  </div>
  <!-- home section a -->

  <div class="home_section_b">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h2>Why Second Opinion <span>Needed?</span></h2>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <figure><img src="/assets/images/ensure-accurate-diagnosis.svg" alt="" /></figure>
          <strong>Ensure accurate diagnosis</strong>
          <p>Before beginning any treatment, it's essential to confirm that the diagnosis is correct. Seeking a second
            opinion can provide peace of mind and help to ensure that you receive the right treatment.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <figure><img src="/assets/images/avoid-conflicting-diagnoses.svg" alt="" /></figure>
          <strong>Avoid conflicting diagnoses</strong>
          <p>If you've received conflicting diagnoses from different healthcare providers, seeking a second opinion can
            help you determine which diagnosis is correct and avoid unnecessary treatments or procedures.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <figure><img src="/assets/images/find-peace-of-mind.svg" alt="" /></figure>
          <strong>Find peace of mind</strong>
          <p>Uncertainty about your diagnosis can be stressful and anxiety-provoking. A second opinion can provide
            reassurance and help you feel more confident about your diagnosis and treatment plan.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <figure><img src="/assets/images/icon-d.svg" alt="" /></figure>
          <strong>Resolve persistent symptoms</strong>
          <p>If you continue to experience symptoms even after receiving a diagnosis and treatment, a second opinion can
            help to identify any underlying issues that may have been missed.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <figure><img src="/assets/images/interpret-ambiguous-reports.svg" alt="" /></figure>
          <strong>Interpret ambiguous reports</strong>
          <p>Radiology reports can sometimes be difficult to interpret, leading to confusion and uncertainty. Seeking a
            second opinion can help to clarify any ambiguous findings and ensure an accurate diagnosis.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <figure><img src="/assets/images/receive-a-timely-diagnosis.svg" alt="" /></figure>
          <strong>Receive a timely diagnosis</strong>
          <p>If you need answers fast but are experiencing delays in receiving your radiology report, a second opinion
            can provide timely and expert analysis, helping you get the answers you need quickly.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- home section b -->

  <div class="home_section_c">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <figure><img src="/assets/images/dr-ali-rehman-2.png" alt="" /></figure>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <h2>{{'Dr Ali Rahman' | translate}}</h2>
          <strong>M.Sc., EBR, ESNR, ESSR</strong>
          <p>{{"aboutComponentP1" | translate}}</p>

          <span class="home_secC_sign">ar</span>
        </div>
      </div>
    </div>
  </div>


  <div class="our-team">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h2>my <span>Portfolio</span></h2>
        </div><!--col/12-->

        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <div class="carousel-inner" role="listbox">


            <div class="carousel-item active">
              <div class="row">

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-5">
                  <img src="../../../assets/images/medical_school/jg-u-logo-gutenburg.svg" alt="" class="w-100" />
                </div><!--col/4-->

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-5">
                  <img src="../../../assets/images/medical_school/tulene-university.png" alt="" class="w-100" />
                </div><!--col/4-->

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-5">
                  <img src="../../../assets/images/medical_school/western-cape-logo.png" alt="" class="w-100" />
                </div><!--col/4-->


              </div>
            </div>

            <div class="carousel-item">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-5">
                  <img src="../../../assets/images/medical_school/jg-u-logo.png" alt="" class="w-100" />
                </div><!--col/4-->

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-5">
                  <img src="../../../assets/images/medical_school/jg-u-logo-gutenburg.svg" alt="" class="w-100" />
                </div><!--col/4-->

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-5">
                  <img src="../../../assets/images/medical_school/tulene-university.png" alt="" class="w-100" />
                </div><!--col/4-->

              </div>
            </div>

            <div class="carousel-item">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-5">
                  <img src="../../../assets/images/medical_school/western-cape-logo.png" alt="" class="w-100" />
                </div><!--col/4-->

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-5">
                  <img src="../../../assets/images/medical_school/jg-u-logo.png" alt="" class="w-100" />
                </div><!--col/4-->

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-5">
                  <img src="../../../assets/images/medical_school/jg-u-logo-gutenburg.svg" alt="" class="w-100" />
                </div><!--col/4-->
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div><!--our team-->


  <div class="home_section_e">
    <img cImg align="center" rounded src="assets/images/testimonial-background.jpg" alt="" />
    <div class="container">
      <div class="row">
        <div class="above-testi-slider">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h3>Get Peace of <span>Mind</span></h3>
          </div>

          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
            <owl-carousel-o [options]="customOptions" id="testimonial-slider">
              <ng-container *ngFor="let slide of imgUrls">
                <ng-template class="slide" carouselSlide [id]="slide.id">
                  <div class="item">
                    <p>
                      Ut wisi enim ad minim veniam, quis laore est usus legentis in
                      iis qui facit eorum nostrud exerci tation ulm hedi corper
                      turet suscipit lobortis nisl aliquip erat volutpat autem vel
                      eum iriure dolor in hendrerit in vulputate velit esse molestie
                      consequat, vel illum dolore eu.
                    </p>
                    <ul>
                      <li>
                        <img [src]="slide.url" [alt]="slide.id" [title]="slide.id" />
                      </li>
                      <li>
                        <h5>Mrs. Smith <small>seo</small></h5>
                      </li>
                    </ul>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- home section e -->

  <div class="home_section_f">
    <div class="container">
      <div class="row">
        <div class="position-relative">
          <div class="subscribe-letter">
            <form>
              <input type="email" placeholder="Enter your email here" required>
              <input type="submit" value="Subscribe Our Newsletter">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--site wrapper-->