.register-now-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1111;
  overflow: hidden;
}
.register-now-page .container {
	width: 100%;
	max-width: 100%;
}
body.appointment-page {
  overflow-y: hidden;
}

button.close-book-appointment-page {
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: transparent;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  z-index: 1111;
  color: #ffffff;
}
.login-footer {
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	margin: 50px 0 0;
}
.register-now-page aside {
  display: inline-flex !important;
  margin-inline: 15px;
  width: 45%;
}

.registerNow_step1 {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: table;
  background: rgb(118,147,122);
  background: linear-gradient(180deg, rgba(118,147,122,1) 13%, rgba(80,107,115,1) 100%);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.registerNow_step2 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step3 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step4 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step5 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step6 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step7 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step8 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step9 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step10 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step11 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  top: 0;
  left: 0;
}

.registerNow_step12 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step13 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.registerNow_step14 {
  text-align: center;
  height: 100vh;
  width:calc(100% - 350px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.step1-inner,
.step2-inner,
.step3-inner,
.step4-inner,
.step5-inner,
.step6-inner,
.step7-inner,
.step8-inner,
.step9-inner,
.step10-inner,
.step11-inner,
.step12-inner,
.step13-inner,
.step14-inner {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}

.registerNow_step2 label,
.registerNow_step3 label,
.registerNow_step4 label,
.registerNow_step5 label,
.registerNow_step6 label,
.registerNow_step7 label,
.registerNow_step8 label,
.registerNow_step9 label,
.registerNow_step10 label,
.registerNow_step11 label,
.registerNow_step12 label,
.registerNow_step13 label,
.registerNow_step14 label {
  font-size: 2rem;
  color: #1e4171;
  margin-bottom: 50px;
}

.registerNow_step1 figure img {
  max-width: 500px;
  image-rendering: -webkit-optimize-contrast;
}

.registerNow_step1 h2 {
  padding: 50px 0px;
  color: #1e4171;
  font-weight: 400;
}

.registerNow_step1 strong {
  color: #000;
  display: block;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
.start-appoint-1.page1 {
	display: block;
	color: #fff;
	border: 1px solid #fff;
	width: 275px;
	margin: 0 auto;
	padding: 14px 10px;
	border-radius: 50px;
	text-decoration: navajowhite;
}
/*.registerNow_step8 input[type="submit"],aside a.start-appoint-1 {background-color: #407839;border: 1px solid #407839;padding: 8px 20px;display: block;text-align: center;margin: 0px auto;color: #ffffff;text-transform: uppercase;letter-spacing: 2px;border-radius: 6px;font-weight: 700;outline: none; max-width: 300px;}*/

.registerNow_step1 samp {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 20px;
  display: block;
}

.registerNow_step2 input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #000000;
  font-size: 20px;
  outline: none;
  text-transform: capitalize;
  font-weight: 300;
  background-color: transparent;
  padding: 15px 0px;
  margin-bottom: 20px;
}

.registerNow_step3 input[type="password"] {
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #000000;
  font-size: 20px;
  outline: none;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  background-color: transparent;
  padding: 15px 0px;
  margin-bottom: 20px;
}

.registerNow_step4 input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #000000;
  font-size: 20px;
  outline: none;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  background-color: transparent;
  padding: 15px 0px;
  margin-bottom: 20px;
}

.registerNow_step5 input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #000000;
  font-size: 20px;
  outline: none;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  background-color: transparent;
  padding: 15px 0px;
  margin-bottom: 20px;
}
.registerNow_step6  .ud-col li label {
	font-size: 16px !important;
	color: #666 !important;
}
.registerNow_step6 input[type="text"],
.registerNow_step7 input[type="tel"] {
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #000000;
  font-size: 20px;
  outline: none;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  background-color: transparent;
  padding: 15px 0px;
  margin-bottom: 20px;
}

/*.registerNow_step8 select, .registerNow_step9 select {border-top: none;border-left: none;border-right: none;max-width: 50%;border-bottom: 1px solid rgba(0,0,0,.5);color: #000000;font-size: 18px;outline: none;text-align: left;text-transform: capitalize;font-weight: 300; background-color: transparent; padding: 5px 0px; margin-bottom: 20px;}*/

.registerNow_step10 ul li {
  list-style-type: none;
}

.registerNow_step10 ul li label.btn-success {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 15px;
  min-width: 150px;
}

.registerNow_step11 textarea {
  min-width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000000;
  font-size: 18px;
  outline: none;
  text-align: left;
  text-transform: capitalize;
  font-weight: 300;
  background-color: transparent;
  padding: 5px 8px;
  margin-bottom: 20px;
  resize: none;
  line-height: 24px;
  height: 150px;
}

.registerNow_step12 small {
  font-size: 20px;
  line-height: 30px;
  display: block;
  padding-bottom: 10px;
}

.registerNow_step12 .radio-item {
  position: relative;
  margin-bottom: 15px;
}

.registerNow_step12 .radio-item label {
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: left;
  display: block;
  line-height: 24px;
  color: #407839;
  padding: 10px 10px 0px 10px;
}

.registerNow_step12 .radio-item input[type="radio"]:checked+label {
  color: #ffffff;
  padding: 10px 10px 0px 10px;
  font-size: 16px;
  min-width: 350px;
  text-align: center;
  line-height: 16px;
}

.registerNow_step12 .radio-item input[type="radio"] {
  opacity: 0;
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

.registerNow_step12 .radio-item label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  margin: 0 5px 0 0;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  border: none;
  background: #e8e8e8;
  left: 0px;
  z-index: -1;
}

.registerNow_step12 .radio-item input[type="radio"]:checked+label::before {
  border-radius: 11px;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: #407839;
  z-index: -1;
}

.registerNow_step13 .step13-inner figure img {
  max-width: 75px;
  margin: 8px 0px;
}

.progress-bar-layer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: -340px;
  text-align: left;
  padding: 2px 2px;
  border-radius: 20px;
}

.progress_1 {
  min-width: 8%;
}

.progress_2 {
  min-width: 18%;
}

.progress_3 {
  min-width: 25%;
}

.progress_4 {
  min-width: 40%;
}

.progress_5 {
  min-width: 45%;
}

.progress_6 {
  min-width: 50%;
}

.progress_7 {
  min-width: 60%;
}

.progress_8 {
  min-width: 70%;
}

.progress_9 {
  min-width: 78%;
}

.progress_10 {
  min-width: 85%;
}

.progress_11 {
  min-width: 95%;
}

.progress_12 {
  min-width: 100%;
}

span.progress-bar-increasing {
  background: #9dd53a;
  /* Old browsers */
  background: -moz-linear-gradient(top,
      #9dd53a 0%,
      #a1d54f 50%,
      #407839 50%,
      #7cbc0a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      #9dd53a 0%,
      #a1d54f 50%,
      #407839 50%,
      #7cbc0a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      #9dd53a 0%,
      #a1d54f 50%,
      #407839 50%,
      #7cbc0a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0);
  /* IE6-9 */
  display: inline-block;
  padding: 0px 15px;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}

.checkbox-wrapper {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

.checkbox-wrapper label.check-wrap-label {
  font-size: 16px;
  font-weight: 500;
  color: #3c3c3c;
  margin-left: 10px;
  position: relative;
}

.checkbox-wrapper input[type="checkbox"] {
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  opacity: 0;
  cursor: pointer;
  z-index: 1111;
}

.checkbox-wrapper label.check-wrap-label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #1e4171;
  left: -30px;
  top: 3px;
  border-radius: 4px;
}

.checkbox-wrapper input[type="checkbox"]:checked+label.check-wrap-label::before {
  background-color: #1e4171;
  border: 2px solid #1e4171;
  content: "\f00c";
  font-family: "FontAwesome";
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
}

.manage-1-place-wrapper {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.manage-1-place-wrapper .checkbox-wrapper {
  min-width: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: left;
}

.manage-1-place-wrapper .checkbox-wrapper input[type="checkbox"] {
  max-width: 90%;
  min-width: 90%;
  position: absolute;
  left: 0;
  top: 0px;
  opacity: 0;
  cursor: pointer;
  z-index: 1111;
  height: 40px;
}

.manage-1-place-wrapper .checkbox-wrapper label.check-wrap-label::before {
  position: absolute;
  content: "";
  max-width: 100%;
  height: 40px;
  border: 1px solid #1e4171;
  left: 0px;
  top: -1px;
  border-radius: 4px;
  min-width: 180px;
}

.manage-1-place-wrapper .checkbox-wrapper label.check-wrap-label {
  font-size: 16px;
  font-weight: 500;
  color: #3c3c3c;
  margin-left: 0px;
  position: relative;
  margin-bottom: 0px;
  width: 90%;
  text-align: right;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
}

.manage-1-place-wrapper .checkbox-wrapper input[type="checkbox"]:checked+label.check-wrap-label::before {
  background-color: #b9eddd;
  border: 1px solid #1e4171;
  content: "";
  font-family: "FontAwesome";
  color: unset;
  font-size: initial;
  z-index: -1;
}

label.check-wrap-label.mri-check {
  background-image: url("../../../assets/images/register_now_select_icons/mri_icon.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 3px;
}

label.check-wrap-label.ct-check {
  background-image: url("../../../assets/images/register_now_select_icons/ct_icon.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 3px;
}

label.check-wrap-label.pet-ct-check {
  background-image: url("../../../assets/images/register_now_select_icons/pet_ct.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 3px;
}

label.check-wrap-label.xray-check {
  background-image: url("../../../assets/images/register_now_select_icons/x_ray_icon.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 3px;
}

label.check-wrap-label.ultrasound-check {
  background-image: url("../../../assets/images/register_now_select_icons/ultrasound.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 3px;
}

label.check-wrap-label.mammogram-check {
  background-image: url("../../../assets/images/register_now_select_icons/mammogram_icon.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 3px;
}

/*checkbox wrapper*/

.manage-1-place-wrapper.scroll-here {
  overflow-y: scroll;
  overflow-x: auto;
  min-height: 300px;
  max-height: 300px;
  margin-bottom: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.manage-1-place-wrapper.scroll-here .checkbox-wrapper {
  min-width: 24%;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  text-align: left;
  min-height: 100px;
  max-width: 24%;
  line-height: 15px;
}

.manage-1-place-wrapper.scroll-here .checkbox-wrapper input[type="checkbox"] {
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0px;
  opacity: 0;
  cursor: pointer;
  z-index: 1111;
  height: 100%;
}

.manage-1-place-wrapper.scroll-here .checkbox-wrapper label.check-wrap-label {
  font-size: 10px;
  color: #3c3c3c;
  margin-left: 0px;
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  height: 100px;
  line-height: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
}

.manage-1-place-wrapper.scroll-here .checkbox-wrapper label.check-wrap-label:first-letter {
  text-transform: uppercase;
}

.manage-1-place-wrapper.scroll-here .checkbox-wrapper label.check-wrap-label::before {
  position: absolute;
  content: "";
  max-width: 100px;
  height: 100px;
  border: 1px solid #1e4171;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  min-width: 100%;
}

label.check-wrap-label.leg-check {
  background-image: url("../../../assets/images/register_now_select_icons/legg.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.human-back-check {
  background-image: url("../../../assets/images/register_now_select_icons/human-back.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.stomach-check {
  background-image: url("../../../assets/images/register_now_select_icons/stomack.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.colon-check {
  background-image: url("../../../assets/images/register_now_select_icons/colon.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.small-intestine-check {
  background-image: url("../../../assets/images/register_now_select_icons/small_intestine.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.reproductive-organs-check {
  background-image: url("../../../assets/images/register_now_select_icons/woman_organs.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.esophagus-check {
  background-image: url("../../../assets/images/register_now_select_icons/esophagus.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.spleen-check {
  background-image: url("../../../assets/images/register_now_select_icons/spleen.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.liver-check {
  background-image: url("../../../assets/images/register_now_select_icons/liver.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.bile-duct-check {
  background-image: url("../../../assets/images/register_now_select_icons/bile_duct.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.pancreas-check {
  background-image: url("../../../assets/images/register_now_select_icons/pancreas.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.prostata-check {
  background-image: url("../../../assets/images/register_now_select_icons/prostata.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.woman-organs-check {
  background-image: url("../../../assets/images/register_now_select_icons/woman_organs.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.chest-radiology-check {
  background-image: url("../../../assets/images/register_now_select_icons/chest_radiology.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.lung-check {
  background-image: url("../../../assets/images/register_now_select_icons/lung.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.airways-check {
  background-image: url("../../../assets/images/register_now_select_icons/airways.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.heart-check {
  background-image: url("../../../assets/images/register_now_select_icons/heart.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.musculoskeletal-radiology-check {
  background-image: url("../../../assets/images/register_now_select_icons/musculoskeletal_radiology.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.shoulder-check {
  background-image: url("../../../assets/images/register_now_select_icons/shoulder.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.arm-check {
  background-image: url("../../../assets/images/register_now_select_icons/arm.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.elbow-check {
  background-image: url("../../../assets/images/register_now_select_icons/albow.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.handjoint-check {
  background-image: url("../../../assets/images/register_now_select_icons/handjoint.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.hand-check {
  background-image: url("../../../assets/images/register_now_select_icons/hand.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.hip-check {
  background-image: url("../../../assets/images/register_now_select_icons/hip.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.pelvis-check {
  background-image: url("../../../assets/images/register_now_select_icons/pelvis.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.knee-check {
  background-image: url("../../../assets/images/register_now_select_icons/knee.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.footjoint_ankle-check {
  background-image: url("../../../assets/images/register_now_select_icons/ankle.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.foot-check {
  background-image: url("../../../assets/images/register_now_select_icons/foot.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.bone-spine-check {
  background-image: url("../../../assets/images/register_now_select_icons/bone_spine.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.neuroradiology-check {
  background-image: url("../../../assets/images/register_now_select_icons/neuroradiology.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.brain-check {
  background-image: url("../../../assets/images/register_now_select_icons/brain.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.spineback-check {
  background-image: url("../../../assets/images/register_now_select_icons/spine.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

label.check-wrap-label.head-and-neck-rgans-check {
  background-image: url("../../../assets/images/register_now_select_icons/head_and_neck_organs.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
}

.registerNow_step12 .radio-item label ul[type="square"] {
  font-size: 12px;
  text-align: left;
  padding-left: 20px;
}

.registerNow_step12 .radio-item label ul[type="square"] {
  font-size: 12px;
  text-align: left;
  padding-left: 20px;
}

/*registerNow page*/

span.ng-star-inserted {
  display: block;
  padding-bottom: 8px;
}

.requiredReports {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.requiredReports small {
  margin-inline: 3px;
}

.step13-inner aside {
  justify-content: center;
}

/* Form CSS Start */

/*-- Right sidebar CSS --*/
.sidebar_right {
  position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    min-height: 100%;
    height:100VH;
    width: 350px;
    background: #759472;
    background: -moz-linear-gradient(left,  #759472 0%, #67827b 100%);
    background: -webkit-linear-gradient(left,  #759472 0%,#67827b 100%);
    background: linear-gradient(to right,  #759472 0%,#67827b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#759472', endColorstr='#67827b',GradientType=1 );
    padding:0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  
  #msform {
    text-align: center;
    position: relative;
    margin: 150px 350px 0 0;
    width: calc(100% - 350px);
  }
  
  #msform fieldset {
      background: white;
      border: 0 none;
      border-radius: 0.5rem;
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 20px;
      position: relative;
      overflow-y: scroll;
  }
  
  .form-card {
      text-align: left
  }
  
  #msform fieldset:not(:first-of-type) {
      display: none
  }
  
  #msform input,
  #msform textarea {
      padding: 8px 15px 8px 15px;
      border: 1px solid #ccc;
      border-radius: 0px;
      margin-bottom: 25px;
      margin-top: 2px;
      width: 100%;
      box-sizing: border-box;
      font-family: montserrat;
      color: #2C3E50;
      background-color: #ECEFF1;
      font-size: 15px;
      letter-spacing: 1px
  }
  
  #msform input:focus,
  #msform textarea:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #673AB7;
      outline-width: 0
  }
  
  #msform .action-button {
      width: 100px;
      background: #407839;
      border: 1px solid #407839;
      font-weight: bold;
      color: white;
      border: 0 none;
      border-radius: 50px;
      cursor: pointer;
      padding: 10px 5px;
      margin: 50px 0px 10px 5px;
  }
  
  #msform .action-button:hover,
  #msform .action-button:focus {
      background-color: #407839;
  }
  
  #msform .action-button-previous {
      width: 100px;
      background: #407839;
      border: 1px solid #407839;
      font-weight: bold;
      color: white;
      border: 0 none;
      border-radius: 50px;
      cursor: pointer;
      padding: 10px 5px;
      margin: 50px 5px 10px 0px;
  }
  
  #msform .action-button-previous:hover,
  #msform .action-button-previous:focus {
      background-color: #000000;
  }
  
  .card {
      z-index: 0;
      border: none;
      position: relative
  }
  
  .fs-title {
      font-size: 25px;
      color: #673AB7;
      margin-bottom: 15px;
      font-weight: normal;
      text-align: left
  }
  
  .purple-text {
      color: #673AB7;
      font-weight: normal
  }
  
  .steps {
      font-size: 25px;
      color: gray;
      margin-bottom: 10px;
      font-weight: normal;
      text-align: right
  }
  
  .fieldlabels {
      color: gray;
      text-align: left
  }
  
  #progressbar {
      margin-bottom: 30px;
      overflow: hidden;
      color: lightgrey
  }
  
  #progressbar .active::before {
      color: #6F8C76;
  }
  
  #progressbar li {
      list-style-type: none;
      font-size: 15px;
      z-index: 2;    
      position: relative;
      font-weight: 400;
      display: flex;
  
  }
  #progressbar li span {
    margin: 0px 0 0 35px;
    color: #fff;
    text-transform: uppercase;
  }
  #progressbar li span strong {
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-transform: none;
    line-height: 15px;
  }
  
  
  #progressbar #confirm:before {
      font-family: FontAwesome;
      content: "\f111";
      font-size: 10px;
   }
  #progressbar #confirm.active:before {
      font-family: FontAwesome;
      content: "\f00c";
      font-size: 20px;
   }
  
  
  #progressbar li:before {
      width: 50px;
      height: 50px;
      line-height: 45px;
      display: block;
      font-size: 20px;
      color: #ffffff;
      background: #6F8C76;
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 0 0 30px 0;
      padding: 2px;
      text-align: center;
  }
  
  #progressbar li:after {
      content: '';
      width: 2px;
      height: 100%;
      background: #99b0a7;
      position: absolute;
      left: 24px;
      top: 0px;
      z-index: -1
  }
  
  #progressbar li.active:before,
  #progressbar li.active:after {
      background: #fff;
  }
  
  .fit-image {
      width: 100%;
      object-fit: cover
  }
  
  .footer-text {
    text-align: center;
    font-size: 10px;
    margin: 50px 0 0;
  }
  /*-- End Right sidebar CSS --*/
  
  /*-- Form CSS start --*/
  .center_col {
    margin: 0 auto;
    max-width: 400px;
  }
  #msform .signup_col input {
    background: #f9fafb;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    height: 55px;
    margin-top: 12px;
    margin-bottom: 5px;
    color: #000000;
    padding: 0 0 0 55px;
  }
  #msform h1 {
    color: #000;
    text-transform: capitalize;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-top:50px;
  }
  .login_icon {
    position: absolute;
    left: 40px;
    top: 25px;
    font-size: 22px;
    color: #b7b7b7;
  }
  .manage-1-place-wrapper {
    display: inline-flex !important;
  }
    .center_col.finsih-col {
    text-align: center;
  }
  .finsih-col .text-center .fa-check {
    font-size: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F7FC;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  .ud-col ul {
    padding: 0;
  }
  .ud-col ul li {
    list-style: none;
    position: relative;
  }
  .ud-col ul li .btn-success {
    background: #f9fafb;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    height: 55px;
    margin-top: 12px;
    margin-bottom: 5px;
    color: #000000;
    padding: 0 0 0 30px;
    width: 100%;
    text-align: left;
    line-height: 55px;
  }
  .ud-col ul li .login_icon {
    right: 30px;
    left: inherit;
  }
  .ud-col textarea {
    background: #f9fafb !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 25px !important;
    height: 100px;
    margin-top: 12px !important;
    margin-bottom: 5px !important;
    color: #000000 !important;
    padding: 0 0 0 30px !important;
    width: 100% !important;
    text-align: left;
    line-height: 55px;
  }
  .package_col {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    background: none;
    height: auto;
  }
  .package_col .radio-item {
    position: relative;
    margin-bottom: 15px;
  }
  .package_col .radio-item input[type="radio"]{
    opacity: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .package_col .radio-item label {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
    display: block;
    line-height: 24px;
    color: #407839;
    padding: 10px;
    border: 1px solid #ccc;
  border-radius: 10px;
  }
  .package_col .radio-item label::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 5px;
    margin: 0 5px 0 0;
    width: 100%;
    height: 100%;
    border-radius: 11px;
    border: none;
    background: #e8e8e8;
    left: 0px;
    z-index: -1;
  }
  .package_col .radio-item label ul[type="square"] {
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
  }
  .package_col .radio-item input[type="radio"]:checked + label::before {
    border-radius: 11px;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background: #407839;
    z-index: 0;
  }
  .registerNow_step12 .radio-item input[type="radio"]:checked + label p, .registerNow_step12 .radio-item input[type="radio"]:checked + label ul {
    z-index: 9;
    position: relative;
  }
  
  #msform .checkbox-wrapper input {
    height: 90px;
  }
  .manage-1-place-wrapper .checkbox-wrapper label.check-wrap-label {
    text-align: center;
    line-height: 90px;
    background: #F4F7FC;
    padding: 0;
    border-radius: 15px;
    height: 90px;
  }
  .manage-1-place-wrapper .checkbox-wrapper label.check-wrap-label::before {
    height: 90px;
    min-width: 108px;
    border: 0;
  }
  .manage-1-place-wrapper .checkbox-wrapper {
    width: 30%;
    min-width: inherit;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
  }
  .manage-1-place-wrapper .checkbox-wrapper label img {
    width: 85px;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .manage-1-place-wrapper .checkbox-wrapper input[type="checkbox"]:checked + label.check-wrap-label::before {
    z-index: 0 !important;
  }
  .manage-1-place-wrapper.scroll-here .checkbox-wrapper {text-align: center;margin-bottom: 20px;}
  .manage-1-place-wrapper.scroll-here .checkbox-wrapper label.check-wrap-label::before {border: 0;}
  .manage-1-place-wrapper.scroll-here .checkbox-wrapper label.check-wrap-label {margin-bottom: 10px;}
  .search_barcol {
    margin: 0 auto 10px;
    max-width: 350px;
  }
  .text-danger {
    text-align: center;
  }
  /* .scanType_selected_item{
    white-space: nowrap;
  }
  .scanType_selected_item ng-container {
    display: inline-block;
    margin-right: 10px;
  } */
  /*-- End Form CSS --*/
  
  /*-- responsive CSS --*/
  @media only screen and (max-width: 1150px){
  .sidebar_right {
        width: 250px;
        padding: 0 15px;
        z-index: 9;
  }
  .registerNow_step2,
  .registerNow_step3,
  .registerNow_step4,
  .registerNow_step5,
  .registerNow_step6,
  .registerNow_step7,
  .registerNow_step8,
  .registerNow_step9,
  .registerNow_step10,
  .registerNow_step11,
  .registerNow_step12,
  .registerNow_step13,
  .registerNow_step14 {
      width: calc(100% - 250px);
  } 
  }
@media only screen and (max-width: 991px){
.registerNow_step2,
.registerNow_step3,
.registerNow_step4,
.registerNow_step5,
.registerNow_step6,
.registerNow_step7,
.registerNow_step8,
.registerNow_step9,
.registerNow_step10,
.registerNow_step11,
.registerNow_step12,
.registerNow_step13,
.registerNow_step14 {
    width: 75%;
    }
  .sidebar_right {
    width: 250px;
    padding: 0 15px;
    z-index: 9;
  }
  .manage-1-place-wrapper.scroll-here {
    width: 490px;
  }
  #msform .checkbox-wrapper {
    font-size: 12px;
  }
  }

  @media only screen and (max-width: 767px){
  .registerNow_step1 figure img {
    max-width: 300px;
  }
  .registerNow_step2,
  .registerNow_step3,
  .registerNow_step4,
  .registerNow_step5,
  .registerNow_step6,
  .registerNow_step7,
  .registerNow_step8,
  .registerNow_step9,
  .registerNow_step10,
  .registerNow_step11,
  .registerNow_step12,
  .registerNow_step13,
  .registerNow_step14 {
    width: calc(100% - 145px);
  }
  .sidebar_right {
    padding: 50px 5px 0;
    width: 150px;
   }
   #progressbar {
    padding:0;
    font-size: 12px;
   }
   #progressbar li::before {
    width: 25px;
    height: 25px;
    line-height: 20px;
    font-size: 12px;
  }
  #progressbar li::after {
    left: 12px;
  }
  #progressbar #confirm::before {
    font-size: 6px;
  }
  #progressbar li span {
    margin: 0px 0 0 15px;
  }
  #progressbar li span strong {
    font-size: 10px;
    line-height: 12px;
  }
  #progressbar #confirm.active::before {
    font-size: 14px;
  }

  /*-- name section --*/
  .center_col {
    max-width: 250px;
  }
  #msform input, #msform textarea {
    padding: 8px 10px;
    border: 1px solid #ccc;
    font-size: 12px;
  }
  #msform .signup_col input {
    height: 45px;
    padding: 0 0 0 40px;
  }
  .login_icon {
    left: 30px;
    font-size: 18px;
  }



/*-- type of scan --*/
  .manage-1-place-wrapper {
    width: 250px;
  }
  #msform .checkbox-wrapper input {
    height: 55px;
  }
  .manage-1-place-wrapper .checkbox-wrapper label.check-wrap-label {
    line-height: 55px;
    height: 55px;
  }
  .manage-1-place-wrapper .checkbox-wrapper label.check-wrap-label::before {
    height: 57px;
    min-width: 67px;
  }
  #msform .checkbox-wrapper {
    font-size: 12px;
  }

  #msform {
    margin: 50px 0;
    width: 100%;
  }
  .manage-1-place-wrapper.scroll-here {
    width: 90%;
    margin: 0 auto;
  }

  /*-- part of body --*/
  .manage-1-place-wrapper.scroll-here .checkbox-wrapper label.check-wrap-label {
    font-size: 10px;
    height: 70px;
  }
  .manage-1-place-wrapper.scroll-here .checkbox-wrapper label.check-wrap-label::before {
    height: 69px;
  }


/*-- upload document --*/
.ud-col textarea {
	height: 80px;
	padding: 0 !important;
	width: 100% !important;
	text-align: left;
	line-height: 55px;
	max-width: 200px;
}
.ud-col ul li .btn-success {
	height: 40px;
	margin-top: 12px;
	color: #000000;
	padding: 0 0 0 30px;
	width: 100%;
	line-height: 40px;
	max-width: 200px;
	font-size: 13px !important;
}

/*-- section css --*/
  .package_col {
    max-width: 250px;
    display: block;
    width: 100%;
  }
  .registerNow_step12 .radio-item input[type="radio"]:checked + label {
    min-width: 100% !important;
  }
  .manage-1-place-wrapper.scroll-here .checkbox-wrapper {
    min-width: 31%;
    max-width: 31%;
  }

  button.close-book-appointment-page {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
  }
  #msform h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
  #msform .action-button-previous {
    width: 90px;
    padding: 10px 5px;
    margin: 20px 5px 10px 0px;
    line-height: 14px;
  }
  #msform .action-button {
    width: 90px;
    padding: 10px 5px;
    margin:20px 0px 10px 5px;
    line-height: 14px;
  }
  .step8-inner h2 {
    font-size: 20px;
  }
  .step8-inner h5 {
    font-size: 15px;
  }
  }
  @media only screen and (max-width: 470px){
    .sidebar_right {
      width: 100px;
    }
    .registerNow_step2,
    .registerNow_step3,
    .registerNow_step4,
    .registerNow_step5,
    .registerNow_step6,
    .registerNow_step7,
    .registerNow_step8,
    .registerNow_step9,
    .registerNow_step10,
    .registerNow_step11,
    .registerNow_step12,
    .registerNow_step13,
    .registerNow_step14 {
      width: calc(100% - 97px);
    }
    .register-now-page aside {
      width: 100%;
    }
    #progressbar li {
      font-size: 12px;
    }
    #progressbar li span {
      margin: 0px 0 0 8px;
    }
    #progressbar li span strong {
      font-size: 8px;
      line-height: 10px;
    }
    #progressbar #confirm.active::before {
      font-size: 12px;
    }
    #progressbar li::before {
      width: 20px;
      height: 20px;
      line-height: 14px;
      font-size: 12px;
    }
    #progressbar li::after {
      left: 9px;
    }
    #msform h1 {
      font-size: 16px;
      line-height: 18px;
      margin: 0;
    }
    #msform .checkbox-wrapper {
      font-size: 12px;
      word-wrap: break-word;
      white-space: normal;
    }
    .package_col .radio-item label ul[type="square"] {
      font-size: 12px;
      line-height: 14px;
    }
    .package_col .radio-item input[type="radio"]:checked + label::before {
      height: 100%;
    }
    .manage-1-place-wrapper.scroll-here .checkbox-wrapper label.check-wrap-label {
      height: 60px;
    }
    .manage-1-place-wrapper.scroll-here .checkbox-wrapper label.check-wrap-label::before {
      height: 59px;
    }
    .text-danger {
      font-size: 12px;
    }
  }