<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-Diseases-of-the-Hypophysis-1258510603.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Diseases of the Hypophysis" | translate}}</h1>
				<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <h3>{{"Diseases of the Hypophysis" | translate}}</h3>
                    <img src="../assets/images/stock-photo-Diseases-of-the-Hypophysis-1258510603.jpg" alt="" class="inner-page-right-picture" />
                    
                    <ul>
                        <li>{{"Pituitary adenomas" | translate}}</li>
                        <li>{{"Craniopharyngioma" | translate}}</li>
                        <li>{{"Meningioma" | translate}}</li>
                        <li>{{"MRI — Magnetic resonance imaging (MRI) with gadolinium is the single best imaging procedure for most of the masses" | translate}}</li>
                    </ul>
                </div>
			</div>
		</div>
	</div><!--inner pages-->
	<app-bottom-of-pages></app-bottom-of-pages>

</div><!--site wrapper-->