

<head>
	<title>{{ pageTitle }}</title>
	<meta name="description" content=`{{description}}`>
	<meta name="keywords" content=`{{keyword}}`>
  </head>
  

<!--<div class="site_wrapper">
	<app-top-banner [pageTitle]="PrimaryReadsPageTitle"></app-top-banner>

	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Primary Reads</h3>

					<p>Welcome to our Radiology Primary Reads homepage, where we offer comprehensive and accurate
						radiology services to support your diagnosis. If you want to upload your files for primary
						report you will get a report with 24h instead of waiting for days or weeks.</p>

					<img src="/assets/images/stock-photo-1430330942.jpg" class="inner-page-right-picture" alt="" />

					<p>Radiology is an essential part of modern healthcare, and our team of highly trained and
						experienced radiologists is dedicated to providing timely and accurate interpretations of
						medical images, such as X-rays, CT scans, MRI scans, and ultrasounds. Our primary read service
						is designed to assist in making informed decisions about patient care by providing timely,
						expert interpretations of medical images.</p>



					<p>At our Radiology Primary Reads service, we use our decade long experience to provide the most
						accurate and reliable diagnoses possible. We understand the importance of timely and accurate
						results, and we work hard to ensure that our reports are delivered quickly and efficiently,
						without sacrificing quality or accuracy.</p>

					<p>We are committed to providing exceptional service to our clients, and we strive to exceed
						expectations in all aspects of our work. Whether you are a healthcare provider seeking support
						for a complex diagnosis or a patient in need of expert quick radiology services, we are here to
						help. Thank you for considering our service Radiology Primary Reads for your imaging needs.</p>
				</div>
			</div>
		</div>
	</div>


	<div class="section-f">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
						<ol class="d-flex">
							<li>
								<strong>{{"Get a second opinion" | translate}}</strong>
								<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum
									nostrud exerci tation </p>
							</li>

							<li>
								<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i
											class="fa-regular fa-arrow-right"></i></a></aside>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="about-how-do-steps">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure><img src="/assets/images/about-step01.jpg" alt="" /></figure>
					<h5>expert care</h5>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure><img src="/assets/images/about-step02.jpg" alt="" /></figure>
					<h5>accurate diagnosis</h5>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure><img src="/assets/images/about-step03.jpg" alt="" /></figure>
					<h5>prompt testing</h5>
				</div>

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<ul class="d-flex list-inline justify-content-center mt-5">
						<li>
							<aside><a href="#">self referral <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
						<li>
							<aside><a href="#">professional <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class="news-and-events">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Recent News and Events</h3>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture1.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture2.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture3.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<aside class="text-center mt-5"><a href="#" class="get_more_events">view more <i
								class="fa-regular fa-arrow-right"></i></a></aside>
				</div>
			</div>
		</div>
	</div>

	<div class="home_section_f">
		<div class="container">
		<div class="row">
			<div class="col-md-11 mx-auto">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="{{'enterEmail' | translate}}" required>
							<input type="submit" value="{{'subscribe' | translate}}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

</div>-->

<div class="site_wrapper">
	<app-top-banner [pageTitle]="PrimaryReadsPageTitle"></app-top-banner>

	<div class="inner-pages p-t-100 primary-section">
		<div class="container">
			<div class="row m-0">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2 class="heading_strip">{{"Primary Reads" | translate}}</h2>
				</div>
				<div class="col-md-12">
					<div class="primary-section-wrapper">
						<h5>{{"Primary Radiology Reading Service" | translate}}</h5>
						<p>{{"Primary Radiology Reading Service1" | translate}}</p>
						<p>{{"Primary Radiology Reading Service2" | translate}}</p>
						<p>{{"Primary Radiology Reading Service3" | translate}}</p>
						<p>{{"Primary Radiology Reading Service4" | translate}}</p>
						<p>{{"Primary Radiology Reading Service5" | translate}}</p>
					</div>
				</div>

				<div class="col-md-12 mt-4">
					<div class="primary-section-wrapper">
					<h5>{{"Images Cloud Storage SWISSCOM" | translate}}</h5>
						<div class="d-md-flex">
							<div class="flag_col"><img class="w-100" src="/assets/images/switzerland-flag.jpg" alt="" /></div>
							<p><strong>{{"Images Cloud Storage SWISSCOM1" | translate}}</strong><br/>{{"Images Cloud Storage SWISSCOM2" | translate}}</p>
						</div>
							<p><strong>{{"Images Cloud Storage SWISSCOM3" | translate}}</strong></p>
							<ul>
								<li>{{"Images Cloud Storage SWISSCOM4" | translate}}</li>
								<li>{{"Images Cloud Storage SWISSCOM5" | translate}}</li>
								<li>{{"Images Cloud Storage SWISSCOM6" | translate}}</li>
							</ul>
					</div>
				</div>
				<div class="col-md-12 mt-4">
					<div class="primary-section-wrapper">
					<h5>{{"Image Transfers from Referring Doctors" | translate}} </h5>
					<strong>{{"Image Transfers from Referring Doctors1" | translate}}</strong>
					<ul>
						<li>{{"Image Transfers from Referring Doctors2" | translate}}</li>
						<li>{{"Image Transfers from Referring Doctors3" | translate}}</li>
						<li>{{"Image Transfers from Referring Doctors4" | translate}}</li>
						<li>{{"Image Transfers from Referring Doctors5" | translate}}</li>
						<li>{{"Image Transfers from Referring Doctors6" | translate}}</li>
						<li>{{"Image Transfers from Referring Doctors7" | translate}}</li>
					</ul>
					</div>
				</div>
				
				<div class="col-md-12 mt-4">
					<div class="primary-section-wrapper">
						<h5>{{"Legal Second Opinion - Medical-Legal Expertise" | translate}} </h5>
						<p>{{"Legal Second Opinion - Medical-Legal Expertise1" | translate}} </p>
						<p>{{"Legal Second Opinion - Medical-Legal Expertise2" | translate}} </p>
						<ul>
							<li>{{"Legal Second Opinion - Medical-Legal Expertise3" | translate}} </li>
							<li>{{"Legal Second Opinion - Medical-Legal Expertise4" | translate}} </li>
							<li>{{"Legal Second Opinion - Medical-Legal Expertise5" | translate}} </li>
						</ul><br/>
						<p> {{"Legal Second Opinion - Medical-Legal Expertise6" | translate}} </p>
					</div>
				</div>
				<div class="clear"></div>
				<div class="col-md-12 mt-4">
					<div class="primary-section-wrapper">
						<h5>{{"Legal Second Opinion - Medical-Legal Expertise7" | translate}} </h5>
						<p>{{"Legal Second Opinion - Medical-Legal Expertise8" | translate}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="col-md-11 mx-auto">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="{{'enterEmail' | translate}}" required>
							<input type="submit" value="{{'subscribe' | translate}}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>