@media (min-width: 1920px){
    .site-header .container {max-width: 1700px;}
    
    .right-picture-g-section figure {width: 700px;}	
    .right-picture-g-section figure img {height: 550px;object-fit: cover;}
        
    .site-feature-banner figure img {object-position: 0px -150px;}
    .site-feature-banner::before {border-right-width: 100vw;}
    .experience-training::before {width: 950px;}
    .site-feature-banner::before {border-right-width: 100vw;}
    .qualiMember-section::after {border-right-width: 100vw;}
    .news-and-events::after {border-right-width: 100vw;}
    .news-and-events::before {border-left-width: 100vw;}
    .qualiMember-section::before {border-left-width: 100vw;}	
    .experience-training::before {width: 1100px;}
    }/*1920*/
    
    @media (min-width: 1600px) and (max-width: 1680px){
    .site-header .container {max-width: 1500px;}
    .site-feature-banner figure img {object-position: 0px -100px;}
    .experience-training::before {width: 950px;}
    .site-feature-banner::before {border-right-width: 100vw;}
    .qualiMember-section::after {border-right-width: 100vw;}
    .news-and-events::after {border-right-width: 100vw;}
    .news-and-events::before {border-left-width: 100vw;}
    .qualiMember-section::before {border-left-width: 100vw;}
    
    .feature-banner-caption {left: 100px;}
    }/*1600*/
    
    @media (min-width: 1400px) and (max-width: 1599px){
    .site-feature-banner::before {border-right-width: 100vw;}
    .experience-training::before {width: 950px;}
    .site-feature-banner::before {border-right-width: 100vw;}
    .qualiMember-section::after {border-right-width: 100vw;}
    .news-and-events::after {border-right-width: 100vw;}
    .news-and-events::before {border-left-width: 100vw;}
    .qualiMember-section::before {border-left-width: 100vw;}
        
    .site-feature-banner figure img {object-position: 0px -30px;}
    .feature-banner-caption {left: 165px;}
    }/*1400*/
    
    @media (max-width: 1023px){
    .navbar-dark .navbar-toggler {color: rgba(0,0,0,1);border-color: transparent;}
    .navbar-dark .navbar-toggler-icon {background-image: none;position: relative;}
    span.navbar-toggler-icon::before {position: absolute;content: '\f0c9';font-family: 'Font Awesome 5 Pro';color: #1c1c1c;left: 0;top: 0;
    width: 100%;}
    
    .site-banner {padding: 50px 0px 100px;}
    .site-banner figure img {width: 100%; height: 600px; object-fit: cover;}
    .site-banner figure {padding: 0px 0px 0px 40px; height: 500px;}
    .site-banner::before {border-top: 100px solid transparent;border-right-width: 100vw;}
    .banner-beneath-form h4 {font-size: 16px;padding-top: 18px;}
    .banner-beneath-form form input[type="submit"] {font-size: 10px;height: 38px;}
        
    .section-b {background-position-y: 0px;}
    .section-b img {width: 100%;}
    .section-b p {line-height: 30px;}
    .com-height {height: 300px;}
    .section-d dd {padding: 0px 0rem;}
        
    .section-d figure {width: 200px;height: 200px;}
    .section-d figure img {height: 200px;}
    .section-d h3 {font-size: 20px;}
    
    /*sec e*/
    .tab-name-listing ul.nav.nav-pills li a {font-size: 16px;}
    .tab-name-listing {max-width: 250px;min-width: 250px;}
    .tab-name-listing ul.nav.nav-pills li:first-child a.active::before {width: 80px;left: -90px;}
    .tab-name-listing ul.nav.nav-pills li:first-child a.active::after {left: -110px;}
        
    .tab-name-listing ul.nav.nav-pills li:nth-child(2) a.active::before {width: 80px;left: -90px;}
    .tab-name-listing ul.nav.nav-pills li:nth-child(2) a.active::after {left: -110px;}
        
    .tab-name-listing ul.nav.nav-pills li:nth-child(3) a.active::before {width: 80px;left: -90px;}
    .tab-name-listing ul.nav.nav-pills li:nth-child(3) a.active::after {left: -110px;}
        
    .tab-name-listing ul.nav.nav-pills li:last-child a.active::before {width: 80px;left: -90px;}
    .tab-name-listing ul.nav.nav-pills li:last-child a.active::after {left: -110px;}
        
    .tab-direction-movement .tab-content {max-width: 400px;min-width: 400px;}
    .tab-direction-movement .tab-content .our-represantative-logos dd {max-width: 250px;min-width: 250px;height: 110px;margin: 5px 0px;}
    /*sec e*/
        
    .section-f .position-relative ol li p, .section-j .position-relative ol li p {padding-right: 2rem;}
    .section-g::after {width: 100%;height: 100%;}
    .right-picture-g-section {position: relative;right: 0px;display: inline-block;width: 100%;margin-top: 50px;margin-left: 15px;}
        
    .section-h {padding: 150px 0 0px;}
    .section-i::before {border-left-width: 100vw;}
    .section-i::after {border-right-width: 100vw;}
        
    .section-i {padding: 150px 0 150px;background-size: cover;margin: 100px 0px 0px 0px;}
    #testimonial-slider .item {background-color: rgba(255,255,255,.9);}
    .site-footer strong {margin-top: 50px;}
    .site-footer {padding: 150px 0px 0px;}
        
    /*about inner pages*/	
    .site-feature-banner::before {border-right-width: 100vw;}
    .site-feature-banner figure img {object-position: -275px 0px;}
    .feature-banner-caption {left: 50px;}
    .specialist-areas {background-image: unset;}
    .experience-training {padding: 0px 0px 100px;}
    .experience-training::before {width: 100%;height: 100%;}
    .experience-training h3 {padding-top: 50px;}
    .experience-training .bg-white.p-5 {margin-top: 100px;}
    .position-relative.qualiMember-item {min-height: unset;margin-bottom: 50px;}
    .qualiMember-section ol li:last-child {padding-left: 50px;}
    .qualiMember-section::after {border-right-width: 100vw;}
    .qualiMember-section::before {border-left-width: 100vw;}
    .experience-training ul li {line-height: 28px;}
    .about-how-do-steps .row {background-position: center center;}
    .news-and-events figure {max-width: 380px;margin: 0px auto 25px;}
    .news-and-events strong {max-width: 380px;margin: 0px auto 15px;text-align: center;}
    .news-and-events p {max-width: 380px;text-align: center;margin: 0px auto;}
    .news-and-events aside {margin: 0px auto 30px;text-align: center;}
    .site-footer figure {padding: 0px;display: inline-block;image-rendering: pixelated; max-width: 50%;}
    .site-footer figure img {padding: 15px;}
        
    .registration-page, .login-page {padding-top: 175px;}
    .register-form, .login-form {margin-top: 0px;}
    .registration-page h1,.login-page h1 {text-align: center;}
    .registration-page figure,.login-page figure {text-align: center;}
    
    /*22 Mar*/
    .contact-form-section {margin-top: 80px;}
    .blog-section .date {max-width: 380px;margin: 0px auto 10px;text-align: center;}
        
    .blog-detail-section figure {max-width: 100%;}
    .blog-detail-section strong, 
    .blog-detail-section .date,
    .blog-detail-section p {max-width: 100%;text-align: left;}
    
    .blog-sidebar-section {margin-top: 100px;}
        
    .sidebar-tiny-blogs figure {max-width: 100%;}
    .blog-sidebar-section figure img {height: 250px;}
    .sidebar-tiny-blogs p,.blog-sidebar-section strong {max-width: 100%;text-align: left;}
    .sidebar-tiny-blogs aside {text-align: left;}
        
    /*23 Mar*/
    .faq-page * {font-size: 14px;}
    .faq-page h3 {font-size: 22px;}
    /*faq page*/
        
    .intro-dr-rehman figure {margin-bottom: 50px;}
    /*intro dr rehman*/
        
    span.query-number {width: 40px;height: 40px;line-height: 40px;margin-right: 12px;}
    .step3 ul li {font-size: 1.2rem;min-width: unset;}
    .step4 select {max-width: 75%;}
    .step4 p.h4.mb-5 {font-size: 16px;}
    .step2 label, .step3 label, .step4 label, .step5 label, .step6 label, .step7 label, .step8 label,.step2 input[type="text"],.step5 ol li input[type="text"],.step6 input[type="time"], .step7 input[type="email"], .step8 input[type="tel"] {font-size: 1.2rem;}
    .book-appointment-page aside {width: 85%;}
    /*book appointment*/

    .site-feature-banner.other-slide {height: 700px;}
    .site-feature-banner.other-slide figure {height: 700px;}
    .site-feature-banner.other-slide::after {background: linear-gradient(180deg, #d7dfea 50px, rgba(215,223,234,.65));    }
    .site-feature-banner.other-slide .feature-banner-caption h1 {line-height: 40px; font-size: 30px;}
    .inner-pages h3 {line-height: 40px;}
    .inner-pages ul {padding-left: 0px;justify-content: space-between;}
    .inner-pages ul li {width: 45%;}
    img.inner-page-left-picture {max-width: 100%;float: unset;margin-right: 0px;}
    img.inner-page-right-picture {max-width: 100%;float: unset;margin-left: 0px;}
    /* for inner pages */

    .three-report-graph .rounded ol li:nth-child(2) {font-size: 14px; text-transform: capitalize;}
    .three-report-graph .rounded ol li img.img-fluid {height: 120px;}
    span.sidebar-item {padding-left: 0px;font-size: 12px;}
    .dashboard-sidebar ul li a span i.fa-regular {margin-right: 0px;}
    .dashboard-layout-section.sidebar-active .dashboard-sidebar {width: 10%;}
    a.open-sidebar:hover, a.open-sidebar:focus {color: #ffffff;}
    /* for dashboar pages */

    .primary-navbar .primary-color {background-color: #ffffff;}
    }/*1023*/





    
    @media (min-width: 1024px) and (max-width: 1199px){
    #siteNav ul li a {font-size: 14px;}
    .site-banner::before {border-top: 80px solid transparent;border-right-width: 100vw;}
    .site-banner figure img {width: 100%;}
    .section-d dd {padding: 0px 10rem;}
    .section-b img {width: 100%;}
    .section-b p {line-height: 30px;}
    .com-height {height: 440px;}	
    .section-c ul li {width: 50%;}
    
    /*sec e*/
    .tab-name-listing ul.nav.nav-pills li a {font-size: 18px;}
    .tab-name-listing {max-width: 280px;min-width: 280px;}
    .tab-name-listing ul.nav.nav-pills li:first-child a.active::before {width: 80px;left: -90px;}
    .tab-name-listing ul.nav.nav-pills li:first-child a.active::after {left: -110px;}
        
    .tab-name-listing ul.nav.nav-pills li:nth-child(2) a.active::before {width: 80px;left: -90px;}
    .tab-name-listing ul.nav.nav-pills li:nth-child(2) a.active::after {left: -110px;}
        
    .tab-name-listing ul.nav.nav-pills li:nth-child(3) a.active::before {width: 80px;left: -90px;}
    .tab-name-listing ul.nav.nav-pills li:nth-child(3) a.active::after {left: -110px;}
        
    .tab-name-listing ul.nav.nav-pills li:last-child a.active::before {width: 80px;left: -90px;}
    .tab-name-listing ul.nav.nav-pills li:last-child a.active::after {left: -110px;}
        
    .tab-direction-movement .tab-content {max-width: 500px;min-width: 500px;}
    .tab-direction-movement .tab-content .our-represantative-logos dd {max-width: 300px;min-width: 300px;height: 130px;margin: 8px 0px;}
    /*sec e*/
        
    .section-g::after {width: 80%;height: 100%;}
    .right-picture-g-section figure {width: 400px;height: 600px;}
    .right-picture-g-section figure img {height: 625px;object-fit: cover;}
    .section-h {padding: 150px 0 100px;}
    .section-i {background-size: cover;}
    .site-footer {padding: 150px 0px 10px;}
        
    /*about inner pages*/
    .navbar-dark .navbar-brand {min-width: 200px;max-width: 200px;}
    .feature-banner-caption {bottom: 35%;left: 120px;}
    .site-feature-banner::before {border-right-width: 100vw;}
    .position-relative.qualiMember-item {min-height: 320px;}
    .experience-training::before {width: 700px;height: 700px; background-position: bottom left;}
    .specialist-areas {padding: 100px 0px 80px;}
    
    .registration-page h1,.login-page h1 {font-size: 34px;}
        
    /*22 Mar*/
    .contact-form-section {margin-top: 0px;}
        
    span.query-number {width: 40px;height: 40px;line-height: 40px;margin-right: 12px;}
    .step3 ul li {font-size: 1.2rem;min-width: unset;}
    .step4 select {max-width: 75%;}
    .step4 p.h4.mb-5 {font-size: 16px;}
    .step2 label, .step3 label, .step4 label, .step5 label, .step6 label, .step7 label, .step8 label,.step2 input[type="text"],.step5 ol li input[type="text"],.step6 input[type="time"], .step7 input[type="email"], .step8 input[type="tel"] {font-size: 1.2rem;}
    .book-appointment-page aside {width: 85%;}

    .site-feature-banner.other-slide .feature-banner-caption {width: 92%;}
    .site-feature-banner.other-slide .feature-banner-caption {bottom: 20%; left: 40px;}
        /* inner pages */

    .testimonial-section ol li {width: 48%;}
    .dashboard-layout-section.sidebar-active .dashboard-sidebar {width: 8%;}
    /* for dashboard */

    .section-f .position-relative ol li p, .section-j .position-relative ol li p {padding-right: 4rem;}
    .register-form form p, .login-form form p.form-info {line-height: 20px;margin-block: 15px;}
    }/*1199*/
    







    @media (max-width: 767px){
    .dropdown {display: inline-grid;}
    .navbar-dark .navbar-brand {min-width: 220px;max-width: 220px;}
    #siteNav .dropdown-menu {overflow-y: scroll;max-height: 200px;}
    #siteNav .dropdown-menu a {white-space: pre-wrap; border-bottom: 1px solid rgba(255,255,255,.25); line-height: 30px;}
    #siteNav .dropdown-menu a:last-child {border-bottom: none;}
    .site-banner figure {padding: 0px 0px 0px 0px;}
    .banner-caption {width: 100%;padding: 0px 15px;}
    .site-banner figure img {object-position: -300px 0px;}
    .dropdown-toggle::after {float: right;margin-top: 10px;}
    li.nav-item.dropdown {float: right;  width: 100%; margin-right: -5px;}
    #siteNav .ddl-item li.nav-item.dropdown.show .dropdown-menu {overflow-y: scroll;max-height: 190px;width: 100%;max-width: 100vw;min-width: 85vw;margin-left: -135px;left: 0%;position: relative; margin-top: 15px;}
    #siteNav .dropdown-menu {margin-left: 0px;}
    .banner-beneath-form {right: -12px;}
        
    .section-b {padding: 100px 0px 200px;}
    .section-b img {height: auto;margin-bottom: 100px;}

    .section-d {padding: 80px 0 0;}
    
    .section-e {padding: 150px 0 80px;}
    .tab-direction-movement {flex-flow: column;}
    .tab-direction-movement .tab-content {max-width: 100%;min-width: 100%;}
    .tab-direction-movement .tab-content .our-represantative-logos dd {max-width: 100%;min-width: 100%;height: 125px;}
    .tab-name-listing {max-width: 180px;min-width: 180px;position: relative;right: -135px;}
    .tab-direction-movement .tab-content .our-represantative-logos dd img {max-width: 75%;}
        
    .section-f {padding-bottom: 100px;}
    .section-f .position-relative ol.d-flex, .section-j .position-relative ol.d-flex {flex-flow: column;}
    .section-f .position-relative ol li p, .section-j .position-relative ol li p {padding-right: 0rem;margin-bottom: 30px;}
    .right-picture-g-section figure {width: 100%;}	
    .section-g {padding: 100px 0px 0px;}
    .section-g ul li p {padding-right: 0rem;}
    .right-picture-g-section {margin-left: 0px;}	
    #testimonial-slider .item {margin: 15px; outline: none; box-shadow: 0px 5px 8px rgb(0 0 0 / 50%);}
    #testimonial-slider .item::before {left: 0px;}
        
        
    .section-b h1 {padding-bottom: 20px;padding-top: 20px; margin-top: 50px;}	
    .section-b h1::before {top: 20px;}	
    .section-c h2 {font-size: 24px;}
    .section-c ul li {width: 100%;}	
    
    .copyright-area p {text-align: center;line-height: 40px;}	
        
    /*inner pages*/
    .navbar-dark .navbar-brand {min-width: 220px;max-width: 220px;}
    .feature-banner-caption {left: 15px; width: 90%;}
    .site-feature-banner .feature-banner-caption h1 {font-size: 22px;}
    .site-feature-banner .feature-banner-caption h1 small {font-size: 14px;line-height: 14px;}
    .feature-banner-caption {left: 15px;width: 90%;}
    .site-feature-banner figure img {height: 500px;object-position: -500px 0px;}
    .site-feature-banner figure {height: 500px;}
    .site-feature-banner {height: 550px;}
    .site-feature-banner::before {border-right-width: 100vw;}
    .about-how-do-steps ul.d-flex.list-inline.justify-content-center.mt-5 {flex-flow: column;align-items: center;}
    .about-how-do-steps ul.d-flex.list-inline.justify-content-center li {margin: 15px 0px;}
    .about-how-do-steps {padding: 0px 0px 50px;}
    .about-how-do-steps .row {background-size: auto;}
    .news-and-events strong {max-width: unset;}
    .news-and-events figure {max-width: unset;}
    .news-and-events p {max-width: unset;}
    .news-and-events aside.text-center.mt-5 {margin-top: 15px !important;}
    .site-footer figure img {image-rendering: -webkit-optimize-contrast;}
    .qualiMember-section ol.d-flex.list-inline.my-5 {align-items: unset;flex-flow: column;}
    .qualiMember-section ol li:last-child {padding-left: 0px;padding-top: 30px;}
    .qualiMember-section ol li:first-child::before {width: 100px;height: 1px;right: unset;top: 50%;left: 0;margin-top: 50px;}
    .qualiMember-section {background-image: none;}
    .experience-training h3 {padding-top: 0px;}
        
    .registration-page h1,.login-page h1 {font-size: 24px; line-height: 40px; padding-bottom: 0px;}
    .register-form::before,.login-form::before {width: 80px;height: 80px;top: -80px;background-size: 75%;}
    .register-form, .login-form {margin-top: 25px;}
        
    /*22 Mar*/
    .contact-form-section h6 {line-height: 20px; padding: 15px 20px;}
    .contact-form-row label {width: 100%;}
    .contact-form-row input[type="text"], .contact-form-row input[type="email"], .contact-form-row input[type="tel"] {width: 100%;}
    .contact-form-row textarea {width: 100%;}
    .contact-form-row input[type="submit"] {margin-right: 0px;}
    .news-and-events::after {border-top: 50px solid transparent;}
        
        
    /*23 Mar*/
    .faq-form fieldset h4 {left: 50%;margin-left: 15px;}
    .faq-form mark {text-align: center;}
    .faq-form strong {line-height: 16px;display: inline-block;margin-bottom: 12px;}
        
    .step1-inner, .step2-inner, .step3-inner, .step4-inner, .step5-inner, .step6-inner, .step7-inner, .step8-inner {width: 90vw;}
    .step1 h2 {padding: 20px 0px;}
    .step3 ul li {min-width: 100%;justify-content: start;font-size: 1rem;}
    .book-appointment-page aside {width: 100%;}
    .step8 input[type="submit"], aside a.start-appoint-1 {padding: 2px 15px;letter-spacing: 0px;max-width: unset;font-size: 12px; font-weight: 400;}
    .step2 label, .step3 label, .step4 label, .step5 label, .step6 label, .step7 label, .step8 label, .step2 input[type="text"], .step5 ol li input[type="text"], .step6 input[type="time"], .step7 input[type="email"], .step8 input[type="tel"] {font-size: 1rem;}
    .step3 ul li input[type="radio"] {transform: scale(1.2,1.2);margin-right: 10px;}
    .step4 select {font-size: 1rem;}
    .step5 ol li small {text-align: center;}
    /*book an appointment*/

    .site-feature-banner.other-slide::after {background: linear-gradient(180deg, #d7dfea, rgba(30,65,113,.50));}
    .site-feature-banner.other-slide .feature-banner-caption h1 {line-height: 30px;font-size: 24px;}
    .site-feature-banner.other-slide .feature-banner-caption h1 small {line-height: 24px; padding-top: 12px;font-size: 16px;}
    .inner-pages h4 {line-height: 30px;font-size: 18px;}
    .inner-pages h3 {font-size: 24px; line-height: 32px;}
    .inner-pages ul li {width: 100%;margin-bottom: 5px;}
    .inner-pages h5 {margin-bottom: 15px;}
    .our-team {padding: 100px 10px;}
    .site-feature-banner.other-slide .feature-banner-caption h1 {font-size: 22px;color: #ffffff; background-image: url('../images/doctor-sign-white.png'); text-shadow: 1px 1px rgba(0,0,0,.75);}
    .site-feature-banner .feature-banner-caption aside {text-align: center;}
    /* inner pages */

    .testimonial-section ol li {width: 100%;margin-bottom: 25px;}
    .testimonial-section ul li::before {left: 0%;}

    a.open-sidebar {display: none;}
    .dashboard-sidebar {width: 12%; padding: 10px;}
    .dashboard-right-content {width: 88%;}
    span.sidebar-item {display: none;}
    .dashboard-sidebar ul li a span i.fa-regular {border-right: none;}
    .dashboard-sidebar ul li {text-align: center;}
    .site-logo img {max-width: 100%;}
    .three-report-graph .rounded {margin-block: 15px;}
    .three-report-graph .rounded ol li img.img-fluid {height: 180px;}
    .myReport-page input[type="file"] {max-width: 100%;margin-bottom: 20px;}
    .give-feedback-page .col-xl-6 .d-flex {flex-direction: column;margin-bottom: 20px;}
    /* for dashboard */
    
    .inner-pages .testimonial-section ul {margin-bottom: 0px;}
    .inner-pages .testimonial-section ul li {margin-bottom: 100px;}
    .inner-pages .testimonial-section ul li:last-child {margin-bottom: 0px;}
    .register-form form p, .login-form form p.form-info {line-height: 20px;}

    
    .primary-navbar.sticky-top {box-sizing: border-box;}
    .primary-navbar.sticky-top #siteNav button.ddl-menu::after {top: -5px;position: relative;right: 15px;}
    .site-footer {padding: 70px 0px 0px;}
    .site-footer .col-xl-4.px-5 {padding-left: 15px !important;}
    }/*767*/
    
    
    
    
    
    
    
    
    
    
    
    
    