<div class="site_wrapper">
	<div class="site-banner">
		<figure>
		  <img src="/assets/images/home-new-banner.jpg" alt="" />
		  <div class="banner-caption">
			<h1>Second Opinion <br />Makes a <span>Difference</span></h1>
			<p>Why settle for one opinion when you can have the best? Get personalized care from our expert team and
			  simplify your medical journey with us.</p>
			<aside>
			  <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i
				  class="fa-regular fa-arrow-right"></i></a>
			</aside>
		  </div>
		</figure>
	  </div>
	  <!--site banner-->


	<div class="our-team">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Dr. med. Sönke Bartling</h3>
				</div><!--col/12-->

				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/Dr. med. Sonke Bartling.jpg" alt="" class="w-100" />
					</figure>
					

				</div><!--col/4-->

				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-5 textleft">
					<h4>A Skilled Interventional Radiologist</h4>
					
					<p>We are thrilled to welcome Dr. med. Sönke Bartling to our team as a Senior Consultant in Interventional Radiology, Body Radiology and Oncology Radiology. With his extensive experience and expertise in vascular and non-vascular procedures, he brings a wealth of knowledge and skill to our organization.

                    <p>Dr. Bartling is a German board-certified radiologist with a remarkable background. He has trained at the university hospital attending level, specializing in various areas including Neuroimaging, whole-body MRI (including cardiac-MRI), and interventional radiology. Throughout his career, he has worked in 25 different medical setups, ranging from private practices to community hospitals, including prestigious university hospitals in Germany, Switzerland, and the USA.</p>
                        
                    <p>Having experienced various professional environments, Dr. Bartling has developed a strong preference for the inspiring atmosphere of a university hospital. He thrives on the thrill of emergency radiology interventions and greatly values the opportunity to interact with residents and students, sharing his knowledge and expertise. Furthermore, he actively contributes to restructuring our profession's culture to adapt to the demands of Generation Y and the era of digitization.</p>
                        
                    <p>Currently, Dr. Bartling serves as an attending physician at Mannheim University Hospital, where he continues to deliver exceptional patient care and advance the field of interventional radiology. His dedication and passion for his work have led him to become a valued member of several national and international radiological and interventional societies.</p>
                        
                    <p>We are honored to have Dr. Bartling as part of our team. His presence and contributions will undoubtedly elevate our capabilities in interventional radiology, allowing us to provide the highest level of care and expertise to our patients. Join us in welcoming Dr. Sönke Bartling to our organization as we look forward to a successful collaboration and continued advancements in the field of radiology.</p>   
                    <p>Please feel free to connect with Dr. Bartling</p>
                         
                        


                        <div class="social-media d-flex list-inline mt-5">
                            <dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
                            <dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
                            <dd><a href="textleft" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
                        </div>

				</div><!--col/4-->

					
			</div>
		</div>
	</div><!--our team-->

	<div class="home_section_f">
		<div class="container">
			<div class="row">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="Enter your email here" required>
							<input type="submit" value="Subscribe Our Newsletter">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!--site wrapper-->