<div class="site_wrapper">
	<div class="site-feature-banner">
		<figure><img src="../../../../assets/images/our-team-banner.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Blog page<small>M.Sc., EBR, ESNR, ESSR</small></h1>
				<aside><a routerLink="/contact" type="button">contact us <i class="fa-regular fa-arrow-right"></i></a>
				</aside>
			</div>
		</figure>
	</div><!--site banner-->

	<div class="news-and-events blog-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Latest Blogs</h3>
				</div><!--col/12-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="../../../../assets/images/blog-img1.jpg" alt="" class="w-100" />
					</figure>
					<strong>How Therapeutic Injections Help</strong>
					<span class="date">March 30, 2023 | 02:40 PM</span>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="javascript:" (click)="blogDetails()">read more <i
								class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="../../../../assets/images/blog-img2.jpg" alt="" class="w-100" />
					</figure>
					<strong>How Therapeutic Injections Help</strong>
					<span class="date">March 30, 2023 | 10:00 AM</span>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a routerLink="/blogDetails">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="../../../../assets/images/blog-img3.jpg" alt="" class="w-100" />
					</figure>
					<strong>How Therapeutic Injections Help</strong>
					<span class="date">March 30, 2023 | 05:52 PM</span>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/blog-img1.jpg" alt="" class="w-100" />
					</figure>
					<strong>How Therapeutic Injections Help</strong>
					<span class="date">March 30, 2023 | 02:40 PM</span>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/blog-img2.jpg" alt="" class="w-100" />
					</figure>
					<strong>How Therapeutic Injections Help</strong>
					<span class="date">March 30, 2023 | 10:00 AM</span>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/blog-img3.jpg" alt="" class="w-100" />
					</figure>
					<strong>How Therapeutic Injections Help</strong>
					<span class="date">March 30, 2023 | 05:52 PM</span>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/blog-img1.jpg" alt="" class="w-100" />
					</figure>
					<strong>How Therapeutic Injections Help</strong>
					<span class="date">March 30, 2023 | 02:40 PM</span>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/blog-img2.jpg" alt="" class="w-100" />
					</figure>
					<strong>How Therapeutic Injections Help</strong>
					<span class="date">March 30, 2023 | 10:00 AM</span>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
					<figure>
						<img src="../../../../assets/images/blog-img3.jpg" alt="" class="w-100" />
					</figure>
					<strong>How Therapeutic Injections Help</strong>
					<span class="date">March 30, 2023 | 05:52 PM</span>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</div><!--col/12-->
			</div>
		</div>
	</div><!--news and events-->






	<div class="home_section_f">
		<div class="container">
			<div class="row">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="Enter your email here" required>
							<input type="submit" value="Subscribe Our Newsletter">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site wrapper-->