<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-women-imaging-2060392652.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Banner - Get a Second Opinion on Women’s Imaging" | translate}}<small>{{"Instructions - Get a Second Opinion on Women’s Imaging" | translate}}</small></h1>
				<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<p>{{"Text Bellow the Banner Get a Second Opinion on Women’s Imaging" | translate}}</p>
					
					<strong>{{"Rely on us for an error-free second opinion" | translate}}</strong>
					
					<h4>{{"Do you want a Women’s Imaging Second Opinion?" | translate}} <a href="javascript:;" routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}</a></h4>
					
					<h3>{{"Why should you go for a Women’s Imaging Second Opinion?" | translate}}</h3>

					<img src="../assets/images/stock-photo-women-imaging-2060392652.jpg" alt="" class="inner-page-right-picture" />
					
					<p>{{"Why should you go for a Women’s Imaging Second Opinion?_p1" | translate}}</p>
					
					<p>{{"Why should you go for a Women’s Imaging Second Opinion?_p2" | translate}}</p>
					
					<p>{{"Why should you go for a Women’s Imaging Second Opinion?_p3" | translate}}</p>
					
					<p>{{"Why should you go for a Women’s Imaging Second Opinion?_p4" | translate}}</p>
					
					<p>{{"Why should you go for a Women’s Imaging Second Opinion?_p5" | translate}}</p>
					
					<h5>{{"Our Second opinion encompasses all women’s imaging scans including:" | translate}}</h5>
					
					<ul>
						<li>{{"Pelvic MRI" | translate}}</li>
						<li>{{"Pelvis Ultrasound"| translate}}</li>
						<li>{{"Cervix and Uterus Imaging"| translate}}</li>
						<li>{{"Ovarian and Fallopian Tubes Imaging"| translate}}</li>
						<li>{{"Breast Mammography, Ultrasound and MRI"| translate}} </li>
						<li>{{"Vagina and Vulva Scan"| translate}}</li>
						<li>{{"Guidance on MRI, Ultrasound and CT During Pregnancy"| translate}}</li>
						<li>{{"Contrast Enhanced Safety Imaging in CT and MRI"| translate}}</li>
						<li>{{"CT Safety During Pregnancy"| translate}}</li>
						<li>{{"Fetal and Gonadal Shielding"| translate}}</li>
					</ul>
					
					<h3>{{"Why is it necessary to go for a Second Opinion?" | translate}}</h3>
					
					<p>{{"P on Women’s Imaging Bellow Why is it necessary to go for a Second Opinion?" | translate}}</p>
					
					<h5>{{"How a second opinion can benefit you:" | translate}}</h5>
					
					<ul>
						<li>{{"It confirms the accuracy of your diagnosis" | translate}}</li>
						<li>{{"You have a better understanding of your condition" | translate}}</li>
						<li>{{"You have the option of choosing the best way forward" | translate}}</li>
						<li>{{"You get peace of mind" | translate}}</li>
						<li>{{"You can make a confident decision" | translate}}</li>
					</ul>
					
					<h5>{{"Our experts give second opinions for the following diagnosis:" | translate}}</h5>
					<ul>
						<li>{{"Endometriosis" | translate}}</li>
						<li>{{"Infertility" | translate}}</li>
						<li>{{"Ovarian cysts" | translate}}</li>
						<li>{{"Pelvic pain" | translate}}</li>
						<li>{{"Uterine fibroids" | translate}}</li>
						<li>{{"Cervical dysplasia" | translate}}</li>
						<li>{{"Pelvic Cancer" | translate}}</li>
						<li>{{"Abnormal uterine bleeding" | translate}}</li>
						<li>{{"Urinary incontinence" | translate}}</li>
						<li>{{"Pregnancy and fetal development" | translate}}</li>
						<li>{{"Puberty Imaging and Disorders" | translate}}</li>
					</ul>
					
					<h4><a href="javascript" routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}</a></h4>
				</div>
			</div>
		</div>
	</div><!--inner page-->
	
	<app-bottom-of-pages></app-bottom-of-pages>
	
	
</div><!--site wrapper-->