<div class="feature_picture">
	<img src="../assets/images/Women-Imaging-banner.jpg" alt="" />
</div>
<div class="site-wrapper">
	<div class="inner-page-content">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
					<app-radiology-sidebar [textFromParent]="doYouWantSecondOpinionTextForEachComponent"></app-radiology-sidebar>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
					<h4>{{"Why should you go for a Women’s Imaging Second Opinion?" | translate}}</h4>
					<p>{{"Why should you go for a Women’s Imaging Second Opinion?_p1" | translate}}</p>

					<p>{{"Why should you go for a Women’s Imaging Second Opinion?_p2" | translate}}</p>

					<p>{{"Why should you go for a Women’s Imaging Second Opinion?_p3" | translate}}</p>

					<p>{{"Why should you go for a Women’s Imaging Second Opinion?_p4" | translate}}</p>

					<p>{{"Why should you go for a Women’s Imaging Second Opinion?_p5" | translate}}</p>

					<h4>{{"Our Second opinion encompasses all women’s imaging scans including:" | translate}}</h4>

					<ol class="d-flex">
						<li><span class="plus-icon"></span>{{"Pelvic MRI" | translate}}</li>
						<li><span class="plus-icon"></span>{{"Pelvis Ultrasound"| translate}}</li>
						<li><span class="plus-icon"></span>{{"Cervix and Uterus Imaging"| translate}}</li>
						<li><span class="plus-icon"></span>{{"Ovarian and Fallopian Tubes Imaging"| translate}}</li>
						<li><span class="plus-icon"></span>{{"Breast Mammography, Ultrasound and MRI"| translate}} </li>
						<li><span class="plus-icon"></span>{{"Vagina and Vulva Scan"| translate}}</li>
						<li><span class="plus-icon"></span>{{"Guidance on MRI, Ultrasound and CT During Pregnancy"|
							translate}}</li>
						<li><span class="plus-icon"></span>{{"Contrast Enhanced Safety Imaging in CT and MRI"|
							translate}}</li>
						<li><span class="plus-icon"></span>{{"CT Safety During Pregnancy"| translate}}</li>
						<li><span class="plus-icon"></span>{{"Fetal and Gonadal Shielding"| translate}}</li>

					</ol>


					<h4>{{"Why is it necessary to go for a Second Opinion?" | translate}}</h4>

					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<img src="../assets/images/Women-Imaging.jpg" alt=""
								class="img-fluid border-radius-15" />
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<p>{{"Why is it necessary to go for a Second Opinion?_p" | translate}}</p>

							<strong>{{"How a second opinion can benefit you:" | translate}}</strong>
							<ol>
								<li><span class="plus-icon"></span>{{"It confirms the accuracy of your diagnosis" |
									translate}}</li>
								<li><span class="plus-icon"></span>{{"You get a better understanding of your condition"
									| translate}}</li>
								<li><span class="plus-icon"></span>{{"You have the option of choosing the best way
									forward" | translate}}</li>
								<li><span class="plus-icon"></span>{{"You get peace of mind" | translate}}</li>
								<li><span class="plus-icon"></span>{{"You can make a confident decision" | translate}}
								</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<strong>{{"Our experts give second opinions for the following diagnosis:" | translate}}</strong>
						<ol class="d-flex">
							<li><span class="plus-icon"></span>{{"Endometriosis" | translate}}</li>
							<li><span class="plus-icon"></span>{{"Infertility" | translate}}</li>
							<li><span class="plus-icon"></span>{{"Ovarian cysts" | translate}}</li>
							<li><span class="plus-icon"></span>{{"Pelvic pain" | translate}}</li>
							<li><span class="plus-icon"></span>{{"Uterine fibroids" | translate}}</li>
							<li><span class="plus-icon"></span>{{"Cervical dysplasia" | translate}}</li>
							<li><span class="plus-icon"></span>{{"Pelvic Cancer" | translate}}</li>
							<li><span class="plus-icon"></span>{{"Abnormal uterine bleeding" | translate}}</li>
							<li><span class="plus-icon"></span>{{"Urinary incontinence" | translate}}</li>
							<li><span class="plus-icon"></span>{{"Pregnancy and fetal development" | translate}}</li>
							<li><span class="plus-icon"></span>{{"Puberty Imaging and Disorders" | translate}}</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- inner page content -->
</div>

<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="position-relative">
				<div class="subscribe-letter">
					<form>
						<input type="email" placeholder="Enter your email here" required>
						<input type="submit" value="Subscribe Our Newsletter">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>