<!-- testimonial section -->

<div class="testimonial-title-wrapper">
	<div class="features-section-tag testimonial-tag">{{"Testimonial" | translate}}</div>
	<h2 class="testimonial-title">{{"What Our Patient Says About Us" | translate}}</h2>
</div>
<div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider arabicLTR" data-autoplay="false"
	data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3"
	data-duration="500" data-infinite="true">
	<owl-carousel-o [options]="customOptions" #owlCar>
		<ng-template carouselSlide>
			<div class="testimonial-slide w-slide">
				<div class="testimonial-single-wrap">
					<div class="testimonial-hero-wrap">
						<div class="testimonial-image-wrap"><img
								src="../../../assets/images/new_homepage/Testimonial-Image1.png" loading="lazy" alt=""
								class="testimonial-image"></div>
						<div class="testimonial-name-info-wrap">
							<h5 class="testimonial-name">{{"John Anderson" | translate}}</h5>
							<div class="testimonial-text-block">{{"Orthopaedic Patient" | translate}}</div>
							<div class="testimonial-reviw-wrap">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
							</div>
						</div>
					</div>
					<div class="testimonial-name-description">
						<h5 class="testimonial-name-single text-transform-none">{{"A game-changer in my healthcare!" | translate}}</h5>
						<p class="testimonial-description">"{{"A game-changer in my healthcare! text" | translate}}"</p>
					</div>
				</div>
			</div>
		</ng-template>
		<ng-template carouselSlide>
			<div class="testimonial-slide w-slide">
				<div class="testimonial-single-wrap">
					<div class="testimonial-hero-wrap">
						<div class="testimonial-image-wrap"><img
								src="../../../assets/images/new_homepage/Testimonial-Image2.png" loading="lazy" alt=""
								class="testimonial-image"></div>
						<div class="testimonial-name-info-wrap">
							<h5 class="testimonial-name">{{"Esther Howard" | translate}}</h5>
							<div class="testimonial-text-block">{{"Athletic Coach" | translate}}</div>
							<div class="testimonial-reviw-wrap">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
							</div>
						</div>
					</div>
					<div class="testimonial-name-description">
						<h5 class="testimonial-name-single text-transform-none">{{"Exceptional radiology support" | translate}}</h5>
						<p class="testimonial-description">"{{"Exceptional radiology support text" | translate}}"</p>
					</div>
				</div>
			</div>
		</ng-template>
		<ng-template carouselSlide>
			<div class="testimonial-slide w-slide">
				<div class="testimonial-single-wrap">
					<div class="testimonial-hero-wrap">
						<div class="testimonial-image-wrap"><img
								src="../../../assets/images/new_homepage/Testimonial-Image3.png" loading="lazy" alt=""
								class="testimonial-image"></div>
						<div class="testimonial-name-info-wrap">
							<h5 class="testimonial-name">{{"Robert Fox" | translate}}</h5>
							<div class="testimonial-text-block">{{"Head Physiotherapist" | translate}}</div>
							<div class="testimonial-reviw-wrap">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
								<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png"
									loading="lazy" alt="" class="testimonial-reviw">
							</div>
						</div>
					</div>
					<div class="testimonial-name-description">
						<h5 class="testimonial-name-single text-transform-none">{{"transformed our player care!" | translate}}</h5>
						<p class="testimonial-description">"{{"transformed our player care! text" | translate}}"</p>
					</div>
				</div>
			</div>
		</ng-template>

	</owl-carousel-o>

	<div class="slider-arrow left w-slider-arrow-left" (click)="owlCar.prev()">
		<img src="../../../assets/images/new_homepage/Slider Left Arrow.png" loading="lazy" alt=""
			class="slider-arrow-image">
	</div>
	<div class="slider-arrow right w-slider-arrow-right" (click)="owlCar.next()">
		<img src="../../../assets/images/new_homepage/Slider Right Arrow.png" loading="lazy" alt=""
			class="slider-arrow-image">
	</div>
	<div class="slider-nav w-slider-nav w-round"></div>
</div>

<!-- testimonial section -->
