
<!-- testimonial section -->

			<div class="testimonial-title-wrapper">
			  <div class="features-section-tag testimonial-tag">Testimonial</div>
			  <h2 class="testimonial-title">What Our Patient Says About Us</h2>
			</div>
			<div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
			  <owl-carousel-o [options]="customOptions" #owlCar>
				<ng-template carouselSlide>
				  <div class="testimonial-slide w-slide">
					<div class="testimonial-single-wrap">
					  <div class="testimonial-hero-wrap">
						<div class="testimonial-image-wrap"><img src="../../../assets/images/new_homepage/Testimonial-Image1.png" loading="lazy" alt="" class="testimonial-image"></div>
						<div class="testimonial-name-info-wrap">
						  <h5 class="testimonial-name">John Anderson</h5>
						  <div class="testimonial-text-block">Cardiology Patient</div>
						  <div class="testimonial-reviw-wrap">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
						  </div>
						</div>
					  </div>
					  <div class="testimonial-name-description">
						<h5 class="testimonial-name-single">A game-changer in my healthcare!</h5>
						<p class="testimonial-description">&quot;I had the privilege of using RadiologyCheck&#x27;s services as a patient, and I couldn&#x27;t be happier with the care I received. Dr. Ali Rahman and his team provided me with a thorough second opinion on my radiology scans, giving me confidence in my diagnosis and treatment plan.I highly recommend RadiologyCheck to anyone seeking reliable and accurate radiology services!&quot;</p>
					  </div>
					</div>
				  </div>
				</ng-template>
				<ng-template carouselSlide>
				  <div class="testimonial-slide w-slide">
					<div class="testimonial-single-wrap">
					  <div class="testimonial-hero-wrap">
						<div class="testimonial-image-wrap"><img src="../../../assets/images/new_homepage/Testimonial-Image2.png" loading="lazy" alt="" class="testimonial-image"></div>
						<div class="testimonial-name-info-wrap">
						  <h5 class="testimonial-name">Esther Howard</h5>
						  <div class="testimonial-text-block">Pathology Patient</div>
						  <div class="testimonial-reviw-wrap">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
						  </div>
						</div>
					  </div>
					  <div class="testimonial-name-description">
						<h5 class="testimonial-name-single">Exceptional radiology support</h5>
						<p class="testimonial-description">&quot;As the team doctor for Standard Liege, I have relied on RadiologyCheck for their expert radiology services. Dr. Ali Rahman and his team consistently deliver accurate second opinions on our players&#x27; scans, helping us diagnose and manage their injuries effectively. Their commitment to excellence and attention to detail make them an invaluable partner in our medical team.&quot;</p>
					  </div>
					</div>
				  </div>
				</ng-template>
				<ng-template carouselSlide>
				  <div class="testimonial-slide w-slide">
					<div class="testimonial-single-wrap">
					  <div class="testimonial-hero-wrap">
						<div class="testimonial-image-wrap"><img src="../../../assets/images/new_homepage/Testimonial-Image3.png" loading="lazy" alt="" class="testimonial-image"></div>
						<div class="testimonial-name-info-wrap">
						  <h5 class="testimonial-name">Robert Fox</h5>
						  <div class="testimonial-text-block">Head Physiotherapist</div>
						  <div class="testimonial-reviw-wrap">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
							<img src="../../../assets/images/new_homepage/Testimonial-Star-Image_1Testimonial Star Image.png" loading="lazy" alt="" class="testimonial-reviw">
						  </div>
						</div>
					  </div>
					  <div class="testimonial-name-description">
						<h5 class="testimonial-name-single">transformed our player care!</h5>
						<p class="testimonial-description">&quot;Working with RadiologyCheck has been a game-changer for our club. Dr. Ali Rahman and his team provided accurate and timely second opinions on our players&#x27; radiology scans, allowing us to make informed decisions about their injuries. Their expertise in musculoskeletal radiology has been invaluable, ensuring our players receive the best possible care. Highly recommended!&quot;</p>
					  </div>
					</div>
				  </div>
				</ng-template>
	  
			  </owl-carousel-o>
	  
			  <div class="slider-arrow left w-slider-arrow-left" (click)="owlCar.prev()">
				<img src="../../../assets/images/new_homepage/Slider Left Arrow.png" loading="lazy" alt="" class="slider-arrow-image">
			  </div>
			  <div class="slider-arrow right w-slider-arrow-right" (click)="owlCar.next()">
				<img src="../../../assets/images/new_homepage/Slider Right Arrow.png" loading="lazy" alt="" class="slider-arrow-image">
			  </div>
			  <div class="slider-nav w-slider-nav w-round"></div>
			</div>

	  <!-- testimonial section -->
