<div class="feature_picture">
	<img src="../assets/images/stock-photo-musculoskeletal-radiology-2153546477.jpg" alt="" />
</div>
<div class="site-wrapper">
	<div class="inner-page-content">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
					<div class="inner-page-sidebar">
						<ul>
							<li><a routerLink="/abdominalRadiology">Abdominal Radiology</a></li>
							<li><a routerLink="/prostateRadiology">Prostate Radiology</a></li>
							<li><a routerLink="/interventionalRadiologyGuidance">Interventional
									Radiology Guidance</a></li>
							<li><a routerLink="/womensImaging">Women's Imaging</a></li>
							<li><a routerLink="/musculoskeletalRadiology">Musculoskeletal Radiology
									with Sports injuries</a></li>
							<li><a routerLink="/pediatricSportsInjuries">Pediatric Sports Injuries</a></li>
							<li><a routerLink="/pediatricRadiology">Pediatric Radiology</a></li>
							<li><a routerLink="/oncologicalRadiology">Oncological Radiology</a></li>
						</ul>

						<div class="sidebar-second-opinion-cta position-relative mt-5">
							<img src="assets/images/sidebar-second-opinion.jpg" alt="" />
							<div class="position-absolute">
								<!-- <h5>Do you want an <span>Abdominal Radiology</span> Second Opinion?</h5> -->
								<h5>{{"Do you want an Abdominal Radiology Second Opinion?" | translate}}</h5>
								<button class="btn" type="button">contact us</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
					<h4>{{"Why should you go for a Musculoskeletal Radiology Second Opinion?" | translate}}</h4>
					<p>{{"Why should you go for a Musculoskeletal Radiology Second Opinion?_p1" | translate}} </p>

					<p>{{"Why should you go for a Musculoskeletal Radiology Second Opinion?_p2" | translate}} </p>

					<p>{{"Why should you go for a Musculoskeletal Radiology Second Opinion?_p3" | translate}} </p>

					<p>{{"Why should you go for a Musculoskeletal Radiology Second Opinion?_p4" | translate}}</p>

					<h4>{{"Our second opinion encompasses all the elements of musculoskeletal radiology scans,
						including:" | translate}}</h4>

					<ol class="d-flex">
						<li><span class="plus-icon"></span>{{"MRI" | translate}}</li>
						<li><span class="plus-icon"></span>{{"CT Scan" | translate}}</li>
						<li><span class="plus-icon"></span>{{"X-Ray" | translate}}</li>
						<li><span class="plus-icon"></span>{{"Ultrasound" | translate}}</li>
						<li><span class="plus-icon"></span>{{"Evaluation of Arthrogram MRI Scans" | translate}}</li>
					</ol>


					<h4>{{"Why is it necessary to go for a Second Opinion?" | translate}}</h4>

					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<img src="../assets/images/stock-photo-musculoskeletal-radiology1-2020527962.jpg" alt=""
								class="img-fluid border-radius-15" />
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<p>{{"Why is it necessary to go for a Second Opinion?_p" | translate}}</p>

							<strong>{{"How a second opinion can benefit you:" | translate}}</strong>
							<ol>
								<li><span class="plus-icon"></span>{{"It confirms the accuracy of your diagnosis" |
									translate}}</li>
								<li><span class="plus-icon"></span>{{"You get a better understanding of your condition"
									| translate}}</li>
								<li><span class="plus-icon"></span>{{"You have the option of choosing the best way
									forward" | translate}}</li>
								<li><span class="plus-icon"></span>{{"You get peace of mind" | translate}}</li>
								<li><span class="plus-icon"></span>{{"You can make a confident decision" | translate}}
								</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<h4>{{"Our experts give second opinions for all trauma and non-trauma musculoskeletal diagnosis,
							including:" | translate}}</h4>

						<strong>{{"Trauma:"| translate}}</strong>
						<ol class="d-flex">
							<li><span class="plus-icon"></span>{{"Shoulder and Arm"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Elbow"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Wrist and Hand"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Hip and Pelvis"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Knee"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Ankle and Foot"| translate}}</li>
						</ol>

						<strong>{{"Non-Trauma:"| translate}}</strong>
						<ol class="d-flex">
							<li><span class="plus-icon"></span>{{"Bone Tumours and all Tumour-like conditions"|
								translate}}</li>
							<li><span class="plus-icon"></span>{{"Soft Tissue Tumours"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Metabolic Bone Disease"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Congenital and Development Abnormalities"| translate}}
							</li>
							<li><span class="plus-icon"></span>{{"Dysplasia"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Systemic Diseases with Musculoskeletal Involvement"|
								translate}}</li>
							<li><span class="plus-icon"></span>{{"Orthopaedic Implants or Arthrodesis"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Infection"| translate}}</li>
							<li><span class="plus-icon"></span>{{"Drug-Induced and Nutritional Musculoskeletal
								Conditions"| translate}}</li>
						</ol>

					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- inner page content -->
</div>

<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="position-relative">
				<div class="subscribe-letter">
					<form>
						<input type="email" placeholder="Enter your email here" required>
						<input type="submit" value="Subscribe Our Newsletter">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>