<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-musculoskeletal-radiology-2153546477.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Banner - Get a Musculoskeletal Radiology Second Opinion" | translate}} <small>{{"Instructions - Get a Musculoskeletal Radiology Second Opinion" | translate}}</small></h1>
				<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<p>{{"P bellow Banner - Get a Musculoskeletal Radiology Second Opinion" | translate}}</p>
					
					<strong>{{"Rely on us for an error-free second opinion" | translate}}</strong>
					
					<h4>{{"Do you want a Musculoskeletal Radiology Second Opinion?" | translate}} <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}</a></h4>
					
					<h3>{{"Why should you go for a Musculoskeletal Radiology Second Opinion?" | translate}}</h3>

					<img src="../assets/images/stock-photo-musculoskeletal-radiology-2153546477.jpg" alt="" class="inner-page-right-picture" />

					<p>{{"Why should you go for a Musculoskeletal Radiology Second Opinion?_p1" | translate}} </p>
					
					<p>{{"Why should you go for a Musculoskeletal Radiology Second Opinion?_p2" | translate}} </p>
					
					<p>{{"Why should you go for a Musculoskeletal Radiology Second Opinion?_p3" | translate}} </p>
					
					<p>{{"Why should you go for a Musculoskeletal Radiology Second Opinion?_p4" | translate}}</p>
					
					<h5>{{"Our second opinion encompasses all the elements of musculoskeletal radiology scans, including:" | translate}}</h5>
					
					<ul>
						<li>{{"MRI" | translate}}</li>
						<li>{{"CT Scan" | translate}}</li>
						<li>{{"X-Ray" | translate}}</li>
						<li>{{"Ultrasound" | translate}}</li>
						<li>{{"Evaluation of Arthrogram MRI Scans" | translate}}</li>
					</ul>
					
					<h3>{{"Why is it necessary to go for a Second Opinion?" | translate}}</h3>

					<img src="../assets/images/stock-photo-musculoskeletal-radiology1-2020527962.jpg" alt="" class="inner-page-left-picture" />
					
					<p>{{"Why is it necessary to go for a Second Opinion?_p" | translate}}</p>
					
					<h5>{{"How a second opinion can benefit you:" | translate}}</h5>
					
					<ul>
						<li>{{"It confirms the accuracy of your diagnosis" | translate}}</li>
						<li>{{"You have a better understanding of your injury" | translate}}</li>
						<li>{{"You have the option of choosing the best way forward" | translate}}</li>
						<li>{{"You get peace of mind" | translate}}</li>
						<li>{{"You can make a confident decision" | translate}}</li>
					</ul>
					
					<h5>{{"Our experts give second opinions for all trauma and non-trauma musculoskeletal diagnosis, including:" | translate}}</h5>

					<strong>{{"Trauma:"| translate}}</strong>
					<ul>
						<li>{{"Shoulder and Arm"| translate}}</li>
						<li>{{"Elbow"| translate}}</li>
						<li>{{"Wrist and Hand"| translate}}</li>
						<li>{{"Hip and Pelvis"| translate}}</li>
						<li>{{"Knee"| translate}}</li>
						<li>{{"Ankle and Foot"| translate}}</li>
					</ul>

					<strong>{{"Non-Trauma:"| translate}}</strong>
					<ul>
						<li>{{"Bone Tumours and all Tumour-like conditions"| translate}}</li>
						<li>{{"Soft Tissue Tumours"| translate}}</li>
						<li>{{"Metabolic Bone Disease"| translate}}</li>
						<li>{{"Congenital and Development Abnormalities"| translate}}</li>
						<li>{{"Dysplasia"| translate}}</li>
						<li>{{"Systemic Diseases with Musculoskeletal Involvement"| translate}}</li>
						<li>{{"Orthopaedic Implants or Arthrodesis"| translate}}</li>
						<li>{{"Infection"| translate}}</li>
						<li>{{"Drug-Induced and Nutritional Musculoskeletal Conditions"| translate}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!--inner page-->
	
	<app-bottom-of-pages></app-bottom-of-pages>

	
	
</div><!--site wrapper-->