

<div class="site_wrapper">
	<app-top-banner></app-top-banner>

	<div class="intro-dr-rehman">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>{{'Dr Ali Rahman' | translate}}: {{"Introduction" | translate}}</h3>
				</div>
	
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					
					<p><figure><img src="/assets/images/profile-img.jpg" class="img-fluid" alt="" width="600px" /></figure>
						{{"aboutComponentP1" | translate}}<br/>
	
						{{"aboutComponentP2" | translate}}<br/>
	
						{{"aboutComponentP3" | translate}}<br/>
	
						{{"aboutComponentP4" | translate}}<br/>
	
					</p>
					
				</div>
	
				<!--<div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
					<p>{{"aboutComponentP1" | translate}}</p>
	
					<p>{{"aboutComponentP2" | translate}}</p>
	
					<p>{{"aboutComponentP3" | translate}}</p>
	
					<p>{{"aboutComponentP4" | translate}}</p>
				</div>-->
			</div>
		</div>
	</div><!--dr rehman intro-->

	<div class="specialist-areas">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<h3>Specialist Areas</h3>
					<ul>
						<li>Musculoskeletal (MSK) and Sports Imaging Radiologist: A specialized expertise in the field of musculoskeletal and sports-related imaging, focusing on the diagnosis and treatment of conditions affecting bones, joints, muscles, and soft tissues.</li>
						<li>MRI Arthrograms: Utilizing magnetic resonance imaging (MRI) technology to perform arthrograms, a diagnostic procedure used to evaluate joint structures and identify issues within joints such as shoulders, hips, wrists, elbows, knees, and ankles.</li>
						<li>Diagnostic Reporting: Proficient in providing comprehensive and accurate diagnostic reports for various imaging modalities including X-rays, CT scans, and MRI scans, aiding in the precise identification and assessment of medical conditions.</li>
						<li>Diagnostic MSK Ultrasound Scanning: Skilled in using ultrasound imaging to evaluate and diagnose musculoskeletal conditions, providing detailed visualizations of tendons, ligaments, muscles, and joints.</li>
						<li>Guided Injections: Experienced in performing ultrasound-guided injections for tendons, joints, and soft tissues, employing precise imaging guidance to administer therapeutic treatments effectively.</li>
						<li>Image-Guided Steroid Injections: Proficient in performing image-guided steroid injections (cortisone) to alleviate pain and reduce inflammation in affected areas, enhancing patient comfort and facilitating the healing process.</li>
						<li>Myelographies: Competent in conducting myelographies, a specialized imaging procedure that involves injecting a contrast dye into the spinal canal to assess spinal cord and nerve root conditions.?</li>
						<li>FNP Thyroids/Aspirations: Skilled in performing fine needle puncture (FNP) procedures for thyroid nodules, aiding in the evaluation and diagnosis of thyroid-related disorders.</li>
						<li>Cyst Aspirations: Proficient in performing cyst aspirations, a minimally invasive procedure used to drain fluid-filled cysts and alleviate symptoms.</li>
						<li>CT/Ultrasound Biopsies: Capable of performing biopsies of tumor masses using CT or ultrasound guidance, facilitating accurate sample collection for further diagnostic evaluation.</li>
						<li>MRI/CT Protocols Modification & Development: Experienced in modifying and developing MRI and CT protocols to optimize imaging parameters and obtain high-quality images, ensuring accurate and detailed diagnostic information.</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!--specialist areas-->


	<div class="experience-training">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6 col-md-12 col-sm-12">
					<div class="bg-white p-5">
						<h3>Experience &amp; training</h3>
						<ul>
							<li><strong>April 2022</strong> Swiss Board certified Ultrasound Tutor/Edcuator Diploma, (SGUM)</li>
							<li><strong>September 2019</strong> European Board Certified ESSR in Muscle-Skeletal
								Radiology Subspecialty</li>
							<li><strong>April 2018</strong> European Board Radiologist, EBiR, exam in Vienna, Austria
							</li>
							<li><strong>May 2015</strong> European Qualification in Diagnostic Neuroradiology EdiNR,
								EDiNR.</li>
							<li><strong>August 2013</strong> Neuroradiology Specialty Exam Swiss Boards FMH after 2-year
								fellowship training in Zurich, Switzerland</li>
							<li><strong>October 2012</strong> German Board Certification Exam, “Facharzt” in Diagnostic
								and Interventional Radiology in Frankfurt, Germany</li>
						</ul>
					</div>
				</div><!--col/6-->
			</div>
		</div>
	</div><!--experience training-->


	<div class="qualiMember-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="position-relative qualiMember-item">
						<h4>Qualifications</h4>
						<small>M.Sc., EBiR, EDiNR, ESSR Diploma</small>
						<p>Living in Berne, Switzerland (Born in London, United Kingdom)<br>
							(Holds Dual British and German Citizenships) (Received Swiss citizenship in 2022)<br>
							(German and Swiss Board Certified in General Radiology, MSK Radiology and Neuroradiology)
						</p>
					</div>
				</div>

				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="position-relative qualiMember-item membership">
						<h4>Memberships</h4>
						<!--<p>Royal College of Radiologists (RCR)<br>
							British Society of Skeletal Radiologists (BSSR)<br>
							European Society of Skeletal Radiologists (ESSR Diploma)<br>
							Radiological Society of North America (RSNA)</p>-->
							<p>European Society of Neuroradiology, ESNR<br>
								*European Society Musculo-Skeletal Radiology ESSR<br>
								* Swiss Society of Neuroradiology, SSNR<br>
								* European Society of Radiology ESR<br>
								* German Radiology Society, DRG<br>
								* Swiss Society of Radiology SGR-SSR</p>
					</div>
				</div>

				<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative notable-area">
						<ol class="d-flex list-inline my-5">
							<li>Notable Achievements</li>
							<li>
								<p>Living in Berne, Switzerland (Born in London, United Kingdom)<br>
									(Holds Dual British and German Citizenships) (Received Swiss citizenship in
									2022)<br>
									(German and Swiss Board Certified in General Radiology, MSK Radiology and
									Neuroradiology)</p>
							</li>
						</ol>
					</div>
				</div>-->
			</div>
		</div>
	</div><!--quality members-->


	<div class="section-f">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
						<ol class="d-flex">
							<li>
								<strong>{{"Get a second opinion" | translate}}</strong>
								<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum
									nostrud exerci tation </p>
							</li>

							<li>
								<aside><a routerLink="/GetSecondOpinion">{{"Get Second Opinion" | translate}}</a></aside>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section f-->


	<!--<div class="about-how-do-steps">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure><img src="/assets/images/about-step01.jpg" alt="" /></figure>
					<h5>expert care</h5>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure><img src="/assets/images/about-step02.jpg" alt="" /></figure>
					<h5>accurate diagnosis</h5>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure><img src="/assets/images/about-step03.jpg" alt="" /></figure>
					<h5>prompt testing</h5>
				</div>

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<ul class="d-flex list-inline justify-content-center mt-5">
						<li>
							<aside><a href="#">self referral <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
						<li>
							<aside><a href="#">professional <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>about how to steps-->


	<!-- <div class="news-and-events">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Recent News and Events</h3>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture1.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture2.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture3.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<aside class="text-center mt-5"><a href="#" class="get_more_events">view more <i
								class="fa-regular fa-arrow-right"></i></a></aside>
				</div>
			</div>
		</div>
	</div> -->
	<!--news and events-->

	<div class="home_section_f">
		<div class="container">
			<div class="row">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="Enter your email here" required>
							<input type="submit" value="Subscribe Our Newsletter">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!--site wrapper-->