.site_wrapper {
    padding: 0px 0px 100px;
}
.site-banner {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 50px 0px 0px;
    position: relative;
    display: inline-block;
}
.site-banner img {
	width: 100%;
}
.site-banner::before {
    display: none;
}

.site-banner .banner-caption h1 {
    color: #264478;
    font-weight: 400;
    font-family: 'WalsheimRegular';
}

.site-banner .banner-caption h1>span {
    color: #427337;
    font-family: 'WalsheimRegular';
}

.banner-caption p {
    color: #5e5e5e;
    padding-right: 22rem;
    font-family: 'WalsheimRegular';
}

.banner-caption {
	bottom: 20%;
	position: absolute;
	max-width: 1350px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.site-banner .banner-caption aside a {
    background-color: #427337;
    box-shadow: none;
}

.site-banner .banner-caption aside a:hover {
    background-color: #264478;
}
.subscribe-letter {
    position: absolute;
    top: 65px;
    z-index: 1099;
    width: 80%;
    left: 50%;
    margin-left: -470px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, .5);
    border-radius: 50px;
}

.subscribe-letter input[type="email"] {
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 100px;
    padding: 0px 30px;
    font-size: 20px;
}

.subscribe-letter input[type="submit"] {
    position: absolute;
    right: -1px;
    height: 70px;
    background-color: #427337;
    padding: 0px 30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    z-index: 11;
}
.intro-dr-rehman p {
	padding-bottom: 15px;
    text-align: justify;
}
.intro-dr-rehman p figure {
	min-width: 528px;
	text-align: left;
	width: auto;
	float: left;
	margin-right: 30px;
}
.intro-dr-rehman p br {
	margin-bottom: 20px;
}
/* home - section F */

@media (max-width: 1023px) {

    /* for new banner */
    .subscribe-letter {
        top: -32px;
        width: 100%;
        margin-left: -360px;
    }
    .site-banner .banner-caption h1 {
        line-height: 36px;
        padding-bottom: 15px;
    }
    .banner-caption p {
        padding-right: 0rem;
    }
    .intro-dr-rehman p figure {
        max-width: 400px;
        min-width: 400px;
    }
    .intro-dr-rehman p figure img {
        width: 100%;
    }
}

/*1023*/

@media (min-width: 1024px) and (max-width: 1199px) {
    .subscribe-letter {
        width: 90%;
        margin-left: -440px;
    }
    .site-banner .banner-caption h1 {
        line-height: 36px;
        padding-bottom: 15px;
    }
    .banner-caption p {
        padding-right: 0rem;
    }
    .intro-dr-rehman p figure {
        margin-bottom: 20px;
    }
}

/*1199*/

@media (max-width: 767px) {
    .subscribe-letter {
        width: 100%;
        left: 0%;
        margin-left: 0px;
        box-sizing: border-box;
        padding: 0px 15px;
        box-shadow: none;
        border-radius: unset;
    }

    .subscribe-letter input[type="submit"] {
        position: relative;
        right: 0px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        width: 100%;
    }

    .subscribe-letter {
        top: -70px;
    }

    .subscribe-letter input[type="email"] {
        text-align: center;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, .5);
    }
    .intro-dr-rehman p figure {
        max-width: 100%;
        min-width: 100%;
    }
    .specialist-areas {
        padding: 0px 0px 50px;
    }
    .intro-dr-rehman figure {
        margin-bottom: 30px;
    }
}