.site_wrapper {
	padding: 0px 0px 0px;
}

.intro-dr-rehman h3 {
	font-size: 28px;
	font-weight: 600;
	color: #1e4171;
	padding-bottom: 20px;
	margin: 50px 0px;
	position: relative;
}
.intro-dr-rehman h3::before {
	position: absolute;
	content: '';
	width: 75px;
	height: 3px;
	background-color: #407839;
	bottom: 0;
	left: 0;
}
.intro-dr-rehman p {
	padding-bottom: 15px;
    text-align: justify;
}
.intro-dr-rehman p figure {
	min-width: 528px;
	text-align: left;
	width: auto;
	float: left;
	margin-right: 30px;
}
.intro-dr-rehman p br {
	margin-bottom: 20px;
}

/*-- New CSS 6-09-2023 --*/
body {
	font-family: 'WalsheimRegular';
font-size: 16px;
}
.specialist-areas {
	width: 100%;
	height: auto;
	display: inline-block;
	padding: 60px 0px;
	position: relative;
	background-color: #ffffff;
	background-image: url("../../../../assets/images/specialist-area-bg.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 45%;
}
.specialist-areas::before {
	position: absolute;
	content: '';
	width: 100px;
	height: 630px;
    background: url("../../../../assets/images/about-us-special-area-bg.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
}
.specialist-areas h3 {
	font-size: 28px;
	font-weight: 600;
	color: #1e4171;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}
.specialist-areas h3::before {
	position: absolute;
	content: '';
	width: 75px;
	height: 3px;
	background-color: #407839;
	bottom: 0;
	left: 0;
}
.specialist-areas ul {
	padding: 0;
}
.specialist-areas ul li {
	list-style-type: none;
	position: relative;
	padding-left: 15px;
}
.specialist-areas ul li::before {
	position: absolute;
	content: '\f105';
	font-family: 'Font Awesome 6 Pro';
	left: 0;
	top: 0;
	color: #1e4171;
}

.experience-training {
	width: 100%;
	height: auto;
	display: inline-block;
	padding: 0px 0px 75px;
	position: relative;
	background-color: #ffffff;
}
.experience-training::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 650px;
	background-image: url('../../../../assets/images/experience-training.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    max-width: 1100px;
}
.experience-training .bg-white.p-5 {
	box-shadow: 0px 6px 70px rgba(0,0,0,.1);
	margin-top: 25px;
	position: relative;
}
.experience-training h3 {
	font-size: 28px;
	color: #1e4171;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}
.experience-training h3::before {
	position: absolute;
	content: '';
	width: 75px;
	height: 3px;
	background-color: #407839;
	bottom: 0;
	left: 0;
}
.experience-training ul {
	padding: 0;
}
.experience-training ul li {
	list-style-type: none;
	position: relative;
	padding-left: 0px;
	padding-bottom: 15px;
	line-height: 20px;
	font-size: 15px;
}
.experience-training ul li strong {
	display: block;
	color: #1e4171;
	font-weight: 600;
	padding-bottom: 5px;
	font-size: 16px;
}


.qualiMember-section {
	width: 100%;
	height: auto;
	display: inline-block;
	padding: 60px 0 60px;
	position: relative;
	background-image: url('../../../../assets/images/qualimember-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	background-blend-mode: multiply;
	background-color: #fafafa;
	margin-bottom: 80px;
}
.position-relative.qualiMember-item {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0px 38px 81px rgb(0 0 0 / 10%);
	min-height: 300px;
	width: 100%;
	background-image: url('../../../../assets/images/quality-mark.png');
	background-position: top 15px right 15px;
	background-repeat: no-repeat;
	background-size: 12%;
}
.position-relative.qualiMember-item.membership {
	background-image: url('../../../../assets/images/membership-association.png');
	background-position: top 15px right 15px;
	background-repeat: no-repeat;
	background-size: 16%;
}
.position-relative.qualiMember-item h4 {
	font-size: 28px;
	color: #1e4171;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}
.position-relative.qualiMember-item small {
	color: #1e4171;
	font-weight: 600;
	font-size: 18px;
}
.position-relative.qualiMember-item p {
	color: #545555;
}
.position-relative.qualiMember-item.membership {
	background-image: url('../../../../assets/images/membership-association.png');
	background-position: top 15px right 15px;
	background-repeat: no-repeat;
	background-size: 16%;
}
.section-f {
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
	padding-bottom: 80px;
}
.section-f .position-relative {
	background-color: #ffffff;
	border: 1px solid rgba(0,0,0,.1);
	padding: 30px;
	border-radius: 15px;
	background-image: url('../../../../assets/images/web-texture.png');
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: top right;
	box-shadow: 0px 5px 68px rgba(148,168,189,.3);
}
.section-f .position-relative ol.d-flex, .section-j .position-relative ol.d-flex {
	align-items: center;
}
.section-f .position-relative ol li, .section-j .position-relative ol li {
	list-style-type: none;
}
.section-f .position-relative ol li strong, .section-j .position-relative ol li strong {
	color: #1e4171;
	font-size: 24px;
	font-weight: 600;
	padding-bottom: 10px;
	display: inline-block;
}
.section-f .position-relative ol li p, .section-j .position-relative ol li p {
	padding-right: 22rem;
}
.section-f .position-relative ol li aside a, .section-j .position-relative ol li aside a {
	background-color: #407839;
	color: #ffffff;
	padding: 11px 20px;
	display: inline-block;
	border-radius: 20px;
	min-width: 215px;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
	font-size: 18px;
}
.about-how-do-steps {
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
	background-color: #ffffff;
	padding: 0px 0px 100px;
}
.about-how-do-steps .row {
	background-image: url('../../../../assets/images/wave-heart.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top 50px;
}
.about-how-do-steps figure {
	width: 250px;
	height: 250px;
	margin: 0px auto;
	border-radius: 100%;
	overflow: hidden;
	box-shadow: 0px 36px 46px rgb(75 128 248 / 10%);
}
.about-how-do-steps figure img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}
.about-how-do-steps h5 {
	color: #1e4171;
	text-align: center;
	margin: 30px 0px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 40px;
}
.about-how-do-steps ul.d-flex.list-inline.justify-content-center li {
	position: relative;
}
/*--.about-how-do-steps ul.d-flex.list-inline.justify-content-center li::before {
	position: absolute;
	content: '\f007';
	width: 46px;
	height: 46px;
	font-family: 'FontAwesome';
	left: 22px;
	border-radius: 100px;
	top: 6px;
	text-align: center;
	line-height: 48px;
	background-color: #ffffff;
	color: #407839;
	font-size: 20px;
}--*/
.about-how-do-steps ul.d-flex.list-inline.justify-content-center li aside a {
	background-color: #407839;
	padding: 12px 30px 12px 20px;
	display: inline-block;
	margin: 0px 15px;
	border-radius: 20px;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
}
.about-how-do-steps ul.d-flex.list-inline.justify-content-center li aside a i {
	position: relative;
	left: 10px;
}
.news-and-events {
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
	padding: 150px 0px 100px;
	background-color: #fafafa;
}
.news-and-events h3 {
	font-size: 28px;
	font-weight: 600;
	color: #1e4171;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
}
.news-and-events h3::before {
	position: absolute;
	content: '';
	width: 75px;
	height: 3px;
	background-color: #407839;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.news-and-events figure {
	position: relative;
	margin-bottom: 15px;
}
.news-and-events figure img {
	height: 200px;
	object-fit: cover;
	image-rendering: pixelated;
	image-rendering: -webkit-optimize-contrast;
	width: 100%;
}
.news-and-events figure h6 {
	position: absolute;
	bottom: 0;
	background-color: #ffffff;
	padding: 5px 18px;
	margin-bottom: 0px;
	color: #407839;
	font-size: 12px;
	width: 120px;
	line-height: 14px;
}
.news-and-events strong {
	color: #1e4171;
	font-style: italic;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	display: block;
	margin-bottom: 15px;
}
.news-and-events p {
	color: #464646;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 15px;
}
.news-and-events aside a {
	color: #407839;
	text-transform: capitalize;
}
/* home - section F */

@media (max-width: 1023px) {
    .intro-dr-rehman p figure {
        max-width: 400px;
        min-width: 400px;
    }
    .intro-dr-rehman p figure img {
        width: 100%;
    }
}

/*1023*/

@media (min-width: 1024px) and (max-width: 1199px) {
    .intro-dr-rehman p figure {
        margin-bottom: 20px;
    }
}

/*1199*/

@media (max-width: 767px) {
    .intro-dr-rehman p figure {
        max-width: 100%;
        min-width: 100%;
    }
    .specialist-areas {
        padding: 0px 0px 50px;
    }
    .intro-dr-rehman figure {
        margin-bottom: 30px;
    }
	.position-relative.qualiMember-item {
		margin-bottom: 16px;
	}
	
}

@media(max-width: 991px){
	.intro-dr-rehman h3 {
		padding-bottom: 15px;
		margin: 30px 0px;
	}
	.specialist-areas{
		padding: 0;
	}
	.experience-training .bg-white.p-5{
		margin: 50px 16px  0px 16px;
	}

}