.site_wrapper {
    padding: 0px 0px 100px;
}
.site-banner {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 50px 0px 0px;
    position: relative;
    display: inline-block;
}

.site-banner::before {
    display: none;
}

.site-banner figure {
	position: relative;
	padding: 0px 0px 0px 100px;
	text-align: right;
}
.site-banner figure img {
	width: 85%;
	height: auto;
}
.site-banner .banner-caption h1 {
    color: #264478;
    font-weight: 400;
    font-family: 'WalsheimRegular';
}

.site-banner .banner-caption h1>span {
    color: #427337;
    font-family: 'WalsheimRegular';
}

.banner-caption p {
    color: #5e5e5e;
    padding-right: 22rem;
    font-family: 'WalsheimRegular';
}

.banner-caption {
    bottom: 20%;
}
.banner-caption {
	bottom: 20%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 1320px;
	text-align: left;
}
.site-banner .banner-caption aside a {
    background-color: #427337;
    box-shadow: none;
}

.site-banner .banner-caption aside a:hover {
    background-color: #264478;
}
.subscribe-letter {
    position: absolute;
    top: 65px;
    z-index: 1099;
    width: 80%;
    left: 50%;
    margin-left: -470px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, .5);
    border-radius: 50px;
}

.subscribe-letter input[type="email"] {
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 100px;
    padding: 0px 30px;
    font-size: 20px;
}

.subscribe-letter input[type="submit"] {
    position: absolute;
    right: -1px;
    height: 70px;
    background-color: #427337;
    padding: 0px 30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    z-index: 11;
}
.intro-dr-rehman h3 {
	font-size: 28px;
	font-weight: 600;
	color: #1e4171;
	padding-bottom: 20px;
	margin: 50px 0px;
	position: relative;
}
.intro-dr-rehman h3::before {
	position: absolute;
	content: '';
	width: 75px;
	height: 3px;
	background-color: #407839;
	bottom: 0;
	left: 0;
}
.intro-dr-rehman p {
	padding-bottom: 15px;
    text-align: justify;
}
.intro-dr-rehman p figure {
	min-width: 528px;
	text-align: left;
	width: auto;
	float: left;
	margin-right: 30px;
}
.intro-dr-rehman p br {
	margin-bottom: 20px;
}

/*-- New CSS 6-09-2023 --*/
.specialist-areas {
	width: 100%;
	height: auto;
	display: inline-block;
	padding: 100px 0px;
	position: relative;
	background-color: #ffffff;
	background-image: url("../../../../assets/images/specialist-area-bg.png");
    
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 45%;
}
.specialist-areas::before {
	position: absolute;
	content: '';
	width: 100px;
	height: 630px;
    background: url("../../../../assets/images/about-us-special-area-bg.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
}
.specialist-areas h3 {
	font-size: 28px;
	font-weight: 600;
	color: #1e4171;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}
.specialist-areas h3::before {
	position: absolute;
	content: '';
	width: 75px;
	height: 3px;
	background-color: #407839;
	bottom: 0;
	left: 0;
}
.specialist-areas ul {
	padding: 0;
}
.specialist-areas ul li {
	list-style-type: none;
	position: relative;
	padding-left: 15px;
}
.specialist-areas ul li::before {
	position: absolute;
	content: '\f105';
	font-family: 'Font Awesome 6 Pro';
	left: 0;
	top: 0;
	color: #1e4171;
}

.experience-training {
	width: 100%;
	height: auto;
	display: inline-block;
	padding: 0px 0px 75px;
	position: relative;
	background-color: #ffffff;
}
.experience-training::before {
	position: absolute;
	content: '';
	width: 750px;
	height: 650px;
	background-image: url('../../../../assets/images/experience-training.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.experience-training .bg-white.p-5 {
	box-shadow: 0px 6px 70px rgba(0,0,0,.1);
	margin-top: 50px;
	position: relative;
}
.experience-training h3 {
	font-size: 28px;
	font-weight: 500;
	color: #1e4171;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}
.experience-training h3::before {
	position: absolute;
	content: '';
	width: 75px;
	height: 3px;
	background-color: #407839;
	bottom: 0;
	left: 0;
}
.experience-training ul li {
	list-style-type: none;
	position: relative;
	padding-left: 0px;
	padding-bottom: 15px;
	line-height: 20px;
	font-size: 15px;
}
.experience-training ul li strong {
	display: block;
	color: #1e4171;
	font-weight: 600;
	padding-bottom: 5px;
	font-size: 16px;
}
/* home - section F */

@media (max-width: 1023px) {

    /* for new banner */
    .subscribe-letter {
        top: -32px;
        width: 100%;
        margin-left: -360px;
    }
    .site-banner .banner-caption h1 {
        line-height: 36px;
        padding-bottom: 15px;
    }
    .banner-caption p {
        padding-right: 0rem;
    }
    .intro-dr-rehman p figure {
        max-width: 400px;
        min-width: 400px;
    }
    .intro-dr-rehman p figure img {
        width: 100%;
    }
}

/*1023*/

@media (min-width: 1024px) and (max-width: 1199px) {
    .subscribe-letter {
        width: 90%;
        margin-left: -440px;
    }
    .site-banner .banner-caption h1 {
        line-height: 36px;
        padding-bottom: 15px;
    }
    .banner-caption p {
        padding-right: 0rem;
    }
    .intro-dr-rehman p figure {
        margin-bottom: 20px;
    }
}

/*1199*/

@media (max-width: 767px) {
    .subscribe-letter {
        width: 100%;
        left: 0%;
        margin-left: 0px;
        box-sizing: border-box;
        padding: 0px 15px;
        box-shadow: none;
        border-radius: unset;
    }

    .subscribe-letter input[type="submit"] {
        position: relative;
        right: 0px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        width: 100%;
    }

    .subscribe-letter {
        top: -70px;
    }

    .subscribe-letter input[type="email"] {
        text-align: center;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, .5);
    }
    .intro-dr-rehman p figure {
        max-width: 100%;
        min-width: 100%;
    }
    .specialist-areas {
        padding: 0px 0px 50px;
    }
    .intro-dr-rehman figure {
        margin-bottom: 30px;
    }
}