
<head>
	<title>{{ pageTitle }}</title>
	<meta name="description" content=`{{description}}`>
	<meta name="keywords" content=`{{keyword}}`>
  </head>



<div class="site_wrapper">
	<app-top-banner [pageTitle]="AboutPageTitle"></app-top-banner>

	<div class="intro-dr-rehman">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>
						{{ "Dr Ali Rahman" | translate }}: {{ "Introduction" | translate }}
					</h3>
				</div>

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<p style="text-align: start!important;">
					<figure>
						<img src="/assets/images/profile-img.jpg" class="img-fluid" alt="" width="600px" />
					</figure>
					{{ "aboutComponentP1" | translate }}<br />

					{{ "aboutComponentP2" | translate }}<br />

					{{ "aboutComponentP3" | translate }}<br />

					{{ "aboutComponentP4" | translate }}<br />
					</p>
				</div>

				<!--<div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
					<p>{{"aboutComponentP1" | translate}}</p>

					<p>{{"aboutComponentP2" | translate}}</p>

					<p>{{"aboutComponentP3" | translate}}</p>

					<p>{{"aboutComponentP4" | translate}}</p>
				</div>-->
			</div>
		</div>
	</div>
	<!--dr rehman intro-->

	<div class="specialist-areas">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
					<h3>{{ "specialistAreas" | translate }}</h3>
					<ul>
						<li>
							{{ "specialistAreas1" | translate }}

						</li>
						<li>
							{{ "specialistAreas2" | translate }}

						</li>
						<li>
							{{ "specialistAreas3" | translate }}

						</li>
						<li>
							{{ "specialistAreas4" | translate }}

						</li>
						<li>
							{{ "specialistAreas5" | translate }}

						</li>
						<li>
							{{ "specialistAreas6" | translate }}

						</li>
						<li>
							{{ "specialistAreas7" | translate }}

						</li>
						<li>
							{{ "specialistAreas8" | translate }}

						</li>
						<li>
							{{ "specialistAreas9" | translate }}

						</li>
						<li>
							{{ "specialistAreas10" | translate }}

						</li>
						<li>
							{{ "specialistAreas11" | translate }}

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--specialist areas-->

	<div class="experience-training">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6 col-md-12 col-sm-12">
					<div class="bg-white p-5">
						<h3>{{"Experience" | translate}} &amp; {{"training" |translate}}</h3>
						<ul>
							<li>
								<strong>{{"date1" | translate}}</strong> {{"exp1" |translate}}
							</li>
							<li>
								<strong>{{"date2" | translate}}</strong> {{"exp2" |translate}}
							</li>
							<li>
								<strong>{{"date3" | translate}}</strong> {{"exp3" |translate}}
							</li>
							<li>
								<strong>{{"date4" | translate}}</strong> {{"exp4" |translate}}
							</li>
							<li>
								<strong>{{"date5" | translate}}</strong> {{"exp5" |translate}}
							</li>
							<li>
								<strong>{{"date6" | translate}}</strong> {{"exp6" |translate}}
							</li>
						</ul>
					</div>
				</div>
				<!--col/6-->
			</div>
		</div>
	</div>
	<!--experience training-->

	<div class="qualiMember-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="position-relative qualiMember-item" style="text-wrap: normal">
						<h4>{{"Qualifications" |translate}}</h4>
						<small>{{"q1" | translate}}</small>
						<p>
              * {{"q11" |translate }}
							<br />
              * {{"q12" |translate }}
							<br />
              * {{"q13" |translate }}
						</p>
					</div>
				</div>

				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="position-relative qualiMember-item membership">
						<h4>{{"m1" |translate }}</h4>
						<!--<p>Royal College of Radiologists (RCR)<br>
							British Society of Skeletal Radiologists (BSSR)<br>
							European Society of Skeletal Radiologists (ESSR Diploma)<br>
							Radiological Society of North America (RSNA)</p>-->
						<p>
              * {{ "m11" |translate }}<br />
							* {{ "m12" |translate }}<br />
							* {{"m13" |translate }}<br />
							* {{"m14" |translate }}<br />
							* {{"m15" |translate }}<br />
							* {{"m16" |translate }} <br />
							* {{"m17" |translate }}
						</p>
					</div>
				</div>

				<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative notable-area">
						<ol class="d-flex list-inline my-5">
							<li>Notable Achievements</li>
							<li>
								<p>Living in Berne, Switzerland (Born in London, United Kingdom)<br>
									(Holds Dual British and German Citizenships) (Received Swiss citizenship in
									2022)<br>
									(German and Swiss Board Certified in General Radiology, MSK Radiology and
									Neuroradiology)</p>
							</li>
						</ol>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<!--quality members-->

	<div class="section-f">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
						<ol class="d-flex">
							<li>
								<strong>{{ "Get a second opinion" | translate }}</strong>
								<p>
                  {{"home banner long text" | translate}}
								</p>
							</li>

							<li>
								<aside>
									<a routerLink="/GetSecondOpinion">{{
										"Get Second Opinion" | translate
										}}</a>
								</aside>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--section f-->

	<!--<div class="about-how-do-steps">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure><img src="/assets/images/about-step01.jpg" alt="" /></figure>
					<h5>expert care</h5>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure><img src="/assets/images/about-step02.jpg" alt="" /></figure>
					<h5>accurate diagnosis</h5>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure><img src="/assets/images/about-step03.jpg" alt="" /></figure>
					<h5>prompt testing</h5>
				</div>

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<ul class="d-flex list-inline justify-content-center mt-5">
						<li>
							<aside><a href="#">self referral <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
						<li>
							<aside><a href="#">professional <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>about how to steps-->

	<!-- <div class="news-and-events">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Recent News and Events</h3>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture1.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture2.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture3.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<aside class="text-center mt-5"><a href="#" class="get_more_events">view more <i
								class="fa-regular fa-arrow-right"></i></a></aside>
				</div>
			</div>
		</div>
	</div> -->
	<!--news and events-->
</div>
<!--site wrapper-->
<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="col-md-11 mx-auto">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="{{'enterEmail' | translate}}" required>
							<input type="submit" value="{{'subscribe' | translate}}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
