.site_wrapper {
    padding: 0px 0px 100px;
}
.invalid-feedback {
    padding-left: 30%;
}
.contact-info-section p a {
	color: #212529;
}
.contact-form-section {
	background-color: #f6f6f6;
	padding: 20px 20px;
	width: 100%;
	border: 1px solid rgba(0,0,0,.10);
	border-top-color: #1e4171;
	border-top-width: 5px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.contact-form-section h6 {
	margin-bottom: 30px;
	text-align: center;
	background-color: #1e4171;
	color: #ffffff;
	line-height: 40px;
}
.contact-form-row {
	display: block;
	padding: 10px 0px;
}
.contact-form-row label {
	display: inline-block;
	width: 25%;
	vertical-align: top;
}
.contact-form-row input[type="text"], .contact-form-row input[type="email"], .contact-form-row input[type="tel"] {
	width: 70%;
	border: #ccc solid 1px;
	height: 40px;
	border-radius: 5px;
	padding: 10px;
	outline: none;
}
.contact-form-row input[type="submit"] {
	background-color: #407839;
	color: #ffffff;
	padding: 8px 20px;
	display: inline-block;
	border-radius: 100px;
	box-shadow: 0px 11px 35px #407839;
	min-width: 150px;
	border: 1px solid #407839;
	text-transform: capitalize;
	margin-right: 20px;
}
.contact-info-section h2 {
	font-size: 40px;
	font-weight: 600;
	color: #1e4171;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}
.contact-info-section h2::before {
	position: absolute;
	content: '';
	width: 75px;
	height: 3px;
	background-color: #407839;
	bottom: 0;
	left: 0;
}

/* home - section F */

