<div class="site_wrapper">
	<div class="site-banner">
		<figure>
		  <img src="/assets/images/home-new-banner.jpg" alt="" />
		  <div class="banner-caption">
			<h1>Second Opinion <br />Makes a <span>Difference</span></h1>
			<p>Why settle for one opinion when you can have the best? Get personalized care from our expert team and
			  simplify your medical journey with us.</p>
			<aside>
			  <a routerLink="/GetSecondOpinion" class="primary-button w-button">{{"Get a second opinion" | translate}} </a>
			</aside>
		  </div>
		</figure>
	</div>
	  <!--site banner-->
	<!-- <div class="site-feature-banner">
		<figure><img src="../../../../assets/images/our-team-banner.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Contact Us <small>Radiology, Neuroradiology Specialist</small></h1>
				<aside><a routerLink="/contact" type="button">contact us <i class="fa-regular fa-arrow-right"></i></a>
				</aside>
			</div>
		</figure>
	</div> -->



	<div class="specialist-areas contact-info-section p-t-100">
		<div class="container">
			<div class="row">
				<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
					<h3>Contact Information</h3>
					<p><strong>Address:</strong></p>
					<p>34th Avenue New York, W2 3XE</p>
					<p class="mt-4"><strong>Phone Number:</strong> <a href="tel:41795281875" target="blank"> +41 795281875</a></p>
					<p><strong>Email:</strong> <a href="mailto:info@radiologycheck.com"
							target="blank">info@radiologycheck.com</a></p>
					<p class="mt-4"><strong>Working Hours:</strong></p>
					<p>Monday - Sunday (24x7)</p>
				</div>

				<div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
					<div class="contact-form-section">
						<h6>Please enter the following information in the form below</h6>
						<form name="form" #contactForm="ngForm" (ngSubmit)="contactForm.form.valid && storeData()">
							<div class="contact-form-row">
								<label>Name</label>
								<input type="text" name="name" required [(ngModel)]="contactObj.name" #name="ngModel"
									[ngClass]="{ 'is-invalid': contactForm.submitted && name.errors }" />

								<div *ngIf="contactForm.submitted && name.errors" class="invalid-feedback">
									Name is required !
								</div>
							</div>


							<div class="contact-form-row">
								<label>Email ID</label>
								<input type="email" name="email" required [(ngModel)]="contactObj.email"
									#email="ngModel"
									[ngClass]="{ 'is-invalid': contactForm.submitted && email.errors }" />

								<div *ngIf="contactForm.submitted && email.errors" class="invalid-feedback">
									Email is required !
								</div>
							</div>

							<div class="contact-form-row">
								<label>Phone</label>
								<input type="tel" maxlength="12" pattern="^((\\+91-?)|0)?[0-9]{10}$" name="phone"
									required [(ngModel)]="contactObj.phone" #phone="ngModel"
									[ngClass]="{ 'is-invalid': contactForm.submitted && phone.errors }" />

								<div *ngIf="contactForm.submitted && phone.errors" class="invalid-feedback">
									<div *ngIf="phone.errors?.['required']">Phone
										Number is required </div>
									<div *ngIf="phone.errors?.['pattern']">This is not
										a valid Phone Number</div>
								</div>
							</div>

							<div class="contact-form-row">
								<label>Message</label>
								<textarea name="message" type="textarea" name="message" #message="ngModel"
									[(ngModel)]="contactObj.message" required
									[ngClass]="{ 'is-invalid': contactForm.submitted && message.errors }"></textarea>

								<div *ngIf="contactForm.submitted && message.errors" class="invalid-feedback">
									Message is required !
								</div>
							</div>


							<div class="contact-form-row text-right">
								<input type="submit" value="submit">
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div><!--specialist areas-->



	<div class="home_section_f">
		<div class="container">
			<div class="row">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="Enter your email here" required>
							<input type="submit" value="Subscribe Our Newsletter">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!--site wrapper-->