<div class="feature_picture">
    <img src="assets/images/feature_picture.jpg" alt="" />
</div>
<!-- feature banner -->

<div class="site-wrapper">
    <div class="inner-page-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="inner-page-sidebar">
                        <ul>
                            <li><a href="#">Abdominal Radiology</a></li>
                            <li><a href="#">Neuro Radiology</a></li>
                            <li><a href="#">Oncology Radiology</a></li>
                            <li><a href="#">Pediatric Radiology</a></li>
                            <li><a href="#">Prostate Radiology</a></li>
                            <li><a href="#">Sport Injuries</a></li>
                            <li><a href="#">Thoracic Radiology</a></li>
                            <li><a href="#">Woman Radiology</a></li>
                        </ul>

                        <div class="sidebar-second-opinion-cta position-relative mt-5">
                            <img src="assets/images/sidebar-second-opinion.jpg" alt="" />
                            <div class="position-absolute">
                                <h5>Do you want an <span>Abdominal Radiology</span> Second Opinion?</h5>
                                <button class="btn" type="button">contact us</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                    <h4>Why should you opt for an Abdominal Radiology Second Opinion?</h4>
                    <p>The human abdomen houses many vital organs such as the stomach, small intestine, large intestine,
                        liver, spleen, gallbladder, bile duct system, pancreas, kidneys, ureters, bladder and many blood
                        vessels (arteries and veins). So it is extremely important to be vigilant if anything unusual is
                        felt in the abdomen as pain or discomfort in the area can signal many serious health concerns.
                    </p>

                    <p>Three of the five most seriously afflicted organs by cancer are located within the human abdomen.
                        Cancers of the colon, rectum and prostate are among the primary causes of cancer mortality. It
                        is estimated that pancreatic cancer accounts for 7% of total cancer deaths. The average lifetime
                        risk of pancreatic cancer is 1 in 64. Misdiagnosis of pancreatic cancer is common because
                        symptoms are typically vague or unclear, such as prolonged pelvic pain or general abdominal
                        discomfort. Given the fast development of pancreatic cancer, this is exceedingly risky.</p>


                    <p>Early detection is critical for effective therapy. Get a second opinion to avoid abdominal cancer
                        misdiagnosis. A second opinion is always recommended when it comes to MRI, CT or X- Ray scans so
                        that you can make a confident decision.</p>

                    <p>At Radiologycheck.com, you can get a precise second opinion and detailed diagnosis for health
                        issues related to multiple organs such as the liver, kidneys, stomach, ovaries, bladder,
                        prostate etc.</p>

                    <h4>Our Second opinion encompasses all abdominal scans including:</h4>
                    <ol class="d-flex">
                        <li><span class="plus-icon"></span> Abdominal CT and MRI scan</li>
                        <li><span class="plus-icon"></span> Oncological imaging of the abdomen</li>
                        <li><span class="plus-icon"></span> General and Doppler Ultrasound</li>
                        <li><span class="plus-icon"></span> Gastrointestinal and Genitourinary Fluoroscopy</li>
                    </ol>

                    <h4>Why is it necessary to go for a Second Opinion?</h4>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <img src="assets/images/inner-second-openion.jpg" alt=""
                                class="img-fluid border-radius-15" />
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p>Any disease diagnosis has the potential to change our lives. Nearly all of us become
                                overwhelmed in such circumstances. However, being aware of the possibilities may enable
                                you to make more assured choices. Many people seek a second opinion from a radiologist
                                in order to feel at ease and in charge of their lives.</p>

                            <strong>How a second opinion can benefit you:</strong>
                            <ol>
                                <li><span class="plus-icon"></span> It confirms the accuracy of your diagnosis.</li>
                                <li><span class="plus-icon"></span> You get a better understanding of your condition.
                                </li>
                                <li><span class="plus-icon"></span> You have the option of choosing the best way
                                    forward.</li>
                                <li><span class="plus-icon"></span> You get peace of mind.</li>
                                <li><span class="plus-icon"></span> You can make a confident decision.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- inner page content -->
</div>
<!-- site wrapper -->

<div class="home_section_f">
    <div class="container">
        <div class="row">
            <div class="position-relative">
                <div class="subscribe-letter">
                    <form>
                        <input type="email" placeholder="Enter your email here" required>
                        <input type="submit" value="Subscribe Our Newsletter">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- home section f -->