<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <h4 class="text-dark text-capitalize"><span><i class="fa-regular fa-house"></i></span> dashboard</h4><hr>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="bg-white p-5 rounded mb-5">
            <h4 class="text-dark text-capitalize">hello, <span class="text-warning">{{userName}}</span></h4>
            <p>have a nice day and don't forget to take care of your health!</p>
        </div>
    </div>
</div>
<!-- row -->

<div class="row three-report-graph">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="dash-bg-1 p-4 text-white rounded">
            <h5 class="text-capitalize">health report</h5><hr>
            <ol>
                <li><div class="bg-info p-1 rounded-circle"><i class="fa-solid fa-heart-pulse"></i></div></li>
                <li>120/80</li>
                <li><img src="https://i.pinimg.com/originals/da/2e/db/da2edbf7c34fd73ed79784235e27aa29.png" alt="" class="img-fluid" />
                    <div class="page-layout-names">
                        <span class="page-formating">
                            <img src="https://cdn-icons-png.flaticon.com/512/136/136522.png" alt="">
                        </span>
                        
                        <span class="view-this-file">
                            <a title="Preview" href="javascript:;"><i class="fa-regular fa-eye"></i></a>
                        </span>
                        
                        <span class="downloading-this-file">
                            <a title="Download this File" href="javascript:;"><i class="fa-solid fa-down-to-bracket"></i></a>
                        </span>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="dash-bg-2 p-4 text-white rounded">
            <h5 class="text-capitalize">blood report</h5><hr>
            <ol>
                <li><div class="bg-danger p-1 rounded-circle"><i class="fa-solid fa-droplet"></i></div></li>
                <li>102 bpm</li>
                <li><img src="https://i.pinimg.com/originals/da/2e/db/da2edbf7c34fd73ed79784235e27aa29.png" alt="" class="img-fluid" />
                    <div class="page-layout-names">
                        <span class="page-formating">
                            <img src="https://cdn-icons-png.flaticon.com/512/136/136522.png" alt="">
                        </span>
                        
                        <span class="view-this-file">
                            <a title="Preview" href="javascript:;"><i class="fa-regular fa-eye"></i></a>
                        </span>
                        
                        <span class="downloading-this-file">
                            <a title="Download this File" href="javascript:;"><i class="fa-solid fa-down-to-bracket"></i></a>
                        </span>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="dash-bg-3 p-4 text-white rounded">
            <h5 class="text-capitalize">Covid-19 Report</h5><hr>
            <ol>
                <li><div class="bg-dark p-1 rounded-circle"><i class="fa-regular fa-virus-covid"></i></div></li>
                <li>positive</li>
                <li><img src="https://i.pinimg.com/originals/da/2e/db/da2edbf7c34fd73ed79784235e27aa29.png" alt="" class="img-fluid" />
                    <div class="page-layout-names">
                        <span class="page-formating">
                            <img src="https://cdn-icons-png.flaticon.com/512/136/136522.png" alt="">
                        </span>
                        
                        <span class="view-this-file">
                            <a title="Preview" href="javascript:;"><i class="fa-regular fa-eye"></i></a>
                        </span>
                        
                        <span class="downloading-this-file">
                            <a title="Download this File" href="javascript:;"><i class="fa-solid fa-down-to-bracket"></i></a>
                        </span>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
<!-- row -->

<!-- <div class="row mt-5">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="bg-white p-4 rounded mb-4">
            <div class="lavel-reports">
                <ol>
                    <li><span class="text-dark"><i class="fa-solid fa-glass-water-droplet"></i></span></li>
                    <li>
                        <h6 class="text-dark text-capitalize">water balance</h6>
                        <dd class="display-6 font-weight-bold text-dark">42%</dd>
                        <small>Aldus PageMaker including versions of Lorem Ipsum</small>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="bg-white p-4 rounded mb-4">
            <div class="lavel-reports">
                <ol>
                    <li><span class="text-dark"><i class="fa-solid fa-person"></i></span></li>
                    <li>
                        <h6 class="text-dark text-capitalize">general health</h6>
                        <dd class="display-6 font-weight-bold text-dark">65%</dd>
                        <small>Aldus PageMaker including versions of Lorem Ipsum</small>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="bg-white p-5 rounded mb-4">
            <img src="https://stats.areppim.com/ressources/weight_usgirls_650x561.png" alt="" class="img-fluid">
        </div>
    </div>
</div> -->
<!-- row -->
<!-- DASHBOARD PAGE -->