<div class="site_wrapper">
	<div class="site-feature-banner">
		<figure><img src="/assets/images/about-feature.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Dr Ali Rahman <small>M.Sc., EBR, ESNR, ESSR</small></h1>
				<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="specialist-areas">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<h3>Specialist Areas</h3>
					<ul>
					<li>Musculoskeletal (MSK) and Sports Imaging Radiologist</li>
					<li>MRI Arthrograms to diagnose problems centred inside joints (e.g. Shoulders, Hips, Wrists, Elbows, Knees, Ankles)</li>
					<li>Diagnostic reporting of X-rays, CT and MRI scans</li>
					<li>Diagnostic MSK ultrasound (USS) scanning</li>
					<li>Developing Image-guided treatments to complement conventional physiotherapy and surgical</li>
					<li>Approaches – e.g. USS-guided injections for tendons, joints and soft tissues</li>
					<li>Dry needling of tendons</li>
					<li>A novel technique for USS-guided injection and release of trigger finger</li>
					<li>Treatment of Calcific Tendinitis using Barbotage (a fine needle to break up areas of calficiation).</li>
					<li>Treatment of frozen shoulder using Hydrodilatation (a quick injection and stretching technique under Image-guidance)</li>
					<li>Image-guided injection of steroids (cortisone)</li>
					<li>USS-guided Platelet-rich plasma (PRP) treatments</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!--specialist areas-->
	
	
	<div class="experience-training">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6 col-md-12 col-sm-12">
					<div class="bg-white p-5">
						<h3>Experience &amp; training</h3>
						<ul>
						<li><strong>September 2019</strong> European Board Certified ESSR in Muscle-Skeletal Radiology Subspecialty</li>
						<li><strong>April 2018</strong> European Board Radiologist, EBR, exam in Vienna, Austria</li>
						<li><strong>May 2015</strong> European Qualification in Diagnostic Neuroradiology EdiNR, ESNR.</li>
						<li><strong>August 2013</strong> Neuroradiology Specialty Exam Swiss Boards FMH after 2-year fellowship training in Zurich, Switzerland</li>
						<li><strong>October 2012</strong> German Board Certification Exam, “Facharzt” in Diagnostic and Interventional Radiology in Frankfurt, Germany</li>
						</ul>
					</div>
				</div><!--col/6-->
			</div>
		</div>
	</div><!--experience training-->
	
	
	<div class="qualiMember-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="position-relative qualiMember-item">
						<h4>Qualifications</h4>
						<small>M.Sc., EBR, ESNR, ESSR</small>
						<p>Living in Berne, Switzerland (Born in London, United Kingdom)<br>
							(Holds Dual British and German Citizenships) (Received Swiss citizenship in 2022)<br>
							(German and Swiss Board Certified in General Radiology, MSK Radiology and Neuroradiology)</p>
					</div>
				</div>
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="position-relative qualiMember-item membership">
						<h4>Memberships</h4>
						<p>Royal College of Radiologists (RCR)<br>
							British Society of Skeletal Radiologists (BSSR)<br>
							European Society of Skeletal Radiologists (ESSR)<br>
						Radiological Society of North America (RSNA)</p>
					</div>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative notable-area">
						<ol class="d-flex list-inline my-5">
							<li>Notable Achievements</li>
							<li><p>Living in Berne, Switzerland (Born in London, United Kingdom)<br>
								(Holds Dual British and German Citizenships) (Received Swiss citizenship in 2022)<br>
								(German and Swiss Board Certified in General Radiology, MSK Radiology and Neuroradiology)</p>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--quality members-->
	
	
	<div class="section-f">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation </p>
						</li>
						
						<li>
							<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section f-->
	
	
	<div class="news-and-events">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Recent News and Events</h3>
				</div><!--col/12-->
				
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture1.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->
				
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture2.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->
				
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<figure>
						<img src="/assets/images/news-and-events-picture3.jpg" alt="" class="w-100" />
						<h6>Therapeutic Injections</h6>
					</figure>
					<strong>Osteoarthritis Pain: How Therapeutic Injections Help</strong>
					<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,....</p>
					<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/4-->
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<aside class="text-center mt-5"><a href="#" class="get_more_events">view more <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div><!--col/12-->
			</div>
		</div>
	</div><!--news and events-->
	
				
	
	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation </p>
						</li>
						
						<li>
							<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->
	
	
</div><!--site wrapper-->
	