<div class="site_wrapper">
	<div class="site-feature-banner">
		<figure><img src="../../../../../assets/images/our-team-banner.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Blog details<small>M.Sc., EBR, ESNR, ESSR</small></h1>
				<aside><a routerLink="/contact" type="button">contact us <i class="fa-regular fa-arrow-right"></i></a>
				</aside>
			</div>
		</figure>
	</div><!--site banner-->

	<div class="news-and-events blog-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Lessons learned from 7 years of structured radiology reporting at 1 institution</h3>
				</div><!--col/12-->

				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<div class="blog-detail-section">
						<figure>
							<img src="../../../../../assets/images/blog-Lessons-learned-from.jpg" alt="" class="w-100" />
						</figure>
						<strong></strong>
						<span class="date"><i class="fa-light fa-calendar-days"></i> April 13, 2023 | 05:52 PM <i
								class="fa-light fa-clock-ten"></i> 02:40 PM</span>
                        <p>European imaging experts are offering key lessons learned from seven years of structured radiology reporting at their institution. </p>
						<p>The University Medical Center Mainz in Germany first made its move away from free-text reporting in 2016 and has seen a marked increase in adoption since then. As of December, the tertiary care provider had logged more than 22,000 structured reports. Radiologists’ average usage rate for the 10 most popular templates was about 77%, experts wrote Tuesday, April 11, in Insights into Imaging [1]. </p>
						<p>They’re urging others to take the plunge and detailing important takeaways from the journey. </p>
						<p>“The data on high [structured reporting] usage, along with the positive attitudes of both radiologists and clinical referrers towards SR, shows that the clinical implementation of SR can be successful,” Tobias Jorg, MD, with the institution’s Department of Diagnostic and Interventional Radiology, and co-authors concluded. “We therefore strongly encourage others to take this step. Ultimately, the added value that SR provides is definitely worth the effort.”</p>
                        <p>Based on 2022 data, the most popular exams for SR usage have included trauma CT (97%), focused assessment with ultrasound for trauma (95%), and prostate MRI (92%). By modality, structured reporting use averaged 17% for ultrasound, 13% for CT and 6% in MRI, the authors noted. SR use is both encouraged and recommended at the institution but not mandatory. </p>
                        <p>The University Medical Center Mainz surveyed 51 physicians (15 radiologists and 36 referrers) to gather feedback on the change. Both rated SR significantly higher than free-text reports in terms of completeness, clarity, enabling fast extraction of relevant information, facilitating decision-making and supporting scientific research. They also agreed about the importance of structuring the findings section of the report. </p>
                        <p>“Nevertheless, they stated that unstructured content will always be necessary in radiological reports and that structured reporting will not be possible for every indication,” Jorg et al. reported, noting that both sides agree that the SR to free-text reporting ratio should be about 2:1. </p>
                        <p>The nature of examinations may help to explain differing use rates. For instance, prostate MRI saw an average of about 92% of exams using SR compared to 58% for pulmonary embolism CT. But the former offers radiologists decision support on how to classify lesions and an interactive map of the prostate. In CT for pulmonary embolism, meanwhile, findings pointing to an alternative diagnosis arise in 33% of exams, the authors noted. </p>
                        <p>Despite any obstacles, the hospital sees further adoption in the future, with one possible impediment. </p>
                        <p>“The data on high SR usage and the positive attitude towards SR indicate that personal aversions to SR among radiologists are low at our institution,” Jorg and co-authors wrote. “On the contrary, radiologists desire more SR, and currently the limiting factor is the availability of templates. Over a seven-year process, radiologists have become accustomed to SR. Aversions from the early days might have faded and are addressed by subsequent teaching on how to use SR.”</p>
                    </div>

					<div class="blog-details-next-prev">
						<div class="d-flex justify-content-between">
							<button type="button" class="btn btn-default text-capitalize text-white"><i
									class="fa-light fa-arrow-left"></i> previous</button>
							<button type="button" class="btn btn-default text-capitalize text-white">next <i
									class="fa-light fa-arrow-right"></i></button>
						</div>
					</div>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<div class="blog-sidebar-section">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<h4>next Blogs</h4>
							</div>

							<div class="sidebar-tiny-next-pages">
								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img2.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>

								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img3.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>

								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img1.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>
							</div><!--col/4-->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div><!--news and events-->






	<div class="home_section_f">
		<div class="container">
			<div class="row">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="Enter your email here" required>
							<input type="submit" value="Subscribe Our Newsletter">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site wrapper-->