<div class="feature_picture">
	<img src="../assets/images/neuroradiology-bannewr.jpg" alt="" />
</div>
<div class="site-wrapper">
	<div class="inner-page-content">
		<div class="container">
			<div class="row">
				<!--<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
					<app-radiology-sidebar [textFromParent]="doYouWantSecondOpinionTextForEachComponent"></app-radiology-sidebar>

				</div>
				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
					<h4>{{"Neuroradiology" | translate}}</h4>
					<p>{{"P bellow Banner - Get a Second Opinion on Neuroradiology" | translate}}</p>

					<strong>{{"Rely on us for an error-free second opinion" | translate}}</strong>

					<h4>{{"Do you want a Neuroradiology Second Opinion?" | translate}} <a
							routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}</a></h4>

					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<img src="../assets/images/Neuroradiology.jpg" alt=""
								class="img-fluid border-radius-15" />
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

						</div>
					</div>
				</div>-->
				<div class="col-md-12">
					<h2 class="heading_strip">{{"Neuroradiology" | translate}}</h2>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/brainTumors"><img src="../assets/images/Differential-Diagnosis.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/brainTumors"><h3>{{"Header Differential Diagnosis of Intracranial Masses and Brain Tumors" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/backPain"><img src="../assets/images/back-pain.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/backPain"><h3>{{"Header Back Pain and Radiculopathy" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/spinalTrauma"><img src="../assets/images/Spinal-Trauma.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/spinalTrauma"><h3>{{"Header Spinal Trauma and Injuries" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/brainAndSpine"><img src="../assets/images//Demyelinating-Diseases.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/brainAndSpine"><h3>{{"Header Brain and Spine" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/headTrauma"><img src="../assets/images/Traumatic-brain-banner.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/headTrauma"><h3>{{"Header Head Trauma" | translate}} </h3></a></div>
					</div>
				</div>
				<!--<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/childWithAcuteNeurological"><img src="../assets/images/stock-photo-Children-with-acute-neurological-crises-2053849238.jpg" alt=""  height="248px" /></a></div>
						<div class="services-text"><a routerLink="/childWithAcuteNeurological"><h3>Children with acute neurological</h3></a></div>
					</div>
				</div>-->
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/cranialNerveDisorders"><img src="../assets/images/Cranial-Nerve-Disorders.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/cranialNerveDisorders"><h3>{{"Header Cranial Nerve Disorders" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/dementiaAlzheimer"><img src="../assets/images/Dementia-Alzheimer.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/dementiaAlzheimer"><h3>{{"Header Dementia, Alzheimer & Other Neurodegenerative Disorders" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/epilepsyOrSeizures"><img src="../assets/images/epilepsy-Seizures.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/epilepsyOrSeizures"><h3>{{"Header Epilepsy Or Seizures" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/evaluationOfTinnitus"><img src="../assets/images/Evaluation-of-Tinnitus.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/evaluationOfTinnitus"><h3>{{"Header Evaluation of Tinnitus and Hearing Loss in Adults" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/hydrocephalusAndCSF"><img src="../assets/images/hydrocephalus2.jpg" alt="" height="248px" /></a></div>
						<div class="services-text"><a routerLink="/hydrocephalusAndCSF"><h3>{{"Header Hydrocephalus and CSF Disorders" | translate}}</h3></a></div>
					</div>
				</div>
				<!--<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/hypophysis"><img src="../assets/images/Diseases-of-the-Hypophysis.jpg" alt="" /></a></div>
						<div class="services-text"><a routerLink="/hypophysis"><h3>Diseases of the Hypophysis</h3></a></div>
					</div>
				</div>-->
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/metabolicDisorders"><img src="../assets/images/Metabolic-Disorders.jpg" alt="" height="248px" /></a></div>
						<div class="services-text"><a routerLink="/metabolicDisorders"><h3>{{"Header Toxic and Metabolic Disorders of the brain" | translate}}</h3></a></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-col">
						<div class="services-img"><a routerLink="/strokeAndItsMimics"><img src="../assets/images/Stroke-Mimics-banner2.jpg"  height="248px" alt="" /></a></div>
						<div class="services-text"><a routerLink="/strokeAndItsMimics"><h3>{{"Header Stroke and Its Mimics" | translate}}</h3></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- inner page content -->
</div>

<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="col-md-11 mx-auto">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="{{'enterEmail' | translate}}" required>
							<input type="submit" value="{{'subscribe' | translate}}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>