<div class="site_wrapper">
	<div class="site-feature-banner">
		<figure><img src="../../../../../assets/images/our-team-banner.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Blog details<small>M.Sc., EBR, ESNR, ESSR</small></h1>
				<aside><a routerLink="/contact" type="button">contact us <i class="fa-regular fa-arrow-right"></i></a>
				</aside>
			</div>
		</figure>
	</div><!--site banner-->

	<div class="news-and-events blog-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Radiologists read across an average of 5 subspecialties but aren’t always confident doing so</h3>
				</div><!--col/12-->

				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<div class="blog-detail-section">
						<figure>
							<img src="../../../../../assets/images/blog-Radiologists-read-across.jpg" alt="" class="w-100" />
						</figure>
						<strong></strong>
						<span class="date"><i class="fa-light fa-calendar-days"></i> June 22, 2023 | 09:52 PM <i
								class="fa-light fa-clock-ten"></i> 02:40 PM</span>
                        <p>Radiologists read across an average of nearly five different subspecialties in daily practice, but they aren’t always comfortable doing so, according to new data released Tuesday. ”</p>
                        <p>About 40% of physicians in the specialty said they accept studies across all areas of expertise. Yet, less than half are “very confident” reading cases for a subspecialty in which they currently practice.</p>
                        <p>The findings are part of a survey of 2,749 radiologists across 108 countries, conducted by Medality, a practice development platform for physicians. “Most striking,” the company said, is radiologists’ lack of confidence in certain high-growth areas. About 41% of those surveyed expressed doubt in their skills processing cardiac images, with nuclear medicine (28%) and pediatrics (25%) rounding out the top three. </p>
                        <p>“The change in the guidelines and the fundamental economic structure of practice has led to more cardiac imaging being done in the community in radiology practices,” Lawrence Tanenbaum, MD, chief technology officer, director of advanced imaging, and VP of RadNet Inc., said in the report. “This increased demand means that more general radiologists are going to have to expand their core skills to read in an area they are less comfortable.”</p>
                        <p>Other areas of expertise in which radiologists expressed low confidence included musculoskeletal (23%), breast (22%), and head and neck imaging (21%). Only 17% of those surveyed said they read cardiac scans in daily practice, while 13% handled nuclear medicine requests regularly. The most commonly encountered subspecialty reads included neuroradiology (53%), MSK (53%), gastrointestinal (49%), genitourinary (45%), and chest imaging (44%). The list nearly matches the subspecialties in which radiologists are most interested in learning more about, according to Medality’s survey results. Those include MSK (54%), neuroradiology (50%), GI (40%), head and neck (39%), and GU (37%). </p>
                        <p>“In a private practice setting, MSK and neuroradiology scans generate high reimbursement and together make up the majority of outpatient MRI center volume,” Daniel Arnold, MBA, CEO and co-founder of Medality, said in a June 20 announcement. “Referring clinicians in an outpatient setting, such as orthopedic surgeons and neurosurgeons, have their choice of where to refer patients and will send to those with higher quality images and reports,” he added later.</p>
                        <p>The results echo recent research demonstrating the growing subspecialization of the radiologist workforce. One 2019 analysis in the Journal of the American College of Radiology found that the number of generalists had dipped nearly 8% over the five-year period ending in 2017. Another survey in 2020 estimated that 92% of radiologists believe having a subspecialty is an important part of their professional identity. </p>
                        <p>Medality conducted the survey between August 2021 and January 2023, administering a 10-minute online survey to radiologists who are part of its database. The top countries represented included the U.S., Australia, India, the U.K. and Canada. </p>
                    </div>

					<div class="blog-details-next-prev">
						<div class="d-flex justify-content-between">
							<button type="button" class="btn btn-default text-capitalize text-white"><i
									class="fa-light fa-arrow-left"></i> previous</button>
							<button type="button" class="btn btn-default text-capitalize text-white">next <i
									class="fa-light fa-arrow-right"></i></button>
						</div>
					</div>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<div class="blog-sidebar-section">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<h4>next Blogs</h4>
							</div>

							<div class="sidebar-tiny-next-pages">
								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img2.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>

								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img3.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>

								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img1.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>
							</div><!--col/4-->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div><!--news and events-->
</div><!--site wrapper-->