
<head>
	<title>{{ pageTitle }}</title>
	<meta name="description" content=`{{description}}`>
	<meta name="keywords" content=`{{keyword}}`>
  </head>
  <div class="feature_picture">
	<img src="../assets/images/Metabolic-Disorders2.jpg" alt="" />
</div>
<div class="site-wrapper">
	<div class="inner-page-content">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
					<app-radiology-sidebar [textFromParent]="doYouWantSecondOpinionTextForEachComponent"></app-radiology-sidebar>

				</div>
				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
					<h4>{{"Toxic and Metabolic Disorders of the brain" | translate}}</h4>
					<p>{{"Toxic and Metabolic Disorders of the brain_text" | translate}}</p>
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<img src="../assets/images/Metabolic-Disorders.jpg"
								alt="" class="img-fluid border-radius-15" />
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- inner page content -->
</div>

<!--<div class="home_section_f">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-md-11 mx-auto">-->
<!--				<div class="position-relative">-->
<!--					<div class="subscribe-letter">-->
<!--						<form>-->
<!--							<input type="email" placeholder="{{'enterEmail' | translate}}" required>-->
<!--							<input type="submit" value="{{'subscribe' | translate}}">-->
<!--						</form>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
