<div class="dash-profile-page-layout">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h4 class="text-dark text-capitalize"><span><i class="fa-regular fa-user"></i></span> patient profile information</h4><hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <label class="text-capitalize">first name</label>
            <input type="text" required class="form-control" />
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <label class="text-capitalize">middle name</label>
            <input type="text"  class="form-control" />
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <label class="text-capitalize">last name</label>
            <input type="text" required class="form-control" />
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label class="text-capitalize">email address</label>
            <input type="email" required class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <label class="text-capitalize">landline</label>
            <input type="text"  maxlength="12" class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <label class="text-capitalize">mobile</label>
            <input type="text" required maxlength="10" class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <label>Date of Birth</label>
            <input type="date" required class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <label class="text-capitalize">your age</label>
            <input type="text" maxlength="3"  class="form-control" />
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <label class="text-capitalize">health insurance number</label>
            <input type="text" maxlength="16" required class="form-control" />
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <label class="text-capitalize">full address</label>
            <input type="text" maxlength="110" required class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <label class="text-capitalize">country</label>
            <input type="text" required  class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <label class="text-capitalize">city</label>
            <input type="text" required  class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <label class="text-capitalize">state</label>
            <input type="text" required  class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <label class="text-capitalize">zip code</label>
            <input type="text" maxlength="10" required  class="form-control" />
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <label>Any type of physical disability?</label>
            <select class="text-capitalize form-control">
                <option>-- Select your answer --</option>
                <option>yes</option>
                <option>no</option>
            </select>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <label>Do you smoke?</label>
            <select class="text-capitalize form-control">
                <option>-- Select your answer --</option>
                <option>yes</option>
                <option>no</option>
            </select>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <label>How many years of smoking?</label>
            <select class="text-capitalize form-control">
                <option>-- Select your answer --</option>
                <option>0 - 2</option>
                <option>2 - 5</option>
                <option>5 - 10</option>
                <option>More then 10 years</option>
            </select>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <label>Where to hear about us?</label>
            <div class="radio-wrapper">
                <ul>
                    <li>
                        <input type="radio" name="f1" for="" id="" />
                        <span>relatives</span>
                    </li>
                    
                    <li>
                        <input type="radio" name="f1" for="" id="" />
                        <span>friends</span>
                    </li>
                    <li>
                        <input type="radio" name="f1" for="" id="" />
                        <span>social media</span>
                    </li>
                    <li>
                        <input type="radio" name="f1" for="" id="" />
                        <span>others</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <h5>Past Medical History <small>(Do you have a history of the following problems?)</small></h5>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="checkbox-wrapper">
                        <ul>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> breathing problems</span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> pregnant </span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> heart problems </span>
                            </li>

                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> current wound/skin problems </span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> pacemaker </span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> tumor/cancer </span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> diabetes </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="checkbox-wrapper">
                        <ul>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> stroke </span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> bone/joint problems </span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> kidney problems </span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> gallbladder/liver </span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> electrical implants </span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> anxiety attacks </span>
                            </li>
                            <li>
                                <input type="checkbox" name="" for="" id="" />
                                <span> sleep apnea </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="checkbox-wrapper">
                    <ul>
                        <li>
                            <input type="checkbox" name="" for="" id="" />
                            <span> depression </span>
                        </li>
                        <li>
                            <input type="checkbox" name="" for="" id="" />
                            <span> bowel/bladder </span>
                        </li>
                        <li>
                            <input type="checkbox" name="" for="" id="" />
                            <span> history of heavy alcohol use </span>
                        </li>
                        <li>
                            <input type="checkbox" name="" for="" id="" />
                            <span> drug use </span>
                        </li>
                        <li>
                            <input type="checkbox" name="" for="" id="" />
                            <span> smoking </span>
                        </li>
                        <li>
                            <input type="checkbox" name="" for="" id="" />
                            <span> headaches </span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-5">
            <div class="d-flex">
                <input type="submit" value="save information" class="btn btn-success text-capitalize">
                <input type="button" value="edit" class="btn btn-primary text-capitalize mx-3">
            </div>
        </div>
    </div>
    <!-- dashboard profile page layout -->
</div>