<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <h3 class="d-block text-capitalize">manage profile</h3><hr>
    <div class="manage-profile-nav">
        <ol>
            <!-- <li>
                <span class="short-by-filter">Show Result</span>
                <span class="short-by-select">
                    <select>
                        <option value="">01</option>
                        <option value="">02</option>
                        <option value="">03</option>
                    </select>
                </span>
            </li> -->
            <!-- list item -->

            <li>
                <span class="short-by-filter">Search</span>
                <span class="short-by-select">
                    <form>
                        <input type="search" name="search" [(ngModel)]="searchText" placeholder="Search by Username OR Patient ID">
                    </form>
                </span>
            </li>
            <!-- list item -->

            <li>
                <span class="short-by-filter">Short by</span>
                <span class="short-by-select">
                    <select [(ngModel)]="sortDir" (change)="onSortClick()">
                        <option value="0">-- Select --</option>
                        <option value="1">A to Z</option>
                        <option value="-1">Z to A</option>
                    </select>
                </span>
            </li>
            <!-- list item -->
        </ol>
    </div>
    <!-- manage profile navbar -->

    <div class="manage-profile-tabledata">
        <table class="table table-responsive table-bordered table-hover" *ngIf="(userList | filter: searchText).length > 0; else noResults">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Patient's Name</th>
                    <!-- <th>Patient's Username</th> -->
                    <!-- <th>Patient ID</th> -->
                    <th>Phone</th>
                    <th>Email ID</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of userList |filter: searchText |paginate: { itemsPerPage: 10, currentPage: p }; let i = index;" >
                    <td *ngIf="i < 9">0{{i+1}}</td>
                    <td *ngIf="i >= 9">{{i+1}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <!-- <td>shane_9898</td> -->
                    <!-- <td>shane-radiology-001</td> -->
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <!-- <a href="javascript:;" title="Edit" class="edit-btn">
                            <i class="fa-regular fa-pencil"></i></a> -->
                        <a href="javascript:;" title="Erase" class="erase-btn" (click)="deleteUser(user.id)">
                            <i class="fa-regular fa-trash-xmark"></i></a>
                    </td>
                </tr>
                
            </tbody>
            <!-- tbody -->

            <tfoot class="bg-white">
                <tr>
                    <td colspan="7">
                        <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
                        <!-- <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">First</a></li>
                            <li class="page-item active"><a class="page-link text-white" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">Last</a></li>
                          </ul> -->
                    </td>
                </tr>
            </tfoot>
            <!-- tfooter -->
        </table>
        <ng-template #noResults>
            <p>No results found for "{{searchText}}".</p>
        </ng-template>
    </div>
    <!-- manage profile tabledata -->
</div>
<!-- manage profile wrapper -->