<div class="site_wrapper">
	<app-top-banner></app-top-banner>
	<!-- <div class="site-feature-banner">
		<figure><img src="../../../../assets/images/our-team-banner.jpg" alt="">
			<div class="feature-banner-caption">
				<h1>{{"FAQ"| translate}}<small>{{"Frequently asked questions"| translate}}</small></h1>
				<aside><a routerLink="/contact" type="button">contact us <i class="fa-regular fa-arrow-right"></i></a>
				</aside>
			</div>
		</figure>
	</div> -->

	<div class="faq-page">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="accordion" id="faq">
						<h3>{{ "FAQs for Patients" | translate }}</h3>

						<div class="card">
							<div class="card-header" id="faqhead1">
								<a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1"
									aria-expanded="true" aria-controls="faq1">{{
									"Why should I get a radiology second
									opinion?" | translate
									}}</a>
							</div>

							<div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Why should I get a radiology second opinion?_p1"
										| translate
										}}
									</p>

									<p>
										{{
										"Why should I get a radiology second opinion?_p2"
										| translate
										}}
									</p>

									<p>
										{{
										"Why should I get a radiology second opinion?_p3"
										| translate
										}}
									</p>

									<p>
										{{
										"Why should I get a radiology second opinion?_p4"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead2">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq2" aria-expanded="true" aria-controls="faq2">{{
									"Can my radiology
									diagnosis be wrong?" | translate
									}}</a>
							</div>

							<div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
								<div class="card-body">
									<p>
										{{ "Can my radiology diagnosis be wrong?_p1" | translate }}
									</p>

									<p>
										{{ "Can my radiology diagnosis be wrong?_p2" | translate }}
									</p>

									<p>
										{{ "Can my radiology diagnosis be wrong?_p3" | translate }}
									</p>

									<p>
										{{ "Can my radiology diagnosis be wrong?_p4" | translate }}
									</p>

									<p>
										{{ "Can my radiology diagnosis be wrong?_p5" | translate }}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead3">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq3" aria-expanded="true" aria-controls="faq3">{{
									"Do I need to sign
									up for opting for the services?" | translate
									}}</a>
							</div>

							<div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Do I need to sign up for opting for the services?_p1"
										| translate
										}}
										<a href="javascript:;">{{ "Click here" | translate }}</a>
										{{
										"Do I need to sign up
										for opting for the services?_p1.2" | translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead4">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq4" aria-expanded="true" aria-controls="faq4">{{
									"How do I upload
									pictures of my radiology scan?" | translate
									}}</a>
							</div>

							<div id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"How do I upload pictures of my radiology scan?_p1"
										| translate
										}}
									</p>

									<p>
										{{
										"How do I upload pictures of my radiology scan?_p2.1"
										| translate
										}}
										<strong>
											{{
											"How do I upload pictures of my radiology scan?_p2.2"
											| translate
											}}
										</strong>
										{{
										"How do I upload pictures of my radiology scan?_p2.3"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead5">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq5" aria-expanded="true" aria-controls="faq5">{{
									"How long does it
									take to upload the radiology scan?" | translate
									}}</a>
							</div>

							<div id="faq5" class="collapse" aria-labelledby="faqhead5" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"How long does it take to upload the radiology scan?_p"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead6">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq6" aria-expanded="true" aria-controls="faq6">{{
									"What if I am not
									able to upload through your service?" | translate
									}}</a>
							</div>

							<div id="faq6" class="collapse" aria-labelledby="faqhead6" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Alternate methods for getting your images to us are:"
										| translate
										}}
									</p>
									<ul>
										<li>
											{{
											"You can send us a CD, DVD, flash drive or hard copies (plastic films)"
											| translate
											}}
										</li>
										<li>
											{{
											"You can upload jpeg files for some studies which have only a limited
											number of images (for example X-rays)" | translate
											}}
										</li>
										<li>
											{{ "You can email your study to" | translate }}
											<a href="mailto:{{ emailForSendingDoc }}">{{
												emailForSendingDoc
												}}</a> 
										</li>
										<li>
											{{
											"You can request your imaging facility to either upload the images to our
											secure upload service or send us a CD/DVD or hard copies (plastic films)"
											| translate
											}} 
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead7">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq7" aria-expanded="true" aria-controls="faq7">{{
									"When can I expect
									the results of the radiology second opinion?" | translate
									}}</a>
							</div>

							<div id="faq7" class="collapse" aria-labelledby="faqhead7" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"When can I expect the results of the radiology second opinion?_p"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead8">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq8" aria-expanded="true" aria-controls="faq8">{{
									"Is the website
									secure?" | translate
									}}</a>
							</div>

							<div id="faq8" class="collapse" aria-labelledby="faqhead8" data-parent="#faq">
								<div class="card-body">
									<p>{{ "Is the website secure?_p" | translate }}</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead9">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq9" aria-expanded="true" aria-controls="faq9">{{
									"How much does the
									radiology second opinion service charge?" | translate
									}}</a>
							</div>

							<div id="faq9" class="collapse" aria-labelledby="faqhead9" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"How much does the radiology second opinion service charge?_p"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead10">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq10" aria-expanded="true" aria-controls="faq10">{{
									"Do I need the
									consent of my doctor for a second opinion?" | translate
									}}</a>
							</div>

							<div id="faq10" class="collapse" aria-labelledby="faqhead10" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Do I need the consent of my doctor for a second opinion?_p"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead11">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq11" aria-expanded="true" aria-controls="faq11">{{
									"Is there a
									customer care number?" | translate
									}}</a>
							</div>

							<div id="faq11" class="collapse" aria-labelledby="faqhead11" data-parent="#faq">
								<div class="card-body">
									<p>{{ "Is there a customer care number?_p1" | translate }}</p>
									<p>
										<a href="tel:0080 673 729 766">{{
											"Is there a customer care number?_p2" | translate
											}}</a>
									</p>
									<p>
										<a href="mailto:contact@business.com">{{
											"Is there a customer care number?_p3" | translate
											}}</a>
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead12">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq12" aria-expanded="true" aria-controls="faq12">{{
									"What kind of
									radiological report should I expect?" | translate
									}}</a>
							</div>

							<div id="faq12" class="collapse" aria-labelledby="faqhead12" data-parent="#faq">
								<div class="card-body">
									<ul>
										<li>
											{{
											"What kind of radiological report should I expect?_text1"
											| translate
											}}
										</li>

										<li>
											{{
											"What kind of radiological report should I expect?_text2"
											| translate
											}}
										</li>

										<li>
											{{
											"What kind of radiological report should I expect?_text3"
											| translate
											}}
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead13">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq13" aria-expanded="true" aria-controls="faq13">{{
									"Why should I get
									a remote radiology opinion?" | translate
									}}</a>
							</div>

							<div id="faq13" class="collapse" aria-labelledby="faqhead13" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Why should I get a remote radiology opinion?_p"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead14">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq14" aria-expanded="true" aria-controls="faq14">{{
									"Can I request the
									study from the original facility?" | translate
									}}</a>
							</div>

							<div id="faq14" class="collapse" aria-labelledby="faqhead14" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Can I request the study from the original facility?_p1"
										| translate
										}}
									</p>

									<p>
										{{
										"Can I request the study from the original facility?_p2"
										| translate
										}}
									</p>

									<p>
										{{
										"Can I request the study from the original facility?_p3"
										| translate
										}}
									</p>

									<p>
										{{
										"Can I request the study from the original facility?_p4"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead15">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq15" aria-expanded="true" aria-controls="faq15">{{
									"Can I track the
									status of my report?" | translate
									}}</a>
							</div>

							<div id="faq15" class="collapse" aria-labelledby="faqhead15" data-parent="#faq">
								<div class="card-body">
									<p>
										{{ "Can I track the status of my report?_p" | translate }}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead16">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq16" aria-expanded="true" aria-controls="faq16">{{
									"What if there is
									a problem uploading the images?" | translate
									}}</a>
							</div>

							<div id="faq16" class="collapse" aria-labelledby="faqhead16" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"What if there is a problem uploading the images?_p"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead17">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq17" aria-expanded="true" aria-controls="faq17">{{
									"Who are the
									radiologists reading my scans?" | translate
									}}</a>
							</div>

							<div id="faq17" class="collapse" aria-labelledby="faqhead17" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Who are the radiologists reading my scans?_p1"
										| translate
										}}
									</p>

									<p>
										{{
										"Who are the radiologists reading my scans?_p2"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead18">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq18" aria-expanded="true" aria-controls="faq18">{{
									"Is there an
									option to contact technical support?" | translate
									}}</a>
							</div>

							<div id="faq18" class="collapse" aria-labelledby="faqhead18" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Is there an option to contact technical support?_p"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead19">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq19" aria-expanded="true" aria-controls="faq19">{{
									"What is the pro
									bono program and am I eligible for it?" | translate
									}}</a>
							</div>

							<div id="faq19" class="collapse" aria-labelledby="faqhead19" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"What is the pro bono program and am I eligible for it?_p1"
										| translate
										}}
									</p>

									<p>
										{{
										"What is the pro bono program and am I eligible for it?_p2"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead20">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq20" aria-expanded="true" aria-controls="faq20">{{
									"Can I speak with
									a specialist or a reading radiologist for general questions?" | translate
									}}</a>
							</div>

							<div id="faq20" class="collapse" aria-labelledby="faqhead20" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Can I speak with a specialist or a reading radiologist for general
										questions?_p1" | translate
										}}
									</p>

									<p>
										{{
										"Can I speak with a specialist or a reading radiologist for general
										questions?_p2" | translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead21">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq21" aria-expanded="true" aria-controls="faq21">{{
									"What if I am not
									satisfied with your second opinion?" | translate
									}}</a>
							</div>

							<div id="faq21" class="collapse" aria-labelledby="faqhead21" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"What if I am not satisfied with your second opinion?_p"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead22">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq22" aria-expanded="true" aria-controls="faq22">{{
									"Will your
									specialists always be able to make a diagnosis?" | translate
									}}</a>
							</div>

							<div id="faq22" class="collapse" aria-labelledby="faqhead22" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Will your specialists always be able to make a diagnosis?_p"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<h3>{{ "FAQ for Physicians" | translate }}</h3>

						<div class="card">
							<div class="card-header" id="faqhead23">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq23" aria-expanded="true" aria-controls="faq23">{{
									"Why should my
									patient get a second opinion from radiologycheck.com?" | translate
									}}</a>
							</div>

							<div id="faq23" class="collapse" aria-labelledby="faqhead23" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"There are many reasons as to why your patient may consider a second opinion of
										their radiology reports" | translate
										}}
									</p>

									<ul>
										<li>
											{{
											"Patient has a digital copy of the imaging study, but the radiological
											report is not available" | translate
											}}
										</li>
										<li>
											{{
											"The patient seems to be quite nervous and wants a second opinion"
											| translate
											}}
										</li>
										<li>
											{{
											"Inconsistency between radiological and clinical results"
											| translate
											}}
										</li>
										<li>
											{{
											"Patient is doubtful about the news being accurate"
											| translate
											}}
										</li>
										<li>
											{{
											"Report language is awkward or has grammatical problems"
											| translate
											}}
										</li>
										<li>
											{{ "The report lacks sufficient detail" | translate }}
										</li>
										<li>
											{{
											"Patient favours having a subspecialist interpret the situation"
											| translate
											}}
										</li>
										<li>
											{{
											"The report's body and overall impression is conflicting, or it is written
											in confusing language" | translate
											}}
										</li>
										<li>
											{{
											"Report fails to address or respond to a clinical query"
											| translate
											}}
										</li>
										<li>
											{{
											"Report does not compare findings to earlier tests"
											| translate
											}}
										</li>
										<li>
											{{
											"To get a different perspective from a specialist"
											| translate
											}}
										</li>
										<li>
											{{
											"For general quality check to make sure that your patient is getting the
											most" | translate
											}}
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--card-->

						<h3>{{ "FAQ for Radiologists" | translate }}</h3>

						<div class="card">
							<div class="card-header" id="faqhead24">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq24" aria-expanded="true" aria-controls="faq24">{{
									"I am a
									radiologist myself. Why do I need a radiologycheck.com second opinion?"
									| translate
									}}</a>
							</div>

							<div id="faq24" class="collapse" aria-labelledby="faqhead24" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"If you are a radiologist, here is why you should consider a second opinion
										on" | translate
										}}
										<a href="https://www.radiologycheck.com" target="_blank">Radiologycheck.com</a>:
									</p>

									<ul>
										<li>
											{{
											"I am a radiologist myself. Why do I need a radiologycheck.com second
											opinion?_p1_list1" | translate
											}}
										</li>
										<li>
											{{
											"I am a radiologist myself. Why do I need a radiologycheck.com second
											opinion?_p1_list2" | translate
											}}
										</li>
										<li>
											{{
											"I am a radiologist myself. Why do I need a radiologycheck.com second
											opinion?_p1_list3" | translate
											}}
										</li>
										<li>
											{{
											"I am a radiologist myself. Why do I need a radiologycheck.com second
											opinion?_p1_list4" | translate
											}}
										</li>
									</ul>

									<p>
										{{
										"I am a radiologist myself. Why do I need a radiologycheck.com second
										opinion?_p2" | translate
										}}
									</p>

									<p>
										{{
										"I am a radiologist myself. Why do I need a radiologycheck.com second
										opinion?_p3" | translate
										}}
									</p>

									<p>
										{{
										"I am a radiologist myself. Why do I need a radiologycheck.com second
										opinion?_p4" | translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead25">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq25" aria-expanded="true" aria-controls="faq25">{{
									"I have questions
									about the results. Can I speak with your radiologist?" | translate
									}}</a>
							</div>

							<div id="faq25" class="collapse" aria-labelledby="faqhead25" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"I have questions about the results. Can I speak with your radiologist?_p"
										| translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<h3>{{ "FAQ for Attorneys" | translate }}</h3>

						<div class="card">
							<div class="card-header" id="faqhead26">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq26" aria-expanded="true" aria-controls="faq26">{{
									"Do you offer
									Subspecialty Medical Legal Advice to attorneys and other legal or insurance
									practitioners?" | translate
									}}</a>
							</div>

							<div id="faq26" class="collapse" aria-labelledby="faqhead26" data-parent="#faq">
								<div class="card-body">
									<p>
										{{
										"Do you offer Subspecialty Medical Legal Advice to attorneys and other legal or
										insurance practitioners?_p1" | translate
										}}
									</p>

									<p>
										{{
										"Do you offer Subspecialty Medical Legal Advice to attorneys and other legal or
										insurance practitioners?_p2" | translate
										}}
									</p>
								</div>
							</div>
						</div>
						<!--card-->

						<div class="card">
							<div class="card-header" id="faqhead27">
								<a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
									data-target="#faq27" aria-expanded="true" aria-controls="faq27">{{
									"How often is a
									radiologist wrong?" | translate
									}}</a>
							</div>

							<div id="faq27" class="collapse" aria-labelledby="faqhead27" data-parent="#faq">
								<div class="card-body">
									<p>
										{{ "How often is a radiologist wrong?_p1" | translate }}
									</p>

									<p>
										{{ "How often is a radiologist wrong?_p2" | translate }}
									</p>
								</div>
							</div>
						</div>
						<!--card-->
					</div>
					<!--faq accordion-->

					<div class="faq-form">
						<fieldset>
							<h4>{{ "Ask The Radiologist" | translate }}</h4>
							<form>
								<mark>{{ "Ask Your Question" | translate }}</mark>
								<strong>{{ "Fields marked with" | translate }}
									<span class="text-danger">*</span>
									{{
									"are
									required" | translate
									}}</strong>
								<div class="form-group">
									<label>{{ "Name" | translate }} <sup>*</sup></label>
									<input type="text" class="form-control" required />
								</div>

								<div class="form-group">
									<label>{{ "Email" | translate }} <sup>*</sup></label>
									<input type="email" class="form-control" required />
								</div>

								<div class="form-group">
									<label>{{ "Subject" | translate }} <sup>*</sup></label>
									<input type="text" class="form-control" required />
								</div>

								<div class="form-group">
									<label>{{ "Message" | translate }} <sup>*</sup></label>
									<textarea class="form-control" required></textarea>
								</div>

								<div class="form-group">
									<input type="submit" value="Submit Query" />
								</div>
							</form>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--faq page-->

	<div class="home_section_f">
		<div class="container">
			<div class="row">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="Enter your email here" required />
							<input type="submit" value="Subscribe Our Newsletter" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--site wrapper-->