<div class="site_wrapper">
	<div class="page-404">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="text-center">
						<h2 class="display-1">404</h2>
						<h3 class="text-capitalize mb-4">page not found</h3>
						<p>The page you are looking for might have been removed,<br> had its name changed OR it's is temporarily unavailable.</p>
						<aside><a href="javascript:;">back to home</a></aside>
					</div>
				</div>
			</div>
		</div>
	</div><!--registration and login page-->
	
	
	
				
	
	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
						</li>
						
						<li>
							<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->
	
	
</div><!--site wrapper-->