<div class="site_wrapper">
	<div class="site-feature-banner">
		<figure><img src="../../../../../assets/images/our-team-banner.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Blog details<small>M.Sc., EBR, ESNR, ESSR</small></h1>
				<aside><a routerLink="/contact" type="button">contact us <i class="fa-regular fa-arrow-right"></i></a>
				</aside>
			</div>
		</figure>
	</div><!--site banner-->

	<div class="news-and-events blog-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>The role of specialist neuroradiology second opinion reporting: is there added value? </h3>
				</div><!--col/12-->

				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<div class="blog-detail-section">
						<figure>
							<img src="../../../../../assets/images/blog-img1.jpg" alt="" class="w-100" />
						</figure>
						<strong></strong>
						<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
								class="fa-light fa-clock-ten"></i> 02:40 PM</span>
						<p><strong>Aim:</strong> To assess the impact on patient management of formal neuroradiology "second reading" of computed tomography (CT) and magnetic resonance imaging (MRI) images initially interpreted by general radiologists. </p>
						<p><strong>Materials and methods:</strong> Second opinion reports during the calendar year 2004 were compared with the original report and assessed for major or minor discrepancies. A major discrepancy was separated from a minor discrepancy whereby a change in opinion significantly affected patient management.</p>
						<p><strong>Results:</strong> There were 506 second opinions during 2004 given by three consultant neuroradiologists. Incomplete data were found in 141. Forty-one percent were CT images and the remainder MRI. The majority of second opinions were requested by neurologists. Most of the remaining referrals were from neurosurgeons or the primary radiologist. There was a 13% major and a 21% minor discrepancy rate. The remaining 66% were in complete agreement. There was a mixture of overcalls, misinterpretation, and undercalls. There were similar rates of minor and major discrepancies in both CT and MRI. </p>
						<p><strong>Conclusion:</strong> There is a significant major discrepancy rate between specialist neuroradiology second opinion and general radiologists. The benefit of a formal specialist second opinion service is clearly demonstrated; however, it is time-consuming. </p>
					</div>

					<div class="blog-details-next-prev">
						<div class="d-flex justify-content-between">
							<button type="button" class="btn btn-default text-capitalize text-white"><i
									class="fa-light fa-arrow-left"></i> previous</button>
							<button type="button" class="btn btn-default text-capitalize text-white">next <i
									class="fa-light fa-arrow-right"></i></button>
						</div>
					</div>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<div class="blog-sidebar-section">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<h4>next Blogs</h4>
							</div>

							<div class="sidebar-tiny-next-pages">
								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img2.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>

								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img3.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>

								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img1.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>
							</div><!--col/4-->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div><!--news and events-->






	<div class="home_section_f">
		<div class="container">
			<div class="row">
				<div class="position-relative">
					<div class="subscribe-letter">
						<form>
							<input type="email" placeholder="Enter your email here" required>
							<input type="submit" value="Subscribe Our Newsletter">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site wrapper-->