<div class="site_wrapper">
	<div class="login-page">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h1>Recover your password</h1>
					<p class="text-center">RECOVER YOUR ACCOUNT? TEXT YOUR REGISTER EMAIL ADDRESS..</p>
				</div>
			</div>
			
			<div class="forms-layout">
				<div class="row align-items-center">					
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="login-container">
							<div class="login-form">
								<form name="form" #resetPass="ngForm"
								(ngSubmit)="resetPass.form.valid && resetPassword()">
									<div class="row">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
											<input type="text" name="email" placeholder="Your Email ID" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="emailData.email" required
											#email="ngModel" [ngClass]="{ 'is-invalid': resetPass.submitted && email.errors }">
										<div *ngIf="resetPass.submitted && email.errors" class="invalid-feedback">
											<div *ngIf="email.errors?.['required']">Email is
												required </div>
											<div *ngIf="email.errors?.['pattern']">This is not a valid
												Email </div>
										</div>
										</div>

										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
											<input type="submit" value="Send Password Link" class="form-control">
										</div>
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
											<p class="text-dark">We have sent the link in your registered email address. So please, check your inbox and recover your account.</p>
										</div>
									</div><!--row-->
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<app-auth-sidebar class="sidebar-section"></app-auth-sidebar>
	</div><!--registration and login page-->
	
</div><!--site wrapper-->