<div class="site_wrapper">
	<div class="login-page">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h1>recover your password</h1>
				</div>
			</div>
			
			<div class="forms-layout">
				<div class="row align-items-center">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<figure><img src="../../../../assets/images/dr-ali-rehman.png" class="img-fluid" alt="" /></figure>
					</div>
					
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<h4 class="mb-4">Recover your account? Text your register email address..</h4>
						
						<div class="login-form">
							<form name="form" #resetPass="ngForm"
							(ngSubmit)="resetPass.form.valid && resetPassword()">
								<div class="row">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<input type="text" name="email" placeholder="Your Email ID" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="emailData.email" required
										#email="ngModel" [ngClass]="{ 'is-invalid': resetPass.submitted && email.errors }">
									<div *ngIf="resetPass.submitted && email.errors" class="invalid-feedback">
										<div *ngIf="email.errors?.['required']">Email is
											required </div>
										<div *ngIf="email.errors?.['pattern']">This is not a valid
											Email </div>
									</div>
									</div>

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<input type="submit" value="Send Password Link" class="form-control">
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<p class="text-dark">We have sent the link in your registered email address. So please, check your inbox and recover your account.</p>
									</div>
								</div><!--row-->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--registration and login page-->
	
	
	
				
	
	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
						</li>
						
						<li>
							<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->
	
	
</div><!--site wrapper-->