<div class="dashboard-section">
  <div class="dashboard-navbar">
    <div class="site-logo"><img src="../assets/images/logo2.png" alt="" /></div>
    <div class="site-navbar-options">
      <div class="h-backbutton">
        <a href="#" class="profile-picture">
        <i class="fa-solid fa-arrow-left"></i>
        Go back to home
        </a>
      </div>
      <ul>
        <!-- <li class="position-relative">
          <a href="javascript:;"> <i class="fa-regular fa-envelope"></i></a>
          <div class="get-notify">4</div>
        </li>

        <li class="position-relative">
          <a href="javascript:;"> <i class="fa-regular fa-bell"></i></a>
          <div class="get-notify">2</div>
        </li> -->
        <li appClickOutside (clickOutside)="clickedOutside()">
          <a href="javascript:;" class="profile-picture">
            <!-- <img src="../assets/images/testi-user.png" alt="" /> -->
            <i class="fas fa-user"></i>
            <h5>
              {{userName}}
              <button clickOutside (click)="openProfileBar()">
                <i class="fa-light fa-angle-down"></i>
              </button>
            </h5>
          </a>
          <div class="profile-bar">
            <ol *ngIf="showProfile">
              <li>
                <a class="pointer" (click)="redirectAndClose('userHome')"><i class="fa-solid fa-house"></i> Dashboard</a>
              </li>
              <li>
                <a class="pointer" (click)="redirectAndClose('userProfile')"><i class="fa-regular fa-user"></i> update
                  profile</a>
              </li>
              <li>
                <a class="pointer" (click)="redirectAndClose('myReports')"><i class="fa-solid fa-file-medical"></i> my
                  reports</a>
              </li>
              <li>
                <a class="pointer" (click)="logOut()"><i class="fa-solid fa-right-from-bracket"></i> log out</a>
              </li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- dashboard navbar -->

  <div class="dashboard-layout-section" [ngClass]="{ 'sidebar-active': toggleDashboardSidebar }">
    <div class="dashboard-sidebar">
      <a href="javascript:;" class="open-sidebar" (click)="openSideBar()">
        <i class="fa-solid fa-arrow-right-arrow-left"></i></a>
      <ul>
        <li>
          <a routerLink="userHome">
            <span><i class="fa-solid fa-house"></i></span>
            <span class="sidebar-item">dashboard</span>
          </a>
        </li>
        <!--list item-->

        <li>
          <a routerLink="userProfile">
            <span><i class="fa-solid fa-user"></i></span>
            <span class="sidebar-item">user profile</span>
          </a>
        </li>
        <!--list item-->

        <!-- <li>
          <a href="javascript:;">
            <span><i class="fa-regular fa-heart"></i></span>
            <span class="sidebar-item">health history</span>
          </a>
        </li> -->
        <!--list item-->

        <li>
          <a routerLink="myReports">
            <span><i class="fa-solid fa-file-medical"></i></span>
            <span class="sidebar-item">my reports</span>
          </a>
        </li>
        <!--list item-->

        <li>
          <a routerLink="GetSecondOpinion">
            <span><i class="fa-solid fa-calendar-days"></i></span>
            <span class="sidebar-item"> Get A Second Opinion</span>
          </a>
        </li>
        <!--list item-->

        <li>
          <a routerLink="giveFeedback">
            <span><i class="fa-solid fa-comment-dots"></i></span>
            <span class="sidebar-item">give feedback</span>
          </a>
        </li>
        <!--list item-->

        <li>
          <a class="pointer" (click)="logOut()">
            <span><i class="fa-solid fa-right-from-bracket"></i></span>
            <span class="sidebar-item">log out</span>
          </a>
        </li>
        <!--list item-->
      </ul>
    </div>
    <!-- dashboard sidebar -->

    <div class="dashboard-right-content">
      <router-outlet></router-outlet>
    </div>
    <!-- dashboard right content -->
  </div>
  <!-- dashboard layout section -->
</div>
<!-- dashboard section -->