<div class="dashboard-section">
    <div class="dashboard-navbar">
        <div class="site-logo"><img src="../assets/images/logo2.png" alt="" /></div>
        <div class="site-navbar-options">
            <ul>
                <li class="position-relative"><a href="javascript:;">
                    <i class="fa-regular fa-envelope"></i></a>
                    <div class="get-notify">4</div>
                </li>

                <li class="position-relative"><a href="javascript:;">
                    <i class="fa-regular fa-bell"></i></a>
                    <div class="get-notify">2</div>
                </li>
                <li><a href="javascript:;" class="profile-picture">
                    <img src="../assets/images/testi-user.png" alt="" />
                    <h5>welcome, alex <button (click)="openProfileBar()"><i class="fa-light fa-angle-down"></i></button></h5>
                </a>
                    <div class="profile-bar">
                        <ol  *ngIf="showProfile">
                            <li><a href="javascript:;"><i class="fa-regular fa-user"></i> update profile</a></li>
                            <li><a href="javascript:;"><i class="fa-regular fa-prescription-bottle-pill"></i> my report</a></li>
                            <li><a href="javascript:;"><i class="fa-regular fa-arrow-right-to-arc"></i> log out</a></li>
                        </ol>
                    </div>
                </li>

                <li><a href="javascript:;" class="open-sidebar" (click)="openSideBar()"><i class="fa-regular fa-bars"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- dashboard navbar -->

    <div class="dashboard-layout-section" [ngClass]="{'sidebar-active': toggleDashboardSidebar }">
        <div class="dashboard-sidebar">
            <ul>
                <li>
                    <a href="javascript:;">
                        <span><i class="fa-regular fa-user"></i></span>
                        <span class="sidebar-item">user profile</span>
                    </a>
                </li><!--list item-->

                <li>
                    <a href="javascript:;">
                        <span><i class="fa-regular fa-heart"></i></span>
                        <span class="sidebar-item">health history</span>
                    </a>
                </li><!--list item-->

                <li>
                    <a href="javascript:;">
                        <span><i class="fa-regular fa-notes-medical"></i></span>
                        <span class="sidebar-item">my reports</span>
                    </a>
                </li><!--list item-->

                <li>
                    <a href="javascript:;">
                        <span><i class="fa-regular fa-staff-snake"></i></span>
                        <span class="sidebar-item">health insurance</span>
                    </a>
                </li><!--list item-->

                <li>
                    <a href="javascript:;">
                        <span><i class="fa-regular fa-comment-quote"></i></span>
                        <span class="sidebar-item">give feedback</span>
                    </a>
                </li><!--list item-->

                <li>
                    <a href="javascript:;">
                        <span><i class="fa-regular fa-right-from-bracket"></i></span>
                        <span class="sidebar-item">log out</span>
                    </a>
                </li><!--list item-->
            </ul>

        </div>
        <!-- dashboard sidebar -->

        <div class="dashboard-right-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <h4 class="text-dark text-capitalize"><span><i class="fa-regular fa-house"></i></span> dashboard</h4><hr>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="bg-white p-5 rounded mb-5">
                        <h4 class="text-dark text-capitalize">hello, <span class="text-warning">alex whale</span></h4>
                        <p>have a nice day and don't forget to take care of your health!</p>
                    </div>
                </div>
            </div>
            <!-- row -->

            <div class="row three-report-graph">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="dash-bg-1 p-4 text-white rounded">
                        <h5 class="text-capitalize">heart rate</h5><hr>
                        <ol>
                            <li><div class="bg-info p-1 rounded-circle"><i class="fa-solid fa-heart-pulse"></i></div></li>
                            <li>102 bpm</li>
                            <li><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small></li>
                        </ol>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="dash-bg-2 p-4 text-white rounded">
                        <h5 class="text-capitalize">blood pressure</h5><hr>
                        <ol>
                            <li><div class="bg-danger p-1 rounded-circle"><i class="fa-solid fa-droplet"></i></div></li>
                            <li>120/80</li>
                            <li><small>Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</small></li>
                        </ol>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="dash-bg-3 p-4 text-white rounded">
                        <h5 class="text-capitalize">glucose</h5><hr>
                        <ol>
                            <li><div class="bg-warning p-1 rounded-circle"><i class="fa-solid fa-pills"></i></div></li>
                            <li>90 mg/dl</li>
                            <li><small>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</small></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- row -->

            <div class="row mt-5">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="bg-white p-4 rounded mb-4">
                        <div class="lavel-reports">
                            <ol>
                                <li><span class="text-dark"><i class="fa-solid fa-glass-water-droplet"></i></span></li>
                                <li>
                                    <h6 class="text-dark text-capitalize">water balance</h6>
                                    <dd class="display-6 font-weight-bold text-dark">42%</dd>
                                    <small>Aldus PageMaker including versions of Lorem Ipsum</small>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="bg-white p-4 rounded mb-4">
                        <div class="lavel-reports">
                            <ol>
                                <li><span class="text-dark"><i class="fa-solid fa-person"></i></span></li>
                                <li>
                                    <h6 class="text-dark text-capitalize">general health</h6>
                                    <dd class="display-6 font-weight-bold text-dark">65%</dd>
                                    <small>Aldus PageMaker including versions of Lorem Ipsum</small>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="bg-white p-5 rounded mb-4">
                        <img src="https://stats.areppim.com/ressources/weight_usgirls_650x561.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <!-- row -->

        </div>
        <!-- dashboard right content -->
    </div>
    <!-- dashboard layout section -->
</div>
<!-- dashboard section -->






