<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-abdominal-radiology-2060392652.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Get a Second Opinion on Abdominal Radiology <small>Your abdominal radiology reports go through our specialists with years of expertise in the field. By expertly analyzing your scans, a misdiagnosis of your abdominal radiology scan is completely eliminated.</small></h1>
				<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<p>At Radiologycheck.com, you have access to special German and Swiss fellowship-trained radiologists of all modalities like MRI, CT, X-ray and Ultrasound. In addition to the German and Swiss Boards’ Certification, the radiologists are also European Board certified and operate in accordance to the regulations of the European Society of Radiology. You can get a precise second opinion and detailed diagnosis for health issues related to the abdomen, organs and other affected areas of your body. </p>
					
					<strong>Rely on us for an error-free second opinion. </strong>
					
					<h4>Do you want an Abdominal Radiology Second Opinion? <a href="javascript:;">Click here to book an appointment now</a></h4>
					
					<h3>Why should you opt for an Abdominal Radiology Second Opinion?</h3>

					<img src="../assets/images/stock-photo-abdominal-radiology1-1341869180.jpg" alt="" class="inner-page-right-picture" />
					
					<p>The human abdomen houses many vital organs such as the stomach, small intestine, large intestine, liver, spleen, gallbladder, bile duct system, pancreas, kidneys, ureters, bladder and many blood vessels (arteries and veins). So it is extremely important to be vigilant if anything unusual is felt in the abdomen as pain or discomfort in the area can signal many serious health concerns.</p>
					
					<p>Three of the five most seriously afflicted organs by cancer are located within the human abdomen. Cancers of the colon, rectum and prostate are among the primary causes of cancer mortality. It is estimated that pancreatic cancer accounts for 7% of total cancer deaths. The average lifetime risk of pancreatic cancer is 1 in 64. Misdiagnosis of pancreatic cancer is common because symptoms are typically vague or unclear, such as prolonged pelvic pain or general abdominal discomfort. Given the fast development of pancreatic cancer, this is exceedingly risky.</p>
					
					<p>Early detection is critical for effective therapy. Get a second opinion to avoid abdominal cancer misdiagnosis. A second opinion is always recommended when it comes to MRI, CT or X- Ray scans so that you can make a confident decision.</p>
					
					<p>At Radiologycheck.com, you can get a precise second opinion and detailed diagnosis for health issues related to multiple organs such as the liver, kidneys, stomach, ovaries, bladder, prostate etc.</p>
					
					<h5>Our Second opinion encompasses all abdominal scans including:</h5>
					
					<ul>
						<li>Abdominal CT and MRI scan </li>
						<li>General and Doppler Ultrasound </li>
						<li>Oncological imaging of the abdomen </li>
						<li>Gastrointestinal and Genitourinary Fluoroscopy</li>
					</ul>
					
					<h3>Why is it necessary to go for a Second Opinion?</h3>

					<img src="../assets/images/stock-photo-abdominal-radiology2-165464750.jpg" alt="" class="inner-page-left-picture" />
					
					<p>Any disease diagnosis has the potential to change our lives. Nearly all of us become overwhelmed in such circumstances. However, being aware of the possibilities may enable you to make more assured choices. Many people seek a second opinion from a radiologist in order to feel at ease and in charge of themselves.</p>
					
					<h5>How a second opinion can benefit you:</h5>
					
					<ul>
						<li>It confirms the accuracy of your diagnosis. </li>
						<li>You get a better understanding of your condition.</li>
						<li>You have the option of choosing the best way forward.</li>
						<li>You get peace of mind.</li>
						<li>You can make a confident decision.</li>
					</ul>
					
					<h3>Our experts give second opinions for the pathology of the following organs:</h3>
					
					<ul>
						<li>Esophagus</li>
						<li>Stomach</li>
						<li>Duodenum</li>
						<li>Small Intestine</li>
						<li>Colon</li>
						<li>Spleen</li>
						<li>Liver</li>
						<li>Biliary System</li>
						<li>Pancreas</li>
						<li>Peritoneum, Mesentery, and Abdominal Wall</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!--inner pages-->
	
		
	<div class="section-c">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2>Why second opinion needed?</h2>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<ul>
						<li>
							<figure><img src="../../../assets/images/icon-a.png" alt="" /></figure>
							<h3>Confirm Diagnosis Before Treatment</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-b.png" alt="" /></figure>
							<h3>Conflicting Diagnosis</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-c.png" alt="" /></figure>
							<h3>Peace of Mind</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-d.png" alt="" /></figure>
							<h3>Symptoms Persist</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-e.png" alt="" /></figure>
							<h3>Given an Ambiguous Radiology Report</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-f.png" alt="" /></figure>
							<h3>Delayed Report &amp; Need Answers Fast</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
					</ul>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<aside><a href="#">Book an Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>
			</div>
		</div>
	</div><!--section c-->
	
	<div class="section-d">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2>Get Peace Of Mind</h2>
					<dd>Get direct access to highly trained radiologists in every field of specialization in 3 simple steps.</dd>
				</div>
				
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
					<figure>
						<img src="../../../assets/images/step-01.jpg" alt="" />
						<sup>01</sup>
					</figure>
					<h3>Sign Up</h3>
					<p>Create a free DocPanel account</p>
				</div>
				
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
					<figure>
						<img src="../../../assets/images/step-02.jpg" alt="" />
						<sup>02</sup>
					</figure>
					<h3>Submit &amp; Pay</h3>
					<p>Upload your scans, reason for study, and connect to a radiologist</p>
				</div>
				
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
					<figure>
						<img src="../../../assets/images/step-03.jpg" alt="" />
						<sup>03</sup>
					</figure>
					<h3>Get Second Opinion</h3>
					<p>Receive a second opinion report &amp; talk to your doctor to discuss treatment options</p>
				</div>
			</div>
		</div>
	</div><!--section d-->
	
	<div class="feature-radiologists">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Featured Radiologists</h3>
					<p>DocPanel has over 250 specialty radiologists that you can pick from or allow us to find the best specialist for your case. Meet a few members of the DocPanel team of subspecialty radiologists:</p>
				</div><!--col/12-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/certified-icon.png" alt="" />
						<strong>VETTED</strong>
						<p>Has completed a 6-step credential verification process</p>
					</figure>
					
					
				</div><!--col/3-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/voted-icon.png" alt="" />
						<strong>CERTIFIED</strong>
						<p>Is academic-level and fellowship-trained</p>
					</figure>
					
					
				</div><!--col/3-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/reputable-icon.png" alt="" />
						<strong>REPUTABLE</strong>
						<p>Practices exclusively in the United States</p>
					</figure>
					
					
				</div><!--col/3-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/qwality-icon.png" alt="" />
						<strong>QUALITY</strong>
						<p>Provides the highest standard of diagnostic interpretation</p>
					</figure>
					
					
				</div><!--col/3-->
				
			</div>
		</div>
	</div><!--feature-radiologists-->


	<div class="our-team">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Our Teams</h3>
				</div><!--col/12-->
				
				<div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
						<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
							<span class="fa fa-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
							<span class="fa fa-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					<div class="carousel-inner" role="listbox">
						
			
						<div class="carousel-item active">
							<div class="row">
								
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img01.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Fillmore</h4>
									<strong>Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>					
									
								</div><!--col/4-->
				
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img02.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Ken Hurt</h4>
									<strong>Neuroradiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->
				
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img03.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Yankum</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								
							</div>
						</div>
						
						<div class="carousel-item">
							<div class="row">
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img04.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Smiley</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img05.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Toothman</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img01.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Nippel</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->
								
							</div>
						</div>
						
						<div class="carousel-item">
							<div class="row">
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img03.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Seymour Landa</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img02.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Neupane</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img05.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Luke Whitesell</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->
							</div>
						</div>
						
					</div>
				</div>
			</div>					

		</div>
	</div><!--our team-->
	
		
	<div class="section-i">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Testimonial</h3>
				</div>
			
				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<div class="owl-carousel owl-theme" id="testimonial-slider">
						<div class="item">
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
							<ul>
								<li><img src="../../../assets/images/testi-user.png" alt="" /></li>
								<li><h5>Mrs. Smith <small>seo</small></h5></li>
							</ul>
						</div>
						
						<div class="item">
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
							<ul>
								<li><img src="../../../assets/images/testi-user.png" alt="" /></li>
								<li><h5>Mrs. Smith <small>seo</small></h5></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div><!--section i-->
				
	
	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation </p>
						</li>
						
						<li>
							<aside><a href="#">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->
	
	
</div><!--site wrapper-->