<div class="feature_picture">
	<img src="../assets/images/ar-banner-img.jpg" alt="" />
</div>
<div class="site-wrapper">
	<div class="inner-page-content">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
					<app-radiology-sidebar [textFromParent]="doYouWantSecondOpinionTextForEachComponent"></app-radiology-sidebar>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
					<h4>{{"Why do you need a second opinion in abdominal radiology?" | translate}}</h4>
					<p>{{"Why do you need a second opinion in abdominal radiology?_p1" | translate}}</p>

					<p>{{"Why do you need a second opinion in abdominal radiology?_p2" | translate}}</p>

					<p>{{"Why do you need a second opinion in abdominal radiology?_p3" | translate}}</p>

					<p>{{"Why do you need a second opinion in abdominal radiology?_p4" | translate}}</p>

					<h4>{{"Our Second opinion encompasses all abdominal scans including:" | translate}}</h4>
					<ol class="d-flex">
						<li><span class="plus-icon"></span>{{"Abdominal CT and MRI scan" | translate}}</li>
						<li><span class="plus-icon"></span>{{"General and Doppler Ultrasound" | translate}}</li>
						<li><span class="plus-icon"></span>{{"Oncological imaging of the abdomen" | translate}}</li>
						<li><span class="plus-icon"></span>{{"Gastrointestinal and Genitourinary Fluoroscopy" |
							translate}}</li>
					</ol>


					<h4>{{"Why is it necessary to go for a Second Opinion?" | translate}}</h4>

					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<img src="assets/images/ar-img.jpg" alt=""
								class="img-fluid border-radius-15" />
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<p>{{"Why is it necessary to go for a Second Opinion?_p" | translate}}</p>

							<strong>{{"How a second opinion can benefit you:" | translate}}</strong>
							<ol>
								<li><span class="plus-icon"></span>{{"It confirms the accuracy of your diagnosis" |
									translate}}</li>
								<li><span class="plus-icon"></span>{{"You get a better understanding of your condition"
									| translate}}</li>
								<li><span class="plus-icon"></span>{{"You have the option of choosing the best way
									forward" | translate}}</li>
								<li><span class="plus-icon"></span>{{"You get peace of mind" | translate}}</li>
								<li><span class="plus-icon"></span>{{"You can make a confident decision" | translate}}
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- inner page content -->
</div>

<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="position-relative">
				<div class="subscribe-letter">
					<form>
						<input type="email" placeholder="Enter your email here" required>
						<input type="submit" value="Subscribe Our Newsletter">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>