<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-abdominal-radiology-2060392652.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Abdominal Radiology Banner Heading" | translate}} <small>{{"Abdominal Radiology Banner Heading Instructions" | translate}}</small></h1>
				<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}  <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<p>{{"Abdominal Radiology Below Banner Text" | translate}}</p>
					
					<strong>{{"Rely on us for an error-free second opinion" | translate}}</strong>
					
					<h4>{{"Do you want an Abdominal Radiology Second Opinion?" | translate}} <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}</a></h4>
					
					<h3>{{"Why do you need a second opinion in abdominal radiology?" | translate}}</h3>

					<img src="../assets/images/stock-photo-abdominal-radiology1-1341869180.jpg" alt="" class="inner-page-right-picture" />
					
					<p>{{"Why do you need a second opinion in abdominal radiology?_p1" | translate}}</p>
					
					<p>{{"Why do you need a second opinion in abdominal radiology?_p2" | translate}}</p>
					
					<p>{{"Why do you need a second opinion in abdominal radiology?_p3" | translate}}</p>
					
					<p>{{"Why do you need a second opinion in abdominal radiology?_p4" | translate}}</p>
					
					<h5>{{"Our Second opinion encompasses all abdominal scans including:" | translate}}</h5>
					
					<ul>
						<li>{{"Abdominal CT and MRI scan" | translate}}</li>
						<li>{{"General and Doppler Ultrasound" | translate}}</li>
						<li>{{"Oncological imaging of the abdomen" | translate}}</li>
						<li>{{"Gastrointestinal and Genitourinary Fluoroscopy" | translate}}</li>
					</ul>
					
					<h3>{{"Why is it necessary to go for a Second Opinion?" | translate}}</h3>

					<img src="../assets/images/stock-photo-abdominal-radiology2-165464750.jpg" alt="" class="inner-page-left-picture" />
					
					<p>{{"Why is it necessary to go for a Second Opinion?_p" | translate}}</p>
					
					<h5>{{"How a second opinion can benefit you:" | translate}}</h5>
					
					<ul>
						<li>{{"It confirms the accuracy of your diagnosis" | translate}}</li>
						<li>{{"You get a better understanding of your condition" | translate}}</li>
						<li>{{"You have the option of choosing the best way forward" | translate}}</li>
						<li>{{"You get peace of mind" | translate}}</li>
						<li>{{"You can make a confident decision" | translate}}</li>
					</ul>
					
					<h3>{{"Our experts give second opinions for the pathology of the following organs" | translate}}</h3>
					
					<ul>
						<li>{{"Esophagus" |translate}}</li>
						<li>{{"Stomach"|translate}}</li>
						<li>{{"Duodenum"|translate}}</li>
						<li>{{"Small Intestine"|translate}}</li>
						<li>{{"Colon"|translate}}</li>
						<li>{{"Spleen"|translate}}</li>
						<li>{{"Liver"|translate}}</li>
						<li>{{"Biliary System"|translate}}</li>
						<li>{{"Pancreas"|translate}}</li>
						<li>{{"Peritoneum, Mesentery, and Abdominal Wall"|translate}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!--inner pages-->
	
<app-bottom-of-pages></app-bottom-of-pages>
	
	
</div><!--site wrapper-->