<div class="feature_picture">
	<img src="../assets/images/cookies-policy.jpg" alt="" />
</div>

<div class="site-wrapper">
	<div class="inner-pages tandc">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h3>Terms and Conditions</h3>
                <p>These Terms and Conditions (the “Terms”) constitute a legal agreement between you and Radiology Check governing the use of our website. This agreement is not governing our secondary opinion services, for further information on the terms on which we make our secondary opinion available to you, please refer to our Terms of Service.</p>

                <ul>
                    <li>
                        <b>ABOUT US</b>

                        <ol type="1.1">
                            <li>
                                [1.1] We are radiologycheck.com GmbH of Riedbachstrasse 78H, 3027 Bern, Switzerland (“Radiology Check”, “we”, “us”, or “our”).
                            </li>
                            <!-- list item -->

                            <li>
                                [1.2] We operate www.radiologycheck.com (our “website”).
                            </li>
                            <!-- list item -->

                            <li>
                                [1.3] To contact us, please email us at info@radiologycheck.com or write to us at the above address.
                            </li>
                            <!-- list item -->
                        </ol>
                    </li>
                    <!-- list item -->


                    <li>
                        <b>GENERAL TERMS</b>

                        <ol type="1.1">
                            <li>
                                [2.1] The provisions set out in these Terms govern your access to and your use of our website and shall constitute a legally binding agreement between you and us. We may change such terms from time to time and shall notify you accordingly if we do. If you do not agree to such terms, you must not use our website.
                            </li>
                            <!-- list item -->

                            <li>
                                [2.2] Subject to you agreeing to abide by these Terms, we hereby grant to you a revocable, non-exclusive and non-transferable license to use our website on these Terms.
                            </li>
                            <!-- list item -->

                            <li>
                                [2.3] We reserve the right to, without any notice, explanation or liability and in our sole discretion, refuse to allow you or suspend your access to our website or your Account at any time, or remove or edit content (including content submitted by you) on our website or on any of our affiliated websites (including social media pages).
                            </li>
                            <!-- list item -->

                            <li>
                                [2.4] We reserve the right to change, modify, suspend or discontinue any portion of our website or any other services, affiliated websites (including social media pages) provided by us in connection with any of the foregoing at any time. You agree that access to or operation of any of the foregoing may from time to time be interrupted or encounter technical difficulties.
                            </li>
                            <!-- list item -->
                        </ol>
                    </li>
                    <!-- list item -->


                    <li>
                        <b>YOUR ACCOUNT</b>

                        <ol type="1.1">
                            <li>
                                [3.1] By registering for an Account, which involves providing us with certain mandatory and voluntary information as required for a successful registration and using our website, you agree and acknowledge that:
                                <ol>
                                    <li>
                                        [3.1.1] you have read the terms set out in these Terms and agree to be bound by and comply with them; and
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [3.1.1] you shall ensure that all Users of your Account abide by these Terms.
                                    </li>
                                    <!-- list item -->
                                </ol>
                            </li>
                            <!-- list item -->

                            <li>
                                [3.2] You are responsible for maintaining the confidentiality of your Account and you are responsible for all activities that occur under your Account. You agree that all actions carried out by any person through your Account shall be deemed to be an act carried out by you, and you shall ensure that all persons who have access to and use your Account are authorized to do so. We are not responsible for any loss, damage or liabilities arising as a result of or in connection with the wrongful, fraudulent or illegal use of your Account.
                            </li>
                            <!-- list item -->
                        </ol>
                    </li>
                    <!-- list item -->

                    <li>
                        <b>UPLOADING CONTENT</b>

                        <ol type="1.1">
                            <li>
                                [4.1] You irrevocably and unconditionally represent and warrant that any of your content, information, personal data (collectively “Content”) uploaded to our website complies with our Privacy Policy, the Swiss revDSG, the GDPR and any other applicable laws.
                            </li>
                            <!-- list item -->

                            <li>
                                [4.2] You are fully responsible for your content uploaded to our website. We will not be responsible, or liable to any third party, for:

                                <ol>
                                    <li>
                                        [4.2.1] the content or accuracy of any content or data uploaded by you, by us on your behalf, or any other user of our website; or
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [4.2.2] the loss of any content or data provided to us by you. You should keep a record of all such content and data.
                                    </li>
                                    <!-- list item -->
                                </ol>
                            </li>
                            <!-- list item -->

                            <li>
                                [4.3] We will only use the content uploaded by you for the purposes of carrying out our services, carrying out our obligations in this Agreement and any other purpose expressly set out in our Terms of Service or otherwise agreed between us. We will not otherwise disclose or distribute the content uploaded by you, save for when required by law, a court of competent jurisdiction or any governmental or regulatory authority.
                            </li>
                            <!-- list item -->

                            <li>
                                [4.4] We have the right to disclose your identity to any third party claiming that any content posted or uploaded by you to our website constitutes a violation of their rights under Swiss law.
                            </li>
                            <!-- list item -->
                        </ol>
                    </li>
                    <!-- list item -->


                    <li>
                        <b>PROHIBITED USES</b>

                        <ol type="1.1">
                            <li>
                                [5.1] You may use our website only for lawful purposes. You may not use our website:

                                <ol>
                                    <li>
                                        [5.1.1] in any way that breaches any applicable local or international laws or regulations;
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [5.1.2] in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [5.1.3] to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards as set out in our prevailing terms and conditions as amended from time to time; and
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [5.1.4] to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.
                                    </li>
                                    <!-- list item -->
                                </ol>

                            </li>
                            <!-- list item -->

                            <li>
                                [5.2] You also agree:

                                <ol>
                                    <li>
                                        [5.2.1] not to reproduce, duplicate, copy or re-sell any part of our website in contravention of the provisions of our Terms; and
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [5.2.2] not to access without authority, interfere with, damage or disrupt:
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [5.2.3] any part of our website;
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [5.2.4] any equipment or network on which our website is stored;
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [5.2.5] any software used in the provision of our website; or
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [5.2.6] any equipment or network or software owned or used by any third party.
                                    </li>
                                    <!-- list item -->
                                </ol>
                            </li>
                            <!-- list item -->
                        </ol>
                    </li>
                    <!-- list item -->


                    <li>
                        <b>INTELLECTUAL PROPERTY RIGHTS</b>

                        <ol type="1.1">
                            <li>
                                [6.1] You acknowledge that all intellectual property rights in our website anywhere in the world belong to us, that rights in our website are licensed (not sold) to you, and that you have no rights in, or to, our website other than the right to use them in accordance with these Terms.
                            </li>
                            <!-- list item -->

                            <li>
                                [6.2] Any intellectual property rights in content uploaded by you to our website shall continue to belong to you or their respective owners. You agree that you grant us a royalty-free and non-exclusive license to use, reproduce, publish and display such intellectual property rights for the purposes of performing the services, internal administrative purposes and any other purposes set out in these Terms.
                            </li>
                            <!-- list item -->

                            <li>
                                [6.3] You acknowledge that you have no right to have access to our website in source code form.
                            </li>
                            <!-- list item -->
                        </ol>
                    </li>
                    <!-- list item -->


                    <li>
                        <b>WARRANTIES</b>

                        <ol type="1.1">
                            <li>
                                [7.1] While we make all efforts to maintain the accuracy of the information on our website, we provide the website and all Related Content on an “as is” and “as available” basis, unless otherwise specified in writing. We make no representations or warranties of any kind, express or implied, as to the operation of any of the foregoing, unless otherwise specified in writing.
                            </li>
                            <!-- list item -->

                            <li>
                                [7.2] The content on our website is provided for general information purposes only and is not intended to constitute or substitute medical or other professional advice of any kind whatsoever. Please do not disregard professional advice or delay seeking advice because of something you have read on our website or in the content on our website.
                            </li>
                            <!-- list item -->

                            <li>
                                [7.3] Radiology Check makes no representations about the suitability, reliability, timeliness, comprehensiveness and accuracy of the content on our website, information, services and other content contained on our website.
                            </li>
                            <!-- list item -->

                            <li>
                                [7.4] Radiology Check cannot guarantee that the content on our website and content and the provision of the content of our website will always be correct or fault, error and virus free.
                            </li>
                            <!-- list item -->

                            <li>
                                [7.5] Radiology Check does not accept liability for incorrect content or errors and omissions in our content and information on our website or its content (whether of legal, typographical, technical, or other nature).
                            </li>
                            <!-- list item -->

                            <li>
                                [7.6] To the full extent permissible by law, we disclaim all warranties, express or implied, relating to our website, including but not limited to implied warranties of merchantability and fitness for a particular purpose. We do not warrant that our website, the Related Content, or electronic communications sent by us are free of viruses or other harmful components.
                            </li>
                            <!-- list item -->
                        </ol>
                    </li>
                    <!-- list item -->


                    <li>
                        <b>LIMITATION OF LIABILITY</b>

                        <ol type="1.1">
                            <li>
                                [8.1] We are not liable for the completeness, accuracy or correctness of any content and information and any Related Content. You expressly agree that your use of the services and our website, including reliance on any content and information, is at your sole risk.
                            </li>
                            <!-- list item -->

                            <li>
                                [8.2] You agree not to use our website and the Related Content for any resale purposes, and we have no liability to you, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, arising under or in connection with these Terms (including but not limited to the use of, or inability to use,our website or any other website or software) for:

                                <ol>
                                    <li>
                                        [8.2.1] loss of profits, sales, business, or revenue;
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [8.2.2] business interruption;
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [8.2.3] loss of anticipated savings;
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [8.2.4] loss or corruption of data or information;
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [8.2.5] loss of business opportunity, goodwill or reputation; or
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [8.2.6] any other indirect or consequential loss or damage.
                                    </li>
                                    <!-- list item -->
                                </ol>
                            </li>
                            <!-- list item -->

                            <li>
                                [8.3] Nothing in these Terms shall limit or exclude our liability for:

                                <ol>
                                    <li>
                                        [8.3.1] death or personal injury resulting from our negligence; 
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [8.3.2] fraud; and/or
                                    </li>
                                    <!-- list item -->

                                    <li>
                                        [8.3.3] any other matter in respect of which we are prohibited under applicable law from limiting or excluding our liability.
                                    </li>
                                    <!-- list item -->
                                </ol>
                            </li>
                            <!-- list item -->

                            <li>
                                [8.4] Our website is not intended to serve a record-keeping function and we shall not be liable for any loss of data or content.
                            </li>
                            <!-- list item -->

                            <li>
                                [8.5] These Terms set out the full extent of our obligations and liabilities in respect of the supply of our website. Except as expressly stated in these Terms, there are no conditions, warranties, representations or other terms, express or implied, that are binding on us. Any condition, warranty, representation or other term concerning the supply of our website which might otherwise be implied into, or incorporated in, these Terms whether by statute, common law or otherwise, is excluded to the fullest extent permitted by law.
                            </li>
                            <!-- list item -->
                        </ol>
                    </li>
                    <!-- list item -->

                    <li>
                        <b>INDEMNITY</b>
                        <p>You agree to indemnify and hold us, and our respective directors, officers, employees, agents and representatives, independent contractors, licensees, successors and assigns harmless from and against all claims, losses, expenses, damages and costs (including but not limited to direct, incidental, consequential, exemplary and indirect damages), and reasonable legal fees, resulting from or arising out of your act, default or omission, whether in your use of our website, and/or any websites or software in relation thereto or otherwise, and whether in respect of your breach of these Terms (including our Privacy Policy, Cookie Policy) or any laws or regulations or otherwise.</p>
                    </li>
                    <!-- list item -->


                    <li>
                        <b>OTHER IMPORTANT TERMS</b>

                        <ol type="1.1">
                            <li>
                                [10.1] We may transfer our rights and obligations under these Terms to another organization, but this will not affect your rights or obligations under these Terms.
                            </li>
                            <!-- list item -->

                            <li>
                                [10.2] You may only transfer your rights or your obligations under these Terms to another person if we agree in writing.
                            </li>
                            <!-- list item -->

                            <li>
                                [10.3] No joint venture, partnership or agency or employment relationship has arisen by reason of these Terms.
                            </li>
                            <!-- list item -->

                            <li>
                                [10.4] These Terms and any document expressly referred to in it constitutes the entire agreement between us regarding their subject matter, and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations and understandings between us, whether written or oral, relating to that subject matter. You agree that you shall have no remedies in respect of any statement, representation, assurance or warranty (whether made innocently or negligently) that is not set out in these Terms or any document expressly referred to in it. You agree that you shall have no claim for innocent or negligent misrepresentation or negligent misstatement based on any statement in these Terms or any document expressly referred to in it.
                            </li>
                            <!-- list item -->

                            <li>
                                [10.5] If we fail to insist that you perform any of your obligations under these Terms, or if we do not enforce our rights against you, or if we delay in doing so, that will not mean that we have waived our rights against you and will not mean that you do not have to comply with those obligations. If we do waive a default by you, we will only do so in writing, and that will not mean that we will automatically waive any later default by you.
                            </li>
                            <!-- list item -->

                            <li>
                                [10.6] Each of the conditions of these Terms operates separately. If any court or competent authority decides that any of them are unlawful or unenforceable, the remaining conditions will remain in full force and effect.
                            </li>
                            <!-- list item -->

                            <li>
                                [10.7] These Terms, its subject matter and its formation, and any other disputes or claims in connection therewith, are governed by Swiss law. In the event of any such disputes or claims in connection with these Terms, you agree to first engage in good faith discussions with us to resolve such dispute or claim. If such dispute or claim is not resolved within sixty (60) days, we both irrevocably submit to the exclusive jurisdiction of the courts of Switzerland.
                            </li>
                            <!-- list item -->
                        </ol>
                    </li>
                    <!-- list item -->
                </ul>
            </div>
        </div>
    </div>
</div>
</div>