<div class="give-feedback-page">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h4 class="text-dark text-capitalize"><span><i class="fa-regular fa-comment-quote"></i></span> give feedback</h4><hr>
        </div>
    </div>
    <form name="form" #feedbackData="ngForm"
    (ngSubmit)="feedbackData.form.valid && insertFeedbackData()">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="upload-your-picture" *ngIf="preview && preview !== ''">
                    <!-- <img src="assets/images/testi-user.png" alt="" /> -->
                    <img [src]="preview" class="preview" style="width: 150px;">

                </div>
                <div class="upload-your-picture" *ngIf="!preview && preview == ''">
                    <img src="assets/images/testi-user.png" alt="" />
                </div>
               
                <label class="text-capitalize">upload your photo</label>
                <div class="d-flex">
                    <input type="file" accept="image/*" (change)="selectFile($event)" required >
                    <button type="button" class="btn btn-danger remove-photo" (click)="removeImage()">Remove Photo</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <label class="text-capitalize">first name</label>
                <input type="text" class="form-control" name="first_name"
                required [(ngModel)]="formObj.first_name" #first_name="ngModel"
                [ngClass]="{ 'is-invalid': feedbackData.submitted && first_name.errors }" />

                <div *ngIf="feedbackData.submitted && first_name.errors" class="invalid-feedback">
                    First name is required !
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <label class="text-capitalize">last name</label>
                <input type="text" class="form-control" name="last_name"
                required [(ngModel)]="formObj.last_name" #last_name="ngModel"
                [ngClass]="{ 'is-invalid': feedbackData.submitted && last_name.errors }"  />

                <div *ngIf="feedbackData.submitted && last_name.errors" class="invalid-feedback">
                    Last name is required !
                </div>

            </div>
        </div>

        <div class="row">
            <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <label class="text-capitalize">mobile</label>
                <input type="tel" maxlength="12" required class="form-control" />
            </div> -->

            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <label class="text-capitalize">email address</label>
                <input type="email" class="form-control" name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                [(ngModel)]="formObj.email" required #email="ngModel" 
                [ngClass]="{ 'is-invalid': feedbackData.submitted && email.errors }" />
            
                <div *ngIf="feedbackData.submitted && email.errors" class="invalid-feedback">
                    <div *ngIf="email.errors?.['required']">Email is
                        required </div>
                    <div *ngIf="email.errors?.['pattern']">This is not a valid
                        Email </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <label class="text-capitalize">text your feedback here</label>
                <textarea class="form-control" name="feedbck" #feedbck="ngModel" [(ngModel)]="formObj.feedback" required [ngClass]="{ 'is-invalid': feedbackData.submitted && feedbck.errors }"></textarea>
            
                <div *ngIf="feedbackData.submitted && feedbck.errors" class="invalid-feedback">
                Feedback is required !
                </div>
            </div>
        </div>

        <div class="giveStarFeedback">
                <div *ngFor="let item of starList; let i=index" (click)="setStar(i)" class="group">
                    <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>            
                </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                <input type="submit" value="submit feedback" class="btn btn-success text-capitalize">
            </div>
        </div>

    </form>
</div>
<!-- row -->
<!-- Feedback Page -->