<div class="site_wrapper">
	<div class="site-feature-banner">
		<figure><img src="../../../../../assets/images/our-team-banner.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Blog details<small>M.Sc., EBR, ESNR, ESSR</small></h1>
				<aside><a routerLink="/contact" type="button">contact us <i class="fa-regular fa-arrow-right"></i></a>
				</aside>
			</div>
		</figure>
	</div><!--site banner-->

	<div class="news-and-events blog-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>The blog name will come here.</h3>
				</div><!--col/12-->

				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<div class="blog-detail-section">
						<figure>
							<img src="../../../../../assets/images/blog-img1.jpg" alt="" class="w-100" />
						</figure>
						<strong>How Therapeutic Injections Help</strong>
						<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
								class="fa-light fa-clock-ten"></i> 02:40 PM</span>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
							galley of type and scrambled it to make a type specimen book. It has survived not only five
							centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing software like Aldus PageMaker including
							versions of Lorem Ipsum.</p>
						<p>It is a long established fact that a reader will be distracted by the readable content of a
							page when looking at its layout. The point of using Lorem Ipsum is that it has a
							more-or-less normal distribution of letters, as opposed to using 'Content here, content
							here', making it look like readable English.</p>
						<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
							model text, and a search for 'lorem ipsum' will uncover many web sites still in their
							infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
							purpose (injected humour and the like).</p>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
							classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
							Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
							Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
							word in classical literature, discovered the undoubtable source.</p>
						<p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
							Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
							theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem
							ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
					</div>

					<div class="blog-details-next-prev">
						<div class="d-flex justify-content-between">
							<button type="button" class="btn btn-default text-capitalize text-white"><i
									class="fa-light fa-arrow-left"></i> previous</button>
							<button type="button" class="btn btn-default text-capitalize text-white">next <i
									class="fa-light fa-arrow-right"></i></button>
						</div>
					</div>
				</div><!--col/4-->

				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<div class="blog-sidebar-section">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<h4>next Blogs</h4>
							</div>

							<div class="sidebar-tiny-next-pages">
								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img2.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>

								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img3.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>

								<div class="sidebar-tiny-blogs">
									<figure>
										<img src="../../../../../assets/images/blog-img1.jpg" alt="" class="w-100" />
									</figure>
									<strong>How Therapeutic Injections Help</strong>
									<span class="date"><i class="fa-light fa-calendar-days"></i> March 30, 2023 | <i
											class="fa-light fa-clock-ten"></i> 02:40 PM</span>
									<p>Lorem ipsum dolor sit amet conset atetur adipiscing elit, sed do eiusmod tempor
									</p>
									<aside><a href="#">read more <i class="fa-regular fa-arrow-right"></i></a></aside>
								</div>
							</div><!--col/4-->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div><!--news and events-->






	<div class="home_section_f">
		<div class="container">
			<div class="row">
				<div class="col-md-11 mx-auto">
					<div class="position-relative">
						<div class="subscribe-letter">
							<form>
								<input type="email" placeholder="{{'enterEmail' | translate}}" required>
								<input type="submit" value="{{'subscribe' | translate}}">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site wrapper-->