<div class="site_wrapper">
<app-top-banner></app-top-banner>
<!--site banner-->
	<div class="inner-pages p-t-100">
	  <div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<h2 class="heading_strip">Congress / Events</h2>
				<p>Upcoming Congresses and Workshops / Academy: Continuous Advancement for You!<br/>
					Radiology is an ever-evolving field. It's our ambition to always stay up-to-date, adapt the latest innovations, and put them into practice. Our Academy provides customers and employees the opportunity to be a part of this exciting progress.
				</p>
			</div>
		</div>
	  </div>
	</div>
</div><!--site wrapper-->


<div class="home_section_f">
	<div class="container">
		<div class="row">
			<div class="position-relative">
				<div class="subscribe-letter">
					<form>
						<input type="email" placeholder="Enter your email here" required>
						<input type="submit" value="Subscribe Our Newsletter">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>