<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-Back-Pain-and-Radiculopathy-2024282372.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Back Pain and Radiculopathy" | translate }}</h1>
				<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}<i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>{{"introduction" | translate}}</h3>

                    <img src="../assets/images/stock-photo-Back-Pain-and-Radiculopathy-2024282372.jpg" alt="" class="inner-page-right-picture" />
                    
                    <p>{{"Back Pain introduction_P1"| translate}}</p>
					
					<p>{{"Back Pain introduction_P2"| translate}}</p>

                    <ul>
                        <li>{{"Spinal cord or cauda equina compression –"| translate}}</li>
                        <li>{{"Metastatic cancer"| translate}}</li>
                        <li>{{"Spinal epidural abscess"| translate}}</li>
                        <li>{{"Vascular malformation"| translate}}</li>
                        <li>{{"Vertebral compression fracture"| translate}}</li>
                        <li>{{"Radiculopathy"| translate}}</li>
                        <li>{{"Axial spondyloarthritis (includes ankylosing spondylitis and non-radiographic axial spondyloarthritis)"| translate}}</li>
                        <li>{{"Osteoarthritis"| translate}}</li>
                    </ul>

                    <p><b>{{"Piriformis syndrome"| translate}}</b> – {{"Piriformis syndrome_text"| translate}}</p>

                    <p><b>{{"Sacroiliac joint dysfunction"| translate}}</b> – "{{"Sacroiliac joint dysfunction"| translate}}," {{"Sacroiliac joint dysfunction_text"| translate}}</p>

                    <p><b>{{"Bertolotti's syndrome"| translate}}</b> – {{"Bertolotti's syndrome_text"| translate}} "{{"Bertolotti's syndrome"| translate}}."</p>
                </div>
			</div>
		</div>
	</div><!--inner pages-->
	<app-bottom-of-pages></app-bottom-of-pages>
	
	
</div><!--site wrapper-->