<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-hydrocephalus-and-csf-disorders-1443719273.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Hydrocephalus and CSF Disorders (incl. Intracranial Hyper- and Hypotension)" | translate }}</h1>
				<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <h3>{{"Hydrocephalus and CSF Disorders (incl. Intracranial Hyper- and Hypotension)" | translate }}</h3>
                    <img src="../assets/images/stock-photo-hydrocephalus-and-csf-disorders-1443719273.jpg" alt="" class="inner-page-right-picture" />
                    
                    <p>{{"Hydrocephalus and CSF Disorders (incl. Intracranial Hyper- and Hypotension)_text" | translate }}</p>

                    <h5>{{"Differential Diagnosis" | translate }}</h5>
                    <ul>
                        <li>{{"Dementia with Lewy bodies" | translate }}</li>
                        <li>{{"Parkinson's disease dementia" | translate }}</li>
                        <li>{{"Progressive supranuclear palsy" | translate }}</li>
                        <li>{{"Multiple system atrophy" | translate }}</li>
                        <li>{{"Corticobasal syndrome" | translate }}</li>
                        <li>{{"Alzheimer" | translate }}</li>
                    </ul>
                </div>
			</div>
		</div>
	</div><!--inner pages-->
	<app-bottom-of-pages></app-bottom-of-pages>

</div><!--site wrapper-->