.site_wrapper {
    padding: 0px 0px 100px;
}
.site-banner {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 50px 0px 0px;
    position: relative;
    display: inline-block;
}

.site-banner::before {
    display: none;
}
.site-banner figure {
	position: relative;
	padding: 0px 0px 0px 100px;
	text-align: right;
}
.site-banner figure img {
	width: 85%;
	height: auto;
}
.site-banner .banner-caption h1 {
    color: #264478;
    font-weight: 400;
    font-family: 'WalsheimRegular';
}

.site-banner .banner-caption h1>span {
    color: #427337;
    font-family: 'WalsheimRegular';
}

.banner-caption p {
    color: #5e5e5e;
    padding-right: 22rem;
    font-family: 'WalsheimRegular';
}

.banner-caption {
	position: absolute;
	top: auto;
	bottom: 20%;
	width: 50%;
	height: auto;
	left: auto;
	text-align: left;
}

.site-banner .banner-caption aside a {
    background-color: #427337;
    box-shadow: none;
}

.site-banner .banner-caption aside a:hover {
    background-color: #264478;
}
.t-section ol {
	padding: 0;
}
.t-section ol li {
	width: 47%;
	display: inline-block;
	margin: 13px 1% 0 0;
}

/* home - section F */

@media (max-width: 1023px) {
    .site-banner .banner-caption h1 {
        line-height: 36px;
        padding-bottom: 15px;
    }
    .banner-caption p {
        padding-right: 0rem;
    }
}

/*1023*/

@media (min-width: 1024px) and (max-width: 1199px) {
    .site-banner .banner-caption h1 {
        line-height: 36px;
        padding-bottom: 15px;
    }
    .banner-caption p {
        padding-right: 0rem;
    }
}

/*1199*/

@media (max-width: 767px) {
    
}