<div class="site_wrapper">
	<div class="site-feature-banner">
		<figure><img src="../../../../assets/images/our-team-banner.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Testimonials </h1>
				<aside><a routerLink="/bookAppointment">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>patient's review for us</h3>
					
					<div class="testimonial-section">
						<ol>
							<li>
								<video playsinline="" controls="controls" loop="" muted="" autoplay="" width="100%" height="100%" poster="https://www.shutterstock.com/shutterstock/videos/1085129141/thumb/7.jpg?ip=x480" preload="metadata" aria-label="video-player"><source src="https://www.shutterstock.com/shutterstock/videos/1085129141/preview/stock-footage-medical-neuroscience-hospital-lab-meeting-diverse-team-of-neurosurgeon-and-neurologist-analyze-tv.webm" type="video/webm"><source src="https://www.shutterstock.com/shutterstock/videos/1085129141/preview/stock-footage-medical-neuroscience-hospital-lab-meeting-diverse-team-of-neurosurgeon-and-neurologist-analyze-tv.mp4" type="video/mp4"></video>
							</li>
							<!-- first video -->

							<li>
								<video playsinline="" class="mui-1se970o-video" controls="" data-automation="VideoPlayer" height="100%" loop="" muted="" autoplay="" width="100%" poster="https://www.shutterstock.com/shutterstock/videos/1055942567/thumb/1.jpg?ip=x480" preload="metadata" aria-label="video-player"><source src="https://www.shutterstock.com/shutterstock/videos/1055942567/preview/stock-footage-the-doctor-performs-an-mri-scan-for-a-patient-at-the-clinic-the-girl-lies-in-the-mri-device.webm" type="video/webm"><source src="https://www.shutterstock.com/shutterstock/videos/1055942567/preview/stock-footage-the-doctor-performs-an-mri-scan-for-a-patient-at-the-clinic-the-girl-lies-in-the-mri-device.mp4" type="video/mp4"></video>
							</li>
							<!-- second video -->

							<li>
								<video playsinline="" class="mui-1se970o-video" controls="" data-automation="VideoPlayer" height="100%" loop="" muted="" autoplay="" width="100%" poster="https://www.shutterstock.com/shutterstock/videos/1074989423/thumb/1.jpg?ip=x480" preload="metadata" aria-label="video-player"><source src="https://www.shutterstock.com/shutterstock/videos/1074989423/preview/stock-footage-kyiv-ukraine-june-modern-technology-in-the-diagnosis-of-heart-disease-angiograph.webm" type="video/webm"><source src="https://www.shutterstock.com/shutterstock/videos/1074989423/preview/stock-footage-kyiv-ukraine-june-modern-technology-in-the-diagnosis-of-heart-disease-angiograph.mp4" type="video/mp4"></video>
							</li>
							<!-- third video -->

							<li>
								<video playsinline="" class="mui-1se970o-video" controls="" data-automation="VideoPlayer" height="100%" loop="" muted="" autoplay="" width="100%" poster="https://www.shutterstock.com/shutterstock/videos/1064654503/thumb/1.jpg?ip=x480" preload="metadata" aria-label="video-player"><source src="https://www.shutterstock.com/shutterstock/videos/1064654503/preview/stock-footage-friendly-female-doctor-explains-the-mammogram-procedure-to-a-topless-latin-female-patient-with.webm" type="video/webm"><source src="https://www.shutterstock.com/shutterstock/videos/1064654503/preview/stock-footage-friendly-female-doctor-explains-the-mammogram-procedure-to-a-topless-latin-female-patient-with.mp4" type="video/mp4"></video>
							</li>
							<!-- fourth video -->
						</ol>
						<!-- testimonial videos -->


						<ul>
							<li>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
								
								<figcaption>
									<figure><img src="../../../../assets/images/testi-user.png" alt="" /></figure>
									<h5>smith <small>businessman</small></h5>
								</figcaption>
							</li><!--list item-->
							
							<li>
								<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
								
								<figcaption>
									<figure><img src="../../../../assets/images/testi-user.png" alt="" /></figure>
									<h5>smith <small>model</small></h5>
								</figcaption>
							</li><!--list item-->
							
							<li>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
								
								<figcaption>
									<figure><img src="../../../../assets/images/testi-user.png" alt="" /></figure>
									<h5>smith <small>house wife</small></h5>
								</figcaption>
							</li><!--list item-->
							
							<li>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
								
								<figcaption>
									<figure><img src="../../../../assets/images/testi-user.png" alt="" /></figure>
									<h5>smith <small>businessman</small></h5>
								</figcaption>
							</li><!--list item-->
							
							<li>
								<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
								
								<figcaption>
									<figure><img src="../../../../assets/images/testi-user.png" alt="" /></figure>
									<h5>smith <small>model</small></h5>
								</figcaption>
							</li><!--list item-->
						</ul>
						<!-- testimonial texting -->
					</div>
				</div>
			</div>
		</div>
	</div><!--registration and login page-->
	
	
	
				
	
	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
						</li>
						
						<li>
							<aside><a routerLink="/bookAppointment">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->
	
	
</div><!--site wrapper-->