.site_wrapper {
    padding: 0px 0px 100px;
}
.t-section ol, .t-section ul {
	padding: 0;
}
.t-section ol li {
	width: 47%;
	display: inline-block;
	margin: 13px 1% 0 0;
}
.t-section ul li {
	display: block;
	width: 100%;
	margin: 26px 0;
	background: #f7f7f7;
	padding: 25px;
	border: 1px solid #e1e1e1;
}

/* home - section F */


.testimonial-section {
    margin-top: 50px;
    position: relative;
	background-image: linear-gradient(#427337, #427337);
	background: #427337;
	padding:70px 0;
}

.testimonial-container {
    max-width: 1635px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.testimonial-wrapper {
    overflow: hidden;
}

.testimonial-title-wrapper {
    margin-bottom: 60px;
}
