.site_wrapper {
    padding: 0px 0px 100px;
}
.t-section ol, .t-section ul {
	padding: 0;
}
.t-section ol li {
	width: 47%;
	display: inline-block;
	margin: 13px 1% 0 0;
}
.t-section ul li {
	display: block;
	width: 100%;
	margin: 26px 0;
	background: #f7f7f7;
	padding: 25px;
	border: 1px solid #e1e1e1;
}

/* home - section F */