<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-interventional-radiology-1023132625.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>Get a Second Opinion on Interventional Radiology Reports and Procedures. <small>Your radiology reports go through our specialists with years of expertise in the field. By expertly analyzing your scans, misdiagnosis of your radiology scans is completely eliminated.</small></h1>
				<aside><a routerLink="/bookAppointment">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<p>At Radiologycheck.com, you have access to special German and Swiss MRI- fellowship-trained radiologists from the German and Swiss board radiology society in imaging. In addition to the German and Swiss Boards’ Certification, the radiologists are European Board certified and operate in accordance to the regulations of the European Society of Radiology. You can get a precise second opinion and detailed diagnosis of all of your radiology scans.</p>
					
					<strong>Rely on us for an error-free second opinion.</strong>
					
					<h4>Do you want a Second Opinion on your Interventional Radiology Scans and Procedures? <a href="javascript:;" routerLink="/bookAppointment">Click here to book an appointment now</a></h4>
					
					<h3>What is Interventional Radiology?</h3>

					<img src="../assets/images/stock-photo-interventional-radiology-1023132625.jpg" alt="" class="inner-page-right-picture" />
					
					<p>Interventional radiology is a subspecialty of radiology in which a radiologist performs medical operations using various medical imaging modalities such as X-rays or ultrasound. These include invasive diagnostic procedures such as an arteriogram test or a biopsy as well as endovascular and percutaneous therapies. It is impossible to include all of the interventional radiology techniques here. </p>
					
					<p>Cancer therapies have advanced significantly in recent years and it is now feasible to provide curative treatments for some tumours either by embolization or through thermal ablation, which entails utilising heat from high-frequency radio waves or microwaves to kill cancer cells.</p>

					<strong>Treatment</strong>

					<p>Here are some of the therapies for which IR is deemed helpful, ranging from oncology to surgery:</p>

					<strong>Stopping the bleeding</strong>

					<p>IR helps patients halt bleeding by closing bleeding arteries from the inside with fewer consequences. It also treats haemorrhages, which is very crucial after surgery. There is no need to conduct another operation on the patient to halt the bleeding.</p>

					<strong>Tumour pathologies</strong>

					<p>IR employs percutaneous procedures to access tumours via probes using medical imaging:</p>

					<p>CT scans, MRI, and ultrasound. The goal is to find the tumour and implant probes into it in order to eliminate it. Heat radiated by radio frequencies or microwaves is employed for this purpose. As a result, the tumour is internally burnt.</p>

					<p>Probes that freeze tissues at -80 °C can also be utilised as an alternative. The liquid freezes inside the cells, causing them to explode. Tumors are thus eradicated in this manner without requiring a surgery or an incision on the patient. This is as successful as surgery in properly chosen circumstances.</p>

					<p>On rare occasions, IR also provides complete cures for tumours that were previously thought to be incurable. For instance, a cancer of any kind can be injected with radioactive particles to irradiate it from the inside before it is ultimately destroyed. This procedure, called radioembolisation, is well tolerated by patients.</p>

					<p>Injecting customised viruses that will exclusively assault tumour cells is another very promising method. Naturally, the virus is altered to prevent it from harming healthy cells.</p>

					<strong>Bile ducts and gallstones</strong>

					<p>Additionally, biliary diseases, gallstones and bile duct blockages are treated with IR. Gallstones can be broken up and removed without surgery by entering the bile ducts to unclog them in the same manner as vessels are.</p>

					<p>Also, when it comes to your Interventional Radiology procedure, you should always consider a second opinion. A second opinion confirms the present diagnosis and choice of procedure or it provides new information that may improve therapy success. When the diagnosis is ambiguous or there is no expected therapeutic response or you are unhappy with the diagnosis or therapy, you should seek a second opinion.</p>

					<p>At Radiologycheck.com, you can get a precise second opinion and guidance on your intervention radiology procedure.</p>
					
					<h5>Our second opinion encompasses guidance on Interventional Radiology procedures such as:</h5>
					
					<ul>
						<li>Ablation</li>
						<li>Aspiration</li>
						<li>Biliary Procedures</li>
						<li>Biopsies</li>
						<li>Closure Devices</li>
						<li>Discography</li>
						<li>Drainage</li>
						<li>Foreign Body Retrieval</li>
						<li>Infiltrations Disc Decompression</li>
						<li>Percutaneous Therapies for Spinal Stenosis</li>
						<li>Trans-jugular Intrahepatic Portosystemic Shunt (TIPS)</li>
						<li>Ureteric Stenting</li>
						<li>Vena Cava Stenting</li>
						<li>Venous Access Ports</li>
						<li>Venous Sampling</li>
					</ul>
					
					<h3>Why is it necessary to go for a Second Opinion?</h3>
					
					<p>Any disease diagnosis has the potential to change our lives. Nearly all of us become overwhelmed in such circumstances. However, being aware of the possibilities may enable you to make more assured choices. Many people seek a second opinion from a radiologist in order to feel at ease and in charge of their lives.</p>
					
					<h5>How a second opinion can benefit you:</h5>
					
					<ul>
						<li>It confirms the accuracy of your diagnosis.</li>
						<li>You have a better understanding of your condition.</li>
						<li>You have the option of choosing the best way forward.</li>
						<li>You get peace of mind.</li>
						<li>You can make a confident decision.</li>
					</ul>
					
					<h4>Our experts give second opinions for all Interventional Radiology Scans <a href="javascript:;" routerLink="/bookAppointment">Click here to book an appointment</a> </h4>
				</div>
			</div>
		</div>
	</div><!--inner page-->
	
		
	<div class="section-c">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2>Why second opinion needed?</h2>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<ul>
						<li>
							<figure><img src="../../../assets/images/icon-a.png" alt="" /></figure>
							<h3>Confirm Diagnosis Before Treatment</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-b.png" alt="" /></figure>
							<h3>Conflicting Diagnosis</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-c.png" alt="" /></figure>
							<h3>Peace of Mind</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-d.png" alt="" /></figure>
							<h3>Symptoms Persist</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-e.png" alt="" /></figure>
							<h3>Given an Ambiguous Radiology Report</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						
						<li>
							<figure><img src="../../../assets/images/icon-f.png" alt="" /></figure>
							<h3>Delayed Report &amp; Need Answers Fast</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
					</ul>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<aside><a routerLink="/bookAppointment">Book an Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
				</div>
			</div>
		</div>
	</div><!--section c-->
	
	<div class="section-d">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h2>Get Peace Of Mind</h2>
					<dd>Get direct access to highly trained radiologists in every field of specialization in 3 simple steps.</dd>
				</div>
				
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
					<figure>
						<img src="../../../assets/images/step-01.jpg" alt="" />
						<sup>01</sup>
					</figure>
					<h3>Sign Up</h3>
					<p>Create a free DocPanel account</p>
				</div>
				
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
					<figure>
						<img src="../../../assets/images/step-02.jpg" alt="" />
						<sup>02</sup>
					</figure>
					<h3>Submit &amp; Pay</h3>
					<p>Upload your scans, reason for study, and connect to a radiologist</p>
				</div>
				
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
					<figure>
						<img src="../../../assets/images/step-03.jpg" alt="" />
						<sup>03</sup>
					</figure>
					<h3>Get Second Opinion</h3>
					<p>Receive a second opinion report &amp; talk to your doctor to discuss treatment options</p>
				</div>
			</div>
		</div>
	</div><!--section d-->
	
	<div class="feature-radiologists">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Featured Radiologists</h3>
					<p>DocPanel has over 250 specialty radiologists that you can pick from or allow us to find the best specialist for your case. Meet a few members of the DocPanel team of subspecialty radiologists:</p>
				</div><!--col/12-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/certified-icon.png" alt="" />
						<strong>VETTED</strong>
						<p>Has completed a 6-step credential verification process</p>
					</figure>
					
					
				</div><!--col/3-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/voted-icon.png" alt="" />
						<strong>CERTIFIED</strong>
						<p>Is academic-level and fellowship-trained</p>
					</figure>
					
					
				</div><!--col/3-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/reputable-icon.png" alt="" />
						<strong>REPUTABLE</strong>
						<p>Practices exclusively in the United States</p>
					</figure>
					
					
				</div><!--col/3-->
				
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<figure>
						<img src="../../../assets/images/qwality-icon.png" alt="" />
						<strong>QUALITY</strong>
						<p>Provides the highest standard of diagnostic interpretation</p>
					</figure>
					
					
				</div><!--col/3-->
				
			</div>
		</div>
	</div><!--feature-radiologists-->


	<div class="our-team">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Our Teams</h3>
				</div><!--col/12-->
				
				<div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
						<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
							<span class="fa fa-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
							<span class="fa fa-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					<div class="carousel-inner" role="listbox">
						
			
						<div class="carousel-item active">
							<div class="row">
								
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img01.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Fillmore</h4>
									<strong>Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>					
									
								</div><!--col/4-->
				
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img02.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Ken Hurt</h4>
									<strong>Neuroradiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->
				
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img03.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Yankum</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								
							</div>
						</div>
						
						<div class="carousel-item">
							<div class="row">
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img04.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Smiley</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img05.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Toothman</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img01.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Nippel</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->
								
							</div>
						</div>
						
						<div class="carousel-item">
							<div class="row">
								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img03.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Seymour Landa</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img02.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Neupane</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->

								<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-5">
									<figure>
										<img src="../../../assets/images/our-team-img05.jpg" alt="" class="w-100" />						
									</figure>
									<h4>Dr. Luke Whitesell</h4>
									<strong>Oncological Radiology</strong>
									<div class="social-media d-flex list-inline justify-content-center">
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-twitter"></i></a></dd>
										<dd><a href="#" class="blue-text mr-3"><i class="fa-brands fa-linkedin-in"></i></a></dd>
									</div>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
									
								</div><!--col/4-->
							</div>
						</div>
						
					</div>
				</div>
			</div>					

		</div>
	</div><!--our team-->
	
		
	<div class="section-i">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<h3>Testimonial</h3>
				</div>
			
				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
					<div class="owl-carousel owl-theme" id="testimonial-slider">
						<div class="item">
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
							<ul>
								<li><img src="../../../assets/images/testi-user.png" alt="" /></li>
								<li><h5>Mrs. Smith <small>seo</small></h5></li>
							</ul>
						</div>
						
						<div class="item">
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
							<ul>
								<li><img src="../../../assets/images/testi-user.png" alt="" /></li>
								<li><h5>Mrs. Smith <small>seo</small></h5></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div><!--section i-->
				
	
	<div class="section-j">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="position-relative">
					<ol class="d-flex">
						<li>
							<strong>Book your Appointment</strong>
							<p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation </p>
						</li>
						
						<li>
							<aside><a routerLink="/bookAppointment">Book Appointment <i class="fa-regular fa-arrow-right"></i></a></aside>
						</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!--section j-->
	
	
</div><!--site wrapper-->