<div class="site_wrapper">
	<div class="site-feature-banner other-slide">
		<figure><img src="../assets/images/stock-photo-interventional-radiology-1023132625.jpg" alt="" />
			<div class="feature-banner-caption">
				<h1>{{"Banner - Get a Second Opinion on Interventional Radiology Reports and Procedures" | translate}} <small>{{"Instructions - Get a Second Opinion on Interventional Radiology Reports and Procedures" | translate}}</small></h1>
				<aside><a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}} <i class="fa-regular fa-arrow-right"></i></a></aside>
			</div>
		</figure>
	</div><!--site banner-->
	
	<div class="inner-pages">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<p>{{"P bellow Banner - Get a Second Opinion on Interventional Radiology Reports and Procedures" | translate}}</p>
					
					<strong>{{"Rely on us for an error-free second opinion" | translate}}</strong>
					
					<h4>{{"Do you want a Second Opinion on your Interventional Radiology Scans and Procedures?" | translate}} <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}</a></h4>
					
					<h3>{{"What is Interventional Radiology?" | translate}}</h3>

					<img src="../assets/images/stock-photo-interventional-radiology-1023132625.jpg" alt="" class="inner-page-right-picture" />
					
					<p>{{"What is Interventional Radiology?_p1"| translate}}</p>
					
					<p>{{"What is Interventional Radiology?_p2"| translate}}</p>

					<strong>{{"Treatment"| translate}}</strong>

					<p>{{"Treatment_p"| translate}}</p>

					<strong>{{"Stopping the bleeding"| translate}}</strong>

					<p>{{"Stopping the bleeding_p"| translate}}</p>

					<strong>{{"Tumour pathologies"| translate}}</strong>

					<p>{{"Tumour pathologies_p1"| translate}}</p>

					<p>{{"Tumour pathologies_p2"| translate}}</p>

					<p>{{"Tumour pathologies_p3"| translate}}</p>

					<p>{{"Tumour pathologies_p4"| translate}}</p>

					<p>{{"Tumour pathologies_p5"| translate}}</p>

					<strong>{{"Bile ducts and gallstones"| translate}}</strong>

					<p>{{"Bile ducts and gallstones_p1"| translate}}</p>

					<p>{{"Bile ducts and gallstones_p2"| translate}}</p>

					<p>{{"Bile ducts and gallstones_p3"| translate}}</p>
					
					<h5>{{"Our second opinion encompasses guidance on Interventional Radiology procedures such as:"| translate}}</h5>
					
					<ul>
						<li>{{"Ablation"| translate}}</li>
						<li>{{"Aspiration"| translate}}</li>
						<li>{{"Biliary Procedures"| translate}}</li>
						<li>{{"Biopsies"| translate}}</li>
						<li>{{"Closure Devices"| translate}}</li>
						<li>{{"Discography"| translate}}</li>
						<li>{{"Drainage"| translate}}</li>
						<li>{{"Foreign Body Retrieval"| translate}}</li>
						<li>{{"Infiltrations Disc Decompression"| translate}}</li>
						<li>{{"Percutaneous Therapies for Spinal Stenosis"| translate}}</li>
						<li>{{"Trans-jugular Intrahepatic Portosystemic Shunt (TIPS)"| translate}}</li>
						<li>{{"Ureteric Stenting"| translate}}</li>
						<li>{{"Vena Cava Stenting"| translate}}</li>
						<li>{{"Venous Access Ports"| translate}}</li>
						<li>{{"Venous Sampling"| translate}}</li>
					</ul>
					
					<h3>{{"Why is it necessary to go for a Second Opinion?"| translate}}</h3>
					
					<p>{{"Why is it necessary to go for a Second Opinion?_p"| translate}}</p>
					
					<h5>{{"How a second opinion can benefit you:"| translate}}</h5>
					
					<ul>
						<li>{{"It confirms the accuracy of your diagnosis"| translate}}</li>
						<li>{{"You have a better understanding of your condition"| translate}}</li>
						<li>{{"You have the option of choosing the best way forward"| translate}}</li>
						<li>{{"You get peace of mind"| translate}}</li>
						<li>{{"You can make a confident decision"| translate}}</li>
					</ul>
					
					<h4>{{"Our experts give second opinions for all Interventional Radiology Scans"| translate}} <a routerLink="/GetSecondOpinion">{{"Get a second opinion" | translate}}</a> </h4>
				</div>
			</div>
		</div>
	</div><!--inner page-->
	<app-bottom-of-pages></app-bottom-of-pages>
	
	
</div><!--site wrapper-->