<footer>
	<div class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
					<figure><img src="assets/images/radiology-footer.svg" alt="" /></figure>
					<p class="text-col">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
						euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
						quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
						consequat. </p>

					<div class="social-media d-flex list-inline mt-4">
						<dd><a href="#" class="text-white mr-3"><i class="fa-brands fa-facebook-f"></i></a></dd>
						<dd><a href="#" class="text-white mr-3"><i class="fa-brands fa-instagram"></i></a></dd>
					</div>
				</div>

				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 px-5">
					<strong>Important Links</strong>
					<ul>
						<li><a href="#">Services</a></li>
						<li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About US</a>
						</li>
						<li><a href="#">Our Team</a></li>
						<li><a href="#">Contact US</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Testimonial</a></li>
					</ul>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 px-5">
					<strong>Other Links</strong>
					<ul>
						<li><a routerLink="/cookie-policy" routerLinkActive="active" ariaCurrentWhenActive="page">Cookie
								Policy</a></li>
						<li><a routerLink="/imprint" routerLinkActive="active" ariaCurrentWhenActive="page">Imprint</a>
						</li>
						<li><a routerLink="/privacy-policy" routerLinkActive="active"
								ariaCurrentWhenActive="page">Privacy
								Policy</a></li>
						<li><a routerLink="/terms-and-condition" routerLinkActive="active"
								ariaCurrentWhenActive="page">Terms and
								Conditions</a></li>
					</ul>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
					<strong>contact us</strong>
					<ol>
						<li>Address: 3027 Bern / Switzerland</li>
						<li>Website: radiologycheck.com</li>
						<li>Email: <a href="mailto:info@radiologycheck.com">info@radiologycheck.com</a></li>
						<li>LinkedIn: http://linkedin.com/in/dr-med-ali-rahman-md-22579537</li>
						<li><a href="tel:+41786058499"> Mobile: +41786058499</a></li>
					</ol>
				</div>

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 copyright-area">
					<p>&copy; 2023 Radiology Check, All Rights Reserved</p>
				</div>
			</div>
		</div>
		<button class="whatsapp_button"><a href="https://api.whatsapp.com/send?phone=1111XXXX00" target="_blank"><i
					class="fa-brands fa-whatsapp fa-xl"></i></a></button>
	</div>
</footer>