<footer>
	<div [ngClass]="{'footer-section':isHomePage, 'footer-section-except-homepage':!isHomePage}" >
		<div class="container">
		  <div class="footer-wrapper">
			<div class="footer-top-content">
			  <div class="footer-details-wrapper">
				<a href="#" class="footer-logo-link-block w-inline-block"><img src="../../../../assets/images/new_homepage/Asset-2.png" width="265" alt="" class="footer-logo-image"></a>
				<div class="footer-details-text-wrapper">
				  <p class="footer-details-paragraph-text">{{"Footer long Text" | translate}}</p>
				</div>
				<div class="footer-details-icon-wrapper">
				  <a href="https://www.facebook.com/groups/253676030805498/?ref=share_group_link" target="_blank" class="footer-icon-link-block w-inline-block">
					<div>&#xf09a;</div>
				  </a>
				  <a href="https://instagram.com/radiology_check?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="footer-icon-link-block w-inline-block">
					<div>&#xf16d;</div>
				  </a>
				  <a href="https://www.linkedin.com/company/radiologycheck/" target="_blank" class="footer-icon-link-block w-inline-block">
					<div>&#xf0e1;</div>
				  </a>
				  <a href="https://pin.it/3GdCQuK" target="_blank" class="footer-icon-link-block w-inline-block">
					<div>&#xf231;</div>
				  </a>
				</div>
			  </div>
			  <div class="footer-menu-wrapper">
				<div class="w-layout-grid footer-menu-grid">
				  <div  class="footer-menu-single-wrapper">
					<div class="footer-menu-title-wrapper">
					  <h3 class="footer-menu-title">{{"Footer Quick Links" | translate}}</h3>
					</div>
					<div class="footer-menu-single">
					  <a routerLink="/" aria-current="page" class="footer-menu-text-link w--current">{{"footer Home" | translate}}</a>
					  <a routerLink="/about" class="footer-menu-text-link">{{"footer About Us" | translate}}</a>
					  <a routerLink="/contact" class="footer-menu-text-link mb0">{{"footer Contact Us" | translate}}</a>
					  <a routerLink="/faq" class="footer-menu-text-link mb0">{{"footer FAQ" | translate}}</a>
					</div>
				  </div>
				  <div class="footer-menu-single-wrapper">
					<div class="footer-menu-title-wrapper">
					  <h3 class="footer-menu-title">{{"footer Services" | translate}}</h3>
					</div>
					<div class="footer-menu-single">
						<a routerLink="/radiology" class="footer-menu-text-link">{{"footer Radiology" | translate}}</a>
						<a routerLink="/neuroradiology" class="footer-menu-text-link">{{"footer Neuroradiology" | translate}}</a>
					  <!-- <a href="https://johamedi.webflow.io/services/surgery" class="footer-menu-text-link">Surgery</a>
					  <a href="https://johamedi.webflow.io/services/pulmonology" class="footer-menu-text-link">Pulmonology</a>
					  <a href="https://johamedi.webflow.io/services/neurology" class="footer-menu-text-link">Neurology</a>
					  <a href="https://johamedi.webflow.io/services/orthopedics" class="footer-menu-text-link mb0">Orthopedics</a> -->
					</div>
				  </div>
				  <div class="footer-menu-single-wrapper">
					<div class="footer-menu-title-wrapper">
					  <h3 class="footer-menu-title">{{"footer Resources" | translate}}</h3>
					</div>
					<div class="footer-menu-single">
						<a class="footer-menu-text-link" routerLink="/ourTeam">{{"footer Our Team" | translate}}</a>
						<a class="footer-menu-text-link" routerLink="/proBono">{{"footer Pro Bono" | translate}}</a>
						<a class="footer-menu-text-link" routerLink="/testimonial">{{"footer Testimonials" | translate}}</a>
						<a class="footer-menu-text-link" routerLink="/pricing">{{"footer Pricing" | translate}}</a>
					  <!-- <a href="template-pages/license.html" class="footer-menu-text-link">License</a>
					  <a href="template-pages/changelog.html" class="footer-menu-text-link mb0">Changelog</a> -->
					</div>
				  </div>
				  <div class="footer-menu-single-wrapper">
					<div class="footer-menu-title-wrapper">
					  <h3 class="footer-menu-title">{{"footer Contact" | translate}}</h3>
					</div>
					<div class="footer-contact-wrap"><img src="../../../../assets/images/Footer-Contact-Icon1.svg" loading="lazy" alt="" class="footer-contact-icon">
					  <div class="footer-contact-text-block"><a href="tel:+41-78-6058499">+41-78-6058499</a> (24h)</div>
					</div>
					<div class="footer-contact-wrap"><img src="../../../../assets/images/Footer-Contact-Icon2.svg" loading="lazy" alt="" class="footer-contact-icon">
					  <div class="footer-contact-text-block"><a href="emailto:info@radiologycheck.com">info@radiologycheck.com</a></div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="footer-bottom-content">
			  <div class="footer-info-text">{{"copy right text" | translate}}
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</footer>
