<footer>
	<div class="footer-section">
		<div class="container">
		  <div class="footer-wrapper">
			<div class="footer-top-content">
			  <div class="footer-details-wrapper">
				<a href="#" class="footer-logo-link-block w-inline-block"><img src="../../../../assets/images/new_homepage/Asset-2.png" loading="lazy" width="265" sizes="(max-width: 479px) 100vw, 265px" srcset="images/Asset-2-p-500.png 500w, images/Asset-2-p-800.png 800w, images/Asset-2-p-1080.png 1080w, images/Asset-2-p-1600.png 1600w, images/Asset-2.png 3334w" alt="" class="footer-logo-image"></a>
				<div class="footer-details-text-wrapper">
				  <p class="footer-details-paragraph-text">At RadiologyCheck, we believe in a patient-centric approach, and our doctors are dedicated to delivering personalized second opinions with compassion and attention to detail.</p>
				</div>
				<div class="footer-details-icon-wrapper">
				  <a href="https://www.facebook.com/" target="_blank" class="footer-icon-link-block w-inline-block">
					<div>&#xf09a;</div>
				  </a>
				  <a href="https://www.instagram.com/" target="_blank" class="footer-icon-link-block w-inline-block">
					<div></div>
				  </a>
				  <a href="https://www.linkedin.com/" target="_blank" class="footer-icon-link-block w-inline-block">
					<div></div>
				  </a>
				  <a href="https://twitter.com/" target="_blank" class="footer-icon-link-block w-inline-block">
					<div></div>
				  </a>
				</div>
			  </div>
			  <div class="footer-menu-wrapper">
				<div class="w-layout-grid footer-menu-grid">
				  <div id="w-node-_99819d86-76d1-cfad-8210-45ef9b74c328-9b74c30f" class="footer-menu-single-wrapper">
					<div class="footer-menu-title-wrapper">
					  <h3 class="footer-menu-title">Quick Links</h3>
					</div>
					<div class="footer-menu-single">
					  <a href="index.html" aria-current="page" class="footer-menu-text-link w--current">Home</a>
					  <a href="about-us.html" class="footer-menu-text-link">About Us</a>
					  <a href="radiologies.html" class="footer-menu-text-link">Radiologies</a>
					  <a href="neuroradiology.html" class="footer-menu-text-link">Neuroradiologies</a>
					  <a href="contact-us.html" class="footer-menu-text-link mb0">Contact Us</a>
					</div>
				  </div>
				  <div id="w-node-_99819d86-76d1-cfad-8210-45ef9b74c337-9b74c30f" class="footer-menu-single-wrapper">
					<div class="footer-menu-title-wrapper">
					  <h3 class="footer-menu-title">Services</h3>
					</div>
					<div class="footer-menu-single">
					  <a href="https://johamedi.webflow.io/services/surgery" class="footer-menu-text-link">Surgery</a>
					  <a href="https://johamedi.webflow.io/services/pulmonology" class="footer-menu-text-link">Pulmonology</a>
					  <a href="https://johamedi.webflow.io/services/neurology" class="footer-menu-text-link">Neurology</a>
					  <a href="https://johamedi.webflow.io/services/orthopedics" class="footer-menu-text-link mb0">Orthopedics</a>
					</div>
				  </div>
				  <div id="w-node-_99819d86-76d1-cfad-8210-45ef9b74c344-9b74c30f" class="footer-menu-single-wrapper">
					<div class="footer-menu-title-wrapper">
					  <h3 class="footer-menu-title">Resources</h3>
					</div>
					<div class="footer-menu-single">
					  <a href="faq.html" class="footer-menu-text-link">FAQ</a>
					  <a href="401.html" class="footer-menu-text-link">Pro Bono</a>
					  <a href="404.html" class="footer-menu-text-link">404 Not Found</a>
					  <a href="template-pages/license.html" class="footer-menu-text-link">License</a>
					  <a href="template-pages/changelog.html" class="footer-menu-text-link mb0">Changelog</a>
					</div>
				  </div>
				  <div id="w-node-_99819d86-76d1-cfad-8210-45ef9b74c353-9b74c30f" class="footer-menu-single-wrapper">
					<div class="footer-menu-title-wrapper">
					  <h3 class="footer-menu-title">Contact</h3>
					</div>
					<div class="footer-contact-wrap"><img src="images/Footer-Contact-Icon1.svg" loading="lazy" alt="" class="footer-contact-icon">
					  <div class="footer-contact-text-block">+41-78-6058499 (24h)</div>
					</div>
					<div class="footer-contact-wrap"><img src="images/Footer-Contact-Icon2.svg" loading="lazy" alt="" class="footer-contact-icon">
					  <div class="footer-contact-text-block">info@radiologycheck.com</div>
					</div>
					<div class="footer-contact-wrap last"><img src="images/Footer-Contact-Icon3.svg" loading="lazy" alt="" class="footer-contact-icon">
					  <div class="footer-contact-text-block">Inselspitalgruppe University Hospital Bern / SwitzerlandRiedbachstrasse 78h, 3027 Bern</div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="footer-bottom-content">
			  <div class="footer-info-text">Design &amp; Developed by <a href="https://hello-friday-design-studio.webflow.io/" target="_blank" class="footer-info-text-link one">VE</a> Powered by <a href="https://webflow.com/" target="_blank" class="footer-info-text-link two">VE</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</footer>